workflows/10th_Jan_2026_Supaabse_Modern_ways_of_creating_n8n_workflows.json
{"updatedAt":"2026-01-10T16:47:28.436Z","createdAt":"2026-01-10T14:35:13.423Z","id":"IEov1pe1cYvHwPgo","name":"10th_Jan_2026_Supaabse_Modern ways of creating n8n workflows","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## We will cover todays class\n\n### how to create Rag workflow to add data & get infomation from that data\n### Multiple ways of creating n8n workflows to save our time - n8n builder workflow,n8n builder by n8n plateform,using claude ","height":192,"width":576,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-944,-480],"typeVersion":1,"id":"80a8b786-abd4-471c-bc76-4449eecd5b2c","name":"Sticky Note"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[64,-368],"id":"5f2ce845-cfac-412d-902e-2e1de3409c40","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1pLqjBu2Ri7XqBNu5PzwDMYM3Nr-gIT53","mode":"id"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-112,-368],"id":"304b4cde-748d-4a8a-a3a8-3e1c2de5e049","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"n8n_rag_10thjan","mode":"list","cachedResultName":"n8n_rag_10thjan"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[288,-368],"id":"2807e44c-ae1b-4e58-92fb-44152e54f3f5","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"nSNX1dS5NWyUGe2R","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,-160],"id":"2af24e0e-2e0c-48a2-b1ec-e55e24ba1451","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[416,-144],"id":"e417be37-4b66-48b2-862f-9d5dd597537f","name":"Default Data Loader"},{"parameters":{"content":"","height":400,"width":864,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-192,-400],"typeVersion":1,"id":"58aae597-2acc-4c65-86ee-91f02768b2f5","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-880,-112],"id":"c7c9c888-8f29-4db5-bd82-c0eb075e5040","name":"When chat message received","webhookId":"3b07a53c-dbbd-4905-9c5a-d0af361c58e5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-672,-112],"id":"277d2e1d-9748-478f-8064-74c84f761a04","name":"AI Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-688,176],"id":"d405d313-c683-4676-b562-841fbf0b8db0","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=user this tool to answer the user query with whatver information you ahve  {{ $json.chatInput }}","tableName":{"__rl":true,"value":"n8n_rag_10thjan","mode":"list","cachedResultName":"n8n_rag_10thjan"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-512,144],"id":"d828ab0e-2832-4610-8515-ac3a93f06bb2","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"Gd3mGejn1xVA8YOc","name":"Supabase account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-400,352],"id":"d214a7c9-144a-4810-85dc-818091690613","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2026-01-26T13:30:44Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4cdf15d-8424-489f-88ee-2d98ad6001ed","activeVersionId":"299e862f-948d-4313-9cc2-6c4873aa633f","versionCounter":28,"triggerCount":2,"shared":[{"updatedAt":"2026-01-10T14:35:13.432Z","createdAt":"2026-01-10T14:35:13.432Z","role":"workflow:owner","workflowId":"IEov1pe1cYvHwPgo","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-10T16:10:58.000Z","createdAt":"2026-01-10T15:30:47.171Z","versionId":"299e862f-948d-4313-9cc2-6c4873aa633f","workflowId":"IEov1pe1cYvHwPgo","nodes":[{"parameters":{"content":"## We will cover todays class\n\n### how to create Rag workflow to add data & get infomation from that data\n### Multiple ways of creating n8n workflows to save our time - n8n builder workflow,n8n builder by n8n plateform,using claude ","height":192,"width":576,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-944,-480],"typeVersion":1,"id":"80a8b786-abd4-471c-bc76-4449eecd5b2c","name":"Sticky Note"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[64,-368],"id":"5f2ce845-cfac-412d-902e-2e1de3409c40","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1pLqjBu2Ri7XqBNu5PzwDMYM3Nr-gIT53","mode":"id"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-112,-368],"id":"304b4cde-748d-4a8a-a3a8-3e1c2de5e049","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"n8n_rag_10thjan","mode":"list","cachedResultName":"n8n_rag_10thjan"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[288,-368],"id":"2807e44c-ae1b-4e58-92fb-44152e54f3f5","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"nSNX1dS5NWyUGe2R","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[208,-160],"id":"2af24e0e-2e0c-48a2-b1ec-e55e24ba1451","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[416,-144],"id":"e417be37-4b66-48b2-862f-9d5dd597537f","name":"Default Data Loader"},{"parameters":{"content":"","height":400,"width":864,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-192,-400],"typeVersion":1,"id":"58aae597-2acc-4c65-86ee-91f02768b2f5","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[896,-160],"id":"c7c9c888-8f29-4db5-bd82-c0eb075e5040","name":"When chat message received","webhookId":"3b07a53c-dbbd-4905-9c5a-d0af361c58e5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1104,-160],"id":"277d2e1d-9748-478f-8064-74c84f761a04","name":"AI Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1312,304],"id":"d405d313-c683-4676-b562-841fbf0b8db0","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=user this tool to answer the user query with whatver information you ahve  {{ $json.chatInput }}","tableName":{"__rl":true,"value":"n8n_rag_10thjan","mode":"list","cachedResultName":"n8n_rag_10thjan"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1552,160],"id":"d828ab0e-2832-4610-8515-ac3a93f06bb2","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"Gd3mGejn1xVA8YOc","name":"Supabase account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1712,480],"id":"d214a7c9-144a-4810-85dc-818091690613","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]}},"authors":"Dhruv Tomar","name":"Version 299e862f","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-10T16:10:58.968Z","id":140,"workflowId":"IEov1pe1cYvHwPgo","versionId":"299e862f-948d-4313-9cc2-6c4873aa633f","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"},{"createdAt":"2026-01-10T16:11:06.983Z","id":141,"workflowId":"IEov1pe1cYvHwPgo","versionId":"299e862f-948d-4313-9cc2-6c4873aa633f","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"}]}}
