workflows/11_Jan_Updated_Task_Manager_Simple_-_With_Working_Reminders.json
{"updatedAt":"2026-01-11T16:43:20.921Z","createdAt":"2026-01-11T16:38:33.913Z","id":"TZGkZ1nTqbgU2w2K","name":"11_Jan_Updated_Task Manager Simple - With Working Reminders","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# 📋 TASK MANAGER SIMPLE\n## Working Reminder System\n\n**How it works:**\n1. Send task via Telegram\n2. Gets saved to Google Sheet\n3. Every 3 hours: checks pending tasks\n4. Sends reminder until you mark DONE\n5. Daily summary at 8 AM\n\n**Commands:**\n- Just type task → Creates new task\n- `DONE 3` → Marks row 3 complete\n- `/list` → Shows pending tasks\n- `/help` → Shows commands","height":340,"width":320,"color":5},"id":"18fddf4e-26b8-4ec4-9a85-a172578f9692","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3312,2048]},{"parameters":{"content":"## 📊 GOOGLE SHEET SETUP\n\n**Sheet:** Aiwithdhruv_n8n\n**Tab:** Task Manager\n\n**Headers:**\n```\nrow_number | taskTitle | description | priority | dueDate | status | owner | createdAt | lastReminderSent | reminderCount | chatId\n```\n\n**Important:**\n- Row 1 = Headers\n- row_number = Auto (1,2,3...)\n- status = Pending/Completed","height":300,"width":300,"color":4},"id":"2de83096-ca60-4a39-9c70-499e238fdd8c","name":"Sticky Note Sheet","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3664,2048]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"bd904875-9c2b-4a39-9cbb-4472d14896ec","name":"Telegram Input","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[3520,2352],"webhookId":"task-manager-simple","credentials":{"telegramApi":{"id":"3vuB03L5tD6mBjxm","name":"Erron Test"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"id":"313aa123-b9cf-47d1-ab3a-472ca7b67834","name":"Every 3 Hours - Check Reminders","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[3520,2752]},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"12a2036e-0ec5-4d2e-99d0-1b85069b66ef","name":"Daily 8 AM - Summary","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[3520,3152]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Parse Telegram message and determine action\nconst msg = $input.first().json.message;\nconst text = (msg.text || '').trim();\nconst chatId = msg.chat.id;\nconst username = msg.from.first_name || 'User';\n\nlet action = 'add_task';\nlet taskId = null;\nlet taskTitle = text;\n\n// Check for DONE command: \"DONE 3\" or \"done 5\"\nconst doneMatch = text.match(/^done\\s+(\\d+)/i);\nif (doneMatch) {\n  action = 'complete';\n  taskId = parseInt(doneMatch[1]);\n  taskTitle = '';\n}\n// Check for LIST command\nelse if (text.toLowerCase() === '/list' || text.toLowerCase() === 'list') {\n  action = 'list';\n  taskTitle = '';\n}\n// Check for HELP command\nelse if (text.toLowerCase() === '/help' || text.toLowerCase() === 'help') {\n  action = 'help';\n  taskTitle = '';\n}\n// Check for /start\nelse if (text.toLowerCase() === '/start') {\n  action = 'help';\n  taskTitle = '';\n}\n\nreturn {\n  json: {\n    action: action,\n    taskId: taskId,\n    taskTitle: taskTitle,\n    chatId: chatId,\n    username: username\n  }\n};"},"id":"90aa8c4a-d61d-478e-a72c-922f32a267c6","name":"Parse Command","type":"n8n-nodes-base.code","typeVersion":2,"position":[3744,2352]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"add","leftValue":"={{ $json.action }}","rightValue":"add_task","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Add Task"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"done","leftValue":"={{ $json.action }}","rightValue":"complete","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Complete"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"list","leftValue":"={{ $json.action }}","rightValue":"list","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"List"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"help","leftValue":"={{ $json.action }}","rightValue":"help","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Help"}]},"options":{}},"id":"716351ef-a667-4034-881e-f76b8da1b624","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3952,2352]},{"parameters":{"documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"id"},"sheetName":{"__rl":true,"value":"gid=646981856","mode":"id"},"options":{}},"id":"7029605d-1ff0-4ff2-8896-edb500aca0c7","name":"Get All Rows","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4176,2224]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Calculate next row number and format task data\nconst allRows = $input.all();\nconst commandData = $('Parse Command').first().json;\n\n// Next row number = total rows + 1 (since row 1 is header)\nconst nextRowNum = allRows.length + 1;\n\n// Parse priority from task title if mentioned\nlet priority = 'Medium';\nlet title = commandData.taskTitle;\n\nif (title.toLowerCase().includes('urgent') || title.toLowerCase().includes('high')) {\n  priority = 'High';\n  title = title.replace(/\\b(urgent|high priority|high)\\b/gi, '').trim();\n} else if (title.toLowerCase().includes('low')) {\n  priority = 'Low';\n  title = title.replace(/\\b(low priority|low)\\b/gi, '').trim();\n}\n\n// Set due date (default: 7 days from now)\nconst dueDate = new Date();\ndueDate.setDate(dueDate.getDate() + 7);\n\nreturn {\n  json: {\n    row_number: nextRowNum,\n    taskTitle: title || 'Untitled Task',\n    description: '',\n    priority: priority,\n    dueDate: dueDate.toISOString().split('T')[0],\n    status: 'Pending',\n    owner: 'Dhruv',\n    createdAt: new Date().toISOString(),\n    lastReminderSent: '',\n    reminderCount: 0,\n    chatId: commandData.chatId\n  }\n};"},"id":"0edd5c04-0b81-45ab-ba47-606c6e5d459d","name":"Prepare Task Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,2224]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"id"},"sheetName":{"__rl":true,"value":"gid=646981856","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","taskTitle":"={{ $json.taskTitle }}","description":"={{ $json.description }}","priority":"={{ $json.priority }}","dueDate":"={{ $json.dueDate }}","status":"={{ $json.status }}","owner":"={{ $json.owner }}","createdAt":"={{ $json.createdAt }}","lastReminderSent":"={{ $json.lastReminderSent }}","reminderCount":"={{ $json.reminderCount }}","chatId":"={{ $json.chatId }}"}},"options":{}},"id":"37a1ddcc-a26c-46c6-a17e-89ceb94175ce","name":"Insert Task","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4624,2224]},{"parameters":{"chatId":"={{ $('Parse Command').first().json.chatId }}","text":"=✅ *Task Added!*\n\n📋 *#{{ $('Prepare Task Data').first().json.row_number }}:* {{ $('Prepare Task Data').first().json.taskTitle }}\n🎯 *Priority:* {{ $('Prepare Task Data').first().json.priority }}\n📅 *Due:* {{ $('Prepare Task Data').first().json.dueDate }}\n\n_Reply `DONE {{ $('Prepare Task Data').first().json.row_number }}` when complete_","additionalFields":{"parse_mode":"Markdown"}},"id":"e7bf3cc1-7ac2-46c9-a506-cdba2efb80de","name":"Send Task Added","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4832,2224],"webhookId":"119e3a95-bd72-42fa-b70f-6e3424616b10","credentials":{"telegramApi":{"id":"3vuB03L5tD6mBjxm","name":"Erron Test"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"id"},"sheetName":{"__rl":true,"value":"gid=646981856","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Parse Command').first().json.taskId }}","status":"Completed"},"matchingColumns":["row_number"]},"options":{}},"id":"c8817db7-72a8-4651-a3ed-b7af7e173296","name":"Mark Task Complete","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4176,2352]},{"parameters":{"chatId":"={{ $('Parse Command').first().json.chatId }}","text":"=🎉 *Task #{{ $('Parse Command').first().json.taskId }} Completed!*\n\n_Great job! No more reminders for this task._","additionalFields":{"parse_mode":"Markdown"}},"id":"49940dcc-c852-4287-9a2d-6cdbba97e724","name":"Send Complete Confirm","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4400,2352],"webhookId":"825e1ea8-3354-4914-8da5-2abe0e26e390","credentials":{"telegramApi":{"id":"3vuB03L5tD6mBjxm","name":"Erron Test"}}},{"parameters":{"documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"id"},"sheetName":{"__rl":true,"value":"gid=646981856","mode":"id"},"options":{}},"id":"01f92c84-482c-45fe-91d2-aab59c8c2fce","name":"Fetch Tasks for List","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4176,2464]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Format task list\nconst allTasks = $input.all();\nconst chatId = $('Parse Command').first().json.chatId;\n\nconst priorityEmoji = { 'High': '🔴', 'Medium': '🟠', 'Low': '🟢' };\n\n// Filter pending tasks\nconst pending = allTasks.filter(t => t.json.status !== 'Completed');\n\nif (pending.length === 0) {\n  return {\n    json: {\n      message: '📋 *Your Tasks*\\n\\n🎉 No pending tasks! You\\'re all caught up.',\n      chatId: chatId\n    }\n  };\n}\n\nlet taskList = pending.slice(0, 10).map(t => {\n  const task = t.json;\n  const emoji = priorityEmoji[task.priority] || '📋';\n  return `${emoji} *#${task.row_number}:* ${task.taskTitle}\\n   _Due: ${task.dueDate} | ${task.status}_`;\n}).join('\\n\\n');\n\nconst message = `📋 *Your Pending Tasks* (${pending.length})\\n\\n${taskList}\\n\\n_Reply \\`DONE <number>\\` to complete_`;\n\nreturn {\n  json: {\n    message: message,\n    chatId: chatId\n  }\n};"},"id":"978d8735-8108-4b9f-b1a2-802c155fd9c9","name":"Format Task List","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,2464]},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}","additionalFields":{"parse_mode":"Markdown"}},"id":"c4078412-c714-4e28-8f32-ffd6f7b1e68b","name":"Send Task List","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4624,2464],"webhookId":"a83bd770-7770-415f-bb70-72d50be44d91","credentials":{"telegramApi":{"id":"3vuB03L5tD6mBjxm","name":"Erron Test"}}},{"parameters":{"chatId":"={{ $('Parse Command').first().json.chatId }}","text":"🤖 *Task Manager Help*\n\n*Add Task:*\nJust type your task!\nExample: `Buy groceries`\nAdd priority: `urgent Call client`\n\n*Complete Task:*\n`DONE 3` - Marks task #3 done\n\n*View Tasks:*\n`/list` - Shows all pending tasks\n\n*Reminders:*\nAutomatic every 3 hours for pending tasks\n\n*Priority Keywords:*\n• `urgent` or `high` → 🔴 High\n• `low` → 🟢 Low\n• Default → 🟠 Medium","additionalFields":{"parse_mode":"Markdown"}},"id":"456a1df4-b1b0-43a9-917c-5625b6571f54","name":"Send Help","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4176,2592],"webhookId":"44e9a559-e9a3-409f-822f-82d303c6c05f","credentials":{"telegramApi":{"id":"3vuB03L5tD6mBjxm","name":"Erron Test"}}},{"parameters":{"content":"## ⏰ REMINDER ENGINE\n\n**Runs every 3 hours:**\n1. Fetch all tasks from Sheet\n2. Filter: status ≠ Completed\n3. Check last reminder time\n4. Skip if reminded < 2 hours ago\n5. Send Telegram reminder\n6. Update reminderCount + timestamp\n\n**Urgency Levels:**\n- Count 0-2: Normal 📋\n- Count 3-4: Warning ⚠️\n- Count 5+: Critical 🚨\n- Overdue: URGENT 🔥","height":340,"width":300,"color":6},"id":"563a22f2-2abc-47ce-a228-82c9aae06633","name":"Sticky Note Reminder","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3312,2656]},{"parameters":{"documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"id"},"sheetName":{"__rl":true,"value":"gid=646981856","mode":"id"},"options":{}},"id":"d6ff3216-df40-4039-a436-d6353002752c","name":"Fetch All Tasks","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3744,2752]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Filter tasks that need reminders\nconst allTasks = $input.all();\nconst now = new Date();\nconst tasksToRemind = [];\n\nfor (const item of allTasks) {\n  const task = item.json;\n  \n  // Skip completed tasks\n  if (task.status === 'Completed') continue;\n  \n  // Skip tasks without chatId\n  if (!task.chatId) continue;\n  \n  // Check if we should send reminder\n  let shouldRemind = false;\n  const lastReminder = task.lastReminderSent ? new Date(task.lastReminderSent) : null;\n  const reminderCount = parseInt(task.reminderCount) || 0;\n  \n  // Check if 2+ hours since last reminder (avoid spam)\n  if (!lastReminder) {\n    shouldRemind = true; // First reminder\n  } else {\n    const hoursSinceLast = (now - lastReminder) / (1000 * 60 * 60);\n    if (hoursSinceLast >= 2) {\n      shouldRemind = true;\n    }\n  }\n  \n  if (shouldRemind) {\n    // Calculate urgency\n    let urgency = 'normal';\n    let emoji = '📋';\n    \n    // Check if overdue\n    const dueDate = task.dueDate ? new Date(task.dueDate) : null;\n    const isOverdue = dueDate && dueDate < now;\n    \n    if (isOverdue) {\n      urgency = 'critical';\n      emoji = '🔥';\n    } else if (reminderCount >= 5) {\n      urgency = 'critical';\n      emoji = '🚨';\n    } else if (reminderCount >= 3) {\n      urgency = 'warning';\n      emoji = '⚠️';\n    }\n    \n    // Priority emoji\n    const priorityEmoji = { 'High': '🔴', 'Medium': '🟠', 'Low': '🟢' };\n    const pEmoji = priorityEmoji[task.priority] || '🟠';\n    \n    tasksToRemind.push({\n      row_number: task.row_number,\n      taskTitle: task.taskTitle,\n      priority: task.priority,\n      priorityEmoji: pEmoji,\n      dueDate: task.dueDate,\n      status: task.status,\n      chatId: task.chatId,\n      reminderCount: reminderCount + 1,\n      urgency: urgency,\n      urgencyEmoji: emoji,\n      isOverdue: isOverdue\n    });\n  }\n}\n\n// Return tasks to remind (or empty array)\nif (tasksToRemind.length === 0) {\n  return [{ json: { skip: true } }];\n}\n\nreturn tasksToRemind.map(t => ({ json: t }));"},"id":"2e0d34ea-70e7-4911-ba12-3a8d46407b0c","name":"Filter Pending & Check Time","type":"n8n-nodes-base.code","typeVersion":2,"position":[3952,2752]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"skip-check","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"1dedb63d-a8c8-4b02-8ec1-d8f498c67183","name":"Has Tasks to Remind?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4176,2752]},{"parameters":{"options":{}},"id":"5b596920-43ba-4b55-9caa-71d79c354544","name":"Loop Each Task","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4400,2688]},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.urgencyEmoji }} *TASK REMINDER*\n\n{{ $json.priorityEmoji }} *#{{ $json.row_number }}:* {{ $json.taskTitle }}\n📅 *Due:* {{ $json.dueDate }}{{ $json.isOverdue ? ' (OVERDUE!)' : '' }}\n🔔 *Reminder #{{ $json.reminderCount }}*\n\n{{ $json.urgency === 'critical' ? '⚡ _This task needs your attention NOW!_' : '' }}\n\n_Reply `DONE {{ $json.row_number }}` to complete_","additionalFields":{"parse_mode":"Markdown"}},"id":"ee3e5977-ebc5-4be8-bac4-d24fe627ed19","name":"Send Reminder","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4624,2688],"webhookId":"cec9b150-580e-4cd9-9e9c-10f50250e7b3","credentials":{"telegramApi":{"id":"3vuB03L5tD6mBjxm","name":"Erron Test"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"id"},"sheetName":{"__rl":true,"value":"gid=646981856","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","lastReminderSent":"={{ $now.toISO() }}","reminderCount":"={{ $json.reminderCount }}"},"matchingColumns":["row_number"]},"options":{}},"id":"b1428e59-068f-4d24-b802-1aff4d8196ec","name":"Update Reminder Count","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4832,2688]},{"parameters":{"content":"## ☀️ DAILY SUMMARY\n\n**Runs at 8 AM daily:**\n1. Fetch all tasks\n2. Count: Total, Pending, Completed, Overdue\n3. Calculate completion rate\n4. Send summary to Telegram\n\n**Stats included:**\n- Total tasks\n- Pending count\n- Completed today\n- Overdue count\n- High priority pending","height":280,"width":280,"color":3},"id":"698993db-3d4d-43b3-9088-0fceb8b3c8fb","name":"Sticky Note Summary","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3312,3056]},{"parameters":{"documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"id"},"sheetName":{"__rl":true,"value":"gid=646981856","mode":"id"},"options":{}},"id":"3eee8f97-39ee-4f3f-828b-d47d68aef8d0","name":"Fetch All Tasks for Summary","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3744,3152]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Generate daily summary\nconst allTasks = $input.all();\nconst now = new Date();\n\nlet total = allTasks.length;\nlet pending = 0;\nlet completed = 0;\nlet overdue = 0;\nlet highPriority = 0;\nlet chatId = '';\n\nfor (const item of allTasks) {\n  const task = item.json;\n  \n  // Get chatId from first task\n  if (!chatId && task.chatId) {\n    chatId = task.chatId;\n  }\n  \n  if (task.status === 'Completed') {\n    completed++;\n  } else {\n    pending++;\n    \n    if (task.priority === 'High') {\n      highPriority++;\n    }\n    \n    // Check overdue\n    if (task.dueDate) {\n      const dueDate = new Date(task.dueDate);\n      if (dueDate < now) {\n        overdue++;\n      }\n    }\n  }\n}\n\nconst completionRate = total > 0 ? Math.round((completed / total) * 100) : 0;\n\nconst message = `☀️ *Good Morning, Dhruv!*\\n\\n` +\n  `📊 *DAILY TASK SUMMARY*\\n` +\n  `━━━━━━━━━━━━━━━━━━━\\n\\n` +\n  `📋 *Total Tasks:* ${total}\\n` +\n  `⏳ *Pending:* ${pending}\\n` +\n  `✅ *Completed:* ${completed}\\n\\n` +\n  `━━━━━━━━━━━━━━━━━━━\\n\\n` +\n  `🔥 *Needs Attention:*\\n` +\n  `• 🔴 High Priority: ${highPriority}\\n` +\n  `• ⚠️ Overdue: ${overdue}\\n\\n` +\n  `📈 *Completion Rate:* ${completionRate}%\\n\\n` +\n  (overdue > 0 ? `_⚡ You have ${overdue} overdue task${overdue > 1 ? 's' : ''}!_\\n\\n` : '') +\n  `_Reply /list to see all tasks_`;\n\nreturn {\n  json: {\n    message: message,\n    chatId: chatId || 'YOUR_CHAT_ID'\n  }\n};"},"id":"9bebb4e7-27b9-42e2-97b0-1a8e08552076","name":"Generate Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[3952,3152]},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}","additionalFields":{"parse_mode":"Markdown"}},"id":"0ded3700-86be-4626-9166-5677159b3466","name":"Send Daily Summary","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4176,3152],"webhookId":"dd793586-d486-4d43-8328-e5f8c6d6483f","credentials":{"telegramApi":{"id":"3vuB03L5tD6mBjxm","name":"Erron Test"}}},{"parameters":{"content":"## ✅ SETUP CHECKLIST\n\n☐ Google Sheet has these headers:\n`row_number | taskTitle | description | priority | dueDate | status | owner | createdAt | lastReminderSent | reminderCount | chatId`\n\n☐ Telegram bot connected\n\n☐ Sheet ID matches your sheet\n\n☐ Activate workflow\n\n☐ Test with: `Buy groceries`","height":260,"width":300,"color":7},"id":"de4e406a-ac9d-4b87-afd6-4db942ed1cdd","name":"Sticky Note Setup","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4512,2048]}],"connections":{"Telegram Input":{"main":[[{"node":"Parse Command","type":"main","index":0}]]},"Parse Command":{"main":[[{"node":"Route Action","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Get All Rows","type":"main","index":0}],[{"node":"Mark Task Complete","type":"main","index":0}],[{"node":"Fetch Tasks for List","type":"main","index":0}],[{"node":"Send Help","type":"main","index":0}]]},"Get All Rows":{"main":[[{"node":"Prepare Task Data","type":"main","index":0}]]},"Prepare Task Data":{"main":[[{"node":"Insert Task","type":"main","index":0}]]},"Insert Task":{"main":[[{"node":"Send Task Added","type":"main","index":0}]]},"Mark Task Complete":{"main":[[{"node":"Send Complete Confirm","type":"main","index":0}]]},"Fetch Tasks for List":{"main":[[{"node":"Format Task List","type":"main","index":0}]]},"Format Task List":{"main":[[{"node":"Send Task List","type":"main","index":0}]]},"Every 3 Hours - Check Reminders":{"main":[[{"node":"Fetch All Tasks","type":"main","index":0}]]},"Fetch All Tasks":{"main":[[{"node":"Filter Pending & Check Time","type":"main","index":0}]]},"Filter Pending & Check Time":{"main":[[{"node":"Has Tasks to Remind?","type":"main","index":0}]]},"Has Tasks to Remind?":{"main":[[{"node":"Loop Each Task","type":"main","index":0}]]},"Loop Each Task":{"main":[[{"node":"Send Reminder","type":"main","index":0}]]},"Send Reminder":{"main":[[{"node":"Update Reminder Count","type":"main","index":0}]]},"Update Reminder Count":{"main":[[{"node":"Loop Each Task","type":"main","index":0}]]},"Daily 8 AM - Summary":{"main":[[{"node":"Fetch All Tasks for Summary","type":"main","index":0}]]},"Fetch All Tasks for Summary":{"main":[[{"node":"Generate Summary","type":"main","index":0}]]},"Generate Summary":{"main":[[{"node":"Send Daily Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e833b648-b1c5-4b8f-984b-4c310fa9df1b","activeVersionId":null,"versionCounter":11,"triggerCount":0,"shared":[{"updatedAt":"2026-01-11T16:38:33.917Z","createdAt":"2026-01-11T16:38:33.917Z","role":"workflow:owner","workflowId":"TZGkZ1nTqbgU2w2K","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
