workflows/11th_Jan_RAG_Using_Supabase__How_to_setup_workflows.json
{"updatedAt":"2026-01-25T13:34:35.407Z","createdAt":"2026-01-11T08:09:24.927Z","id":"UBEwuT25EQ0BH9NF","name":"11th_Jan_RAG_Using_Supabase & How to setup workflows","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[208,-304],"id":"ae6a2007-834d-4bb9-9f92-74ced642130e","name":"AI Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[64,-96],"id":"b442ecff-7732-498e-9eb5-7ececc2e548d","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[224,-96],"id":"35684c40-17ea-48ba-b947-415e8d6bb964","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"O6gifFXAF8qlhQmO","name":"Supabase"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"use this tool to give information once users asekd","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[480,-80],"id":"ed9a006b-f11f-48f6-992a-a513cc309a0b","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"WRcFvNNN4lH9MGno","name":"Supabase account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"https://drive.google.com/file/d/1mWh1_CxeUXouR-osbwC2SeCj8rRZ75mw/view?usp=drive_link","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,-752],"id":"bf049074-314d-49ca-b2c0-73bd99ddc257","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[208,-752],"id":"f8178219-5cbf-4492-953b-09a0ffb4896d","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"WRcFvNNN4lH9MGno","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[160,-512],"id":"114c9b48-14c0-44a9-bf10-79b938d7f3c4","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[448,-528],"id":"6cbdcbdd-a25f-4527-a207-14a518a2668e","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[544,112],"id":"c9d80860-d1fa-4421-b0ee-080c7f38e46a","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"content":"##  24th Jan 2026\n### Connect Supabase as a vecotor and get data through chat \n### we will use as a memory also \n### How to setup outer workflows ","width":496,"color":5},"type":"n8n-nodes-base.stickyNote","position":[864,-752],"typeVersion":1,"id":"b7071c9d-4015-4972-90b7-bdc84283c0a2","name":"Sticky Note"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1456,-368],"id":"ff60c698-716c-48ca-bb4c-c10bfc640086","name":"Download file2","credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1648,-368],"id":"5e86c853-0d17-4748-82cb-3f8597aa12fa","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"shO2UsM8XjZV6PeS","name":"Supabase_5"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1584,-144],"id":"6128b852-40f3-4279-a594-5b41f7e8ac07","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1792,-160],"id":"fe2e8867-88a2-479b-8fba-f611b96e7b9a","name":"Default Data Loader1"},{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nMy name is Dhruv. How can I assist you today?","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[2032,-384],"id":"79b69d1b-50dd-4ec8-89c5-adf95dcbcca8","name":"When chat message received","webhookId":"1f48be7f-f302-433e-ae8e-b64c5ba209e5"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2128,-176],"id":"159b7d4e-44e8-4c64-8dba-cd98825ae9ae","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"use this tool to provide informatioin to user","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[2496,-176],"id":"74cdb76f-73bb-4fb6-ab64-d91bc4e0ffb5","name":"Supabase Vector Store3","credentials":{"supabaseApi":{"id":"shO2UsM8XjZV6PeS","name":"Supabase_5"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2464,-48],"id":"9ea3b23e-3a33-478f-97cd-0e8daf93fa5e","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2272,-176],"id":"c2c1d1fb-0c41-4fb4-ad41-95dd980d93f0","name":"supabase","credentials":{"postgres":{"id":"vzstwkVT3SKI8L0J","name":"supabse_5"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1aMI9nsxYbmTm5YiEIIf4fJ4EnTrc2cyo","mode":"id"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[1248,-368],"id":"2d3a1542-4689-4cf8-91a6-acd47f5b5675","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"options":{"systemMessage":"=use supabse to answer query came from user"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[2224,-384],"id":"6aa48071-3f4b-4ec8-aaff-69ebdc57ccc1","name":"Dhruv RAG"}],"connections":{"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Download file":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Download file2":{"main":[[{"node":"Supabase Vector Store2","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Supabase Vector Store2","type":"ai_document","index":0}]]},"When chat message received":{"main":[[{"node":"Dhruv RAG","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Dhruv RAG","type":"ai_languageModel","index":0}]]},"Supabase Vector Store3":{"ai_tool":[[{"node":"Dhruv RAG","type":"ai_tool","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store3","type":"ai_embedding","index":0}]]},"supabase":{"ai_memory":[[{"node":"Dhruv RAG","type":"ai_memory","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Download file2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2026-01-25T12:15:22Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"27a9c62f-9038-44ac-990d-0f306ac50d22","activeVersionId":null,"versionCounter":33,"triggerCount":2,"shared":[{"updatedAt":"2026-01-11T08:09:24.931Z","createdAt":"2026-01-11T08:09:24.931Z","role":"workflow:owner","workflowId":"UBEwuT25EQ0BH9NF","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
