workflows/18th_Jan_2026_Voice_AI_ElevenLabs_Vapi_Twilio.json
{"updatedAt":"2026-01-18T15:19:01.779Z","createdAt":"2026-01-18T14:37:53.541Z","id":"Jmwi7X8VG0ZJW2hl","name":"18th_Jan_2026_Voice AI_ElevenLabs_Vapi_Twilio","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## We will Learn \n### Connect ElvenLabs with n8n Using Webhook also learn to create Ai Agent \n\n### How to Use Vapi to create AI Agent which can make calls\n\n### How to create and get numbers Using Twilio\n","height":336,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-672,-272],"id":"21afacda-9ab7-42e4-86d4-b432c2c18521","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"36692469-2374-4c4f-a09b-fd0963b828cd","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,-176],"id":"d1b0461e-54e6-40d3-864d-2a350f120a04","name":"Webhook","webhookId":"36692469-2374-4c4f-a09b-fd0963b828cd"},{"parameters":{"promptType":"define","text":"={{ $json.body.user_request }}","options":{"systemMessage":"You are a agent who can response of the user query and provide structure output\n\nUse these Tools If users ask \n\n# Send_Email - Use this tool to send a email if users aks \n# Web_Search - Use this tool to provide data from web or internetn if users ask anyting recent or serch \n\n# Get_Inbox - Use this tool to get all the information or recent mail we received"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-112,-176],"id":"40485661-1c9e-4b3d-8eae-43be3bb983f1","name":"AI Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-224,16],"id":"d6fc4977-00e4-42aa-95b2-3b2c94dfd53c","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.user_request }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-64,32],"id":"3d797ab7-f0ec-4955-ba16-23031be5c6c1","name":"Simple Memory"},{"parameters":{"query":"={{ $json.body.user_request }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[176,32],"id":"dcd854a8-ebe3-431d-8cd7-5fe7956bbc5f","name":"Web_Search","credentials":{"tavilyApi":{"id":"5GWaJhYsrLHYZkOF","name":"Tavily account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.2,"position":[48,32],"id":"63d0c737-f690-4664-8a9b-ca28314a0afc","name":"Send_Email","webhookId":"b29efc02-45e4-4aa4-a44d-3cecb33d20b4","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[240,-176],"id":"5d3e9a0e-ae83-4a33-a75d-87c639352dec","name":"Respond to Webhook"},{"parameters":{"operation":"getAll","limit":3,"filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.2,"position":[304,48],"id":"d9c7fdd7-a38c-4244-aca4-1e9c374fb19c","name":"Get_Inbox","webhookId":"39024a4e-cd59-4561-a387-fef57ba378fd","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Web_Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Send_Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get_Inbox":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"26d865d7-67f2-447a-ad54-ed3ed9d6959c","activeVersionId":"26d865d7-67f2-447a-ad54-ed3ed9d6959c","versionCounter":14,"triggerCount":1,"shared":[{"updatedAt":"2026-01-18T14:37:53.547Z","createdAt":"2026-01-18T14:37:53.547Z","role":"workflow:owner","workflowId":"Jmwi7X8VG0ZJW2hl","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-18T15:19:14.000Z","createdAt":"2026-01-18T15:19:01.780Z","versionId":"26d865d7-67f2-447a-ad54-ed3ed9d6959c","workflowId":"Jmwi7X8VG0ZJW2hl","nodes":[{"parameters":{"content":"## We will Learn \n### Connect ElvenLabs with n8n Using Webhook also learn to create Ai Agent \n\n### How to Use Vapi to create AI Agent which can make calls\n\n### How to create and get numbers Using Twilio\n","height":336,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-672,-272],"id":"21afacda-9ab7-42e4-86d4-b432c2c18521","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"36692469-2374-4c4f-a09b-fd0963b828cd","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-320,-176],"id":"d1b0461e-54e6-40d3-864d-2a350f120a04","name":"Webhook","webhookId":"36692469-2374-4c4f-a09b-fd0963b828cd"},{"parameters":{"promptType":"define","text":"={{ $json.body.user_request }}","options":{"systemMessage":"You are a agent who can response of the user query and provide structure output\n\nUse these Tools If users ask \n\n# Send_Email - Use this tool to send a email if users aks \n# Web_Search - Use this tool to provide data from web or internetn if users ask anyting recent or serch \n\n# Get_Inbox - Use this tool to get all the information or recent mail we received"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-112,-176],"id":"40485661-1c9e-4b3d-8eae-43be3bb983f1","name":"AI Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-224,16],"id":"d6fc4977-00e4-42aa-95b2-3b2c94dfd53c","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.user_request }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-64,32],"id":"3d797ab7-f0ec-4955-ba16-23031be5c6c1","name":"Simple Memory"},{"parameters":{"query":"={{ $json.body.user_request }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[176,32],"id":"dcd854a8-ebe3-431d-8cd7-5fe7956bbc5f","name":"Web_Search","credentials":{"tavilyApi":{"id":"5GWaJhYsrLHYZkOF","name":"Tavily account"}}},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.2,"position":[48,32],"id":"63d0c737-f690-4664-8a9b-ca28314a0afc","name":"Send_Email","webhookId":"b29efc02-45e4-4aa4-a44d-3cecb33d20b4","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[240,-176],"id":"5d3e9a0e-ae83-4a33-a75d-87c639352dec","name":"Respond to Webhook"},{"parameters":{"operation":"getAll","limit":3,"filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.2,"position":[304,48],"id":"d9c7fdd7-a38c-4244-aca4-1e9c374fb19c","name":"Get_Inbox","webhookId":"39024a4e-cd59-4561-a387-fef57ba378fd","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Web_Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Send_Email":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get_Inbox":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"Dhruv Tomar","name":"Version 26d865d7","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-18T15:19:14.495Z","id":147,"workflowId":"Jmwi7X8VG0ZJW2hl","versionId":"26d865d7-67f2-447a-ad54-ed3ed9d6959c","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"}]}}
