workflows/21st_Dec_Advance_AI_Agent_Subworkflows_Part_-2.json
{"updatedAt":"2025-12-21T17:05:20.000Z","createdAt":"2025-12-21T07:38:43.678Z","id":"NhcVKh5ZGSibhDYD","name":"21st_Dec_Advance_AI_Agent_Subworkflows_Part_-2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-944,-256],"id":"80d9007a-48f3-4db6-a1a9-d5820baced6f","name":"Telegram Trigger","webhookId":"078a9ca3-641b-4222-9005-c998670041d4","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"eac7d8fa-ef3d-4630-be8c-5d5bdb67cbef","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1ef1176d-cb17-4798-9d35-4a82e2ef5f9a","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e78076c3-0a9c-4419-a8e2-b174fc832d4f","leftValue":"={{ $json.message.photo[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-752,-256],"id":"82a5cb9f-6534-474f-bf34-7421eb619d62","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"0e29533d-9944-48bd-938c-769b77ad25c5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,-240],"id":"ad27d266-a3a8-4ea1-9735-aa6261efbda0","name":"Edit Fields"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-592,-464],"id":"cdde1e2e-b278-4362-9358-0f2369615b48","name":"Get a file","webhookId":"19f0fc53-1394-430b-89d9-dc2e758fbcc4","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-400,-464],"id":"74f57873-92ee-4c0b-8b13-8f6874d01832","name":"audio to text","credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[512,-240],"id":"74cbbde4-8e15-43fb-922f-d81a91826d83","name":"Send a text message","webhookId":"1249210b-a4c8-44f1-a9f2-939b6e2a4a0d","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[160,80],"id":"ac2c6fdd-02ae-444d-9c21-edb17379fce2","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"={{ $json.text }}\n","options":{"systemMessage":"=You are Agent Dhruv — a practical, decision-driven AI assistant designed to solve user requests efficiently using the minimum required tools.\n\nYour primary goal is to:\n• Understand the user’s intent clearly\n• Decide whether external tools are actually needed\n• Use ONLY the most relevant tool(s) when required\n• Produce clear, concise, and actionable outputs\n• Keep reply short and conise untill user asks in detail\n\n━━━━━━━━━━━━━━\nHOW TO THINK\n━━━━━━━━━━━━━━\n1. First, analyze the user message carefully.\n2. Ask yourself:\n   - Can I answer this using my internal knowledge?\n   - Does this require real-time, external, or factual data?\n3. Use tools ONLY if they add real value.\n4. Never use multiple tools for the same task unless absolutely necessary.\n5. Prefer short, structured answers over long explanations.\n\n━━━━━━━━━━━━━━\nTOOL USAGE RULES\n━━━━━━━━━━━━━━\n\n🔍 Search Agent (Generic / Sub Search Workflow)\nUse ONLY when:\n• The user asks for data, facts, trends, stats, comparisons, or research\n• Information is time-sensitive or unknown\n• The answer depends on external sources\n\nDo NOT use if:\n• The question is conceptual, strategic, or opinion-based\n\n📅 Calendar Agent\nUse ONLY when:\n• Scheduling, availability, reminders, or time-based actions are requested\n\n📧 Email_Agent\nUse ONLY when:\n• Use this agent when you want to create platform-specific social media content (LinkedIn, X/Twitter, YouTube, Instagram). It generates optimized posts, titles, hashtags, and descriptions, using search or thinking tools only if needed.\n\n📝 Social_Media_Agent\nUse ONLY when:\n• The user asks to create posts, messages, documents, or copy\n\n# Contact_Agent\nuse this tool to get contacts and save or udpate new contacts\n\n# Stock_Agent \nuse this agent for all stock market–related queries.\nIt provides Indian market insights by default (NIFTY, BANK NIFTY, stocks),\nuses search only for live data, and think-mode for analysis or comparisons.\n\n# Growth_Architect\nused this tool  for strategic and tactical SaaS revenue decisions.\nIt designs GTM plans, optimizes pipeline and pricing, forecasts revenue, and pulls competitor data when needed.\n\n# Prompt_Agent \nthis agent specializes in turning ideas into optimized AI prompts across text, image, video, code, and workflow tools.so use this to create optimized Ai promts\n\nMemory\n• Store only long-term, reusable preferences or context\n• Do NOT store one-time queries or temporary data\n\n# Think \n• Use the tool to think about something.\n\n━━━━━━━━━━━━━━\nOUTPUT RULES\n━━━━━━━━━━━━━━\n• Always respond with a clear final answer\n• Use bullet points, short sections, or steps where helpful\n• Avoid unnecessary follow-up questions\n• If clarification is required, ask ONE precise question only\n\n━━━━━━━━━━━━━━\nDECISION PRIORITY\n━━━━━━━━━━━━━━\n1. Internal reasoning (no tools)\n2. One best tool\n3. Multiple tools (last resort)\n\n━━━━━━━━━━━━━━\nFAILSAFE BEHAVIOR\n━━━━━━━━━━━━━━\nIf a tool fails:\n• Try ONE alternative tool only if relevant\n• Otherwise, respond with the best possible answer using available information\n\n━━━━━━━━━━━━━━\nTONE & STYLE\n━━━━━━━━━━━━━━\n• Clear, practical, no fluff\n• Slightly consultative\n• Focus on outcomes, not theory\n\nYou are not here to show how many tools you can use.\nYou are here to deliver the best result with the least complexity."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[160,-240],"id":"c6f954bc-8fbf-4f3c-bddd-e989cef29888","name":"Agent Dhruv"},{"parameters":{"description":"Use this Search Agent  when information is not available in the input or requires external lookup or need to search letest information from web, internet or anything recent.\n\nThis tool is meant for:\n- Finding relevant data, references, or examples related to automation, AI, SaaS, workflows, or tools\n- Fetching fresh or missing information that cannot be inferred logically\n\nDo NOT use this tool if the answer can be generated using reasoning alone.\n\nAlways return a short, structured result after searching.","workflowId":{"__rl":true,"value":"xz3AFt53UbEvPFQv","mode":"list","cachedResultUrl":"/workflow/xz3AFt53UbEvPFQv","cachedResultName":"Sub_Search"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[400,80],"id":"cd848b59-5e15-467a-b5b8-0a54464c8fe1","name":"Search Agent"},{"parameters":{"model":"x-ai/grok-4.1-fast","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[16,80],"id":"80151e1a-911d-47d3-bc20-d89662df5911","name":"grok-4.1 fast","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[3].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-720,16],"id":"4086b3f2-2563-4ec0-9383-61a49420a0ad","name":"Get a file1","webhookId":"84bdde0c-96ba-43a8-adf7-4dd475de8ca3","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-544,16],"id":"b3c28103-4b3d-42de-8161-4b5371d06daf","name":"Analyze image","credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"024950a5-227c-44a7-8dde-b1c751678f7c","name":"text","value":"={{ $json['0'].content[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,16],"id":"5a8c8661-a248-4592-baf1-d4414ca37d1c","name":"Edit Fields1"},{"parameters":{"description":"Use this Email Agent when you need to read, draft, reply to, send, label, or manage emails.\nTrigger it for any task involving inbox actions, professional email writing, replies, drafts, or email organization.","workflowId":{"__rl":true,"value":"kezMOKKRjQOAQIi9","mode":"list","cachedResultUrl":"/workflow/kezMOKKRjQOAQIi9","cachedResultName":"Email_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[528,80],"id":"5ab395ad-0d8a-418d-80cc-f7869a82a226","name":"Email_Agent"},{"parameters":{"description":"use this tool everytime you need to do something in the calender or events","workflowId":{"__rl":true,"value":"teaBSbleCK34Tw7b","mode":"list","cachedResultUrl":"/workflow/teaBSbleCK34Tw7b","cachedResultName":"Calender_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[656,80],"id":"38e62a75-fed7-47dd-9931-de3af45b1bee","name":"Calender_Agent"},{"parameters":{"description":"Use this tool to get contacts and add new contactgs","workflowId":{"__rl":true,"value":"6NqoNner3xOi06da","mode":"list","cachedResultUrl":"/workflow/6NqoNner3xOi06da","cachedResultName":"Contact_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[784,80],"id":"b321cc66-1332-4b98-ba68-dab7db3df732","name":"Contact_Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-112,80],"id":"f47a6b35-0632-45cd-87d1-048046831431","name":"Think"},{"parameters":{"workflowId":{"__rl":true,"value":"vTVxV4xsB6exEd01","mode":"list","cachedResultUrl":"/workflow/vTVxV4xsB6exEd01","cachedResultName":"Social_Media_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[944,80],"id":"7921ec8b-cc2b-439c-8ad1-8f20bb632076","name":"Social_Media_Agent"},{"parameters":{"description":"Use this agent for stock market insight, prices , ternds or news.\ndefaults to indian markets unless stated.  otherewise.","workflowId":{"__rl":true,"value":"Vj8Ooa2dndbB3HRZ","mode":"list","cachedResultUrl":"/workflow/Vj8Ooa2dndbB3HRZ","cachedResultName":"Stock_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1216,80],"id":"acff35f7-fbae-4aa7-a5d7-bfdb79086141","name":"Stock_Agent"},{"parameters":{"description":"Use this agent to generate high-quality, ready-to-use prompts for text, image, video, code, or automation workflows.","workflowId":{"__rl":true,"value":"P5pSr2vZIQhhr7S3","mode":"list","cachedResultUrl":"/workflow/P5pSr2vZIQhhr7S3","cachedResultName":"Promt_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1104,80],"id":"7a3541d1-6cbc-4548-b626-a2da65ff8594","name":"Promt_Agent"},{"parameters":{"promptType":"define","text":"={{ $json.output }}\n\nkeep reponse funny & consise , so whenver I reqd I laugh with arrogence and little saracsm","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[480,-448],"id":"9b3809d1-e991-4378-8920-aaa57cb4b8b7","name":"Basic LLM Chain"},{"parameters":{"resource":"audio","input":"={{ $json.text }}","voice":"nova","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[800,-448],"id":"5cf704c0-0027-4914-888a-4fd4a9738ab4","name":"Generate audio","credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1008,-448],"id":"e07c55c1-ec10-47c1-b3b9-77b16a449baf","name":"Send an audio file","webhookId":"bf9f7288-1b70-4fc2-b0a0-75a0d2523736","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"content":"## Telegram Input\n\n### Audio To text \n### text \n### image to text\n\n## so we can feed this to our Ai Agent\n","height":720,"width":928,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1088,-512],"id":"1bea792d-47d6-4086-a176-aaa765d16c1c","name":"Sticky Note"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## All the sub agenets","height":288,"width":1072,"color":4},"type":"n8n-nodes-base.stickyNote","position":[336,0],"typeVersion":1,"id":"14442a10-dd05-4e57-a48a-bb6bff2b73da","name":"Sticky Note1"},{"parameters":{"content":"## Convert text to audio and send it to telegram","height":240,"width":976,"color":4},"type":"n8n-nodes-base.stickyNote","position":[304,-512],"typeVersion":1,"id":"3fffab50-f15c-4140-9bbd-c2cc1a24cc02","name":"Sticky Note2"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Get a file1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Agent Dhruv","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"audio to text","type":"main","index":0}]]},"audio to text":{"main":[[{"node":"Agent Dhruv","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agent Dhruv","type":"ai_memory","index":0}]]},"Agent Dhruv":{"main":[[{"node":"Send a text message","type":"main","index":0},{"node":"Basic LLM Chain","type":"main","index":0}]]},"Search Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"grok-4.1 fast":{"ai_languageModel":[[{"node":"Agent Dhruv","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Get a file1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Agent Dhruv","type":"main","index":0}]]},"Email_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Calender_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Contact_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Social_Media_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Stock_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Promt_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Send an audio file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2bf6a7e3-cd7f-4693-895f-13c4f1e1796d","activeVersionId":null,"versionCounter":60,"triggerCount":1,"shared":[{"updatedAt":"2025-12-21T07:38:43.683Z","createdAt":"2025-12-21T07:38:43.683Z","role":"workflow:owner","workflowId":"NhcVKh5ZGSibhDYD","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
