workflows/25th_Jan_EuriAPI_Telegram_Basic_chat.json
{"updatedAt":"2026-01-25T12:24:23.671Z","createdAt":"2026-01-25T10:58:40.053Z","id":"QBTRSDOSbMzQNHIB","name":"25th_Jan_EuriAPI_Telegram_Basic chat","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# Class Agenda\n\n## input  processing - output\n\n","height":256},"type":"n8n-nodes-base.stickyNote","position":[-784,-320],"typeVersion":1,"id":"2486ed31-b1be-4297-845c-7e23df7a8fec","name":"Sticky Note"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[576,288],"id":"4988b4c4-f391-483b-9249-2e1cbcba6119","name":"When chat message received","webhookId":"69086fd0-5926-4c13-9f5f-4390f98c9273"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"User Tavliy to get letest inforamtion from internet"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-208,-224],"id":"32f77774-3352-4f97-8e6f-6fa43719d4d7","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-144,-32],"id":"81519e10-5811-4311-80c5-eae48588e5c8","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to get letest information","messages":{"message":[{"content":"={{ $json.chatInput }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[48,-32],"id":"300e03b1-a672-4cc7-9b87-d014751d3ed9","name":"Perplexity","credentials":{"perplexityApi":{"id":"mACe6bHyuo7Z3exN","name":"Perplexity 2"}}},{"parameters":{"query":"={{ $json.chatInput }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[208,-32],"id":"909596a2-b0b8-42aa-b2cc-c15c701e30ac","name":"Tavily","credentials":{"tavilyApi":{"id":"5GWaJhYsrLHYZkOF","name":"Tavily account"}}},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-304,-32],"id":"f222d01a-c7da-4278-b959-586bf2bb22b4","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"method":"POST","url":"https://api.euron.one/api/v1/euri/images/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer euri-ecdee08805352f002f7387e5d848f3787d31fcdc28e1ab13f6855d952ae3d4a9"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json.output }}"},{"name":"model","value":"gemini-3-pro-image-preview"},{"name":"n","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1104,-160],"id":"31d8049a-948a-4200-a270-4ef1a871f1e2","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"You are an expert Image Prompt Generator.\n\nYour job is to convert a user’s input into a clear, detailed, and visually rich image prompt that can be directly used by any AI image generation model (such as Midjourney, DALL·E, Stable Diffusion, etc.).\n\nRULES:\n1. Always output a well-structured image prompt in plain text (no JSON).\n2. The prompt must describe:\n   - Subject (who or what is in the image)\n   - Environment / background\n   - Style (realistic, cinematic, illustration, anime, 3D, etc.)\n   - Lighting and mood\n   - Colors and textures\n   - Camera angle or composition (if applicable)\n   - Level of detail and quality (e.g., ultra-detailed, 8K, photorealistic)\n3. Enhance the user’s idea creatively while staying true to their intent.\n4. Do NOT include explanations, reasoning, or extra text — only the final image prompt.\n\nCLARIFICATION RULE:\n- If the user input is vague, random, or unclear, do NOT guess.\n- Ask a short follow-up question like:\n  “Can you describe what kind of image you want? (subject, style, mood, setting)”\n\nOUTPUT FORMAT:\n- Always return ONLY the final image prompt as a single, well-written paragraph.\n- No bullet points, no headings, no markdown.\n\nGOAL:\nCreate image prompts that consistently produce beautiful, high-quality, visually stunning AI-generated images."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[784,-160],"id":"03d5eaf2-2257-4d0e-b37c-1bc438f9def8","name":"AI Agent1"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[736,64],"id":"d92cfec1-5a35-4324-8886-d3d9b2147c89","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"chatId":"637313836","text":"=Here is your image URL for the promt - \n{{ $json.data[0].revised_prompt }}\n\nURL - {{ $json.data[0].url }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1312,-160],"id":"18178afc-8a4e-4f05-b164-bd7db7416d2d","name":"Send a text message","webhookId":"1d876432-478a-41b2-b99e-488d7d57c274","credentials":{"telegramApi":{"id":"pBebIzAkaPLrot3S","name":"dgenai2026"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[592,-160],"id":"9af110d5-b389-4008-a8db-359423e9d47a","name":"Telegram Trigger","webhookId":"1f0399fd-7844-4c0c-be79-567f46b1a48b","credentials":{"telegramApi":{"id":"pBebIzAkaPLrot3S","name":"dgenai2026"}}},{"parameters":{"method":"POST","url":"https://api.euron.one/api/v1/euri/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \" {{ $json.chatInput }}\"\n    }\n  ],\n  \"model\": \"gemini-2.5-pro\",\n  \"max_tokens\": 1000,\n  \"temperature\": 0.7\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[816,288],"id":"856f96d7-0666-41ce-938e-19fab969a152","name":"Euri Text","credentials":{"httpBearerAuth":{"id":"8ZkhkWsck6v2KCTU","name":"Euri"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      message: $json.choices[0].message.content\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,288],"id":"82200fda-8024-4133-a0ef-7459f8c50743","name":"Structure Output"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-416,-224],"id":"1cc0303f-d4b2-4df1-9e36-09c057455299","name":"Telegram Trigger1","webhookId":"1f0399fd-7844-4c0c-be79-567f46b1a48b","credentials":{"telegramApi":{"id":"pBebIzAkaPLrot3S","name":"dgenai2026"}}},{"parameters":{"content":"## Chat  Text using Euri Chat End  Point","width":1184},"type":"n8n-nodes-base.stickyNote","position":[128,272],"typeVersion":1,"id":"e44d5ea1-a695-4ea3-8303-0037043df85f","name":"Sticky Note1"},{"parameters":{"content":"## Generate Image  using Euri Image End  Point","height":464,"width":1184,"color":5},"type":"n8n-nodes-base.stickyNote","position":[304,-240],"typeVersion":1,"id":"84978cb4-fa9c-46d8-89b3-9aaefa08e230","name":"Sticky Note2"}],"connections":{"When chat message received":{"main":[[{"node":"Euri Text","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Perplexity":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tavily":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Euri Text":{"main":[[{"node":"Structure Output","type":"main","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4890e043-9c11-4f14-b8db-992fe337f354","activeVersionId":null,"versionCounter":57,"triggerCount":0,"shared":[{"updatedAt":"2026-01-25T10:58:40.058Z","createdAt":"2026-01-25T10:58:40.058Z","role":"workflow:owner","workflowId":"QBTRSDOSbMzQNHIB","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
