workflows/3rd_Jan_2026_SQL_NoSQL_Mongo_Neon_CRUD_Operations.json
{"updatedAt":"2026-01-03T15:57:00.943Z","createdAt":"2026-01-03T14:37:37.839Z","id":"0Nkbl5HYZPc2MyvW","name":"3rd_Jan_2026_SQL/NoSQL_Mongo_Neon_CRUD_Operations","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-592,-240],"id":"37e410af-174f-4f0c-99c9-23825b8b8ba9","name":"When chat message received","webhookId":"4a5b4453-f196-4f95-93d2-818b97de5ec0"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-384,-240],"id":"88f23a8f-a98b-447e-bdc7-d055518aa237","name":"AI Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-528,-32],"id":"a756d03e-245a-4e1a-8a1f-4f5110f5de8e","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-384,-32],"id":"e3b597dc-5739-4b2c-8f3e-5b12841a4d93","name":"Simple Memory"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1688631243,"mode":"list","cachedResultName":"Chat Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=1688631243"},"columns":{"mappingMode":"defineBelow","value":{"LMM Output":"={{ $json.output }}","User Input":"={{ $('When chat message received').item.json.chatInput }}"},"matchingColumns":[],"schema":[{"id":"User Input","displayName":"User Input","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LMM Output","displayName":"LMM Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Remark","displayName":"Remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-32,-240],"id":"c1d16b27-d867-4137-91ac-47c1d3a23d62","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1688631243,"mode":"list","cachedResultName":"Chat Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=1688631243"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-192,0],"id":"a3ec34d3-3f2a-4cd6-9035-cce3d6ec60e1","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"columns":{"mappingMode":"defineBelow","value":{"id":0,"remark":"this is 2026 "},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"remark","displayName":"remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[704,-352],"id":"a515accd-b930-4875-bc23-cddf5afbcdb6","name":"Update rows in a table","credentials":{"postgres":{"id":"UfUiOv2EqEIT6ft2","name":"Postgres account_2"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"users","mode":"list","cachedResultName":"users"},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-16,-16],"id":"f3a1eb23-76ec-405f-8218-f05da1bb8e2c","name":"Select rows from a table in Postgres","credentials":{"postgres":{"id":"UfUiOv2EqEIT6ft2","name":"Postgres account_2"}}},{"parameters":{"operation":"insert","collection":"n8n3rd","fields":"db.users.insertMany([   {     name: \"Rahul Sharma\",     email: \"rahul.sharma@example.com\",     phone: \"+91-9876543210\",     city: \"Delhi\",     remark: \"Interested in demo\",     createdAt: new Date()   },   {     name: \"Anita Verma\",     email: \"anita.verma@example.com\",     phone: \"+91-9123456789\",     city: \"Mumbai\",     remark: \"Follow up next week\",     createdAt: new Date()   },   {     name: \"Suresh Patel\",     email: \"suresh.patel@example.com\",     phone: \"+91-9988776655\",     city: \"Ahmedabad\",     remark: \"Requested pricing details\",     createdAt: new Date()   } ]);","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[336,-256],"id":"ebe9d14e-d370-4ce6-8190-a2f240881a40","name":"Insert documents","credentials":{"mongoDb":{"id":"lRM3FhJKWondIdaQ","name":"MongoDB account 2"}}},{"parameters":{"collection":"n8n3rd","options":{}},"type":"n8n-nodes-base.mongoDbTool","typeVersion":1.2,"position":[176,0],"id":"d2d340b5-a327-4e88-a7ad-7e88d96feeba","name":"Find documents in MongoDB","credentials":{"mongoDb":{"id":"lRM3FhJKWondIdaQ","name":"MongoDB account 2"}}},{"parameters":{"operation":"insert","collection":"n8n3rd","options":{}},"type":"n8n-nodes-base.mongoDbTool","typeVersion":1.2,"position":[352,0],"id":"eb6c86b6-244c-48e9-b5f3-e2bd888cfb0f","name":"Insert documents in MongoDB","credentials":{"mongoDb":{"id":"lRM3FhJKWondIdaQ","name":"MongoDB account 2"}}},{"parameters":{"operation":"update","collection":"n8n3rd","options":{}},"type":"n8n-nodes-base.mongoDbTool","typeVersion":1.2,"position":[560,-16],"id":"913c20c9-b5e9-47d3-a881-0cea7e35f588","name":"Update documents in MongoDB","credentials":{"mongoDb":{"id":"lRM3FhJKWondIdaQ","name":"MongoDB account 2"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Select rows from a table in Postgres":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Update rows in a table":{"main":[[]]},"Find documents in MongoDB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Insert documents in MongoDB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Update documents in MongoDB":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d86edde6-baed-48d3-9382-12e112509d84","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-01-03T14:37:37.845Z","createdAt":"2026-01-03T14:37:37.845Z","role":"workflow:owner","workflowId":"0Nkbl5HYZPc2MyvW","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
