workflows/6th_Dec_FA_1O.json
{"updatedAt":"2025-12-06T15:52:40.000Z","createdAt":"2025-12-06T14:55:18.557Z","id":"VgBFRybKnU7Nq2Gg","name":"6th_Dec_FA 1.O","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-368,-48],"id":"51f0fac1-75c1-4af8-9e26-26cce0853c03","name":"When chat message received","webhookId":"440ebab5-83ec-407f-9628-f08d3e7879b2"},{"parameters":{"method":"POST","url":"https://api.euron.one/api/v1/euri/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer euri-ed76904cc444dad7840b073b08008019b75124887337c2ffffabb8c3e1d298b0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \" {{ $json.chatInput }}\"\n    }\n  ],\n  \"model\": \"gemini-2.5-pro\",\n  \"max_tokens\": 1000,\n  \"temperature\": 0.7\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-160,-48],"id":"23e6912f-25a8-40b7-b81c-162520380073","name":"Euri API"},{"parameters":{"jsCode":"const answer = $json.choices[0].message.content;\nreturn [\n  {\n    json: {\n      message: answer.trim()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,-48],"id":"98e88723-7a87-4875-a855-98c60bbd2bfa","name":"Code in JavaScript"}],"connections":{"When chat message received":{"main":[[{"node":"Euri API","type":"main","index":0}]]},"Euri API":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4ce2f93c-81eb-4844-be55-2d466197a981","activeVersionId":"4ce2f93c-81eb-4844-be55-2d466197a981","versionCounter":26,"triggerCount":1,"shared":[{"updatedAt":"2025-12-06T14:55:18.571Z","createdAt":"2025-12-06T14:55:18.571Z","role":"workflow:owner","workflowId":"VgBFRybKnU7Nq2Gg","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-06T15:52:29.350Z","createdAt":"2025-12-06T15:52:29.350Z","versionId":"4ce2f93c-81eb-4844-be55-2d466197a981","workflowId":"VgBFRybKnU7Nq2Gg","nodes":[{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-368,-48],"id":"51f0fac1-75c1-4af8-9e26-26cce0853c03","name":"When chat message received","webhookId":"440ebab5-83ec-407f-9628-f08d3e7879b2"},{"parameters":{"method":"POST","url":"https://api.euron.one/api/v1/euri/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer euri-ed76904cc444dad7840b073b08008019b75124887337c2ffffabb8c3e1d298b0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \" {{ $json.chatInput }}\"\n    }\n  ],\n  \"model\": \"gemini-2.5-pro\",\n  \"max_tokens\": 1000,\n  \"temperature\": 0.7\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-160,-48],"id":"23e6912f-25a8-40b7-b81c-162520380073","name":"Euri API"},{"parameters":{"jsCode":"const answer = $json.choices[0].message.content;\nreturn [\n  {\n    json: {\n      message: answer.trim()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,-48],"id":"98e88723-7a87-4875-a855-98c60bbd2bfa","name":"Code in JavaScript"}],"connections":{"When chat message received":{"main":[[{"node":"Euri API","type":"main","index":0}]]},"Euri API":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"authors":"Dhruv Tomar","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-06T15:52:40.000Z","id":3,"workflowId":"VgBFRybKnU7Nq2Gg","versionId":"4ce2f93c-81eb-4844-be55-2d466197a981","event":"activated","userId":null}]}}
