workflows/Agent_Dhruv_2O.json
{"updatedAt":"2026-01-31T12:31:25.269Z","createdAt":"2025-12-20T15:25:40.330Z","id":"2cOg4zAC5T61pGJr","name":"Agent_Dhruv_2.O","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-864,-256],"id":"f4485b21-8696-4e81-9b70-b0d21b0eef2f","name":"Telegram Trigger","webhookId":"472bd361-f108-45e6-ade5-f44885bd636b","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"eac7d8fa-ef3d-4630-be8c-5d5bdb67cbef","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1ef1176d-cb17-4798-9d35-4a82e2ef5f9a","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c18a8e65-c487-49e8-a7d6-0f70c16254d2","leftValue":"={{ $json.message.photo[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-640,-272],"id":"500603de-ae0e-4a17-87db-fffe43c9abf8","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-496,-464],"id":"0114fc81-7edd-4263-a8c3-38038fdab6a0","name":"Get a file","webhookId":"88e5039b-bafe-463f-9075-1c728d26c3e9","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-304,-464],"id":"1fd0c10a-948e-414f-89a0-ec11d6a167bd","name":"audio to text","credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[512,-256],"id":"8b72daa6-99bc-4d56-af0b-7656b2dc983e","name":"Send a text message","webhookId":"c4cc5fc0-376b-4dfb-bd16-c128787247e5","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[32,112],"id":"ac73d635-3b7c-4aa7-99c2-827fc42517ec","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are Agent Dhruv — a practical, decision-driven AI assistant designed to solve user requests efficiently using the minimum required tools.\n\nYour primary goal is to:\n• Understand the user’s intent clearly\n• Decide whether external tools are actually needed\n• Use ONLY the most relevant tool(s) when required\n• Produce clear, concise, and actionable outputs\n• Keep reply short and conise untill user asks in detail\n\n━━━━━━━━━━━━━━\nHOW TO THINK\n━━━━━━━━━━━━━━\n1. First, analyze the user message carefully.\n2. Ask yourself:\n   - Can I answer this using my internal knowledge?\n   - Does this require real-time, external, or factual data?\n3. Use tools ONLY if they add real value.\n4. Never use multiple tools for the same task unless absolutely necessary.\n5. Prefer short, structured answers over long explanations.\n\n━━━━━━━━━━━━━━\nTOOL USAGE RULES\n━━━━━━━━━━━━━━\n\n🔍 Search Agent (Generic / Sub Search Workflow)\nUse ONLY when:\n• The user asks for data, facts, trends, stats, comparisons, or research\n• Information is time-sensitive or unknown\n• The answer depends on external sources\n\nDo NOT use if:\n• The question is conceptual, strategic, or opinion-based\n\n📅 Calendar Agent\nUse ONLY when:\n• Scheduling, availability, reminders, or time-based actions are requested\n\n📧 Email Agent\nUse ONLY when:\n• Use this agent when you want to any details related to email or user ask anything about email go\n📝 Social_Media_Agent\nUse ONLY when:\n• The user asks to create posts, messages, documents, or copy\n\n# Contact_Agent\nuse this tool to get contacts and safe new contacts\n\n# Stock_Agent \nuse this agent for all stock market–related queries.\nIt provides Indian market insights by default (NIFTY, BANK NIFTY, stocks),\nuses search only for live data, and think-mode for analysis or comparisons.\n\n# Growth_Architect\nused this tool  for strategic and tactical SaaS revenue decisions.\nIt designs GTM plans, optimizes pipeline and pricing, forecasts revenue, and pulls competitor data when needed.\n\n# Prompt_Agent \nthis agent specializes in turning ideas into optimized AI prompts across text, image, video, code, and workflow tools.so use this to create optimized Ai promts\n\nMemory\n• Store only long-term, reusable preferences or context\n• Do NOT store one-time queries or temporary data\n\n# Think \n• Use the tool to think about something.\n\n━━━━━━━━━━━━━━\nOUTPUT RULES\n━━━━━━━━━━━━━━\n• Always respond with a clear final answer\n• Use bullet points, short sections, or steps where helpful\n• Avoid unnecessary follow-up questions\n• If clarification is required, ask ONE precise question only\n\n━━━━━━━━━━━━━━\nDECISION PRIORITY\n━━━━━━━━━━━━━━\n1. Internal reasoning (no tools)\n2. One best tool\n3. Multiple tools (last resort)\n\n━━━━━━━━━━━━━━\nFAILSAFE BEHAVIOR\n━━━━━━━━━━━━━━\nIf a tool fails:\n• Try ONE alternative tool only if relevant\n• Otherwise, respond with the best possible answer using available information\n\n━━━━━━━━━━━━━━\nTONE & STYLE\n━━━━━━━━━━━━━━\n• Clear, practical, no fluff\n• Slightly consultative\n• Focus on outcomes, not theory\n\nYou are not here to show how many tools you can use.\nYou are here to deliver the best result with the least complexity."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[160,-256],"id":"27865043-4d1f-439f-87e4-739ceeee0317","name":"Agent Dhruv"},{"parameters":{"description":"Use this Search Agent  when information is not available in the input or requires external lookup or need to search letest information from web, internet or anything recent.\n\nThis tool is meant for:\n- Finding relevant data, references, or examples related to automation, AI, SaaS, workflows, or tools\n- Fetching fresh or missing information that cannot be inferred logically\n\nDo NOT use this tool if the answer can be generated using reasoning alone.\n\nAlways return a short, structured result after searching.","workflowId":{"__rl":true,"value":"xz3AFt53UbEvPFQv","mode":"list","cachedResultUrl":"/workflow/xz3AFt53UbEvPFQv","cachedResultName":"Search_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[304,64],"id":"e0215498-8c56-4e53-9e62-54a7f0622d25","name":"Search Agent"},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[1].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-672,-16],"id":"a0611fb4-3f83-4381-a8d7-e3c33feba897","name":"Get a file1","webhookId":"5dd51e74-39bf-42b2-87b2-bc19e24bd0c1","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-496,-16],"id":"2269a726-85e9-4cd6-a2e5-1ec4afadf0d1","name":"Analyze image","credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0e29533d-9944-48bd-938c-769b77ad25c5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,-256],"id":"1884271a-bdd8-4505-99e3-a231626b30d4","name":"text"},{"parameters":{"assignments":{"assignments":[{"id":"0e29533d-9944-48bd-938c-769b77ad25c5","name":"text","value":"={{ $json['0'].content[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,-16],"id":"febff035-5284-4dbb-86ea-cde7eef246b7","name":"text file"},{"parameters":{"promptType":"define","text":"=You are Sally, a funny guy that makes sarcastic comments and funny anekdotes about topics.\nYou try to roast the topics and insult a bit.\nYou answer really short, just 1 punnchy lines.\n\ntopic: {{ $json.output }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[528,-432],"id":"c7396874-10a6-4d0f-ae4b-3d2d10028e48","name":"Basic LLM Chain"},{"parameters":{"resource":"audio","input":"={{ $json.text }}","voice":"nova","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[816,-432],"id":"b32cab0d-a4a5-4a16-9a2c-6477dba317d1","name":"Generate audio","credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"operation":"sendAudio","chatId":"=637313836","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[992,-432],"id":"57885a1b-eadb-42a8-93f1-06831a6fa178","name":"Send an audio file","webhookId":"60b1ce2f-12bd-4f16-b7ff-e5093acf70db","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"description":"Use this tool everytime you need to do something with mails","workflowId":{"__rl":true,"value":"kezMOKKRjQOAQIi9","mode":"list","cachedResultUrl":"/workflow/kezMOKKRjQOAQIi9","cachedResultName":"Email_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[432,64],"id":"3923141c-e748-4d26-9e03-c774737c6c05","name":"Email_Agent"},{"parameters":{"description":"use this tool everytime you need to do something in the calender or events","workflowId":{"__rl":true,"value":"teaBSbleCK34Tw7b","mode":"list","cachedResultUrl":"/workflow/teaBSbleCK34Tw7b","cachedResultName":"Calender_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[560,64],"id":"a6b8d7b4-3343-4344-a747-424050c7dea5","name":"Calender Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[144,112],"id":"876ed553-ccc2-41f3-9acb-41ce1be6d53a","name":"Think"},{"parameters":{"description":"use this tool to get contacts and add new contacts","workflowId":{"__rl":true,"value":"6NqoNner3xOi06da","mode":"list","cachedResultUrl":"/workflow/6NqoNner3xOi06da","cachedResultName":"Contact_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[704,64],"id":"ae45e8f9-318a-47de-9a36-0fd1fff7aded","name":"Contact_Agent"},{"parameters":{"description":"Social Media Agent — Usage Prompt\n\nUse this agent only when the task is to create or optimize social media content.\n\nYou are triggered when the user asks for:\n\t•\tLinkedIn posts (professional, outcome-driven, natural tone)\n\t•\tX / Twitter posts (very short, concise, within character limits)\n\t•\tYouTube titles, descriptions, and tags (viral, outcome-oriented)\n\t•\tInstagram titles and captions (catchy + relevant hashtags)\n\nRules:\n\t•\tGenerate platform-specific output (never same format for all).\n\t•\tKeep content clear, engaging, and audience-first.\n\t•\tUse hashtags only where they add reach.\n\t•\tInclude links when provided or requested.\n\t•\tUse Search Agent only if fresh data or context is required.\n\t•\tUse Think Tool only for structuring or improving quality (not always).\n\t•\tIf Sheet access is provided, format output so it can be saved directly (post type, content, hashtags, link).\n\nDo NOT use this agent for:\n\t•\tEmail writing\n\t•\tResearch-only tasks\n\t•\tLong explanations or documentation\n\nOutput should always be ready to post, not draft-like.","workflowId":{"__rl":true,"value":"vTVxV4xsB6exEd01","mode":"list","cachedResultUrl":"/workflow/vTVxV4xsB6exEd01","cachedResultName":"Social_Media_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[864,64],"id":"a613d456-312b-4d6e-95cf-186cc1837c52","name":"Social_Media_Agent"},{"parameters":{"description":"Use this agent for stock market insights, prices, trends, or news. \nDefaults to Indian markets unless stated otherwise.","workflowId":{"__rl":true,"value":"Vj8Ooa2dndbB3HRZ","mode":"list","cachedResultUrl":"/workflow/Vj8Ooa2dndbB3HRZ","cachedResultName":"Stock_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1008,64],"id":"369ed17b-c143-45e7-b0cd-a687794b676a","name":"Stock_Agent"},{"parameters":{"description":"Use this agent for revenue growth, GTM strategy, pipeline optimization, pricing, forecasting, and competitive analysis.","workflowId":{"__rl":true,"value":"6so0qBZoqekx9l6s","mode":"list","cachedResultUrl":"/workflow/6so0qBZoqekx9l6s","cachedResultName":"Growth_Architect"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1152,64],"id":"ca802c73-b4d9-472c-9d04-e789fae99860","name":"Growth_Architect"},{"parameters":{"description":"Use this agent to generate high-quality, ready-to-use prompts for text, image, video, code, or automation workflows.","workflowId":{"__rl":true,"value":"P5pSr2vZIQhhr7S3","mode":"list","cachedResultUrl":"/workflow/P5pSr2vZIQhhr7S3","cachedResultName":"Promt_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1296,64],"id":"df6e57af-cd76-470a-81a6-a7addc4a23e5","name":"Promt_Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-320,192],"id":"7b5aded3-ab36-4c8f-80d0-741b17079ea1","name":"gemini-3-flash-preview","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-5-20251101","mode":"list","cachedResultName":"Claude Opus 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-112,96],"id":"0a33acf2-1714-4c42-a086-d278fff7608e","name":"Opus 4.5","credentials":{"anthropicApi":{"id":"4TWuiQeAevzJx8R6","name":"Anthropic account"}}},{"parameters":{"content":"# 🚀 AGENT DHRUV 2.0\n\n**Multi-Modal AI Assistant**\n\n✅ Text Input\n✅ Voice Input\n✅ Image Input\n✅ 9 Tool Agents\n✅ Voice Output\n\n**AI:** Claude Opus 4.5\n**Vision:** Gemini 3 Flash\n**TTS:** OpenAI","height":280,"width":260,"color":5},"id":"737e5308-4900-4248-87f5-bd302315cdd9","name":"Main Overview","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,-416]},{"parameters":{"content":"# 📥 INPUT ROUTER\n\n**Switch Node Routes:**\n\n🎤 **Audio** → voice/audio file\n📝 **Text** → text message\n🖼️ **Image** → photo attachment\n\nEach type has its own pipeline","height":200,"color":2},"id":"988ffff1-7afd-491a-a7e7-996465e71daa","name":"Input Router","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,-48]},{"parameters":{"content":"# 🎤 AUDIO PIPELINE\n\n1. **Get a file** - Download voice\n2. **audio to text** - Whisper API\n\nConverts voice → text for AI","height":288,"width":220,"color":7},"id":"918bc2ec-b6ca-46c2-bd02-52cb4ad9d347","name":"Audio Pipeline","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,-848]},{"parameters":{"content":"# 🖼️ IMAGE PIPELINE\n\n1. **Get a file1** - Download image\n2. **Analyze image** - Gemini Vision\n3. **text file** - Format output\n\nModel: gemini-3-flash-preview","height":180,"color":4},"id":"f737b562-27de-4690-9fce-24f054011aa3","name":"Image Pipeline","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-896,272]},{"parameters":{"content":"# 🤖 MAIN AI AGENT\n\n**Model:** Claude Opus 4.5\n\n**Components:**\n• Simple Memory (context)\n• Think Tool (reasoning)\n• 9 Sub-Agent Tools\n\n**Handles all processed inputs**","height":600,"color":6},"id":"4ad7c5e6-7c6c-4838-8b05-71455af7701f","name":"Main Agent","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,-576]},{"parameters":{"content":"# 🛠️ TOOL AGENTS\n\n| Agent | Purpose |\n|-------|----------|\n| 🔍 Search | Web search |\n| 📧 Email | Gmail ops |\n| 📅 Calendar | Schedule |\n| 👥 Contact | Contacts |\n| 📱 Social | Post content |\n| 📈 Stock | Market data |\n| 🚀 Growth | Strategies |\n| ✍️ Prompt | Optimize prompts |","height":328,"width":260,"color":3},"id":"af55a236-b112-4790-b3c6-2996d09aff38","name":"Tool Agents","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,0]},{"parameters":{"content":"# 📤 TEXT OUTPUT\n\n**Send a text message**\n\nDirect Telegram message\nwith AI response","height":258,"width":200,"color":4},"id":"87969b3d-3fa6-42cb-85ed-d3661600c759","name":"Text Output","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,-544]},{"parameters":{"content":"# 🔊 VOICE OUTPUT\n\n1. **Basic LLM Chain** - Format text\n2. **Generate audio** - OpenAI TTS\n3. **Send audio file** - Telegram\n\nConverts text → voice response","height":180,"color":7},"id":"fae8e472-abf4-4028-80fa-585f8aee47bb","name":"Voice Output","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[752,352]},{"parameters":{"content":"# 🧠 MEMORY & REASONING\n\n**Simple Memory**\nKeeps conversation context\nSession-based (per chat)\n\n**Think Tool**\nStep-by-step reasoning\nBetter decision making","height":452,"width":220},"id":"4fc1364c-95c5-4d42-9be9-d05228fcd48f","name":"Memory System","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,272]},{"parameters":{"content":"# 📊 FLOW SUMMARY\n\n```\nTelegram → Switch → Pipeline\n    ↓\nAgent Dhruv (Opus 4.5)\n    ↓\n[Memory] [Think] [Tools]\n    ↓\nResponse (Text/Audio)\n```","height":424,"width":336,"color":5},"id":"ca3dba72-d9ad-4eb0-a51e-e6e107b3cb05","name":"Flow Summary","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1424,-464]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"text","type":"main","index":0}],[{"node":"Get a file1","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"audio to text","type":"main","index":0}]]},"audio to text":{"main":[[{"node":"Agent Dhruv","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agent Dhruv","type":"ai_memory","index":0}]]},"Agent Dhruv":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Search Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Get a file1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"text file","type":"main","index":0}]]},"text":{"main":[[{"node":"Agent Dhruv","type":"main","index":0}]]},"text file":{"main":[[{"node":"Agent Dhruv","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Send an audio file","type":"main","index":0}]]},"Email_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Calender Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Contact_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Social_Media_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Stock_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Growth_Architect":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Promt_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"gemini-3-flash-preview":{"ai_languageModel":[[]]},"Opus 4.5":{"ai_languageModel":[[{"node":"Agent Dhruv","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"QV0m3reWguONvDAN"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"81f78105-82e1-4f9b-86d6-a55b77d42918","activeVersionId":"81f78105-82e1-4f9b-86d6-a55b77d42918","versionCounter":185,"triggerCount":1,"shared":[{"updatedAt":"2025-12-20T15:25:40.338Z","createdAt":"2025-12-20T15:25:40.338Z","role":"workflow:owner","workflowId":"2cOg4zAC5T61pGJr","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-31T12:32:41.000Z","createdAt":"2026-01-31T12:31:25.272Z","versionId":"81f78105-82e1-4f9b-86d6-a55b77d42918","workflowId":"2cOg4zAC5T61pGJr","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-864,-256],"id":"f4485b21-8696-4e81-9b70-b0d21b0eef2f","name":"Telegram Trigger","webhookId":"472bd361-f108-45e6-ade5-f44885bd636b","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"eac7d8fa-ef3d-4630-be8c-5d5bdb67cbef","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1ef1176d-cb17-4798-9d35-4a82e2ef5f9a","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c18a8e65-c487-49e8-a7d6-0f70c16254d2","leftValue":"={{ $json.message.photo[0].file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-640,-272],"id":"500603de-ae0e-4a17-87db-fffe43c9abf8","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-496,-464],"id":"0114fc81-7edd-4263-a8c3-38038fdab6a0","name":"Get a file","webhookId":"88e5039b-bafe-463f-9075-1c728d26c3e9","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-304,-464],"id":"1fd0c10a-948e-414f-89a0-ec11d6a167bd","name":"audio to text","credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[512,-256],"id":"8b72daa6-99bc-4d56-af0b-7656b2dc983e","name":"Send a text message","webhookId":"c4cc5fc0-376b-4dfb-bd16-c128787247e5","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[32,112],"id":"ac73d635-3b7c-4aa7-99c2-827fc42517ec","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are Agent Dhruv — a practical, decision-driven AI assistant designed to solve user requests efficiently using the minimum required tools.\n\nYour primary goal is to:\n• Understand the user’s intent clearly\n• Decide whether external tools are actually needed\n• Use ONLY the most relevant tool(s) when required\n• Produce clear, concise, and actionable outputs\n• Keep reply short and conise untill user asks in detail\n\n━━━━━━━━━━━━━━\nHOW TO THINK\n━━━━━━━━━━━━━━\n1. First, analyze the user message carefully.\n2. Ask yourself:\n   - Can I answer this using my internal knowledge?\n   - Does this require real-time, external, or factual data?\n3. Use tools ONLY if they add real value.\n4. Never use multiple tools for the same task unless absolutely necessary.\n5. Prefer short, structured answers over long explanations.\n\n━━━━━━━━━━━━━━\nTOOL USAGE RULES\n━━━━━━━━━━━━━━\n\n🔍 Search Agent (Generic / Sub Search Workflow)\nUse ONLY when:\n• The user asks for data, facts, trends, stats, comparisons, or research\n• Information is time-sensitive or unknown\n• The answer depends on external sources\n\nDo NOT use if:\n• The question is conceptual, strategic, or opinion-based\n\n📅 Calendar Agent\nUse ONLY when:\n• Scheduling, availability, reminders, or time-based actions are requested\n\n📧 Email Agent\nUse ONLY when:\n• Use this agent when you want to any details related to email or user ask anything about email go\n📝 Social_Media_Agent\nUse ONLY when:\n• The user asks to create posts, messages, documents, or copy\n\n# Contact_Agent\nuse this tool to get contacts and safe new contacts\n\n# Stock_Agent \nuse this agent for all stock market–related queries.\nIt provides Indian market insights by default (NIFTY, BANK NIFTY, stocks),\nuses search only for live data, and think-mode for analysis or comparisons.\n\n# Growth_Architect\nused this tool  for strategic and tactical SaaS revenue decisions.\nIt designs GTM plans, optimizes pipeline and pricing, forecasts revenue, and pulls competitor data when needed.\n\n# Prompt_Agent \nthis agent specializes in turning ideas into optimized AI prompts across text, image, video, code, and workflow tools.so use this to create optimized Ai promts\n\nMemory\n• Store only long-term, reusable preferences or context\n• Do NOT store one-time queries or temporary data\n\n# Think \n• Use the tool to think about something.\n\n━━━━━━━━━━━━━━\nOUTPUT RULES\n━━━━━━━━━━━━━━\n• Always respond with a clear final answer\n• Use bullet points, short sections, or steps where helpful\n• Avoid unnecessary follow-up questions\n• If clarification is required, ask ONE precise question only\n\n━━━━━━━━━━━━━━\nDECISION PRIORITY\n━━━━━━━━━━━━━━\n1. Internal reasoning (no tools)\n2. One best tool\n3. Multiple tools (last resort)\n\n━━━━━━━━━━━━━━\nFAILSAFE BEHAVIOR\n━━━━━━━━━━━━━━\nIf a tool fails:\n• Try ONE alternative tool only if relevant\n• Otherwise, respond with the best possible answer using available information\n\n━━━━━━━━━━━━━━\nTONE & STYLE\n━━━━━━━━━━━━━━\n• Clear, practical, no fluff\n• Slightly consultative\n• Focus on outcomes, not theory\n\nYou are not here to show how many tools you can use.\nYou are here to deliver the best result with the least complexity."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[160,-256],"id":"27865043-4d1f-439f-87e4-739ceeee0317","name":"Agent Dhruv"},{"parameters":{"description":"Use this Search Agent  when information is not available in the input or requires external lookup or need to search letest information from web, internet or anything recent.\n\nThis tool is meant for:\n- Finding relevant data, references, or examples related to automation, AI, SaaS, workflows, or tools\n- Fetching fresh or missing information that cannot be inferred logically\n\nDo NOT use this tool if the answer can be generated using reasoning alone.\n\nAlways return a short, structured result after searching.","workflowId":{"__rl":true,"value":"xz3AFt53UbEvPFQv","mode":"list","cachedResultUrl":"/workflow/xz3AFt53UbEvPFQv","cachedResultName":"Search_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[304,64],"id":"e0215498-8c56-4e53-9e62-54a7f0622d25","name":"Search Agent"},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[1].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-672,-16],"id":"a0611fb4-3f83-4381-a8d7-e3c33feba897","name":"Get a file1","webhookId":"5dd51e74-39bf-42b2-87b2-bc19e24bd0c1","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-496,-16],"id":"2269a726-85e9-4cd6-a2e5-1ec4afadf0d1","name":"Analyze image","credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0e29533d-9944-48bd-938c-769b77ad25c5","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,-256],"id":"1884271a-bdd8-4505-99e3-a231626b30d4","name":"text"},{"parameters":{"assignments":{"assignments":[{"id":"0e29533d-9944-48bd-938c-769b77ad25c5","name":"text","value":"={{ $json['0'].content[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,-16],"id":"febff035-5284-4dbb-86ea-cde7eef246b7","name":"text file"},{"parameters":{"promptType":"define","text":"=You are Sally, a funny guy that makes sarcastic comments and funny anekdotes about topics.\nYou try to roast the topics and insult a bit.\nYou answer really short, just 1 punnchy lines.\n\ntopic: {{ $json.output }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[528,-432],"id":"c7396874-10a6-4d0f-ae4b-3d2d10028e48","name":"Basic LLM Chain"},{"parameters":{"resource":"audio","input":"={{ $json.text }}","voice":"nova","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[816,-432],"id":"b32cab0d-a4a5-4a16-9a2c-6477dba317d1","name":"Generate audio","credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"operation":"sendAudio","chatId":"=637313836","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[992,-432],"id":"57885a1b-eadb-42a8-93f1-06831a6fa178","name":"Send an audio file","webhookId":"60b1ce2f-12bd-4f16-b7ff-e5093acf70db","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"description":"Use this tool everytime you need to do something with mails","workflowId":{"__rl":true,"value":"kezMOKKRjQOAQIi9","mode":"list","cachedResultUrl":"/workflow/kezMOKKRjQOAQIi9","cachedResultName":"Email_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[432,64],"id":"3923141c-e748-4d26-9e03-c774737c6c05","name":"Email_Agent"},{"parameters":{"description":"use this tool everytime you need to do something in the calender or events","workflowId":{"__rl":true,"value":"teaBSbleCK34Tw7b","mode":"list","cachedResultUrl":"/workflow/teaBSbleCK34Tw7b","cachedResultName":"Calender_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[560,64],"id":"a6b8d7b4-3343-4344-a747-424050c7dea5","name":"Calender Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[144,112],"id":"876ed553-ccc2-41f3-9acb-41ce1be6d53a","name":"Think"},{"parameters":{"description":"use this tool to get contacts and add new contacts","workflowId":{"__rl":true,"value":"6NqoNner3xOi06da","mode":"list","cachedResultUrl":"/workflow/6NqoNner3xOi06da","cachedResultName":"Contact_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[704,64],"id":"ae45e8f9-318a-47de-9a36-0fd1fff7aded","name":"Contact_Agent"},{"parameters":{"description":"Social Media Agent — Usage Prompt\n\nUse this agent only when the task is to create or optimize social media content.\n\nYou are triggered when the user asks for:\n\t•\tLinkedIn posts (professional, outcome-driven, natural tone)\n\t•\tX / Twitter posts (very short, concise, within character limits)\n\t•\tYouTube titles, descriptions, and tags (viral, outcome-oriented)\n\t•\tInstagram titles and captions (catchy + relevant hashtags)\n\nRules:\n\t•\tGenerate platform-specific output (never same format for all).\n\t•\tKeep content clear, engaging, and audience-first.\n\t•\tUse hashtags only where they add reach.\n\t•\tInclude links when provided or requested.\n\t•\tUse Search Agent only if fresh data or context is required.\n\t•\tUse Think Tool only for structuring or improving quality (not always).\n\t•\tIf Sheet access is provided, format output so it can be saved directly (post type, content, hashtags, link).\n\nDo NOT use this agent for:\n\t•\tEmail writing\n\t•\tResearch-only tasks\n\t•\tLong explanations or documentation\n\nOutput should always be ready to post, not draft-like.","workflowId":{"__rl":true,"value":"vTVxV4xsB6exEd01","mode":"list","cachedResultUrl":"/workflow/vTVxV4xsB6exEd01","cachedResultName":"Social_Media_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[864,64],"id":"a613d456-312b-4d6e-95cf-186cc1837c52","name":"Social_Media_Agent"},{"parameters":{"description":"Use this agent for stock market insights, prices, trends, or news. \nDefaults to Indian markets unless stated otherwise.","workflowId":{"__rl":true,"value":"Vj8Ooa2dndbB3HRZ","mode":"list","cachedResultUrl":"/workflow/Vj8Ooa2dndbB3HRZ","cachedResultName":"Stock_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1008,64],"id":"369ed17b-c143-45e7-b0cd-a687794b676a","name":"Stock_Agent"},{"parameters":{"description":"Use this agent for revenue growth, GTM strategy, pipeline optimization, pricing, forecasting, and competitive analysis.","workflowId":{"__rl":true,"value":"6so0qBZoqekx9l6s","mode":"list","cachedResultUrl":"/workflow/6so0qBZoqekx9l6s","cachedResultName":"Growth_Architect"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1152,64],"id":"ca802c73-b4d9-472c-9d04-e789fae99860","name":"Growth_Architect"},{"parameters":{"description":"Use this agent to generate high-quality, ready-to-use prompts for text, image, video, code, or automation workflows.","workflowId":{"__rl":true,"value":"P5pSr2vZIQhhr7S3","mode":"list","cachedResultUrl":"/workflow/P5pSr2vZIQhhr7S3","cachedResultName":"Promt_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1296,64],"id":"df6e57af-cd76-470a-81a6-a7addc4a23e5","name":"Promt_Agent"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-320,192],"id":"7b5aded3-ab36-4c8f-80d0-741b17079ea1","name":"gemini-3-flash-preview","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-5-20251101","mode":"list","cachedResultName":"Claude Opus 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-112,96],"id":"0a33acf2-1714-4c42-a086-d278fff7608e","name":"Opus 4.5","credentials":{"anthropicApi":{"id":"4TWuiQeAevzJx8R6","name":"Anthropic account"}}},{"parameters":{"content":"# 🚀 AGENT DHRUV 2.0\n\n**Multi-Modal AI Assistant**\n\n✅ Text Input\n✅ Voice Input\n✅ Image Input\n✅ 9 Tool Agents\n✅ Voice Output\n\n**AI:** Claude Opus 4.5\n**Vision:** Gemini 3 Flash\n**TTS:** OpenAI","height":280,"width":260,"color":5},"id":"737e5308-4900-4248-87f5-bd302315cdd9","name":"Main Overview","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,-416]},{"parameters":{"content":"# 📥 INPUT ROUTER\n\n**Switch Node Routes:**\n\n🎤 **Audio** → voice/audio file\n📝 **Text** → text message\n🖼️ **Image** → photo attachment\n\nEach type has its own pipeline","height":200,"color":2},"id":"988ffff1-7afd-491a-a7e7-996465e71daa","name":"Input Router","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,-48]},{"parameters":{"content":"# 🎤 AUDIO PIPELINE\n\n1. **Get a file** - Download voice\n2. **audio to text** - Whisper API\n\nConverts voice → text for AI","height":288,"width":220,"color":7},"id":"918bc2ec-b6ca-46c2-bd02-52cb4ad9d347","name":"Audio Pipeline","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,-848]},{"parameters":{"content":"# 🖼️ IMAGE PIPELINE\n\n1. **Get a file1** - Download image\n2. **Analyze image** - Gemini Vision\n3. **text file** - Format output\n\nModel: gemini-3-flash-preview","height":180,"color":4},"id":"f737b562-27de-4690-9fce-24f054011aa3","name":"Image Pipeline","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-896,272]},{"parameters":{"content":"# 🤖 MAIN AI AGENT\n\n**Model:** Claude Opus 4.5\n\n**Components:**\n• Simple Memory (context)\n• Think Tool (reasoning)\n• 9 Sub-Agent Tools\n\n**Handles all processed inputs**","height":600,"color":6},"id":"4ad7c5e6-7c6c-4838-8b05-71455af7701f","name":"Main Agent","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,-576]},{"parameters":{"content":"# 🛠️ TOOL AGENTS\n\n| Agent | Purpose |\n|-------|----------|\n| 🔍 Search | Web search |\n| 📧 Email | Gmail ops |\n| 📅 Calendar | Schedule |\n| 👥 Contact | Contacts |\n| 📱 Social | Post content |\n| 📈 Stock | Market data |\n| 🚀 Growth | Strategies |\n| ✍️ Prompt | Optimize prompts |","height":328,"width":260,"color":3},"id":"af55a236-b112-4790-b3c6-2996d09aff38","name":"Tool Agents","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,0]},{"parameters":{"content":"# 📤 TEXT OUTPUT\n\n**Send a text message**\n\nDirect Telegram message\nwith AI response","height":258,"width":200,"color":4},"id":"87969b3d-3fa6-42cb-85ed-d3661600c759","name":"Text Output","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,-544]},{"parameters":{"content":"# 🔊 VOICE OUTPUT\n\n1. **Basic LLM Chain** - Format text\n2. **Generate audio** - OpenAI TTS\n3. **Send audio file** - Telegram\n\nConverts text → voice response","height":180,"color":7},"id":"fae8e472-abf4-4028-80fa-585f8aee47bb","name":"Voice Output","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[752,352]},{"parameters":{"content":"# 🧠 MEMORY & REASONING\n\n**Simple Memory**\nKeeps conversation context\nSession-based (per chat)\n\n**Think Tool**\nStep-by-step reasoning\nBetter decision making","height":452,"width":220},"id":"4fc1364c-95c5-4d42-9be9-d05228fcd48f","name":"Memory System","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,272]},{"parameters":{"content":"# 📊 FLOW SUMMARY\n\n```\nTelegram → Switch → Pipeline\n    ↓\nAgent Dhruv (Opus 4.5)\n    ↓\n[Memory] [Think] [Tools]\n    ↓\nResponse (Text/Audio)\n```","height":424,"width":336,"color":5},"id":"ca3dba72-d9ad-4eb0-a51e-e6e107b3cb05","name":"Flow Summary","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1424,-464]}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"text","type":"main","index":0}],[{"node":"Get a file1","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"audio to text","type":"main","index":0}]]},"audio to text":{"main":[[{"node":"Agent Dhruv","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agent Dhruv","type":"ai_memory","index":0}]]},"Agent Dhruv":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Search Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Get a file1":{"main":[[{"node":"Analyze image","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"text file","type":"main","index":0}]]},"text":{"main":[[{"node":"Agent Dhruv","type":"main","index":0}]]},"text file":{"main":[[{"node":"Agent Dhruv","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Send an audio file","type":"main","index":0}]]},"Email_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Calender Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Contact_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Social_Media_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Stock_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Growth_Architect":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"Promt_Agent":{"ai_tool":[[{"node":"Agent Dhruv","type":"ai_tool","index":0}]]},"gemini-3-flash-preview":{"ai_languageModel":[[]]},"Opus 4.5":{"ai_languageModel":[[{"node":"Agent Dhruv","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"authors":"Dhruv Tomar","name":"Version 81f78105","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-01-31T12:32:40.995Z","id":171,"workflowId":"2cOg4zAC5T61pGJr","versionId":"81f78105-82e1-4f9b-86d6-a55b77d42918","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"}]}}
