workflows/AI-Powered_Support_Ticket_Management_with_Priority_Handling.json
{"updatedAt":"2026-01-31T15:58:12.188Z","createdAt":"2026-01-22T16:36:45.798Z","id":"EmplglTlDWWm34Ct","name":"AI-Powered Support Ticket Management with Priority Handling","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Submit Support Ticket","formDescription":"Please provide details about your support request. We'll get back to you as soon as possible.","formFields":{"values":[{"fieldName":"customerName","fieldLabel":"Your Name","requiredField":true},{"fieldName":"customerEmail","fieldLabel":"Email Address","fieldType":"email","requiredField":true},{"fieldName":"Phone","fieldLabel":"Phone Number","fieldType":"number"},{"fieldName":"priority","fieldLabel":"Priority","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Normal"},{"option":"Urgent"}]},"requiredField":true},{"fieldName":"subject","fieldLabel":"Subject","requiredField":true},{"fieldName":"description","fieldLabel":"Description","fieldType":"textarea","placeholder":"Please describe your issue in detail","requiredField":true}]},"options":{"appendAttribution":false,"respondWithOptions":{"values":{"formSubmittedText":"Thank you! Your support ticket has been submitted. You will receive an automated response shortly."}}}},"id":"ea4028fd-d75f-40f8-a3b6-ae1358fe58c6","name":"Support Request Form","type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[-1664,448],"webhookId":"6aeec823-a888-4ca4-b8e9-d6c5730b3aeb"},{"parameters":{"content":"📝 TICKET SUBMISSION\n\nCustomers submit support requests through this form.\n\nCollected Information:\n• Customer name and email\n• Priority level (Normal/Urgent)\n• Subject and description\n\nThis is the entry point for all support tickets.","height":528,"width":368,"color":4},"id":"dc754c8b-890b-4ce4-8cbb-8cc818a17b81","name":"Note: Ticket Submission","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1840,176]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"customerName","value":"={{ $json.customerName }}","type":"string"},{"id":"bf277002-ad4d-418b-8e3b-b48c9af69a0b","name":"Phone","value":"={{ $json.Phone }}","type":"number"},{"id":"id-2","name":"customerEmail","value":"={{ $json.customerEmail }}","type":"string"},{"id":"id-3","name":"priority","value":"={{ $json.priority }}","type":"string"},{"id":"id-4","name":"subject","value":"={{ $json.subject }}","type":"string"},{"id":"id-5","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"id-6","name":"submittedAt","value":"={{ $now.toISO() }}","type":"string"},{"id":"id-7","name":"status","value":"Open","type":"string"}]},"options":{}},"id":"47591eac-e8ce-4f41-9eaa-12669f62cb06","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1440,448]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Generate unique ticket ID\nconst ticketId = 'TKT-' + Date.now() + '-' + Math.random().toString(36).substr(2, 5).toUpperCase();\n\n// Get form data\nconst formData = $input.item.json;\n\n// Return enriched ticket data\nreturn {\n  ticketId: ticketId,\n  customerName: formData.customerName,\n  customerEmail: formData.customerEmail,\n  priority: formData.priority,\n  subject: formData.subject,\n  description: formData.description,\n  submittedAt: formData.submittedAt,\n  status: formData.status\n};"},"id":"b44a3370-53d8-48ea-a425-14cba101cc7c","name":"Generate Ticket ID & Classify Priority","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1216,448]},{"parameters":{"content":"⚙️ TICKET PROCESSING\n\nGenerate unique ticket ID and prepare data:\n• Create ticket ID (TKT-xxxxx)\n• Add timestamp\n• Set initial status to \"Open\"\n\nThis ensures every ticket is trackable and properly formatted.","height":672,"width":336},"id":"3ba58bc9-1556-4fb3-b94b-05c34b567c04","name":"Note: Ticket Processing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1248,128]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1606003261,"mode":"list","cachedResultName":"Support Queries","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=1606003261"},"columns":{"mappingMode":"defineBelow","value":{"ticketId":"={{ $json.ticketId }}","customerName":"={{ $json.customerName }}","customerEmail":"={{ $json.customerEmail }}","priority":"={{ $json.priority }}","subject":"={{ $json.subject }}","description":"={{ $json.description }}","submittedAt":"={{ $json.submittedAt }}","status":"={{ $json.status }}"},"matchingColumns":["ticketId"],"schema":[{"id":"ticketId","displayName":"ticketId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"customerName","displayName":"customerName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"customerEmail","displayName":"customerEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subject","displayName":"subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"49b8555c-818a-4984-97a7-44b2daa31048","name":"Store Ticket in Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1040,448],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.priority }}","rightValue":"Urgent","operator":{"type":"string","operation":"equals"},"id":"dd9073b3-8df8-41dd-8912-661be8e7f569"}],"combinator":"and"},"renameOutput":true,"outputKey":"Urgent"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.priority }}","rightValue":"Normal","operator":{"type":"string","operation":"equals"},"id":"f78e574a-f490-4342-a3e0-3767b128a3b7"}],"combinator":"and"},"renameOutput":true,"outputKey":"Normal"}]},"options":{}},"id":"18c000f3-c763-4d97-a85a-ed5eed8c934b","name":"Route by Priority","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-832,448]},{"parameters":{"content":"🔀 PRIORITY ROUTING\n\nTickets are routed based on priority:\n\n🔴 URGENT → Immediate team notification\n🟢 NORMAL → Standard team notification\n\nThis ensures urgent issues get faster attention.","height":512,"width":224,"color":4},"id":"70481a96-d5f0-4e0a-a7a4-272773d79c25","name":"Note: Priority Routing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,176]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0A5RUUSF17","mode":"list","cachedResultName":"24_dec_n8n"},"text":"=🚨 *URGENT SUPPORT TICKET*\n\n*Ticket ID:* {{ $json.ticketId }}\n*Customer:* {{ $json.customerName }} ({{ $json.customerEmail }})\n*Subject:* {{ $json.subject }}\n*Description:* {{ $json.description }}\n*Submitted:* {{ $json.submittedAt }}\n\n⚠️ This ticket requires immediate attention!","otherOptions":{}},"id":"e44f500f-7fec-467a-bb0d-b70f1a539669","name":"Notify Team - Urgent","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-544,352],"webhookId":"d57f72bc-378e-4554-b644-202ade019006","credentials":{"slackOAuth2Api":{"id":"1w3syamNlvhO12bU","name":"Slack account"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0A5RUUSF17","mode":"list","cachedResultName":"24_dec_n8n"},"text":"=📩 *New Support Ticket*\n\n*Ticket ID:* {{ $json.ticketId }}\n*Customer:* {{ $json.customerName }} ({{ $json.customerEmail }})\n*Subject:* {{ $json.subject }}\n*Description:* {{ $json.description }}\n*Submitted:* {{ $json.submittedAt }}","otherOptions":{}},"id":"a1efbf41-a0b3-48d1-b358-9a7d91a01a1b","name":"Notify Team - Normal","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-544,544],"webhookId":"f29ad4c3-c589-4cd9-9028-2c1a737fbbb0","credentials":{"slackOAuth2Api":{"id":"1w3syamNlvhO12bU","name":"Slack account"}}},{"parameters":{"content":"📢 TEAM NOTIFICATIONS\n\nSupport team is notified via Slack:\n\n🚨 Urgent tickets → Alert with warning\n📩 Normal tickets → Standard notification\n\nBoth include full ticket details for quick triage.","height":640,"width":256,"color":4},"id":"b49f6eb1-2722-4f8c-bdc7-81474a4cbfb6","name":"Note: Team Notifications","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,96]},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"reply\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Professional and helpful auto-reply message to send to the customer acknowledging their support ticket\"\n\t\t}\n\t}\n}"},"id":"9cb6a4fb-543c-44f4-b982-dd79bf290551","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-144,672]},{"parameters":{"promptType":"define","text":"=Generate an auto-reply message for this support ticket:\n\nTicket ID: {{ $('Generate Ticket ID & Classify Priority').item.json.ticketId }}\nCustomer Name: {{ $('Generate Ticket ID & Classify Priority').item.json.customerName }}\nPriority: {{ $('Generate Ticket ID & Classify Priority').item.json.priority }}\nSubject: {{ $('Generate Ticket ID & Classify Priority').item.json.subject }}\nDescription: {{ $('Generate Ticket ID & Classify Priority').item.json.description }}\n\nGenerate only the reply message text.","hasOutputParser":true,"options":{"systemMessage":"=You are a helpful customer support AI assistant. Your role is to generate professional, empathetic auto-reply messages for support tickets. The reply should thank the customer, acknowledge their specific issue, mention the ticket ID for reference, set appropriate response time expectations (Urgent: within 2 hours, Normal: within 24 hours), and maintain a professional, empathetic, and reassuring tone."}},"id":"b55361a2-e4e6-4b65-98d8-55c69e616570","name":"AI Agent - Generate Reply","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-320,448]},{"parameters":{"content":"🤖 AI RESPONSE GENERATION\n\nAI generates personalized auto-reply:\n• Acknowledges specific issue\n• Includes ticket ID\n• Sets response time expectations\n• Professional and empathetic tone\n\nProvides immediate customer reassurance.","height":656,"width":262},"id":"7b8d1b0b-0610-47f5-be73-82e974e26ec0","name":"Note: AI Response Generation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,176]},{"parameters":{"content":"✉️ CUSTOMER COMMUNICATION\n\nAI-generated reply is sent to customer:\n• Personalized acknowledgment\n• Ticket reference number\n• Expected response time\n\nCustomer receives immediate confirmation their request was received.","height":512,"width":224,"color":5},"id":"5c9ad005-aa54-43a0-941f-a7086b5829b0","name":"Note: Customer Communication","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,176]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1606003261,"mode":"list","cachedResultName":"Support Queries","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=1606003261"},"columns":{"mappingMode":"defineBelow","value":{"ticketId":"={{ $('Generate Ticket ID & Classify Priority').item.json.ticketId }}","status":"Auto Reply Send"},"matchingColumns":["ticketId"],"schema":[{"id":"ticketId","displayName":"ticketId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"customerName","displayName":"customerName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"customerEmail","displayName":"customerEmail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"subject","displayName":"subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"submittedAt","displayName":"submittedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"82c057d8-1ed4-418e-9aaf-4eb86ab57635","name":"Update Ticket Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[256,448],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"content":"✅ TICKET STATUS UPDATE\n\nTicket status is updated in Google Sheets:\n• Status changed to \"Auto-Reply Sent\"\n• Tracks ticket lifecycle\n• Ready for team follow-up\n\nComplete audit trail maintained in spreadsheet.","height":384,"width":320,"color":6},"id":"7d8fa2ea-3f7e-4a42-9072-be99af6aeffb","name":"Note: Ticket Resolution","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[192,256]},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-288,672],"id":"91ae94c8-185c-48f2-a933-c18719cf1c4d","name":"gemini-3-flash","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"sendTo":"={{ $('Generate Ticket ID & Classify Priority').item.json.customerEmail }}","subject":"=Re: {{ $('Generate Ticket ID & Classify Priority').item.json.subject }} [{{ $('Generate Ticket ID & Classify Priority').item.json.ticketId }}]","emailType":"text","message":"={{ $json.output.reply }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[16,448],"id":"aee59aff-b5c0-4397-9133-8151024e6ac4","name":"Send a message","webhookId":"7e7a4006-8124-4dfe-b560-90a8ec69e8db","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}}],"connections":{"Support Request Form":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Generate Ticket ID & Classify Priority","type":"main","index":0}]]},"Generate Ticket ID & Classify Priority":{"main":[[{"node":"Store Ticket in Google Sheets","type":"main","index":0}]]},"Store Ticket in Google Sheets":{"main":[[{"node":"Route by Priority","type":"main","index":0}]]},"Route by Priority":{"main":[[{"node":"Notify Team - Urgent","type":"main","index":0}],[{"node":"Notify Team - Normal","type":"main","index":0}]]},"Notify Team - Urgent":{"main":[[{"node":"AI Agent - Generate Reply","type":"main","index":0}]]},"Notify Team - Normal":{"main":[[{"node":"AI Agent - Generate Reply","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent - Generate Reply","type":"ai_outputParser","index":0}]]},"AI Agent - Generate Reply":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"gemini-3-flash":{"ai_languageModel":[[{"node":"AI Agent - Generate Reply","type":"ai_languageModel","index":0}]]},"Send a message":{"main":[[{"node":"Update Ticket Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4075014b-8c28-47bf-9014-8e9358161e16","activeVersionId":null,"versionCounter":113,"triggerCount":0,"shared":[{"updatedAt":"2026-01-22T16:36:45.805Z","createdAt":"2026-01-22T16:36:45.805Z","role":"workflow:owner","workflowId":"EmplglTlDWWm34Ct","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
