workflows/AI-Powered_Resume_Screening_and_Candidate_Ranking_System.json
{"updatedAt":"2026-01-22T16:32:05.028Z","createdAt":"2025-12-28T04:08:11.561Z","id":"4xH4Di6m6cAFAtSi","name":"AI-Powered Resume Screening and Candidate Ranking System","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Resume Submission - AI Screening","formDescription":"Submit your resume for automated screening and evaluation","formFields":{"values":[{"fieldName":"fullName","fieldLabel":"Full Name","requiredField":true},{"fieldName":"email","fieldLabel":"Email Address","fieldType":"email","requiredField":true},{"fieldName":"phone","fieldLabel":"Phone Number","requiredField":true},{"fieldName":"jobRole","fieldLabel":"Job Role Applied For","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Software Engineer"},{"option":"Data Analyst"},{"option":"Product Manager"},{"option":"Marketing Manager"},{"option":"Sales Representative"}]},"requiredField":true},{"fieldName":"resume","fieldLabel":"Upload Resume (PDF or DOCX)","fieldType":"file","multipleFiles":false,"acceptFileTypes":".pdf, .docx","requiredField":true}]},"options":{"appendAttribution":false}},"id":"886950a7-f5e8-4075-bf0e-afef3a45ae30","name":"Resume Upload Form","type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[-1696,96],"webhookId":"39658bbe-a622-491d-8259-eae6f8760b39"},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"jobDescription","value":"We are seeking talented professionals to join our team. The ideal candidate should demonstrate strong technical skills, relevant experience, and cultural fit with our organization.","type":"string"},{"id":"id-2","name":"strongFitThreshold","value":70,"type":"number"},{"id":"id-3","name":"averageFitThreshold","value":50,"type":"number"},{"id":"id-4","name":"driveFolderName","value":"Resumes","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"090c51c2-f935-4b5e-9437-b758c8722e85","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1472,96]},{"parameters":{"inputDataFieldName":"resume","name":"={{ $json.fullName.replace(/\\s+/g, '_') }}_{{ $json.jobRole.replace(/\\s+/g, '_') }}_{{ $now.format('yyyy-MM-dd') }}.pdf","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Google Drive Folder ID for Resumes__>"},"options":{}},"id":"1a964589-30cf-4438-8a7b-0bb3a4c1743e","name":"Save Resume to Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1248,96]},{"parameters":{"operation":"pdf","binaryPropertyName":"resume","options":{}},"id":"cd47e8e7-32c3-40a4-9937-27648852a15a","name":"Extract Resume Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[-1024,96]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"resumeText","value":"={{ $json.text }}","type":"string"},{"id":"id-2","name":"candidateName","value":"={{ $('Resume Upload Form').item.json.fullName }}","type":"string"},{"id":"id-3","name":"candidateEmail","value":"={{ $('Resume Upload Form').item.json.email }}","type":"string"},{"id":"id-4","name":"jobRole","value":"={{ $('Resume Upload Form').item.json.jobRole }}","type":"string"},{"id":"id-5","name":"jobDescription","value":"={{ $('Workflow Configuration').item.json.jobDescription }}","type":"string"},{"id":"id-6","name":"driveLink","value":"={{ $('Save Resume to Google Drive').item.json.webViewLink }}","type":"string"}]},"options":{}},"id":"87da7143-5c57-4c9e-b539-76584b0b88a4","name":"Prepare AI Analysis Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,96]},{"parameters":{"promptType":"define","text":"={{ $json.resumeText }}","hasOutputParser":true,"options":{"systemMessage":"=You are an expert HR recruiter and resume analyst. Your task is to thoroughly evaluate the candidate's resume against the job requirements and provide a comprehensive assessment.\n\nJob Role: {{ $json.jobRole }}\nJob Description: {{ $json.jobDescription }}\n\nAnalyze the resume for:\n1. **Skills Match**: How well do the candidate's skills align with the job requirements? Identify present and missing skills.\n2. **Experience Quality**: Evaluate years of experience, relevance, progression, and achievements.\n3. **Education & Certifications**: Assess educational background and relevant certifications.\n4. **Career Gaps**: Identify any unexplained gaps or red flags in employment history.\n5. **Cultural Fit Indicators**: Look for soft skills, teamwork, leadership, and values alignment.\n\nProvide:\n- Overall score (0-100)\n- Classification: Strong Fit (70-100), Average (50-69), or Reject (0-49)\n- Key strengths (list)\n- Key gaps or concerns (list)\n- Recommendation summary\n\nBe objective, fair, and thorough in your evaluation."}},"id":"038c7f70-a702-454c-b93d-e2df44fc92d3","name":"AI Resume Analyzer","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-576,96]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"builtInTools":{},"options":{}},"id":"6c810076-a736-4360-a5d9-d18bbe05fb3c","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-576,320]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"required\": [\"overall_score\", \"classification\", \"strengths\", \"gaps\", \"skills_present\", \"skills_missing\", \"experience_years\", \"recommendation_summary\"],\n  \"properties\": {\n    \"overall_score\": {\n      \"type\": \"integer\",\n      \"minimum\": 0,\n      \"maximum\": 100,\n      \"description\": \"Overall candidate score out of 100\"\n    },\n    \"classification\": {\n      \"type\": \"string\",\n      \"enum\": [\"Strong Fit\", \"Average\", \"Reject\"],\n      \"description\": \"Candidate classification\"\n    },\n    \"strengths\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Key strengths of the candidate\"\n    },\n    \"gaps\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Key gaps or concerns\"\n    },\n    \"skills_present\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Skills that match job requirements\"\n    },\n    \"skills_missing\": {\n      \"type\": \"array\",\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"Required skills that are missing\"\n    },\n    \"experience_years\": {\n      \"type\": \"string\",\n      \"description\": \"Years of relevant experience\"\n    },\n    \"recommendation_summary\": {\n      \"type\": \"string\",\n      \"description\": \"Brief recommendation summary\"\n    }\n  }\n}"},"id":"82fbbd4e-dfe2-4272-a21f-0d840c8cf797","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-448,320]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $json.output.overall_score }}","rightValue":"={{ $('Workflow Configuration').item.json.strongFitThreshold }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"248186e8-ca0a-4433-902a-0306e3a79216","name":"Classify Candidate","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,96]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Google Sheets Document ID__>"},"sheetName":{"__rl":true,"mode":"name","value":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","Candidate Name":"={{ $('Prepare AI Analysis Input').item.json.candidateName }}","Email":"={{ $('Prepare AI Analysis Input').item.json.candidateEmail }}","Job Role":"={{ $('Prepare AI Analysis Input').item.json.jobRole }}","Overall Score":"={{ $('AI Resume Analyzer').item.json.output.overall_score }}","Classification":"={{ $('AI Resume Analyzer').item.json.output.classification }}","Strengths":"={{ $('AI Resume Analyzer').item.json.output.strengths.join('; ') }}","Gaps":"={{ $('AI Resume Analyzer').item.json.output.gaps.join('; ') }}","Skills Present":"={{ $('AI Resume Analyzer').item.json.output.skills_present.join(', ') }}","Skills Missing":"={{ $('AI Resume Analyzer').item.json.output.skills_missing.join(', ') }}","Experience Years":"={{ $('AI Resume Analyzer').item.json.output.experience_years }}","Recommendation":"={{ $('AI Resume Analyzer').item.json.output.recommendation_summary }}","Resume Link":"={{ $('Prepare AI Analysis Input').item.json.driveLink }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Candidate Name","displayName":"Candidate Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Job Role","displayName":"Job Role","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Overall Score","displayName":"Overall Score","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Classification","displayName":"Classification","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Strengths","displayName":"Strengths","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Gaps","displayName":"Gaps","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Skills Present","displayName":"Skills Present","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Skills Missing","displayName":"Skills Missing","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Experience Years","displayName":"Experience Years","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Recommendation","displayName":"Recommendation","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"Resume Link","displayName":"Resume Link","required":false,"defaultMatch":false,"canBeUsedToMatch":true}]},"options":{}},"id":"ad7fa0b2-851d-4f93-90d3-18231510d2d4","name":"Store All Results in Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,96]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Slack Channel ID for HR Notifications__>"},"text":"=🎯 *Strong Candidate Alert!*\n\n*Candidate:* {{ $('Prepare AI Analysis Input').item.json.candidateName }}\n*Email:* {{ $('Prepare AI Analysis Input').item.json.candidateEmail }}\n*Job Role:* {{ $('Prepare AI Analysis Input').item.json.jobRole }}\n*Score:* {{ $json.output.overall_score }}/100\n*Classification:* {{ $json.output.classification }}\n\n*Key Strengths:*\n{{ $json.output.strengths.map((s, i) => `${i+1}. ${s}`).join('\\n') }}\n\n*Resume:* {{ $('Prepare AI Analysis Input').item.json.driveLink }}\n\n_Recommendation: {{ $json.output.recommendation_summary }}_","otherOptions":{}},"id":"427f5253-f13e-48e1-8f8e-1b5f98c211cd","name":"Notify HR on Slack","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[0,0],"webhookId":"73a41ab1-03b2-4727-a836-6be0095f072d","credentials":{"slackOAuth2Api":{"id":"1w3syamNlvhO12bU","name":"Slack account"}}},{"parameters":{"sendTo":"={{ $('Prepare AI Analysis Input').item.json.candidateEmail }}","subject":"=Next Steps - {{ $('Prepare AI Analysis Input').item.json.jobRole }} Application","message":"=<p>Dear {{ $('Prepare AI Analysis Input').item.json.candidateName }},</p>\n\n<p>Thank you for applying for the <strong>{{ $('Prepare AI Analysis Input').item.json.jobRole }}</strong> position.</p>\n\n<p>We are pleased to inform you that your application has been reviewed and you have been shortlisted for the next round of our hiring process. Your qualifications and experience align well with what we are looking for.</p>\n\n<p><strong>Next Steps:</strong></p>\n<ul>\n<li>Our HR team will contact you within 2-3 business days to schedule an interview</li>\n<li>Please keep an eye on your email and phone for our communication</li>\n</ul>\n\n<p>We look forward to speaking with you soon!</p>\n\n<p>Best regards,<br>HR Team</p>","options":{}},"id":"a2ea5f2c-650a-4e9f-bfac-7358c83b20cb","name":"Send Acceptance Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[224,0],"webhookId":"80504d9e-e95c-48d6-92ab-fbe05c941b9a"},{"parameters":{"sendTo":"={{ $('Prepare AI Analysis Input').item.json.candidateEmail }}","subject":"=Application Status - {{ $('Prepare AI Analysis Input').item.json.jobRole }}","message":"=<p>Dear {{ $('Prepare AI Analysis Input').item.json.candidateName }},</p>\n\n<p>Thank you for taking the time to apply for the <strong>{{ $('Prepare AI Analysis Input').item.json.jobRole }}</strong> position with us.</p>\n\n<p>After careful review of your application, we regret to inform you that we will not be moving forward with your candidacy at this time. This decision was not easy, as we received many qualified applications.</p>\n\n<p>We encourage you to:</p>\n<ul>\n<li>Keep an eye on our careers page for future opportunities that may be a better fit</li>\n<li>Continue building your skills and experience in areas relevant to your career goals</li>\n</ul>\n\n<p>We appreciate your interest in our organization and wish you the best in your job search.</p>\n\n<p>Best regards,<br>HR Team</p>","options":{}},"id":"4957f535-8fcb-4467-ac6d-c8423e820369","name":"Send Rejection Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[224,192],"webhookId":"43475747-651a-4f1f-9db3-f056af7d1c28"},{"parameters":{"chatId":"<__PLACEHOLDER_VALUE__Add your Telegram chat ID here__>","text":"=🎯 *Strong Candidate Alert!*\n\n*Candidate:* {{ $('Prepare AI Analysis Input').item.json.candidateName }}\n*Email:* {{ $('Prepare AI Analysis Input').item.json.candidateEmail }}\n*Job Role:* {{ $('Prepare AI Analysis Input').item.json.jobRole }}\n*Score:* {{ $json.output.overall_score }}/100\n*Classification:* {{ $json.output.classification }}\n\n*Key Strengths:*\n{{ $json.output.strengths.map((s, i) => `${i+1}. ${s}`).join('\\n') }}\n\n*Resume:* {{ $('Prepare AI Analysis Input').item.json.driveLink }}\n\n_Recommendation: {{ $json.output.recommendation_summary }}_","additionalFields":{}},"id":"b8baf6ad-4e49-418c-9148-503e9d4955dd","name":"Send Telegram Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-32,-288],"webhookId":"8a2be188-ba16-4174-a598-395fd611a5a0","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"content":"📝 FORM INPUT SECTION\n\nCollects candidate information and resume upload:\n• Personal details (name, email, phone)\n• Job role selection from dropdown\n• Resume file upload (PDF/DOCX)\n• Form configured with n8n attribution disabled\n\nStarts the automated screening workflow","height":240,"width":320,"color":3},"id":"98ab060f-2859-470b-8483-93e1c3d773ef","name":"Form Input Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-128,608]},{"parameters":{"content":"💾 DOCUMENT STORAGE & PROCESSING\n\nHandles resume file management:\n• Saves resume to Google Drive with structured naming\n• Format: {Name}_{JobRole}_{Date}.pdf\n• Extracts text content from PDF for AI analysis\n• Preserves original file for future reference\n\n⚠️ Requires: Google Drive folder ID configuration","height":260,"width":320,"color":4},"id":"ec4bcb6b-f961-417d-a3af-fa14f82a08b7","name":"Document Storage & Processing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1728,-528]},{"parameters":{"content":"🤖 AI ANALYSIS SECTION\n\nIntelligent resume evaluation using OpenAI:\n• Analyzes skills match against job requirements\n• Evaluates experience quality and relevance\n• Assesses education and certifications\n• Identifies career gaps and red flags\n• Scores candidate 0-100\n• Returns structured JSON output\n\n⚠️ Requires: OpenAI API credentials","height":712,"width":352,"color":5},"id":"0212cff8-2a08-4d5c-826d-f72e8fbadd07","name":"AI Analysis Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,-192]},{"parameters":{"content":"🔀 CANDIDATE TRIAGE & ROUTING\n\nClassifies candidates based on AI score:\n• Strong Fit: Score ≥ 70 → Acceptance path\n• Below threshold: Score < 70 → Rejection path\n\nThresholds configurable in Workflow Configuration node\n\nRoutes to appropriate notification and email flows","height":240,"width":320,"color":6},"id":"9eb4e6fd-2139-4a87-a3eb-10d72809fc75","name":"Candidate Triage & Routing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1328,672]},{"parameters":{"content":"✅ STRONG CANDIDATE PATH\n\nFor high-scoring candidates (≥70):\n1. Slack notification to HR team with candidate details\n2. Telegram alert for immediate visibility\n3. Acceptance email to candidate with next steps\n\n⚠️ Requires: Slack channel ID, Telegram chat ID, Gmail credentials","height":260,"width":320,"color":2},"id":"cab31ec9-6938-4d18-94af-4a860a75f4ed","name":"Strong Candidate Path","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1296,-320]},{"parameters":{"content":"❌ REJECTION PATH\n\nFor candidates below threshold (<70):\n• Sends professional rejection email\n• Encourages future applications\n• Maintains positive candidate experience\n\n⚠️ Requires: Gmail credentials","height":220,"width":320},"id":"a8aa6662-3979-4b8a-833f-9fddb2cd3ec9","name":"Rejection Path","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,-240]},{"parameters":{"content":"📊 DATA PERSISTENCE\n\nStores ALL candidate results in Google Sheets:\n• Timestamp, candidate info, job role\n• AI scores and classification\n• Strengths, gaps, skills analysis\n• Experience years and recommendation\n• Resume link for easy access\n\nProvides audit trail and analytics capability\n\n⚠️ Requires: Google Sheets document ID","height":300,"width":320,"color":7},"id":"3d8c2598-0860-416c-aad4-2fb4aaf57390","name":"Data Persistence","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1680,304]}],"connections":{"Resume Upload Form":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Save Resume to Google Drive","type":"main","index":0}]]},"Save Resume to Google Drive":{"main":[[{"node":"Extract Resume Text","type":"main","index":0}]]},"Extract Resume Text":{"main":[[{"node":"Prepare AI Analysis Input","type":"main","index":0}]]},"Prepare AI Analysis Input":{"main":[[{"node":"AI Resume Analyzer","type":"main","index":0}]]},"AI Resume Analyzer":{"main":[[{"node":"Classify Candidate","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Resume Analyzer","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Resume Analyzer","type":"ai_outputParser","index":0}]]},"Classify Candidate":{"main":[[{"node":"Notify HR on Slack","type":"main","index":0},{"node":"Send Telegram Notification","type":"main","index":0}],[{"node":"Send Rejection Email","type":"main","index":0}]]},"Notify HR on Slack":{"main":[[{"node":"Send Acceptance Email","type":"main","index":0}]]},"Send Acceptance Email":{"main":[[{"node":"Store All Results in Google Sheets","type":"main","index":0}]]},"Send Rejection Email":{"main":[[{"node":"Store All Results in Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"7e412276-defa-40e8-af8c-e2081054685d","activeVersionId":null,"versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2025-12-28T04:08:11.567Z","createdAt":"2025-12-28T04:08:11.567Z","role":"workflow:owner","workflowId":"4xH4Di6m6cAFAtSi","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
