workflows/AI-Powered_Multi-Platform_Social_Media_Content_Generator_and_Analytics_Tracker.json
{"updatedAt":"2026-01-22T16:42:05.217Z","createdAt":"2025-12-28T04:08:41.544Z","id":"QCbHi8cYq3F4aLB3","name":"AI-Powered Multi-Platform Social Media Content Generator and Analytics Tracker","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Google Sheet ID for content topics__>"},"sheetName":{"__rl":true,"mode":"id","value":"Topics"},"event":"rowAdded","options":{}},"id":"bf0b5c44-37e3-429f-bb95-2b0d695f3d97","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-1952,0]},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"8b353549-3eaf-45bd-892d-4e72ed79e116","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1952,192]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"perplexityApiKey","value":"<__PLACEHOLDER_VALUE__Perplexity API Key__>","type":"string"},{"id":"id-2","name":"openaiApiKey","value":"<__PLACEHOLDER_VALUE__OpenAI API Key__>","type":"string"},{"id":"id-3","name":"geminiApiKey","value":"<__PLACEHOLDER_VALUE__Google Gemini API Key__>","type":"string"},{"id":"id-4","name":"metricsSheetId","value":"<__PLACEHOLDER_VALUE__Google Sheet ID for metrics__>","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"d337f802-02f3-4890-9e65-eefed46becb2","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,96]},{"parameters":{},"id":"77ef5f52-9a79-4764-9934-d57e024fa626","name":"Merge Triggers","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1728,96]},{"parameters":{"descriptionType":"manual","toolDescription":"Search for trending topics, industry news, and viral content ideas related to the user-provided topic","messages":{"message":[{}]},"options":{},"requestOptions":{}},"id":"0000c260-4d2b-46bf-8ab2-a43c69b3e76b","name":"Perplexity Research Tool","type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[-1152,320]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"2a9a8a62-af0e-4b47-9f0f-f9b0fea9157a","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1280,320]},{"parameters":{"jsonSchemaExample":"{\n\t\"linkedinPost\": \"string\",\n\t\"twitterPost\": \"string\",\n\t\"instagramCaption\": \"string\",\n\t\"imagePrompt\": \"string\"\n}"},"id":"28399e5b-7185-4744-9bb6-ef50cb01a062","name":"Content Structure Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1024,320]},{"parameters":{"promptType":"define","text":"={{ $json.topic || $json.content }}","hasOutputParser":true,"options":{"systemMessage":"You are a professional social media content strategist. Your task is to create engaging, platform-specific content for LinkedIn, Twitter/X, and Instagram.\n\nFor each topic provided:\n1. Use the Research tool to find trending information and viral content ideas\n2. Generate three distinct posts:\n   - LinkedIn: Professional, thought-leadership style (max 1300 characters)\n   - Twitter/X: Concise, engaging with hashtags (max 280 characters)\n   - Instagram: Visual-focused caption with emojis and hashtags (max 2200 characters)\n3. Create an image prompt for AI image generation that captures the essence of the content\n\nEnsure all content is original, engaging, and optimized for each platform."}},"id":"5173ce94-e15e-4e1f-8d3c-548e1b21abd9","name":"Content Generation Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1232,96]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"linkedinPost","value":"={{ $json.output.linkedinPost }}","type":"string"},{"id":"id-2","name":"twitterPost","value":"={{ $json.output.twitterPost }}","type":"string"},{"id":"id-3","name":"instagramCaption","value":"={{ $json.output.instagramCaption }}","type":"string"},{"id":"id-4","name":"imagePrompt","value":"={{ $json.output.imagePrompt }}","type":"string"},{"id":"id-5","name":"timestamp","value":"={{ $now.toISO() }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"36a2c7fc-1ec3-49a7-8903-ee9ec99923e7","name":"Extract Content Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,96]},{"parameters":{"resource":"image","modelId":{"__rl":true,"mode":"list","value":""},"prompt":"={{ $json.imagePrompt }}","options":{"binaryPropertyOutput":"data"}},"id":"67a46073-0fa8-4683-a863-4cb5920de0c2","name":"Generate Image with Gemini","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[-592,96]},{"parameters":{"text":"={{ $json.linkedinPost }}","additionalFields":{"visibility":"PUBLIC"}},"id":"6bb2692d-7924-47c9-b012-8f0890f4102e","name":"Post to LinkedIn","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-368,-96]},{"parameters":{"text":"={{ $json.twitterPost }}","additionalFields":{}},"id":"f999ba9b-d066-48d4-89c3-c0aecae01282","name":"Post to Twitter","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[-368,96]},{"parameters":{"httpRequestMethod":"POST","node":"<__PLACEHOLDER_VALUE__Instagram Business Account ID__>","options":{}},"id":"f4aecae9-4688-469d-b2ee-0393f85562ac","name":"Post to Instagram","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-368,288]},{"parameters":{"amount":24,"unit":"hours"},"id":"2496b8f2-d3f6-4b82-a9c4-3c1ea06c94f2","name":"Wait 24 Hours","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,96],"webhookId":"ff2c4fde-ccb9-4940-87d1-0d2dae9c0089"},{"parameters":{"url":"=https://api.linkedin.com/v2/socialActions/{{ $json.linkedinPostId }}/statistics","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"7456b892-24b1-4dc6-a4c2-230635d8aed8","name":"Fetch LinkedIn Metrics","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,-96]},{"parameters":{"url":"=https://api.twitter.com/2/tweets/{{ $json.twitterPostId }}?tweet.fields=public_metrics","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"d181bb8d-b8fe-4344-b8c6-3b5e49045a64","name":"Fetch Twitter Metrics","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,96]},{"parameters":{"url":"=https://graph.facebook.com/v18.0/{{ $json.instagramPostId }}/insights?metric=likes,comments,shares","sendQuery":true,"queryParameters":{"parameters":[{"name":"access_token","value":"<__PLACEHOLDER_VALUE__Facebook Access Token__>"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"00f710c6-2eff-422c-9797-d152da461d90","name":"Fetch Instagram Metrics","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,288]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"975dccbd-6e94-432a-bd15-bbe98ea5cb82","name":"Merge Metrics","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[528,0]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').item.json.metricsSheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"Metrics"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["postId"],"schema":[]},"options":{}},"id":"cf09071e-cea1-4bd8-9e1d-4b6a1f3682b6","name":"Store Metrics in Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[752,0]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.id }}","operator":{"type":"string","operation":"exists"}}],"combinator":"and"},"options":{}},"id":"2ca4d06d-deae-443e-942a-d6ee3449b0f1","name":"Check Post Success","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,96]},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration1').item.json.sheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"Post Ideas"},"filtersUI":{"values":[]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A:F"}},"outputFormatting":{"values":{"general":"UNFORMATTED_VALUE","date":"SERIAL_NUMBER"}}}},"id":"60db80cd-a31d-4241-a6f7-87b75a8b9201","name":"Read Post Ideas from Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1472,1168]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.Status }}","rightValue":"Posted","operator":{"type":"string","operation":"notEquals"}},{"id":"id-2","leftValue":"={{ $json['Post Idea'] }}","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"bb6edb01-92bc-47b3-9a08-a9feec8c1df4","name":"Check if Posts Available","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1248,1168]},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"responses":{"values":[{"content":"=You are a social media expert. Based on this post idea: {{ $json['Post Idea'] }}, create an engaging caption optimized for social media. Include relevant hashtags. Keep it concise and compelling. Target platform: {{ $json.Platform || 'general' }}. Return only the caption with hashtags."}]},"builtInTools":{},"options":{"maxTokens":300}},"id":"33083c73-0bf3-4928-97c6-7fa3feb13fce","name":"Generate AI Captions and Hashtags","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1024,1168]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"postIdea","value":"={{ $('Read Post Ideas from Google Sheets').item.json['Post Idea'] }}","type":"string"},{"id":"id-2","name":"aiCaption","value":"={{ $json.message.content }}","type":"string"},{"id":"id-3","name":"scheduledTime","value":"={{ $('Read Post Ideas from Google Sheets').item.json['Scheduled Time'] || new Date().toISOString() }}","type":"string"},{"id":"id-4","name":"platforms","value":"={{ $('Read Post Ideas from Google Sheets').item.json.Platforms || 'LinkedIn,Twitter,Facebook' }}","type":"string"},{"id":"id-5","name":"rowNumber","value":"={{ $('Read Post Ideas from Google Sheets').item.json.row_number }}","type":"number"}]},"options":{}},"id":"9c4cc8a6-2a49-4ac4-81db-5f486c31ac86","name":"Format Post Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,1168]},{"parameters":{"httpRequestMethod":"POST","node":"YOUR_FACEBOOK_PAGE_ID","edge":"feed","options":{"queryParameters":{"parameter":[{"name":"message","value":"={{ $json.aiCaption }}"}]}}},"id":"d35f72a9-4827-46c3-a48c-98da866d106b","name":"Post to Facebook & Instagram","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-448,1360]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $json.id }}","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"8d54c05c-d7c7-4b54-a576-b2ce56c41bd0","name":"Check LinkedIn Success","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,976]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.id }}","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"a07f479a-1ac9-4ac4-b225-67b3c66d7c77","name":"Check Twitter Success","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,1168]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.id }}","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"97265fe8-2a83-4e1a-8fc1-0dfefe4468c9","name":"Check Facebook Success","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,1360]},{"parameters":{"numberInputs":3},"id":"6729547c-3406-4e01-8891-7bf2cb8948b2","name":"Merge All Platform Results","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[0,1152]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"Platform","value":"={{ $json.platform }}","type":"string"},{"id":"id-2","name":"Post ID","value":"={{ $json.postId }}","type":"string"},{"id":"id-3","name":"Success","value":"={{ $json.success }}","type":"boolean"},{"id":"id-4","name":"Timestamp","value":"={{ $json.timestamp }}","type":"string"},{"id":"id-5","name":"Caption","value":"={{ $json.originalData.aiCaption }}","type":"string"},{"id":"id-6","name":"Original Idea","value":"={{ $json.originalData.postIdea }}","type":"string"}]},"options":{}},"id":"76b5aee4-4d31-4072-b351-fdadf536d8af","name":"Prepare Analytics Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,1168]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration1').item.json.analyticsSheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"Analytics"},"columns":{"mappingMode":"autoMapInputData","value":{}},"options":{}},"id":"ac2b0afc-d362-45aa-97b6-7c9f1b05eda9","name":"Log Analytics to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,1168]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"message","value":"={{ '🚀 Social Media Posting Summary\\n\\n' + $('Merge All Platform Results').all().map(item => `✅ ${item.json.platform}: ${item.json.success ? 'Success' : 'Failed'}\\nPost ID: ${item.json.postId}\\nTime: ${new Date(item.json.timestamp).toLocaleString()}`).join('\\n\\n') + '\\n\\nTotal posts: ' + $('Merge All Platform Results').all().length }}","type":"string"}]},"options":{}},"id":"74fedcfa-69dc-49e4-a197-4667e9aafbb5","name":"Format Telegram Summary","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,1168]},{"parameters":{"chatId":"={{ $('Workflow Configuration1').item.json.telegramChatId }}","text":"={{ $json.message }}","additionalFields":{}},"id":"76e08545-0d1c-4e8e-8ab7-186c586fe190","name":"Send Team Alert via Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[896,1168],"webhookId":"078658eb-f052-4d7b-b124-31626f529756"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5],"triggerAtHour":9}]}},"id":"48d5ce76-c66d-44d3-8048-79b6c531eedf","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1920,1168]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"sheetId","value":"YOUR_GOOGLE_SHEET_ID","type":"string"},{"id":"id-2","name":"analyticsSheetId","value":"YOUR_ANALYTICS_SHEET_ID","type":"string"},{"id":"id-3","name":"telegramChatId","value":"YOUR_TELEGRAM_CHAT_ID","type":"string"},{"id":"id-4","name":"maxPostsPerRun","value":5,"type":"number"}]},"options":{}},"id":"d95bcd9a-9985-4461-8d20-10b7fced6f92","name":"Workflow Configuration1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1696,1168]},{"parameters":{"text":"={{ $json.aiCaption }}","additionalFields":{"visibility":"PUBLIC"}},"id":"c5dc5ee7-48b4-4265-abe1-5e24db3b7bc8","name":"Post to LinkedIn1","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-448,976]},{"parameters":{"text":"={{ $json.aiCaption.substring(0, 280) }}","additionalFields":{}},"id":"2a58ee7e-706b-4645-8719-562eb64a823d","name":"Post to Twitter1","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[-448,1168]},{"parameters":{"content":"## 📋 Workflow Overview\n\nThis workflow automates social media posting across multiple platforms:\n\n✅ Reads post ideas from Google Sheets\n✅ Generates AI-powered captions\n✅ Posts to LinkedIn, Twitter & Facebook\n✅ Tracks analytics\n✅ Sends team notifications\n\n**Runs:** Weekdays at 9:00 AM","height":280,"width":380,"color":4},"id":"a4b3fe9b-60a5-4bbd-83c6-435c63ff7d9e","name":"Workflow Overview","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2016,1696]},{"parameters":{"content":"## ⚙️ Configuration Setup\n\n**What it does:**\nStores all workflow settings in one place\n\n**Key Settings:**\n• Google Sheet ID for post ideas\n• Analytics Sheet ID for tracking\n• Telegram Chat ID for alerts\n• Max posts per run (default: 5)\n\n**Action Required:**\nUpdate these IDs with your actual values!","height":300,"width":340,"color":5},"id":"af1718bb-5f9d-4ed0-b4e3-58444a95bd54","name":"Configuration Setup","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2016,1696]},{"parameters":{"content":"## 📥 Data Retrieval & Validation\n\n**Step 1:** Read post ideas from Google Sheets\n• Looks for rows in \"Post Ideas\" sheet\n• Reads columns A through F\n\n**Step 2:** Filter valid posts\n• Status ≠ \"Posted\"\n• Post Idea is not empty\n\n**Result:** Only unposted ideas move forward","height":300,"width":340,"color":3},"id":"80bb7edf-89ff-42d1-ab15-34041feac95b","name":"Data Retrieval & Validation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2016,1696]},{"parameters":{"content":"## 🤖 AI Content Generation\n\n**Uses:** OpenAI GPT-4o-mini\n\n**Process:**\n1. Takes your post idea\n2. Creates engaging caption\n3. Adds relevant hashtags\n4. Optimizes for target platform\n\n**Output:** Ready-to-post content with max 300 tokens\n\n**Credential needed:** OpenAI API key","height":300,"width":340,"color":6},"id":"e0c205fc-fc7e-4f85-8cc1-190c1a9eedd4","name":"AI Content Generation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2016,1696]},{"parameters":{"content":"## 🚀 Multi-Platform Posting\n\n**Simultaneous posting to:**\n\n📘 **LinkedIn** - Full caption, public visibility\n🐦 **Twitter** - Truncated to 280 chars\n📱 **Facebook** - Full caption to page feed\n\n**All posts run in parallel** for speed\n\n**Credentials needed:**\n• LinkedIn OAuth2\n• Twitter OAuth2\n• Facebook Graph API","height":320,"width":340,"color":2},"id":"43125bc0-d4dd-4c3a-ba8d-64e2a3b2afd7","name":"Multi-Platform Posting","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2016,1696]},{"parameters":{"content":"## ✔️ Error Handling & Validation\n\n**Success Check for Each Platform:**\n\n• LinkedIn: Validates post ID exists\n• Twitter: Validates post ID exists\n• Facebook: Validates post ID exists\n\n**Why:** Ensures posts actually published before marking as successful\n\n**Next:** Results merge for analytics","height":300,"width":340,"color":7},"id":"fcfe511a-1a0e-4f82-8ae0-ed4739275ce7","name":"Error Handling & Validation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2016,1696]},{"parameters":{"content":"## 📊 Analytics & Reporting\n\n**Step 1:** Merge all platform results\n\n**Step 2:** Prepare analytics data\n• Platform name\n• Post ID\n• Success status\n• Timestamp\n• Caption & original idea\n\n**Step 3:** Log to Google Sheets\n• Auto-appends to \"Analytics\" sheet\n• Creates permanent record","height":320,"width":340,"color":4},"id":"c6d4de93-ea40-442d-a01a-a6477480b4b9","name":"Analytics & Reporting","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2016,1696]},{"parameters":{"content":"## 📢 Team Notifications\n\n**Telegram Summary includes:**\n\n✅ Success/failure per platform\n📝 Post IDs for each platform\n⏰ Timestamp of each post\n📊 Total posts count\n\n**Sent to:** Team Telegram chat\n\n**Credential needed:** Telegram Bot API\n\n**Perfect for:** Quick status checks!","height":320,"width":340,"color":5},"id":"5fa88ef8-f92c-4ff0-8f4b-3234fb7e3d98","name":"Team Notifications","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2016,1696]}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Merge Triggers","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Merge Triggers","type":"main","index":1}]]},"Workflow Configuration":{"main":[[{"node":"Content Generation Agent","type":"main","index":0}]]},"Merge Triggers":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Perplexity Research Tool":{"ai_tool":[[{"node":"Content Generation Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Content Generation Agent","type":"ai_languageModel","index":0}]]},"Content Structure Parser":{"ai_outputParser":[[{"node":"Content Generation Agent","type":"ai_outputParser","index":0}]]},"Content Generation Agent":{"main":[[{"node":"Extract Content Fields","type":"main","index":0}]]},"Extract Content Fields":{"main":[[{"node":"Generate Image with Gemini","type":"main","index":0}]]},"Generate Image with Gemini":{"main":[[{"node":"Post to LinkedIn","type":"main","index":0},{"node":"Post to Twitter","type":"main","index":0},{"node":"Post to Instagram","type":"main","index":0}]]},"Post to LinkedIn":{"main":[[{"node":"Check Post Success","type":"main","index":0}]]},"Post to Twitter":{"main":[[{"node":"Check Post Success","type":"main","index":0}]]},"Post to Instagram":{"main":[[{"node":"Check Post Success","type":"main","index":0}]]},"Wait 24 Hours":{"main":[[{"node":"Fetch LinkedIn Metrics","type":"main","index":0},{"node":"Fetch Twitter Metrics","type":"main","index":0},{"node":"Fetch Instagram Metrics","type":"main","index":0}]]},"Fetch LinkedIn Metrics":{"main":[[{"node":"Merge Metrics","type":"main","index":0}]]},"Fetch Twitter Metrics":{"main":[[{"node":"Merge Metrics","type":"main","index":1}]]},"Merge Metrics":{"main":[[{"node":"Store Metrics in Sheet","type":"main","index":0}]]},"Check Post Success":{"main":[[{"node":"Wait 24 Hours","type":"main","index":0}]]},"Read Post Ideas from Google Sheets":{"main":[[{"node":"Check if Posts Available","type":"main","index":0}]]},"Check if Posts Available":{"main":[[{"node":"Generate AI Captions and Hashtags","type":"main","index":0}]]},"Generate AI Captions and Hashtags":{"main":[[{"node":"Format Post Data","type":"main","index":0}]]},"Format Post Data":{"main":[[{"node":"Post to LinkedIn1","type":"main","index":0},{"node":"Post to Twitter1","type":"main","index":0},{"node":"Post to Facebook & Instagram","type":"main","index":0}]]},"Post to Facebook & Instagram":{"main":[[{"node":"Check Facebook Success","type":"main","index":0}]]},"Check LinkedIn Success":{"main":[[{"node":"Merge All Platform Results","type":"main","index":0}]]},"Check Twitter Success":{"main":[[{"node":"Merge All Platform Results","type":"main","index":1}]]},"Check Facebook Success":{"main":[[{"node":"Merge All Platform Results","type":"main","index":2}]]},"Merge All Platform Results":{"main":[[{"node":"Prepare Analytics Data","type":"main","index":0}]]},"Prepare Analytics Data":{"main":[[{"node":"Log Analytics to Google Sheets","type":"main","index":0}]]},"Log Analytics to Google Sheets":{"main":[[{"node":"Format Telegram Summary","type":"main","index":0}]]},"Format Telegram Summary":{"main":[[{"node":"Send Team Alert via Telegram","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Workflow Configuration1","type":"main","index":0}]]},"Workflow Configuration1":{"main":[[{"node":"Read Post Ideas from Google Sheets","type":"main","index":0}]]},"Post to LinkedIn1":{"main":[[{"node":"Check LinkedIn Success","type":"main","index":0}]]},"Post to Twitter1":{"main":[[{"node":"Check Twitter Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"1410138c-c452-4dde-8c05-255a444857a3","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-12-28T04:08:41.550Z","createdAt":"2025-12-28T04:08:41.550Z","role":"workflow:owner","workflowId":"QCbHi8cYq3F4aLB3","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
