workflows/AI-Powered_Support_Ticket_Classification_and_Auto-Response_System.json
{"updatedAt":"2026-01-22T16:17:00.600Z","createdAt":"2025-12-28T04:09:10.653Z","id":"462KnQiy2wnY30Re","name":"AI-Powered Support Ticket Classification and Auto-Response System","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"b2382ae4-4155-4d01-b822-db02d59733b2","name":"Email Trigger","type":"n8n-nodes-base.emailReadImap","typeVersion":2.1,"position":[-2560,-32]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"supportEmail","value":"<__PLACEHOLDER_VALUE__Support email address for replies__>","type":"string"},{"id":"id-2","name":"slackChannel","value":"<__PLACEHOLDER_VALUE__Slack channel ID for alerts__>","type":"string"},{"id":"id-3","name":"companyName","value":"<__PLACEHOLDER_VALUE__Your company name__>","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"bd30bb38-7847-4ea2-87a7-8c1f875b718c","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2336,-32]},{"parameters":{"jsCode":"const timestamp = Date.now();\nconst randomStr = Math.random().toString(36).substring(2, 8).toUpperCase();\nconst ticketId = `TICKET-${timestamp}-${randomStr}`;\n\nreturn {\n  json: {\n    ...items[0].json,\n    ticketId,\n    createdAt: new Date().toISOString(),\n    status: 'open'\n  }\n};"},"id":"842e3138-e4a3-47ad-ac03-822c9c855d4b","name":"Generate Ticket ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2112,-32]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"support_tickets"},"columns":{"mappingMode":"defineBelow","value":{"ticket_id":"={{ $json.ticketId }}","customer_email":"={{ $json.from.value[0].address }}","subject":"={{ $json.subject }}","message_body":"={{ $json.textPlain || $json.html }}","status":"={{ $json.status }}","created_at":"={{ $json.createdAt }}"}},"options":{}},"id":"692dc657-286b-4161-9eb4-6ca3ecb993a3","name":"Create Ticket in Database","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1888,-32]},{"parameters":{"promptType":"define","text":"=Email Subject: {{ $json.subject }}\n\nEmail Body: {{ $json.textPlain || $json.html }}","hasOutputParser":true,"options":{"systemMessage":"You are a support ticket classification AI assistant.\n\nYour task is to analyze incoming support emails and classify them into the following categories:\n\n**Issue Categories:**\n- Billing: Payment issues, invoices, refunds, subscription problems\n- Technical: Software bugs, errors, performance issues, integration problems\n- General: Questions, feature requests, feedback, general inquiries\n\n**Priority Levels:**\n- High: Critical issues, service outages, urgent billing problems, angry customers\n- Medium: Important but not urgent, moderate impact issues\n- Low: General questions, minor issues, feature requests\n\nAnalyze the email content, tone, and urgency indicators. Return your classification in the structured format."}},"id":"4d4936d2-9f16-4d26-b6a7-92d99e955498","name":"AI Classification Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1664,-32]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"d83be4a9-b386-4ea7-bc2a-030e72cf3552","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1664,208]},{"parameters":{"jsonSchemaExample":"{\n\t\"category\": \"Billing\",\n\t\"priority\": \"High\",\n\t\"summary\": \"Brief summary of the issue\",\n\t\"sentiment\": \"positive/neutral/negative\"\n}"},"id":"fd1d90e8-4fdf-4000-b203-3accf07660f3","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1536,208]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"support_tickets"},"options":{}},"id":"30cab380-83f9-403b-bd98-662643f05e13","name":"Update Ticket with Classification","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1312,-32]},{"parameters":{"promptType":"define","text":"=Customer Email: {{ $json.customer_email }}\nTicket ID: {{ $json.ticketId }}\nCategory: {{ $json.category }}\nPriority: {{ $json.priority }}\nIssue Summary: {{ $json.summary }}\n\nOriginal Message:\n{{ $json.message_body }}","options":{"systemMessage":"=You are a professional customer support AI assistant for {{ $('Workflow Configuration').first().json.companyName }}.\n\nYour task is to generate a helpful, empathetic, and professional auto-reply email to customers who have submitted support tickets.\n\n**Guidelines:**\n1. Acknowledge their issue and thank them for contacting support\n2. Reference their ticket ID for tracking\n3. Provide relevant initial guidance based on the issue category\n4. Set appropriate expectations for response time based on priority\n5. Maintain a friendly, professional tone\n6. For Billing issues: Reassure them their payment/account concerns are being reviewed\n7. For Technical issues: Provide basic troubleshooting steps if applicable\n8. For General inquiries: Provide helpful information or direct them to resources\n\n**Response Time Expectations:**\n- High Priority: Within 2-4 hours\n- Medium Priority: Within 24 hours\n- Low Priority: Within 48 hours\n\nGenerate a complete email response (do not include subject line, only body text)."}},"id":"7c021cd9-1293-4ed5-a37d-3f00c2c397dc","name":"AI Auto-Reply Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1088,-32]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"ae84a252-cdb1-4acd-bf0d-cb531e0e1217","name":"OpenAI Chat Model for Reply","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1024,208]},{"parameters":{"fromEmail":"={{ $('Workflow Configuration').first().json.supportEmail }}","toEmail":"={{ $json.customer_email }}","subject":"=Re: {{ $json.subject }} [Ticket #{{ $json.ticketId }}]","html":"={{ $json.output }}","options":{}},"id":"7a88315f-3352-4234-a6dd-ddf4a9f36451","name":"Send Auto-Reply Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-736,-32],"webhookId":"f970698c-b5f6-4a32-acc4-0a999c7f3243"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.priority }}","rightValue":"High","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"79420885-4f91-4585-9eb7-8c4ee0e19233","name":"Check Priority","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-512,-32]},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.slackChannel }}"},"text":"=🚨 *High Priority Support Ticket Alert*\n\n*Ticket ID:* {{ $json.ticketId }}\n*Category:* {{ $json.category }}\n*Priority:* {{ $json.priority }}\n*Customer:* {{ $json.customer_email }}\n*Sentiment:* {{ $json.sentiment }}\n\n*Summary:*\n{{ $json.summary }}\n\n*Original Subject:*\n{{ $json.subject }}\n\n_Auto-reply has been sent to customer._","otherOptions":{}},"id":"8410c59e-9dd7-425d-95f8-a13b1bfd1a53","name":"Send Slack Alert","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-288,-96],"webhookId":"e15eb88f-2e96-4d21-96e2-19902e876d8a"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"name","value":"support_tickets"},"columns":{"mappingMode":"defineBelow","value":{"ticket_id":"={{ $json.ticketId }}","status":"awaiting_response","auto_reply_sent":true,"auto_reply_sent_at":"={{ new Date().toISOString() }}"},"matchingColumns":["ticket_id"],"schema":[{"id":"ticket_id","displayName":"ticket_id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"auto_reply_sent","displayName":"auto_reply_sent","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":false},{"id":"auto_reply_sent_at","displayName":"auto_reply_sent_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false}]},"options":{}},"id":"d3bb22a7-03c8-438c-acd9-04935f104901","name":"Update Ticket Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-64,-32]}],"connections":{"Email Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Generate Ticket ID","type":"main","index":0}]]},"Generate Ticket ID":{"main":[[{"node":"Create Ticket in Database","type":"main","index":0}]]},"Create Ticket in Database":{"main":[[{"node":"AI Classification Agent","type":"main","index":0}]]},"AI Classification Agent":{"main":[[{"node":"Update Ticket with Classification","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Classification Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Classification Agent","type":"ai_outputParser","index":0}]]},"Update Ticket with Classification":{"main":[[{"node":"AI Auto-Reply Agent","type":"main","index":0}]]},"AI Auto-Reply Agent":{"main":[[{"node":"Send Auto-Reply Email","type":"main","index":0}]]},"OpenAI Chat Model for Reply":{"ai_languageModel":[[{"node":"AI Auto-Reply Agent","type":"ai_languageModel","index":0}]]},"Send Auto-Reply Email":{"main":[[{"node":"Check Priority","type":"main","index":0}]]},"Check Priority":{"main":[[{"node":"Send Slack Alert","type":"main","index":0}],[{"node":"Update Ticket Status","type":"main","index":0}]]},"Send Slack Alert":{"main":[[{"node":"Update Ticket Status","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"a4ed0d4f-f8bd-4b7a-80ba-09622412f6fb","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-12-28T04:09:10.657Z","createdAt":"2025-12-28T04:09:10.657Z","role":"workflow:owner","workflowId":"462KnQiy2wnY30Re","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
