workflows/AI_Clone_-_Digital_Twin_Responder.json
{"updatedAt":"2026-01-07T19:32:18.573Z","createdAt":"2026-01-07T19:09:19.547Z","id":"QoJ2pqz7Dr9NizT1","name":"AI Clone - Digital Twin Responder","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ai-clone","responseMode":"responseNode","options":{}},"id":"62fafaa0-c9a3-4be3-a667-d8c8dc6d8dd4","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1968,48],"webhookId":"13f31a32-f64a-4eb7-91b4-ed5c0f2b121f"},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"message","value":"={{ $json.body.message }}","type":"string"},{"id":"id-2","name":"channel","value":"={{ $json.body.channel }}","type":"string"},{"id":"id-3","name":"sender_name","value":"={{ $json.body.sender_name }}","type":"string"},{"id":"id-4","name":"reply_format","value":"={{ $json.body.reply_format }}","type":"string"}]},"options":{}},"id":"4a726ba8-4c42-4b34-93b4-d763a3c338f8","name":"Clean and Structure Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1744,48]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.message }}","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"155dcbe9-a727-4968-b7ae-19dadd9d4fe3","name":"Check Reply Format Type","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1520,48]},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"gpt-4o"},"responses":{"values":[{"content":"={{ 'User: ' + $json.sender_name + ' asks: ' + $json.message }}"}]},"builtInTools":{},"options":{"instructions":"You are [NAME]. Respond exactly like them. Use their phrases, tone, humor. Never break character. Be helpful but authentic to their personality. Writing samples: [ADD YOUR WRITING SAMPLES HERE]. Common phrases: [ADD COMMON PHRASES]. Personality traits: [ADD PERSONALITY TRAITS]."}},"id":"8519e2cd-0b58-4b53-9dd8-0b686013aa59","name":"Clone Brain","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1296,48]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"ai_response","value":"={{ $json.message.content.replace(/\\n/g, ' ').trim() }}","type":"string"},{"id":"id-2","name":"original_message","value":"={{ $('Clean and Structure Input').item.json.message }}","type":"string"},{"id":"id-3","name":"sender_name","value":"={{ $('Clean and Structure Input').item.json.sender_name }}","type":"string"},{"id":"id-4","name":"channel","value":"={{ $('Clean and Structure Input').item.json.channel }}","type":"string"},{"id":"id-5","name":"reply_format","value":"={{ $('Clean and Structure Input').item.json.reply_format }}","type":"string"}]},"options":{}},"id":"1bdb0394-7033-4a90-8717-0425041d0e04","name":"Clean AI Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-944,48]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.reply_format }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.reply_format }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.reply_format }}","rightValue":"video","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Video"}]},"options":{}},"id":"1dea9fc2-08ce-4b3b-a571-83f78d58fa0c","name":"Route by Reply Format","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-720,32]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/{voice_id}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": {{ $json.ai_response }},\n  \"model_id\": \"eleven_multilingual_v2\"\n}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"94bce8f4-f86a-4aed-bd3e-0d3c79271535","name":"ElevenLabs Text-to-Speech","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-272,-96]},{"parameters":{"method":"POST","url":"https://api.heygen.com/v2/video/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"YOUR_AVATAR_ID\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"={{ $json.ai_response }}\"\n      }\n    }\n  ]\n}","options":{}},"id":"104a2fa0-459e-4079-aef3-25dbe524d0d3","name":"HeyGen Video Generation","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-496,192]},{"parameters":{"amount":60},"id":"b321e55d-c8c8-4d14-9aad-76a9b0dfe4a9","name":"Wait for Video Completion","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-272,192],"webhookId":"e0529b9d-242d-44d1-9602-9716397073b3"},{"parameters":{"numberInputs":3},"id":"4e6d21ad-3a25-4e91-80f6-effbfb027931","name":"Merge Format Outputs","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-48,32]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.channel }}","rightValue":"email","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Email"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.channel }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WhatsApp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.channel }}","rightValue":"dm","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.channel }}","rightValue":"comment","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comment"}]},"options":{}},"id":"5aa84dd5-8471-4763-b2ec-8009f63f9b10","name":"Route by Channel","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[176,16]},{"parameters":{"options":{}},"id":"1cb70bbe-0530-472c-bb3a-01a1433ce920","name":"Log Conversation","type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[400,48]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"success\",\n  \"response\": \"={{ $json.ai_response }}\",\n  \"format\": \"={{ $json.reply_format }}\",\n  \"channel\": \"={{ $json.channel }}\",\n  \"audio_url\": \"={{ $json.data ? 'Generated' : 'N/A' }}\",\n  \"video_url\": \"={{ $json.video_id ? 'Generated' : 'N/A' }}\"\n}","options":{}},"id":"704714c7-9148-47f3-860a-9abbbe1a5f37","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[624,48]},{"parameters":{"content":"📥 INPUT PROCESSING\n\n1. Webhook receives POST request with:\n   - message: User question/input\n   - channel: email/whatsapp/dm/comment\n   - sender_name: Who is asking\n   - reply_format: text/audio/video\n\n2. Clean and Structure extracts these fields\n\n3. Validation checks message is not empty","height":280,"width":420},"id":"f3288e81-9dca-42c9-8cc5-a2f407696c09","name":"📥 Input Processing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,-256]},{"parameters":{"content":"🧠 AI PROCESSING\n\nClone Brain (OpenAI GPT-4o):\n- Mimics your personality and writing style\n- Uses context from sender name\n- Responds in character\n\n⚠️ CUSTOMIZE THE PROMPT:\nAdd your writing samples, common phrases, and personality traits in the system instructions!","height":280,"width":420},"id":"e984898b-f167-4337-bf94-58cd7c095733","name":"🧠 AI Processing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2128,-304]},{"parameters":{"content":"🎨 FORMAT GENERATION\n\nRoutes to 3 output formats:\n\n📝 TEXT: Pass through directly\n\n🎙️ AUDIO: ElevenLabs TTS\n   - Requires: API key, voice_id\n   - Outputs: Audio file\n\n🎬 VIDEO: HeyGen Avatar\n   - Requires: API key, avatar_id\n   - Includes 60s wait for processing\n\nAll formats merge back together","height":340,"width":520},"id":"7ad6354a-75af-4c5c-88f4-f2f1e522f906","name":"🎨 Format Generation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-976,-336]},{"parameters":{"content":"📤 OUTPUT & LOGGING\n\n1. Route by Channel:\n   - Email\n   - WhatsApp\n   - DM (Direct Message)\n   - Comment\n\n2. Log to MongoDB:\n   - Stores conversation history\n   - Tracks all interactions\n\n3. Webhook Response:\n   - Returns AI response\n   - Includes format type\n   - Provides media URLs if generated","height":340,"width":420},"id":"76ad09f2-c577-4bcd-ac8a-ee6f48b100bf","name":"📤 Output & Logging","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2064,464]},{"parameters":{"content":"⚙️ CONFIGURATION CHECKLIST\n\n✅ REQUIRED SETUP:\n\n1. OpenAI API Key (Clone Brain node)\n   - Already configured\n\n2. ElevenLabs API:\n   - Add Header Auth credential\n   - Get voice_id from ElevenLabs dashboard\n   - Replace {voice_id} in URL\n\n3. HeyGen API:\n   - Add Header Auth credential\n   - Get avatar_id from HeyGen\n   - Update JSON body with your avatar_id\n\n4. MongoDB:\n   - Add MongoDB credentials\n   - Database: ai_clone\n   - Collection: conversations\n\n5. Customize AI Personality:\n   - Edit Clone Brain system instructions\n   - Add your writing samples\n   - Add common phrases\n   - Define personality traits\n\n📌 WEBHOOK URL:\nhttps://dhruvtomar.app.n8n.cloud/webhook/ai-clone\n\n📌 REQUEST FORMAT:\n{\n  \"message\": \"Your question here\",\n  \"channel\": \"email|whatsapp|dm|comment\",\n  \"sender_name\": \"John Doe\",\n  \"reply_format\": \"text|audio|video\"\n}","height":680,"width":480},"id":"7427262d-f73f-4b6e-806b-5133f04af864","name":"⚙️ Configuration Notes","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1456,320]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Clean and Structure Input","type":"main","index":0}]]},"Clean and Structure Input":{"main":[[{"node":"Check Reply Format Type","type":"main","index":0}]]},"Check Reply Format Type":{"main":[[{"node":"Clone Brain","type":"main","index":0}]]},"Clone Brain":{"main":[[{"node":"Clean AI Response","type":"main","index":0}]]},"Clean AI Response":{"main":[[{"node":"Route by Reply Format","type":"main","index":0}]]},"Route by Reply Format":{"main":[[{"node":"Merge Format Outputs","type":"main","index":0}],[{"node":"ElevenLabs Text-to-Speech","type":"main","index":0}],[{"node":"HeyGen Video Generation","type":"main","index":0}]]},"ElevenLabs Text-to-Speech":{"main":[[{"node":"Merge Format Outputs","type":"main","index":1}]]},"HeyGen Video Generation":{"main":[[{"node":"Wait for Video Completion","type":"main","index":0}]]},"Wait for Video Completion":{"main":[[{"node":"Merge Format Outputs","type":"main","index":2}]]},"Merge Format Outputs":{"main":[[{"node":"Route by Channel","type":"main","index":0}]]},"Route by Channel":{"main":[[{"node":"Log Conversation","type":"main","index":0}]]},"Log Conversation":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"ec055ae1-a1fc-4b1f-9d3e-3e9ab4228de4","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-01-07T19:09:19.553Z","createdAt":"2026-01-07T19:09:19.553Z","role":"workflow:owner","workflowId":"QoJ2pqz7Dr9NizT1","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
