workflows/AI_Daily_News_Notifier.json
{"updatedAt":"2026-01-24T16:11:12.860Z","createdAt":"2026-01-06T17:26:51.929Z","id":"IJeT6TdjCXyh7OhE","name":"AI Daily News Notifier","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## AI Daily News Notifier\n\nThis workflow automatically fetches the latest AI news and sends a beautifully formatted email digest every morning.\n\n**Features:**\n- Daily scheduled trigger at 9 AM\n- Fetches from TechCrunch AI RSS feed\n- Limits to top 5 articles\n- Styled HTML email format\n\n**Setup Required:**\n1. Configure Gmail OAuth credentials\n2. Update recipient email address","height":310,"width":320,"color":5},"name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-864,-256],"id":"53350fbb-f36b-4aa2-87cb-68b6e80422d8"},{"parameters":{"content":"### 1. Trigger\nRuns every day at 9:00 AM.\n\nModify the cron expression to change the schedule:\n- `0 9 * * *` = 9 AM daily\n- `0 9 * * 1-5` = 9 AM weekdays only","height":140,"width":200,"color":3},"name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,336],"id":"dbdf3bdf-501d-4c5a-8b32-beaba5866f4b"},{"parameters":{"content":"### 2. Fetch News\nReads AI news from TechCrunch RSS feed.\n\nYou can change the URL to any RSS feed.","height":100,"width":200,"color":4},"name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,384],"id":"61708085-197e-4b74-be8a-bfd24c4e7bef"},{"parameters":{"content":"### 3. Limit Articles\nKeeps only the top 5 most recent articles to keep emails concise.","height":100,"width":200,"color":6},"name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,320],"id":"8146aff0-5022-4a0c-9499-5e8ccab89f3e"},{"parameters":{"content":"### 4. Format Email\nCreates a styled HTML email with:\n- Header with date\n- Article cards with titles & links\n- Priority indicators","height":120,"width":200,"color":2},"name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[224,480],"id":"9ad335ec-8bd9-4e82-8db4-b429d16bf06c"},{"parameters":{"content":"### 5. Send Email\nSends the digest via Gmail.\n\n**Required:** Configure your Gmail OAuth2 credentials in n8n.","height":148,"width":360},"name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[512,288],"id":"2329ae2b-d773-479e-bbf9-b935671aeaac"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"name":"Daily 9 AM Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-480,64],"id":"7df74e8f-1d2d-47d8-a917-4cf7907dd641"},{"parameters":{"url":"https://techcrunch.com/category/artificial-intelligence/feed/","options":{}},"name":"Fetch AI News RSS1","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-256,64],"id":"269d29d2-5517-4c3a-aa9b-7eed5f350660"},{"parameters":{"jsCode":"const items = $input.all();\nconst today = new Date().toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nlet htmlContent = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f5f5f5; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 10px; text-align: center; margin-bottom: 20px; }\n    .header h1 { margin: 0; font-size: 24px; }\n    .header p { margin: 5px 0 0 0; opacity: 0.9; }\n    .article { background: white; padding: 20px; margin-bottom: 15px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .article h2 { margin: 0 0 10px 0; font-size: 18px; color: #333; }\n    .article h2 a { color: #667eea; text-decoration: none; }\n    .article h2 a:hover { text-decoration: underline; }\n    .article p { margin: 0; color: #666; font-size: 14px; line-height: 1.5; }\n    .article .date { font-size: 12px; color: #999; margin-top: 10px; }\n    .footer { text-align: center; color: #999; font-size: 12px; margin-top: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>AI Daily News</h1>\n    <p>${today}</p>\n  </div>\n`;\n\nitems.forEach((item, index) => {\n  const data = item.json;\n  const title = data.title || 'No Title';\n  const link = data.link || '#';\n  const description = (data.contentSnippet || data.content || 'No description available.').substring(0, 200) + '...';\n  const pubDate = data.pubDate ? new Date(data.pubDate).toLocaleDateString() : '';\n  \n  htmlContent += `\n  <div class=\"article\">\n    <h2><a href=\"${link}\">${index + 1}. ${title}</a></h2>\n    <p>${description}</p>\n    ${pubDate ? `<div class=\"date\">Published: ${pubDate}</div>` : ''}\n  </div>\n`;\n});\n\nhtmlContent += `\n  <div class=\"footer\">\n    <p>Powered by n8n Automation</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    htmlContent: htmlContent,\n    subject: `AI News Digest - ${today}`,\n    articleCount: items.length\n  }\n}];"},"name":"Format Email HTML1","type":"n8n-nodes-base.code","typeVersion":2,"position":[176,64],"id":"c8f45068-f7ba-40aa-8fac-51e20e187eec"},{"parameters":{"sendTo":"aiwithdhruv@gmail.com","subject":"={{ $json.subject }}","message":"={{ $json.htmlContent }}","options":{}},"name":"Send Email via Gmail1","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[400,64],"id":"217d7ff8-7122-4392-a828-66b6498e5bda","webhookId":"f9dbf134-4794-4f68-8c2e-292b99d5490b","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"maxItems":4},"name":"Limit to 4 Articles1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-32,64],"id":"7ca2cfe0-f555-49a8-a746-c1ec202e9764"}],"connections":{"Daily 9 AM Trigger1":{"main":[[{"node":"Fetch AI News RSS1","type":"main","index":0}]]},"Fetch AI News RSS1":{"main":[[{"node":"Limit to 4 Articles1","type":"main","index":0}]]},"Format Email HTML1":{"main":[[{"node":"Send Email via Gmail1","type":"main","index":0}]]},"Limit to 4 Articles1":{"main":[[{"node":"Format Email HTML1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"QV0m3reWguONvDAN"},"staticData":{"node:Daily 9 AM Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9d83ca6e-6f40-4974-b221-c99c4ac14007","activeVersionId":"55cb1e06-8567-4fce-8a1c-a34d45d90579","versionCounter":19,"triggerCount":1,"shared":[{"updatedAt":"2026-01-06T17:26:51.931Z","createdAt":"2026-01-06T17:26:51.931Z","role":"workflow:owner","workflowId":"IJeT6TdjCXyh7OhE","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-06T17:28:06.000Z","createdAt":"2026-01-06T17:27:44.715Z","versionId":"55cb1e06-8567-4fce-8a1c-a34d45d90579","workflowId":"IJeT6TdjCXyh7OhE","nodes":[{"parameters":{"content":"## AI Daily News Notifier\n\nThis workflow automatically fetches the latest AI news and sends a beautifully formatted email digest every morning.\n\n**Features:**\n- Daily scheduled trigger at 9 AM\n- Fetches from TechCrunch AI RSS feed\n- Limits to top 5 articles\n- Styled HTML email format\n\n**Setup Required:**\n1. Configure Gmail OAuth credentials\n2. Update recipient email address","height":310,"width":320,"color":5},"name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,-560],"id":"53350fbb-f36b-4aa2-87cb-68b6e80422d8"},{"parameters":{"content":"### 1. Trigger\nRuns every day at 9:00 AM.\n\nModify the cron expression to change the schedule:\n- `0 9 * * *` = 9 AM daily\n- `0 9 * * 1-5` = 9 AM weekdays only","height":140,"width":200,"color":3},"name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-656,336],"id":"dbdf3bdf-501d-4c5a-8b32-beaba5866f4b"},{"parameters":{"content":"### 2. Fetch News\nReads AI news from TechCrunch RSS feed.\n\nYou can change the URL to any RSS feed.","height":100,"width":200,"color":4},"name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,384],"id":"61708085-197e-4b74-be8a-bfd24c4e7bef"},{"parameters":{"content":"### 3. Limit Articles\nKeeps only the top 5 most recent articles to keep emails concise.","height":100,"width":200,"color":6},"name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,320],"id":"8146aff0-5022-4a0c-9499-5e8ccab89f3e"},{"parameters":{"content":"### 4. Format Email\nCreates a styled HTML email with:\n- Header with date\n- Article cards with titles & links\n- Priority indicators","height":120,"width":200,"color":2},"name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,496],"id":"9ad335ec-8bd9-4e82-8db4-b429d16bf06c"},{"parameters":{"content":"### 5. Send Email\nSends the digest via Gmail.\n\n**Required:** Configure your Gmail OAuth2 credentials in n8n.","height":148,"width":360},"name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1168,544],"id":"2329ae2b-d773-479e-bbf9-b935671aeaac"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"name":"Daily 9 AM Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-480,64],"id":"7df74e8f-1d2d-47d8-a917-4cf7907dd641"},{"parameters":{"url":"https://techcrunch.com/category/artificial-intelligence/feed/","options":{}},"name":"Fetch AI News RSS1","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-256,64],"id":"269d29d2-5517-4c3a-aa9b-7eed5f350660"},{"parameters":{"maxItems":5},"name":"Limit to 5 Articles1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-32,64],"id":"7ca2cfe0-f555-49a8-a746-c1ec202e9764"},{"parameters":{"jsCode":"const items = $input.all();\nconst today = new Date().toLocaleDateString('en-US', { \n  weekday: 'long', \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\nlet htmlContent = `\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f5f5f5; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 10px; text-align: center; margin-bottom: 20px; }\n    .header h1 { margin: 0; font-size: 24px; }\n    .header p { margin: 5px 0 0 0; opacity: 0.9; }\n    .article { background: white; padding: 20px; margin-bottom: 15px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .article h2 { margin: 0 0 10px 0; font-size: 18px; color: #333; }\n    .article h2 a { color: #667eea; text-decoration: none; }\n    .article h2 a:hover { text-decoration: underline; }\n    .article p { margin: 0; color: #666; font-size: 14px; line-height: 1.5; }\n    .article .date { font-size: 12px; color: #999; margin-top: 10px; }\n    .footer { text-align: center; color: #999; font-size: 12px; margin-top: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>AI Daily News</h1>\n    <p>${today}</p>\n  </div>\n`;\n\nitems.forEach((item, index) => {\n  const data = item.json;\n  const title = data.title || 'No Title';\n  const link = data.link || '#';\n  const description = (data.contentSnippet || data.content || 'No description available.').substring(0, 200) + '...';\n  const pubDate = data.pubDate ? new Date(data.pubDate).toLocaleDateString() : '';\n  \n  htmlContent += `\n  <div class=\"article\">\n    <h2><a href=\"${link}\">${index + 1}. ${title}</a></h2>\n    <p>${description}</p>\n    ${pubDate ? `<div class=\"date\">Published: ${pubDate}</div>` : ''}\n  </div>\n`;\n});\n\nhtmlContent += `\n  <div class=\"footer\">\n    <p>Powered by n8n Automation</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    htmlContent: htmlContent,\n    subject: `AI News Digest - ${today}`,\n    articleCount: items.length\n  }\n}];"},"name":"Format Email HTML1","type":"n8n-nodes-base.code","typeVersion":2,"position":[176,64],"id":"c8f45068-f7ba-40aa-8fac-51e20e187eec"},{"parameters":{"sendTo":"aiwithdhruv@gmail.com","subject":"={{ $json.subject }}","message":"={{ $json.htmlContent }}","options":{}},"name":"Send Email via Gmail1","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[400,64],"id":"217d7ff8-7122-4392-a828-66b6498e5bda","webhookId":"f9dbf134-4794-4f68-8c2e-292b99d5490b","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}}],"connections":{"Daily 9 AM Trigger1":{"main":[[{"node":"Fetch AI News RSS1","type":"main","index":0}]]},"Fetch AI News RSS1":{"main":[[{"node":"Limit to 5 Articles1","type":"main","index":0}]]},"Limit to 5 Articles1":{"main":[[{"node":"Format Email HTML1","type":"main","index":0}]]},"Format Email HTML1":{"main":[[{"node":"Send Email via Gmail1","type":"main","index":0}]]}},"authors":"Dhruv Tomar","name":"Version 55cb1e06","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-06T17:28:06.297Z","id":138,"workflowId":"IJeT6TdjCXyh7OhE","versionId":"55cb1e06-8567-4fce-8a1c-a34d45d90579","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"},{"createdAt":"2026-01-07T10:34:46.592Z","id":139,"workflowId":"IJeT6TdjCXyh7OhE","versionId":"55cb1e06-8567-4fce-8a1c-a34d45d90579","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"}]}}
