workflows/AI_Research_Agent_-_Topic_to_Actionable_Report.json
{"updatedAt":"2026-01-07T19:32:17.555Z","createdAt":"2026-01-07T19:31:51.440Z","id":"O7r1CUK6WP4jydEN","name":"AI Research Agent - Topic to Actionable Report","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"research-agent","responseMode":"responseNode","options":{}},"id":"47722cac-8a85-43c9-8669-2f7571e52215","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3776,176],"webhookId":"db5db814-e0bd-4449-a85e-adddc9b0970b"},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"topic","value":"={{ $json.body.topic }}","type":"string"},{"id":"id-2","name":"output_format","value":"={{ $json.body.output_format || 'summary' }}","type":"string"},{"id":"id-3","name":"user_email","value":"={{ $json.body.user_email }}","type":"string"},{"id":"id-4","name":"max_sources","value":"={{ $json.body.max_sources || 10 }}","type":"number"}]},"options":{}},"id":"3010bf1b-d500-4d77-9033-1153ad402e66","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3552,176]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"d0606632-60fd-472d-9f6a-de9e82cc1054","name":"OpenAI Chat Model - Planner","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-3328,400]},{"parameters":{"jsonSchemaExample":"{\n\t\"search_queries\": [\"query1\", \"query2\", \"query3\"],\n\t\"research_focus\": \"main focus area\",\n\t\"key_aspects\": [\"aspect1\", \"aspect2\"]\n}"},"id":"a6578983-ff2d-4462-8c96-d9d373086598","name":"Structured Output Parser - Planner","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-3200,400]},{"parameters":{"promptType":"define","text":"={{ 'Topic: ' + $json.topic }}","hasOutputParser":true,"options":{"systemMessage":"You are a research planning expert. Your task is to analyze research topics and generate diverse search queries that will help gather comprehensive information. You should identify the main research focus and key aspects to investigate."}},"id":"e1c94261-f029-4edd-913d-df432e1b465b","name":"Research Planner","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-3328,176]},{"parameters":{"jsCode":"const plannerOutput = items[0].json.output;\nconst queries = plannerOutput.search_queries || [];\n\nreturn queries.map(query => ({\n  json: {\n    query: query,\n    topic: items[0].json.topic,\n    research_focus: plannerOutput.research_focus,\n    max_sources: items[0].json.max_sources\n  }\n}));"},"id":"31152a74-c566-4d9a-ac65-e6e7672c0ce4","name":"Extract Search Queries","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2976,176]},{"parameters":{"fieldToSplitOut":"query","include":"selectedOtherFields","fieldsToInclude":"topic, research_focus, max_sources","options":{}},"id":"ef4af6b6-3728-4c69-b7a5-4d8d4492d67c","name":"Split Search Queries","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2752,176]},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"api_key\": \"YOUR_TAVILY_API_KEY\",\n  \"query\": \"={{ $json.query }}\",\n  \"max_results\": 5\n}","options":{}},"id":"5553c3a9-b889-4102-94d2-c9b9cb1069fe","name":"Tavily Web Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2528,48]},{"parameters":{"url":"https://newsapi.org/v2/everything","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $json.query }}"},{"name":"apiKey","value":"YOUR_NEWSAPI_KEY"},{"name":"pageSize","value":"5"},{"name":"sortBy","value":"relevancy"}]},"options":{}},"id":"070c1f2f-b924-45a4-8326-bec5f3ab0a2d","name":"NewsAPI Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2528,240]},{"parameters":{"url":"https://api.semanticscholar.org/graph/v1/paper/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.query }}"},{"name":"limit","value":"5"},{"name":"fields","value":"title,url,abstract,year"}]},"options":{}},"id":"a7793543-b737-4db7-8741-da873651ca90","name":"Semantic Scholar Search","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2528,432]},{"parameters":{"numberInputs":3},"id":"61e32f23-e495-4265-b102-719395fa18b2","name":"Merge Search Results","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2304,160]},{"parameters":{"jsCode":"const allResults = [];\nconst maxSources = items[0].json.max_sources || 10;\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Tavily results\n  if (data.results) {\n    data.results.forEach(r => allResults.push({ url: r.url, title: r.title, score: r.score || 0.5 }));\n  }\n  \n  // NewsAPI results\n  if (data.articles) {\n    data.articles.forEach(a => allResults.push({ url: a.url, title: a.title, score: 0.6 }));\n  }\n  \n  // Semantic Scholar results\n  if (data.data) {\n    data.data.forEach(p => allResults.push({ url: p.url, title: p.title, score: 0.7 }));\n  }\n}\n\n// Remove duplicates and sort by score\nconst uniqueUrls = new Map();\nallResults.forEach(r => {\n  if (!uniqueUrls.has(r.url) || uniqueUrls.get(r.url).score < r.score) {\n    uniqueUrls.set(r.url, r);\n  }\n});\n\nconst topUrls = Array.from(uniqueUrls.values())\n  .sort((a, b) => b.score - a.score)\n  .slice(0, maxSources)\n  .map(r => r.url);\n\nreturn [{ json: { urls: topUrls, topic: items[0].json.topic } }];"},"id":"fcb36a32-f4ce-4858-869b-6d602be6817f","name":"Extract Top URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2080,176]},{"parameters":{"fieldToSplitOut":"urls","include":"selectedOtherFields","fieldsToInclude":"topic","options":{}},"id":"947c0c7b-dff4-4aab-8216-61fb0d63b43b","name":"Split URLs","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1856,176]},{"parameters":{"url":"={{ 'https://r.jina.ai/' + $json.urls }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"id":"3646d639-6a08-4b1a-bc91-11c41f044ebf","name":"Jina Reader - Extract Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1632,176]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data","renameField":true,"outputFieldName":"extracted_content"}]},"options":{}},"id":"263d5e96-a4c4-4181-8040-cf8c717ebb99","name":"Aggregate Extracted Content","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1408,176]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"82fdfe6b-99a4-4993-b15e-732df0935d28","name":"OpenAI Chat Model - Analyst","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1184,400]},{"parameters":{"jsonSchemaExample":"{\n\t\"key_findings\": [\"finding1\", \"finding2\"],\n\t\"main_insights\": \"summary of insights\",\n\t\"data_points\": [{\"fact\": \"fact\", \"source\": \"source\"}],\n\t\"recommendations\": [\"rec1\", \"rec2\"]\n}"},"id":"8fa7cf3c-c7b4-4cc2-b7bf-d5964982d2bf","name":"Structured Output Parser - Analyst","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1056,400]},{"parameters":{"promptType":"define","text":"={{ 'Topic: ' + $json.topic + '\\n\\nExtracted Content:\\n' + $json.extracted_content }}","hasOutputParser":true,"options":{"systemMessage":"You are a research analyst. Your task is to analyze extracted content from multiple sources and provide key findings, main insights, important data points with sources, and actionable recommendations."}},"id":"1388f004-46d9-4ed9-965d-b16cf37d9a7c","name":"Research Analyst","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1184,176]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Workflow Configuration').item.json.output_format }}","rightValue":"summary","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Summary"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Workflow Configuration').item.json.output_format }}","rightValue":"report","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Report"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Workflow Configuration').item.json.output_format }}","rightValue":"presentation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Presentation"}]},"options":{}},"id":"be098300-a537-4973-9719-c6ad025c0d52","name":"Route by Output Format","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-832,160]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"output_type","value":"summary","type":"string"},{"id":"id-2","name":"content","value":"={{ $json.output }}","type":"string"},{"id":"id-3","name":"filename","value":"={{ $('Workflow Configuration').item.json.topic.replace(/\\s+/g, '_') + '_summary.txt' }}","type":"string"},{"id":"id-4","name":"topic","value":"={{ $('Workflow Configuration').item.json.topic }}","type":"string"}]},"options":{}},"id":"2602cfc6-f876-4aa6-ae02-bd323ba2ade7","name":"Format Summary","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,-80]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"6cc000de-7e47-4eca-91b1-5801a8f40857","name":"OpenAI Chat Model - Report Generator","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-544,288]},{"parameters":{"promptType":"define","text":"={{ 'Create a comprehensive research report based on this analysis:\\n\\n' + JSON.stringify($json.output) }}","options":{"systemMessage":"You are a professional report writer. Your task is to create comprehensive research reports with the following structure: Executive Summary, Introduction, Key Findings (detailed), Analysis & Insights, Data & Evidence, Recommendations, and Conclusion. Use markdown formatting for structure."}},"id":"533a32b4-586a-42d7-9dc2-e70ea8f74243","name":"Generate Full Report","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-608,64]},{"parameters":{"method":"POST","url":"https://api.html2pdf.app/v1/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"html\": \"={{ '<html><body>' + $json.output + '</body></html>' }}\", \"apiKey\": \"YOUR_HTML2PDF_API_KEY\"}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"e2da4292-3993-4729-b54b-d3652a4269eb","name":"Generate PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-256,176]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"4f7f31d5-0031-48a8-9261-9af0e768fd64","name":"OpenAI Chat Model - Presentation Generator","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-544,800]},{"parameters":{"promptType":"define","text":"={{ 'Create presentation content based on this analysis:\\n\\n' + JSON.stringify($json.output) }}","options":{"systemMessage":"You are a presentation designer. Your task is to create presentation content with 8-10 slides including: Title slide, Agenda, Key findings (2-3 slides), Data visualizations suggestions, Insights & Analysis, Recommendations, and Conclusion. For each slide provide: title, bullet points (max 5), and speaker notes."}},"id":"77aa24a9-5624-4cc2-9e2a-94281a3baeed","name":"Generate Presentation Content","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-608,576]},{"parameters":{"method":"POST","url":"https://api.slides.com/v1/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"content\": \"={{ $json.output }}\", \"apiKey\": \"YOUR_SLIDES_API_KEY\"}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"666e80f0-f2e6-4e9b-83bc-6ba0a0ace6c5","name":"Create Presentation","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-256,576]},{"parameters":{"numberInputs":3},"id":"21514fde-a440-42d7-8ba2-bdba857687c5","name":"Merge Output Branches","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-32,160]},{"parameters":{"name":"={{ $json.filename || 'research_output.txt' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"5cdfb636-7d7d-4a40-bc45-dcbae0ef387b","name":"Store in Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[192,176]},{"parameters":{"sendTo":"={{ $('Workflow Configuration').item.json.user_email }}","subject":"={{ 'Research Report Ready: ' + $('Workflow Configuration').item.json.topic }}","message":"={{ 'Your research report on \"' + $('Workflow Configuration').item.json.topic + '\" is ready!\\n\\nView it here: ' + $('Store in Google Drive').item.json.webViewLink + '\\n\\nBest regards,\\nAI Research Agent' }}","options":{}},"id":"cacfd8b2-0bd0-4d95-8202-1c90f1224aa9","name":"Send Email to User","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[416,176],"webhookId":"227f015e-0571-4668-9199-3d2a913c8edc"},{"parameters":{"options":{}},"id":"77c89ab9-3c37-4c52-b320-2be4ced4be3d","name":"Log Research Request","type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[640,176]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"success\",\n  \"message\": \"Research completed\",\n  \"file_url\": \"={{ $('Store in Google Drive').item.json.webViewLink }}\"\n}","options":{}},"id":"8a6d2b99-0135-43a8-bd25-f747d44863bc","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[864,176]},{"parameters":{"content":"## 📥 INPUT STAGE\n\nWebhook receives research request with:\n- Topic to research\n- Output format (summary/report/presentation)\n- User email\n- Max sources to analyze\n\nConfiguration node extracts and normalizes input parameters.","height":220,"width":380,"color":2},"id":"bc6e1e3b-cdc5-4345-8b17-ad6f703bb4f9","name":"Sticky Note - Input","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3888,-128]},{"parameters":{"content":"## 🧠 PLANNING STAGE\n\nAI Planner analyzes the topic and generates:\n- 3-5 diverse search queries\n- Research focus areas\n- Key aspects to investigate\n\nUses GPT-4 with structured output to ensure consistent query generation.","height":240,"width":420,"color":3},"id":"35fb5d3b-e4a7-46d5-91e6-18ff27a5a7d7","name":"Sticky Note - Planning","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3008,-304]},{"parameters":{"content":"## 🔍 SEARCH STAGE\n\nParallel search across multiple sources:\n- **Tavily**: General web search\n- **NewsAPI**: Recent news articles\n- **Semantic Scholar**: Academic papers\n\nResults are merged, deduplicated, and ranked by relevance score.","height":260,"width":480,"color":4},"id":"ed09a373-8de9-41aa-a72a-0b9097df8cbb","name":"Sticky Note - Search","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1984,-304]},{"parameters":{"content":"## 📄 EXTRACTION STAGE\n\nJina Reader extracts clean content from top URLs:\n- Removes ads and navigation\n- Extracts main text content\n- Preserves structure\n\nAll extracted content is aggregated for analysis.","height":220,"width":420,"color":5},"id":"cf83175f-cb8e-4b61-ad4a-e049bb2c6404","name":"Sticky Note - Extraction","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3808,624]},{"parameters":{"content":"## 🔬 ANALYSIS STAGE\n\nAI Analyst processes extracted content:\n- Identifies key findings\n- Extracts main insights\n- Collects data points with sources\n- Generates recommendations\n\nStructured output ensures consistent analysis format.","height":260,"width":440,"color":6},"id":"174123f7-a2c5-4748-b670-08d75f300bf8","name":"Sticky Note - Analysis","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2832,832]},{"parameters":{"content":"## 📤 OUTPUT STAGE\n\nRoutes to appropriate format:\n- **Summary**: Text format\n- **Report**: Full PDF via HTML2PDF\n- **Presentation**: Slides via API\n\nStores in Google Drive, emails user, logs request, and responds to webhook.","height":280,"width":720,"color":7},"id":"4ceaf9b8-4230-45bb-b11b-e1d408b2c539","name":"Sticky Note - Output","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1888,752]}],"connections":{"Webhook":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Research Planner","type":"main","index":0}]]},"OpenAI Chat Model - Planner":{"ai_languageModel":[[{"node":"Research Planner","type":"ai_languageModel","index":0}]]},"Structured Output Parser - Planner":{"ai_outputParser":[[{"node":"Research Planner","type":"ai_outputParser","index":0}]]},"Research Planner":{"main":[[{"node":"Extract Search Queries","type":"main","index":0}]]},"Extract Search Queries":{"main":[[{"node":"Split Search Queries","type":"main","index":0}]]},"Split Search Queries":{"main":[[{"node":"Tavily Web Search","type":"main","index":0},{"node":"NewsAPI Search","type":"main","index":0},{"node":"Semantic Scholar Search","type":"main","index":0}]]},"Tavily Web Search":{"main":[[{"node":"Merge Search Results","type":"main","index":0}]]},"NewsAPI Search":{"main":[[{"node":"Merge Search Results","type":"main","index":1}]]},"Semantic Scholar Search":{"main":[[{"node":"Merge Search Results","type":"main","index":2}]]},"Merge Search Results":{"main":[[{"node":"Extract Top URLs","type":"main","index":0}]]},"Extract Top URLs":{"main":[[{"node":"Split URLs","type":"main","index":0}]]},"Split URLs":{"main":[[{"node":"Jina Reader - Extract Content","type":"main","index":0}]]},"Jina Reader - Extract Content":{"main":[[{"node":"Aggregate Extracted Content","type":"main","index":0}]]},"Aggregate Extracted Content":{"main":[[{"node":"Research Analyst","type":"main","index":0}]]},"OpenAI Chat Model - Analyst":{"ai_languageModel":[[{"node":"Research Analyst","type":"ai_languageModel","index":0}]]},"Structured Output Parser - Analyst":{"ai_outputParser":[[{"node":"Research Analyst","type":"ai_outputParser","index":0}]]},"Research Analyst":{"main":[[{"node":"Route by Output Format","type":"main","index":0}]]},"Route by Output Format":{"main":[[{"node":"Format Summary","type":"main","index":0}],[{"node":"Generate Full Report","type":"main","index":0}],[{"node":"Generate Presentation Content","type":"main","index":0}]]},"Format Summary":{"main":[[{"node":"Merge Output Branches","type":"main","index":0}]]},"OpenAI Chat Model - Report Generator":{"ai_languageModel":[[{"node":"Generate Full Report","type":"ai_languageModel","index":0}]]},"Generate Full Report":{"main":[[{"node":"Generate PDF","type":"main","index":0}]]},"Generate PDF":{"main":[[{"node":"Merge Output Branches","type":"main","index":1}]]},"OpenAI Chat Model - Presentation Generator":{"ai_languageModel":[[{"node":"Generate Presentation Content","type":"ai_languageModel","index":0}]]},"Generate Presentation Content":{"main":[[{"node":"Create Presentation","type":"main","index":0}]]},"Create Presentation":{"main":[[{"node":"Merge Output Branches","type":"main","index":2}]]},"Merge Output Branches":{"main":[[{"node":"Store in Google Drive","type":"main","index":0}]]},"Store in Google Drive":{"main":[[{"node":"Send Email to User","type":"main","index":0}]]},"Send Email to User":{"main":[[{"node":"Log Research Request","type":"main","index":0}]]},"Log Research Request":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"d1f14075-bd33-4751-832a-06fbadff7de8","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-01-07T19:31:51.450Z","createdAt":"2026-01-07T19:31:51.450Z","role":"workflow:owner","workflowId":"O7r1CUK6WP4jydEN","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
