workflows/Basic_Resume_Generator.json
{"updatedAt":"2025-10-14T06:37:01.000Z","createdAt":"2025-10-14T06:37:01.474Z","id":"GwLtmlfH8daligMC","name":"Basic Resume Generator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"resume-generator","options":{}},"id":"3a5cac69-2e38-4496-ada8-5ee18eb9aa2a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"webhookId":"7c3ae481-45fc-40c5-b8a1-04c77e9f2517"},{"parameters":{"method":"POST","url":"https://api.euron.one/api/v1/euri/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer your-euri-api-token"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a professional resume using this information: \" + $json.user_info + \". Make it ATS-friendly with clear sections for Contact Info, Summary, Experience, Education, and Skills.\"\n    }\n  ],\n  \"model\": \"gpt-4.1-nano\",\n  \"max_tokens\": 1000,\n  \"temperature\": 0.7,\n  \"stream\": false\n} }}","options":{}},"id":"a5242fc6-11ea-4ed2-8037-9973f83bdb7e","name":"Generate Resume","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0]},{"parameters":{"respondWith":"json","responseBody":"","options":{}},"id":"70b584d2-628e-4e5b-9c96-4f9d2b3978ab","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[448,0]}],"connections":{"Webhook":{"main":[[{"node":"Generate Resume","type":"main","index":0}]]},"Generate Resume":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"dbba9f09-bd28-4814-9392-0891418279c0","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2025-10-14T06:37:01.478Z","createdAt":"2025-10-14T06:37:01.478Z","role":"workflow:owner","workflowId":"GwLtmlfH8daligMC","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
