workflows/Combine_Image.json
{"updatedAt":"2025-09-30T15:26:27.000Z","createdAt":"2025-09-30T15:26:27.502Z","id":"5o4yBwqXtX6bbMAl","name":"Combine Image","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,64],"id":"bbcd2976-1aac-4eb2-8269-fcca12fcb7e5","name":"Get URL"},{"parameters":{"workflowInputs":{"values":[{"name":"prompt"},{"name":"image1"},{"name":"image2"},{"name":"imageTitle"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[48,64],"id":"6b15c61d-ec80-43c4-b71f-944f094b4df4","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"6831d021-c2d0-42a4-b625-aabfed3d170b","name":"images","value":"=['{{ $json.image1 }}','{{ $json.image2 }}']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,64],"id":"2858efcd-8988-4959-9367-8b2261b7c992","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"images","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[368,64],"id":"4be57818-c231-474d-b0df-efd7e025613b","name":"Split Out"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.images }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[496,64],"id":"270c9ac8-1d0e-4134-a2e6-d5b4343697c9","name":"Download file"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[752,64],"id":"74be6822-946a-460e-bd01-8f3eb22d75ab","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana/edit","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ \n  $('When Executed by Another Workflow').item.json.prompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data[0].url }}\",\n    \"{{ $json.data[1].url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,64],"id":"529e67f2-fbde-424f-938d-0728d48cdd5a","name":"Create Image"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,64],"id":"81cf8399-aca3-441c-9ff0-982940b27745","name":"Get Result","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"c66c7c13-57ca-4191-9af3-5ab306dfedfc","name":"Response","value":"=The image was created and named \"{{ $json.name }}\". \n\nHere is the link to the image in Google Drive: {{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,64],"id":"bbd70416-fca8-4a22-a359-1de909a72c9c","name":"Result"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1392,64],"id":"49ab20cc-60eb-4199-990a-ed08589a335e","name":"Download Image"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1072,64],"id":"509515dd-8975-484b-a345-08a3bbd11454","name":"10 Seconds","webhookId":"caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"},{"parameters":{"content":"## Input","height":224,"width":320,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"7b381063-afde-4661-8de7-60b4a1c20353","name":"Sticky Note"},{"parameters":{"content":"## Download File URLs","height":224,"width":544,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[336,0],"id":"dd122f82-a1d7-4167-bb18-ea7216612c95","name":"Sticky Note1"},{"parameters":{"content":"## Create AI Image","height":224,"width":448,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[896,0],"id":"2e4461f6-d624-45ff-a808-bdcea8c8e3cf","name":"Sticky Note2"},{"parameters":{"content":"## Polling","height":224,"width":192,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1152,240],"id":"12f0267a-14a7-40d9-9804-e9b36a50973a","name":"Sticky Note3"},{"parameters":{"content":"## Output","height":224,"width":432,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1360,0],"id":"013ae1d1-b92c-4b6c-b315-76bf24e93a4b","name":"Sticky Note4"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1520,64],"id":"d4d11ae7-5321-43b4-b008-73d38b648955","name":"Upload file"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,304],"id":"597dff1c-2676-4c7b-8557-07d11ffc9908","name":"5 Seconds","webhookId":"5f6bbd1e-a155-48de-b737-a225c6fd7a84"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Get URL","type":"main","index":0}]]},"Get URL":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Create Image","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"Download Image","type":"main","index":0}],[{"node":"5 Seconds","type":"main","index":0}]]},"Create Image":{"main":[[{"node":"10 Seconds","type":"main","index":0}]]},"10 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Result","type":"main","index":0}]]},"5 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6f8f3855-08bc-4aed-a19f-7f23deecf336","activeVersionId":"6f8f3855-08bc-4aed-a19f-7f23deecf336","versionCounter":14,"triggerCount":0,"shared":[{"updatedAt":"2025-09-30T15:26:27.506Z","createdAt":"2025-09-30T15:26:27.506Z","role":"workflow:owner","workflowId":"5o4yBwqXtX6bbMAl","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-11-26T13:26:54.442Z","createdAt":"2025-11-26T13:26:54.442Z","versionId":"6f8f3855-08bc-4aed-a19f-7f23deecf336","workflowId":"5o4yBwqXtX6bbMAl","nodes":[{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,64],"id":"bbcd2976-1aac-4eb2-8269-fcca12fcb7e5","name":"Get URL"},{"parameters":{"workflowInputs":{"values":[{"name":"prompt"},{"name":"image1"},{"name":"image2"},{"name":"imageTitle"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[48,64],"id":"6b15c61d-ec80-43c4-b71f-944f094b4df4","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"6831d021-c2d0-42a4-b625-aabfed3d170b","name":"images","value":"=['{{ $json.image1 }}','{{ $json.image2 }}']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,64],"id":"2858efcd-8988-4959-9367-8b2261b7c992","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"images","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[368,64],"id":"4be57818-c231-474d-b0df-efd7e025613b","name":"Split Out"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.images }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[496,64],"id":"270c9ac8-1d0e-4134-a2e6-d5b4343697c9","name":"Download file"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[752,64],"id":"74be6822-946a-460e-bd01-8f3eb22d75ab","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana/edit","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ \n  $('When Executed by Another Workflow').item.json.prompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data[0].url }}\",\n    \"{{ $json.data[1].url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,64],"id":"529e67f2-fbde-424f-938d-0728d48cdd5a","name":"Create Image"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,64],"id":"81cf8399-aca3-441c-9ff0-982940b27745","name":"Get Result","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"c66c7c13-57ca-4191-9af3-5ab306dfedfc","name":"Response","value":"=The image was created and named \"{{ $json.name }}\". \n\nHere is the link to the image in Google Drive: {{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1664,64],"id":"bbd70416-fca8-4a22-a359-1de909a72c9c","name":"Result"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1392,64],"id":"49ab20cc-60eb-4199-990a-ed08589a335e","name":"Download Image"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1072,64],"id":"509515dd-8975-484b-a345-08a3bbd11454","name":"10 Seconds","webhookId":"caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"},{"parameters":{"content":"## Input","height":224,"width":320,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"7b381063-afde-4661-8de7-60b4a1c20353","name":"Sticky Note"},{"parameters":{"content":"## Download File URLs","height":224,"width":544,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[336,0],"id":"dd122f82-a1d7-4167-bb18-ea7216612c95","name":"Sticky Note1"},{"parameters":{"content":"## Create AI Image","height":224,"width":448,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[896,0],"id":"2e4461f6-d624-45ff-a808-bdcea8c8e3cf","name":"Sticky Note2"},{"parameters":{"content":"## Polling","height":224,"width":192,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1152,240],"id":"12f0267a-14a7-40d9-9804-e9b36a50973a","name":"Sticky Note3"},{"parameters":{"content":"## Output","height":224,"width":432,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1360,0],"id":"013ae1d1-b92c-4b6c-b315-76bf24e93a4b","name":"Sticky Note4"},{"parameters":{"name":"={{ $('When Executed by Another Workflow').item.json.imageTitle }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy","mode":"list","cachedResultName":"AI Image Generation","cachedResultUrl":"https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1520,64],"id":"d4d11ae7-5321-43b4-b008-73d38b648955","name":"Upload file"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,304],"id":"597dff1c-2676-4c7b-8557-07d11ffc9908","name":"5 Seconds","webhookId":"5f6bbd1e-a155-48de-b737-a225c6fd7a84"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Get URL","type":"main","index":0}]]},"Get URL":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Create Image","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"Download Image","type":"main","index":0}],[{"node":"5 Seconds","type":"main","index":0}]]},"Create Image":{"main":[[{"node":"10 Seconds","type":"main","index":0}]]},"10 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Result","type":"main","index":0}]]},"5 Seconds":{"main":[[{"node":"Get Result","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[]}}
