workflows/Contact_Agent.json
{"updatedAt":"2026-01-31T12:10:50.618Z","createdAt":"2025-12-20T14:14:09.675Z","id":"6NqoNner3xOi06da","name":"Contact_Agent","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"8c322fee-a923-4ab7-88ef-ad51b93811ff","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,192],"id":"0e0f0ca9-b56a-492a-9a68-301b01b1b793","name":"Try Again"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-736,80],"id":"1ad912d1-4c52-409d-989b-53560982e3fd","name":"When Executed by Another Workflow"},{"parameters":{"documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1152507708,"mode":"list","cachedResultName":"Contact","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=1152507708"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-432,368],"id":"b0db8159-b6ec-4947-b169-1ee688ee5b7d","name":"getContacts","credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1152507708,"mode":"list","cachedResultName":"Contact","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=1152507708"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}","Phone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}","Email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}","Remark":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Remark', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Remark","displayName":"Remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-288,368],"id":"864b969e-db09-478b-8c38-5edb6c37dfe0","name":"addContact","credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Role  \nYou are an assistant for contact management. Your tasks include retrieving contacts, adding new contacts, and updating contact information.  \n\n# Tools  \n\n## getContacts  \nUse this tool to retrieve contact information.  \n\n## addContact  \nUse this tool to save new contact information.  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-528,80],"id":"09d8248f-7cef-4917-8c9e-0ce1d505d911","name":"Contact Agent","onError":"continueErrorOutput"},{"parameters":{"model":"x-ai/grok-4.1-fast","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-592,368],"id":"7ea625af-2241-4c96-bdfc-91c79dd18046","name":"grok-4.1 fast","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Contact Agent","type":"main","index":0}]]},"getContacts":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"addContact":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Contact Agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"grok-4.1 fast":{"ai_languageModel":[[{"node":"Contact Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4ce0ce86-2d06-4633-92b3-a817dd72d5d4","activeVersionId":"25d23f72-43e1-463c-96b4-1fe9dd75b2f6","versionCounter":19,"triggerCount":0,"shared":[{"updatedAt":"2025-12-20T14:14:09.681Z","createdAt":"2025-12-20T14:14:09.681Z","role":"workflow:owner","workflowId":"6NqoNner3xOi06da","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-21T10:02:31.000Z","createdAt":"2025-12-21T10:01:56.321Z","versionId":"25d23f72-43e1-463c-96b4-1fe9dd75b2f6","workflowId":"6NqoNner3xOi06da","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"8c322fee-a923-4ab7-88ef-ad51b93811ff","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,192],"id":"0e0f0ca9-b56a-492a-9a68-301b01b1b793","name":"Try Again"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-736,80],"id":"1ad912d1-4c52-409d-989b-53560982e3fd","name":"When Executed by Another Workflow"},{"parameters":{"documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1152507708,"mode":"list","cachedResultName":"Contact","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=1152507708"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-432,368],"id":"b0db8159-b6ec-4947-b169-1ee688ee5b7d","name":"getContacts","credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1152507708,"mode":"list","cachedResultName":"Contact","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=1152507708"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}","Phone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}","Email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}","Remark":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Remark', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Remark","displayName":"Remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-288,368],"id":"864b969e-db09-478b-8c38-5edb6c37dfe0","name":"addContact","credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Role  \nYou are an assistant for contact management. Your tasks include retrieving contacts, adding new contacts, and updating contact information.  \n\n# Tools  \n\n## getContacts  \nUse this tool to retrieve contact information.  \n\n## addContact  \nUse this tool to save new contact information.  \n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-528,80],"id":"09d8248f-7cef-4917-8c9e-0ce1d505d911","name":"Contact Agent","onError":"continueErrorOutput"},{"parameters":{"model":"x-ai/grok-4.1-fast","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-592,368],"id":"7ea625af-2241-4c96-bdfc-91c79dd18046","name":"grok-4.1 fast","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Contact Agent","type":"main","index":0}]]},"getContacts":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"addContact":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Contact Agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"grok-4.1 fast":{"ai_languageModel":[[{"node":"Contact Agent","type":"ai_languageModel","index":0}]]}},"authors":"Dhruv Tomar","name":"Version 25d23f72","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-21T10:02:31.144Z","id":61,"workflowId":"6NqoNner3xOi06da","versionId":"25d23f72-43e1-463c-96b4-1fe9dd75b2f6","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"}]}}
