workflows/Custom_Thumbnail_Generator_with_Face_Integration_and_Multi-Platform_Distribution.json
{"updatedAt":"2026-01-07T19:49:08.525Z","createdAt":"2026-01-07T19:49:01.172Z","id":"DwHIUoayRwLsN0i6","name":"Custom Thumbnail Generator with Face Integration and Multi-Platform Distribution","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"d9b03ba9-5fc7-4bfb-9409-e0fef8b99661","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1344,96]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"faceImageUrl","value":"https://example.com/your-face.jpg","type":"string"},{"id":"id-2","name":"referenceImageUrl","value":"https://example.com/reference-image.jpg","type":"string"},{"id":"id-3","name":"thumbnailText","value":"YOUR TITLE HERE","type":"string"},{"id":"id-4","name":"thumbnailDescription","value":"A professional thumbnail combining face and reference image","type":"string"}]},"options":{}},"id":"f6089083-ef9e-4e3a-839e-5e15bdb763c3","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1120,96]},{"parameters":{"operation":"composite","dataPropertyNameComposite":"compositeImage","options":{}},"id":"89bbe080-66e4-4264-86e9-f19b46e9d94f","name":"Composite Face and Reference","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-896,96]},{"parameters":{"operation":"text","text":"={{ $('Workflow Configuration').item.json.thumbnailText }}","fontSize":72,"fontColor":"#FFFFFF","positionX":100,"positionY":100,"options":{}},"id":"cdf7ef6e-d429-4569-a41f-7bee0e0c357b","name":"Add Text Overlay","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-448,96]},{"parameters":{"operation":"resize","width":1280,"height":720,"options":{"format":"png"}},"id":"f84edc32-2a2a-4eab-9352-7766795b45e7","name":"Final Formatting","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-224,96]},{"parameters":{"name":"={{ 'Thumbnail_' + $now.format('yyyy-MM-dd_HHmmss') + '.png' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"root","cachedResultName":"/ (Root folder)"},"options":{"simplifyOutput":false}},"id":"912f19c6-8382-4448-a34d-a34869f37e31","name":"Upload to Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[0,0]},{"parameters":{"operation":"sendPhoto","chatId":"<__PLACEHOLDER_VALUE__YOUR_TELEGRAM_CHAT_ID__>","binaryData":true,"additionalFields":{"caption":"=Your custom thumbnail is ready! Generated on {{ $now.format('yyyy-MM-dd HH:mm:ss') }}","fileName":"=Thumbnail_{{ $now.format('yyyy-MM-dd_HHmmss') }}.png"}},"id":"d1ea0885-e2c2-47d9-b5a9-b3d1b06ef1fa","name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,192],"webhookId":"0b5fddf3-6e8f-47a9-bbb3-ff40b6656140"},{"parameters":{"resource":"video","modelId":{"__rl":true,"mode":"id","value":"veo-002"},"prompt":"={{ $('Workflow Configuration').item.json.thumbnailDescription }}","options":{"aspectRatio":"16:9"}},"id":"558e61ea-ae4e-4e6a-ab17-4596a38a7fa8","name":"Generate with Nano Banana Pro","type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[-672,96]},{"parameters":{"content":"## 📋 Configuration Section\n\nSet your input parameters:\n- Face image URL\n- Reference image URL\n- Thumbnail text\n- Description for AI generation","width":400},"id":"6bb70e34-6a49-4505-bcc3-f51adac7b0d4","name":"Configuration Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1488,304]},{"parameters":{"content":"## 🎨 Image Generation & Processing\n\nAI video generation → Image compositing → Text overlay → Final formatting","width":500,"color":4},"id":"f96c8c67-28e1-458b-ab34-4d2b92f48611","name":"Image Generation & Processing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-912,-176]},{"parameters":{"content":"## 📤 Distribution Channels\n\nUpload to:\n- Google Drive (cloud storage)\n- Telegram (instant sharing)","width":350,"color":4},"id":"bd1340bb-2301-42b2-8b0e-89c5ec093e52","name":"Distribution Channels","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1408,-224]},{"parameters":{"content":"## 🚀 Workflow Overview\n\n**Custom Thumbnail Generator**\n\nThis workflow creates professional thumbnails by:\n1. Combining face and reference images\n2. Generating AI video content\n3. Adding custom text overlays\n4. Distributing to multiple platforms","height":200,"width":450},"id":"1357781f-37f8-455e-9743-bd97ed7b6e43","name":"Workflow Overview","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-896,384]}],"connections":{"Manual Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Composite Face and Reference","type":"main","index":0}]]},"Composite Face and Reference":{"main":[[{"node":"Generate with Nano Banana Pro","type":"main","index":0}]]},"Add Text Overlay":{"main":[[{"node":"Final Formatting","type":"main","index":0}]]},"Final Formatting":{"main":[[{"node":"Upload to Google Drive","type":"main","index":0},{"node":"Send to Telegram","type":"main","index":0}]]},"Generate with Nano Banana Pro":{"main":[[{"node":"Add Text Overlay","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"38e91d5f-3b6f-4144-9251-3850363effc6","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-01-07T19:49:01.177Z","createdAt":"2026-01-07T19:49:01.177Z","role":"workflow:owner","workflowId":"DwHIUoayRwLsN0i6","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
