workflows/Customer_Support_Ticket_Analysis__Auto-Response.json
{"updatedAt":"2025-10-14T06:38:00.000Z","createdAt":"2025-10-14T06:38:00.427Z","id":"0q8vZQZEupUFg2TZ","name":"Customer Support Ticket Analysis & Auto-Response","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 * * * *"}]}},"id":"a2e60990-41b5-46a6-a8df-76ebbe68166b","name":"Monitor New Tickets","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-1536,112]},{"parameters":{"operation":"Get Many"},"id":"e5fda110-2b39-4a5f-9eea-2cf3d05c5785","name":"Fetch New Tickets","type":"n8n-nodes-base.freshdesk","typeVersion":1,"position":[-1328,112]},{"parameters":{"method":"POST","url":"https://api.euron.one/api/v1/euri/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_API_TOKEN_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"messages","value":[{"role":"user","content":"Analyze this customer support ticket and provide: 1) Priority level (Low/Medium/High/Critical), 2) Category (Technical/Billing/General/Bug), 3) Sentiment (Positive/Neutral/Negative/Angry), 4) Estimated resolution time, 5) Required department (Tech/Sales/Billing/Management). Ticket: '{{ $json.subject }} - {{ $json.description }}'"}]},{"name":"model","value":"gpt-4.1-nano"},{"name":"max_tokens","value":300},{"name":"temperature","value":0.3},{"name":"stream","value":false}]},"options":{}},"id":"34a5d357-d136-4006-9c5a-ba28f0b730ae","name":"Analyze Ticket Priority & Category","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1104,112]},{"parameters":{"jsCode":"// Process ticket analysis response\nconst response = $input.first().json; // AI API response\nconst ticketData = $node['Fetch New Tickets'].json; // Original ticket data\n\nlet analysis = '';\ntry {\n  if (response.choices && response.choices.length > 0) {\n    const choice = response.choices[0];\n    if (choice.message && choice.message.content) {\n      if (typeof choice.message.content === 'string') {\n        analysis = choice.message.content;\n      } else if (Array.isArray(choice.message.content)) {\n        analysis = choice.message.content\n          .filter(item => item && item.type === 'text')\n          .map(item => item.text || '')\n          .join('\\n');\n      }\n    }\n  }\n} catch (error) {\n  console.error('Error processing analysis:', error);\n  analysis = 'Unable to analyze ticket';\n}\n\n// Extract analysis components\nconst extractValue = (text, key) => {\n  const regex = new RegExp(`${key}[:\\s]*(\\w+)`, 'i');\n  const match = text.match(regex);\n  return match ? match[1] : 'Unknown';\n};\n\nconst priority = extractValue(analysis, 'Priority');\nconst category = extractValue(analysis, 'Category');\nconst sentiment = extractValue(analysis, 'Sentiment');\nconst department = extractValue(analysis, 'department');\n\nreturn {\n  ...ticketData,\n  analysis: analysis,\n  priority: priority,\n  category: category,\n  sentiment: sentiment,\n  department: department,\n  needsHumanReview: priority === 'Critical' || sentiment === 'Angry'\n};"},"id":"da23b742-82ac-4896-bb92-4ee525798d15","name":"Process Ticket Analysis","type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,112]},{"parameters":{"method":"POST","url":"https://api.euron.one/api/v1/euri/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_API_TOKEN_HERE"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"messages","value":[{"role":"user","content":"Generate a professional, helpful customer support response for this ticket. Be empathetic and provide clear next steps. Ticket details: Subject: '{{ $json.subject }}', Description: '{{ $json.description }}', Category: '{{ $json.category }}', Priority: '{{ $json.priority }}', Customer sentiment: '{{ $json.sentiment }}'. Keep the response under 200 words."}]},{"name":"model","value":"gpt-4.1-nano"},{"name":"max_tokens","value":400},{"name":"temperature","value":0.7},{"name":"stream","value":false}]},"options":{}},"id":"97ee9a26-46cd-4a41-934e-64d4f5012cee","name":"Generate Auto-Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-656,112]},{"parameters":{"jsCode":"// Process generated response\nconst response = $input.first().json; // AI API response\nconst ticketData = $node['Process Ticket Analysis'].json; // Combined ticket + analysis data\n\nlet autoResponse = '';\ntry {\n  if (response.choices && response.choices.length > 0) {\n    const choice = response.choices[0];\n    if (choice.message && choice.message.content) {\n      if (typeof choice.message.content === 'string') {\n        autoResponse = choice.message.content;\n      } else if (Array.isArray(choice.message.content)) {\n        autoResponse = choice.message.content\n          .filter(item => item && item.type === 'text')\n          .map(item => item.text || '')\n          .join('\\n');\n      }\n    }\n  }\n} catch (error) {\n  autoResponse = 'Thank you for contacting support. We have received your request and will respond shortly.';\n}\n\nreturn {\n  ...ticketData,\n  autoResponse: autoResponse,\n  processedAt: new Date().toISOString()\n};"},"id":"eee1821c-4346-4144-85f5-cf0850925c89","name":"Process Generated Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,112]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"high-priority","leftValue":"={{ $json.needsHumanReview }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"5e51dc22-346c-4dad-bfc1-8c8eda448847","name":"Needs Human Review?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,112]},{"parameters":{"operation":"update","ticketId":"={{ $json.id }}","updateFields":{"priority":"={{ $json.priority.toLowerCase() }}","status":"Pending","tags":"auto-responded,ai-processed"}},"id":"c93ff9a5-14f2-46ec-84b7-d8cfd7feb080","name":"Send Auto Response","type":"n8n-nodes-base.freshdesk","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"update","ticketId":"={{ $json.id }}","updateFields":{"priority":"High","status":"Open","tags":"escalated,high-priority,needs-human-attention"}},"id":"8900b402-4d4f-429e-a2ae-ba7ea75b9e87","name":"Escalate to Human","type":"n8n-nodes-base.freshdesk","typeVersion":1,"position":[0,208]},{"parameters":{"url":"https://hooks.slack.com/your-webhook-url","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"=🎫 *Support Ticket Processed*\\n\\n*Ticket ID:* {{ $json.id }}\\n*Subject:* {{ $json.subject }}\\n*Priority:* {{ $json.priority }}\\n*Category:* {{ $json.category }}\\n*Sentiment:* {{ $json.sentiment }}\\n*Department:* {{ $json.department }}\\n*Human Review:* {{ $json.needsHumanReview ? 'Yes' : 'No' }}\\n*Auto Response:* {{ $json.autoResponse ? 'Generated' : 'N/A' }}\\n*Processed:* {{ $json.processedAt }}"}]},"options":{}},"id":"6a5023fa-d12d-494e-9270-feb8f8d2b4f8","name":"Notify Support Team","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[224,112]}],"connections":{"Monitor New Tickets":{"main":[[{"node":"Fetch New Tickets","type":"main","index":0}]]},"Fetch New Tickets":{"main":[[{"node":"Analyze Ticket Priority & Category","type":"main","index":0}]]},"Analyze Ticket Priority & Category":{"main":[[{"node":"Process Ticket Analysis","type":"main","index":0}]]},"Process Ticket Analysis":{"main":[[{"node":"Generate Auto-Response","type":"main","index":0}]]},"Generate Auto-Response":{"main":[[{"node":"Process Generated Response","type":"main","index":0}]]},"Process Generated Response":{"main":[[{"node":"Needs Human Review?","type":"main","index":0}]]},"Needs Human Review?":{"main":[[{"node":"Send Auto Response","type":"main","index":0}],[{"node":"Escalate to Human","type":"main","index":0}]]},"Send Auto Response":{"main":[[{"node":"Notify Support Team","type":"main","index":0}]]},"Escalate to Human":{"main":[[{"node":"Notify Support Team","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9e5d6070-b569-4f06-95e2-02adcdbb95c8","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2025-10-14T06:38:00.436Z","createdAt":"2025-10-14T06:38:00.436Z","role":"workflow:owner","workflowId":"0q8vZQZEupUFg2TZ","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
