workflows/Daily_Aim__Stoic_Accountability_System_shaurya.json
{"updatedAt":"2026-01-07T19:32:30.476Z","createdAt":"2025-12-30T13:17:29.055Z","id":"QdA07BXast8cJS0j","name":"Daily Aim & Stoic Accountability System_shaurya","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Daily Aim & Stoic Accountability System\n\nThis workflow helps you stay accountable to your daily goal with stoic-inspired reminders.\n\n**How it works:**\n1. Every morning at 7 AM, you receive a Telegram message asking for your ONE main task\n2. Every 2 hours (8 AM - 10 PM), you get reminded with a stoic quote\n3. Reply ✅ when done, or ⏳ to continue working\n4. End-of-day reflection at 10:30 PM\n\n**Setup Required:**\n- Configure Telegram Bot credentials\n- Set your Telegram Chat ID in all Telegram nodes\n- Configure OpenAI credentials for quote generation","height":688},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,-224],"id":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d","name":"Sticky Note - Overview"},{"parameters":{"content":"## Morning Task Prompt\n\nTriggered daily at 7:00 AM IST.\nSends a Telegram message asking for today's main task.\n\n**Credential Setup:**\n- Add your Telegram Bot API credentials\n- Replace CHAT_ID with your Telegram chat ID","height":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-208,-288],"id":"2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e","name":"Sticky Note - Morning"},{"parameters":{"content":"## 2-Hour Reminder Loop\n\nRuns every 2 hours from 8 AM to 10 PM.\nChecks task status and sends reminder with stoic quote if pending.\n\n**Active Hours:** 8:00, 10:00, 12:00, 14:00, 16:00, 18:00, 20:00, 22:00","height":336},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,-96],"id":"3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f","name":"Sticky Note - Reminder Loop"},{"parameters":{"content":"## User Response Handler\n\nProcesses user replies from Telegram:\n- ✅ Completed → Marks task done, sends acknowledgment\n- ⏳ Still Working → Keeps status pending\n- New task input → Stores as daily task\n\n**Credential Setup:**\n- Configure Telegram Bot Trigger with your bot token","height":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,-160],"id":"4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a","name":"Sticky Note - Response Handler"},{"parameters":{"content":"## End of Day Check\n\nTriggered at 10:30 PM IST.\nIf task is still pending, sends a calm stoic reflection.\nResets the system for the next day.","height":176},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,-256],"id":"5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b","name":"Sticky Note - End of Day"},{"parameters":{"content":"## AI Quote Generation\n\nUses OpenAI to generate short, stoic motivational quotes.\nThemes: Discipline, Consistency, Time, Self-control, Duty.\n\n**Credential Setup:**\n- Add your OpenAI API credentials","height":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,512],"id":"6f7a8b9c-0d1e-2f3a-4b5c-6d7e8f9a0b1c","name":"Sticky Note - AI Quotes"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-176,304],"id":"7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d","name":"Morning Trigger - 7 AM"},{"parameters":{"chatId":"5261289645","text":"🌅 Good morning! Shaurya | What is your ONE main aim/task for today?Reply with your task to set your focus for the day.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[64,304],"id":"8b9c0d1e-2f3a-4b5c-6d7e-8f9a0b1c2d3e","name":"Send Morning Prompt","webhookId":"65e5b44d-0042-431e-aa1b-7c9fe0bd529d","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[432,304],"id":"9c0d1e2f-3a4b-5c6d-7e8f-9a0b1c2d3e4f","name":"Reminder Trigger - Every 2 Hours"},{"parameters":{"jsCode":"// Get stored task data from workflow static data\nconst staticData = $getWorkflowStaticData('global');\n\nconst today = new Date().toISOString().split('T')[0];\n\n// Check if we have a task for today\nif (staticData.taskDate !== today || !staticData.dailyTask) {\n  return [{ json: { hasTask: false, message: 'No task set for today' } }];\n}\n\nreturn [{\n  json: {\n    hasTask: true,\n    dailyTask: staticData.dailyTask,\n    taskStatus: staticData.taskStatus || 'pending',\n    taskDate: staticData.taskDate\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,304],"id":"0d1e2f3a-4b5c-6d7e-8f9a-0b1c2d3e4f5a","name":"Check Task Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition1","leftValue":"={{ $json.hasTask }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"condition2","leftValue":"={{ $json.taskStatus }}","rightValue":"pending","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,304],"id":"1e2f3a4b-5c6d-7e8f-9a0b-1c2d3e4f5a6b","name":"Is Task Pending?"},{"parameters":{"promptType":"define","text":"Generate a short, powerful stoic motivational quote about one of these themes: discipline, consistency, time management, self-control, or duty. The quote should be 1-2 sentences maximum, direct and action-oriented. Do not use emojis. Just output the quote, nothing else."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1104,208],"id":"2f3a4b5c-6d7e-8f9a-0b1c-2d3e4f5a6b7c","name":"Generate Stoic Quote"},{"parameters":{"jsCode":"const stoicQuote = $('Generate Stoic Quote').first().json.text;\nconst dailyTask = $('Check Task Status').first().json.dailyTask;\n\nreturn [{\n  json: {\n    dailyTask: dailyTask,\n    stoicQuote: stoicQuote\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,208],"id":"4b5c6d7e-8f9a-0b1c-2d3e-4f5a6b7c8d9e","name":"Prepare Reminder Message"},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"📋 Task Reminder\n\nHave you completed your task:\n\"{{ $json.dailyTask }}\"\n\nReply:\n✅ Completed\n⏳ Still Working\n\n─────────────────\n{{ $json.stoicQuote }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1632,208],"id":"5c6d7e8f-9a0b-1c2d-3e4f-5a6b7c8d9e0f","name":"Send Reminder","webhookId":"44c33f10-662c-4935-8a78-cd4ad9545507","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[1024,608],"id":"6d7e8f9a-0b1c-2d3e-4f5a-6b7c8d9e0f1a","name":"Telegram Trigger","webhookId":"ffa77614-f954-4df5-a9e6-a58ba2f42aad","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"jsCode":"const message = $json.message.text.toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\nlet responseType = 'unknown';\nlet responseMessage = '';\n\n// Check for completion responses\nif (message.includes('✅') || message.includes('completed') || message.includes('done') || message.includes('finished')) {\n  responseType = 'completed';\n  staticData.taskStatus = 'completed';\n  responseMessage = 'Task marked as completed!';\n}\n// Check for still working response\nelse if (message.includes('⏳') || message.includes('still working') || message.includes('working') || message.includes('not yet')) {\n  responseType = 'working';\n  responseMessage = 'Keep going! You\\'ve got this.';\n}\n// New task input (if it's a new day or no task exists)\nelse if (!staticData.taskDate || staticData.taskDate !== today || staticData.taskStatus === 'completed') {\n  responseType = 'new_task';\n  staticData.dailyTask = $json.message.text;\n  staticData.taskStatus = 'pending';\n  staticData.taskDate = today;\n  responseMessage = `Task set for today: \"${$json.message.text}\"`;\n}\n// Update existing task\nelse {\n  responseType = 'update_task';\n  staticData.dailyTask = $json.message.text;\n  staticData.taskStatus = 'pending';\n  responseMessage = `Task updated: \"${$json.message.text}\"`;\n}\n\nreturn [{\n  json: {\n    responseType: responseType,\n    responseMessage: responseMessage,\n    dailyTask: staticData.dailyTask,\n    taskStatus: staticData.taskStatus,\n    originalMessage: $json.message.text\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,624],"id":"7e8f9a0b-1c2d-3e4f-5a6b-7c8d9e0f1a2b","name":"Process User Response"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.responseType }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.responseType }}","rightValue":"working","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Working"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.responseType }}","rightValue":"new_task","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"New Task"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.responseType }}","rightValue":"update_task","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Update Task"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1504,608],"id":"8f9a0b1c-2d3e-4f5a-6b7c-8d9e0f1a2b3c","name":"Route Response"},{"parameters":{"chatId":"5261289645","text":"✅ Task Completed!\n\n\"{{ $json.dailyTask }}\"\n\nYou did what you set out to do. This is how discipline is built — one completed task at a time.\n\nRest well. Tomorrow brings new challenges.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1792,368],"id":"9a0b1c2d-3e4f-5a6b-7c8d-9e0f1a2b3c4d","name":"Send Completion Acknowledgment","webhookId":"beb956d2-a44c-4f4f-a309-a3f8db8fef21","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"5261289645","text":"⏳ Acknowledged.\n\nYour task: \"{{ $json.dailyTask }}\"\n\nStay focused. Progress is made through persistence, not perfection.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1792,544],"id":"0b1c2d3e-4f5a-6b7c-8d9e-0f1a2b3c4d5e","name":"Send Working Acknowledgment","webhookId":"280fa4d5-ac52-4033-9e22-9e9434a08d25","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"5261289645","text":"📝 Task Set!\n\nYour focus for today:\n\"{{ $json.dailyTask }}\"\n\nI'll check in with you every 2 hours. Reply ✅ when completed or ⏳ if still working.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1792,720],"id":"1c2d3e4f-5a6b-7c8d-9e0f-1a2b3c4d5e6f","name":"Confirm New Task","webhookId":"6ce35b9b-f1ac-4f7c-bc03-3722a31fb486","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"5261289645","text":"📝 Task Updated!\n\nYour new focus:\n\"{{ $json.dailyTask }}\"\n\nStay committed. One task, full attention.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1792,880],"id":"2d3e4f5a-6b7c-8d9e-0f1a-2b3c4d5e6f7a","name":"Confirm Task Update","webhookId":"48b6be62-4808-4107-9a89-b40a7ef7c21b","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":22,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1632,1104],"id":"3e4f5a6b-7c8d-9e0f-1a2b-3c4d5e6f7a8b","name":"End of Day Trigger - 10:30 PM"},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\nlet result = {\n  hasTask: false,\n  taskCompleted: false,\n  dailyTask: '',\n  taskStatus: ''\n};\n\nif (staticData.taskDate === today && staticData.dailyTask) {\n  result.hasTask = true;\n  result.dailyTask = staticData.dailyTask;\n  result.taskStatus = staticData.taskStatus;\n  result.taskCompleted = staticData.taskStatus === 'completed';\n}\n\n// Reset for next day\nstaticData.taskDate = null;\nstaticData.dailyTask = null;\nstaticData.taskStatus = null;\n\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,1104],"id":"4f5a6b7c-8d9e-0f1a-2b3c-4d5e6f7a8b9c","name":"Check End of Day Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eod1","leftValue":"={{ $json.hasTask }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"eod2","leftValue":"={{ $json.taskCompleted }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2112,1104],"id":"5a6b7c8d-9e0f-1a2b-3c4d-5e6f7a8b9c0d","name":"Task Incomplete?"},{"parameters":{"chatId":"5261289645","text":"🌙 End of Day\n\nYour task \"{{ $json.dailyTask }}\" remains incomplete.\n\nThis is not failure — it is information. Reflect on what prevented completion. Was the task too large? Did distractions win? Were priorities misaligned?\n\nTomorrow is a new opportunity. The obstacle is the way.\n\nRest now. Wake ready.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2352,976],"id":"6b7c8d9e-0f1a-2b3c-4d5e-6f7a8b9c0d1e","name":"Send End of Day Reflection","webhookId":"3a9396c7-50ce-4408-9c7b-c4be54851ba5","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"5261289645","text":"🌙 Day Complete\n\nYou accomplished your task today. Well done.\n\nConsistency compounds. Sleep well.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2352,1216],"id":"7c8d9e0f-1a2b-3c4d-5e6f-7a8b9c0d1e2f","name":"Send Day Complete Message","webhookId":"0b823f58-31eb-4149-9b1a-90503bff0abf","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[800,512],"id":"8d9e0f1a-2b3c-4d5e-6f7a-8b9c0d1e2f3a","name":"No Task or Already Done"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1168,448],"id":"f080272f-f69c-4bbc-b7c2-64c19361b334","name":"gemini-3-flash","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}}],"connections":{"Morning Trigger - 7 AM":{"main":[[{"node":"Send Morning Prompt","type":"main","index":0}]]},"Reminder Trigger - Every 2 Hours":{"main":[[{"node":"Check Task Status","type":"main","index":0}]]},"Check Task Status":{"main":[[{"node":"Is Task Pending?","type":"main","index":0}]]},"Is Task Pending?":{"main":[[{"node":"Generate Stoic Quote","type":"main","index":0}],[{"node":"No Task or Already Done","type":"main","index":0}]]},"Generate Stoic Quote":{"main":[[{"node":"Prepare Reminder Message","type":"main","index":0}]]},"Prepare Reminder Message":{"main":[[{"node":"Send Reminder","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Process User Response","type":"main","index":0}]]},"Process User Response":{"main":[[{"node":"Route Response","type":"main","index":0}]]},"Route Response":{"main":[[{"node":"Send Completion Acknowledgment","type":"main","index":0}],[{"node":"Send Working Acknowledgment","type":"main","index":0}],[{"node":"Confirm New Task","type":"main","index":0}],[{"node":"Confirm Task Update","type":"main","index":0}]]},"End of Day Trigger - 10:30 PM":{"main":[[{"node":"Check End of Day Status","type":"main","index":0}]]},"Check End of Day Status":{"main":[[{"node":"Task Incomplete?","type":"main","index":0}]]},"Task Incomplete?":{"main":[[{"node":"Send End of Day Reflection","type":"main","index":0}],[{"node":"Send Day Complete Message","type":"main","index":0}]]},"gemini-3-flash":{"ai_languageModel":[[{"node":"Generate Stoic Quote","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveDataErrorExecution":"all","errorWorkflow":"","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Morning Trigger - 7 AM":{"recurrenceRules":[]},"node:Reminder Trigger - Every 2 Hours":{"recurrenceRules":[]},"node:End of Day Trigger - 10:30 PM":{"recurrenceRules":[]},"global":{"dailyTask":null,"taskStatus":null,"taskDate":null}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"369d65fb-7fe5-47ed-bbf2-861d7e45fb3c","activeVersionId":"369d65fb-7fe5-47ed-bbf2-861d7e45fb3c","versionCounter":54,"triggerCount":4,"shared":[{"updatedAt":"2025-12-30T13:17:29.060Z","createdAt":"2025-12-30T13:17:29.060Z","role":"workflow:owner","workflowId":"QdA07BXast8cJS0j","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-30T13:32:22.000Z","createdAt":"2025-12-30T13:32:19.435Z","versionId":"369d65fb-7fe5-47ed-bbf2-861d7e45fb3c","workflowId":"QdA07BXast8cJS0j","nodes":[{"parameters":{"content":"## Daily Aim & Stoic Accountability System\n\nThis workflow helps you stay accountable to your daily goal with stoic-inspired reminders.\n\n**How it works:**\n1. Every morning at 7 AM, you receive a Telegram message asking for your ONE main task\n2. Every 2 hours (8 AM - 10 PM), you get reminded with a stoic quote\n3. Reply ✅ when done, or ⏳ to continue working\n4. End-of-day reflection at 10:30 PM\n\n**Setup Required:**\n- Configure Telegram Bot credentials\n- Set your Telegram Chat ID in all Telegram nodes\n- Configure OpenAI credentials for quote generation","height":688},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,-224],"id":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d","name":"Sticky Note - Overview"},{"parameters":{"content":"## Morning Task Prompt\n\nTriggered daily at 7:00 AM IST.\nSends a Telegram message asking for today's main task.\n\n**Credential Setup:**\n- Add your Telegram Bot API credentials\n- Replace CHAT_ID with your Telegram chat ID","height":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-208,-288],"id":"2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e","name":"Sticky Note - Morning"},{"parameters":{"content":"## 2-Hour Reminder Loop\n\nRuns every 2 hours from 8 AM to 10 PM.\nChecks task status and sends reminder with stoic quote if pending.\n\n**Active Hours:** 8:00, 10:00, 12:00, 14:00, 16:00, 18:00, 20:00, 22:00","height":336},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,-96],"id":"3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f","name":"Sticky Note - Reminder Loop"},{"parameters":{"content":"## User Response Handler\n\nProcesses user replies from Telegram:\n- ✅ Completed → Marks task done, sends acknowledgment\n- ⏳ Still Working → Keeps status pending\n- New task input → Stores as daily task\n\n**Credential Setup:**\n- Configure Telegram Bot Trigger with your bot token","height":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,-160],"id":"4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a","name":"Sticky Note - Response Handler"},{"parameters":{"content":"## End of Day Check\n\nTriggered at 10:30 PM IST.\nIf task is still pending, sends a calm stoic reflection.\nResets the system for the next day.","height":176},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1456,-256],"id":"5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b","name":"Sticky Note - End of Day"},{"parameters":{"content":"## AI Quote Generation\n\nUses OpenAI to generate short, stoic motivational quotes.\nThemes: Discipline, Consistency, Time, Self-control, Duty.\n\n**Credential Setup:**\n- Add your OpenAI API credentials","height":320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,512],"id":"6f7a8b9c-0d1e-2f3a-4b5c-6d7e8f9a0b1c","name":"Sticky Note - AI Quotes"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-176,304],"id":"7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d","name":"Morning Trigger - 7 AM"},{"parameters":{"chatId":"5261289645","text":"🌅 Good morning! Shaurya | What is your ONE main aim/task for today?Reply with your task to set your focus for the day.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[64,304],"id":"8b9c0d1e-2f3a-4b5c-6d7e-8f9a0b1c2d3e","name":"Send Morning Prompt","webhookId":"65e5b44d-0042-431e-aa1b-7c9fe0bd529d","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[432,304],"id":"9c0d1e2f-3a4b-5c6d-7e8f-9a0b1c2d3e4f","name":"Reminder Trigger - Every 2 Hours"},{"parameters":{"jsCode":"// Get stored task data from workflow static data\nconst staticData = $getWorkflowStaticData('global');\n\nconst today = new Date().toISOString().split('T')[0];\n\n// Check if we have a task for today\nif (staticData.taskDate !== today || !staticData.dailyTask) {\n  return [{ json: { hasTask: false, message: 'No task set for today' } }];\n}\n\nreturn [{\n  json: {\n    hasTask: true,\n    dailyTask: staticData.dailyTask,\n    taskStatus: staticData.taskStatus || 'pending',\n    taskDate: staticData.taskDate\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,304],"id":"0d1e2f3a-4b5c-6d7e-8f9a-0b1c2d3e4f5a","name":"Check Task Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"condition1","leftValue":"={{ $json.hasTask }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"condition2","leftValue":"={{ $json.taskStatus }}","rightValue":"pending","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,304],"id":"1e2f3a4b-5c6d-7e8f-9a0b-1c2d3e4f5a6b","name":"Is Task Pending?"},{"parameters":{"promptType":"define","text":"Generate a short, powerful stoic motivational quote about one of these themes: discipline, consistency, time management, self-control, or duty. The quote should be 1-2 sentences maximum, direct and action-oriented. Do not use emojis. Just output the quote, nothing else."},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1104,208],"id":"2f3a4b5c-6d7e-8f9a-0b1c-2d3e4f5a6b7c","name":"Generate Stoic Quote"},{"parameters":{"jsCode":"const stoicQuote = $('Generate Stoic Quote').first().json.text;\nconst dailyTask = $('Check Task Status').first().json.dailyTask;\n\nreturn [{\n  json: {\n    dailyTask: dailyTask,\n    stoicQuote: stoicQuote\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,208],"id":"4b5c6d7e-8f9a-0b1c-2d3e-4f5a6b7c8d9e","name":"Prepare Reminder Message"},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"📋 Task Reminder\n\nHave you completed your task:\n\"{{ $json.dailyTask }}\"\n\nReply:\n✅ Completed\n⏳ Still Working\n\n─────────────────\n{{ $json.stoicQuote }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1632,208],"id":"5c6d7e8f-9a0b-1c2d-3e4f-5a6b7c8d9e0f","name":"Send Reminder","webhookId":"44c33f10-662c-4935-8a78-cd4ad9545507","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[1024,608],"id":"6d7e8f9a-0b1c-2d3e-4f5a-6b7c8d9e0f1a","name":"Telegram Trigger","webhookId":"ffa77614-f954-4df5-a9e6-a58ba2f42aad","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"jsCode":"const message = $json.message.text.toLowerCase().trim();\nconst staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\nlet responseType = 'unknown';\nlet responseMessage = '';\n\n// Check for completion responses\nif (message.includes('✅') || message.includes('completed') || message.includes('done') || message.includes('finished')) {\n  responseType = 'completed';\n  staticData.taskStatus = 'completed';\n  responseMessage = 'Task marked as completed!';\n}\n// Check for still working response\nelse if (message.includes('⏳') || message.includes('still working') || message.includes('working') || message.includes('not yet')) {\n  responseType = 'working';\n  responseMessage = 'Keep going! You\\'ve got this.';\n}\n// New task input (if it's a new day or no task exists)\nelse if (!staticData.taskDate || staticData.taskDate !== today || staticData.taskStatus === 'completed') {\n  responseType = 'new_task';\n  staticData.dailyTask = $json.message.text;\n  staticData.taskStatus = 'pending';\n  staticData.taskDate = today;\n  responseMessage = `Task set for today: \"${$json.message.text}\"`;\n}\n// Update existing task\nelse {\n  responseType = 'update_task';\n  staticData.dailyTask = $json.message.text;\n  staticData.taskStatus = 'pending';\n  responseMessage = `Task updated: \"${$json.message.text}\"`;\n}\n\nreturn [{\n  json: {\n    responseType: responseType,\n    responseMessage: responseMessage,\n    dailyTask: staticData.dailyTask,\n    taskStatus: staticData.taskStatus,\n    originalMessage: $json.message.text\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,624],"id":"7e8f9a0b-1c2d-3e4f-5a6b-7c8d9e0f1a2b","name":"Process User Response"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.responseType }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.responseType }}","rightValue":"working","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Working"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.responseType }}","rightValue":"new_task","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"New Task"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.responseType }}","rightValue":"update_task","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"Update Task"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1504,608],"id":"8f9a0b1c-2d3e-4f5a-6b7c-8d9e0f1a2b3c","name":"Route Response"},{"parameters":{"chatId":"5261289645","text":"✅ Task Completed!\n\n\"{{ $json.dailyTask }}\"\n\nYou did what you set out to do. This is how discipline is built — one completed task at a time.\n\nRest well. Tomorrow brings new challenges.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1792,368],"id":"9a0b1c2d-3e4f-5a6b-7c8d-9e0f1a2b3c4d","name":"Send Completion Acknowledgment","webhookId":"beb956d2-a44c-4f4f-a309-a3f8db8fef21","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"5261289645","text":"⏳ Acknowledged.\n\nYour task: \"{{ $json.dailyTask }}\"\n\nStay focused. Progress is made through persistence, not perfection.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1792,544],"id":"0b1c2d3e-4f5a-6b7c-8d9e-0f1a2b3c4d5e","name":"Send Working Acknowledgment","webhookId":"280fa4d5-ac52-4033-9e22-9e9434a08d25","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"5261289645","text":"📝 Task Set!\n\nYour focus for today:\n\"{{ $json.dailyTask }}\"\n\nI'll check in with you every 2 hours. Reply ✅ when completed or ⏳ if still working.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1792,720],"id":"1c2d3e4f-5a6b-7c8d-9e0f-1a2b3c4d5e6f","name":"Confirm New Task","webhookId":"6ce35b9b-f1ac-4f7c-bc03-3722a31fb486","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"5261289645","text":"📝 Task Updated!\n\nYour new focus:\n\"{{ $json.dailyTask }}\"\n\nStay committed. One task, full attention.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1792,880],"id":"2d3e4f5a-6b7c-8d9e-0f1a-2b3c4d5e6f7a","name":"Confirm Task Update","webhookId":"48b6be62-4808-4107-9a89-b40a7ef7c21b","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":22,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1632,1104],"id":"3e4f5a6b-7c8d-9e0f-1a2b-3c4d5e6f7a8b","name":"End of Day Trigger - 10:30 PM"},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().split('T')[0];\n\nlet result = {\n  hasTask: false,\n  taskCompleted: false,\n  dailyTask: '',\n  taskStatus: ''\n};\n\nif (staticData.taskDate === today && staticData.dailyTask) {\n  result.hasTask = true;\n  result.dailyTask = staticData.dailyTask;\n  result.taskStatus = staticData.taskStatus;\n  result.taskCompleted = staticData.taskStatus === 'completed';\n}\n\n// Reset for next day\nstaticData.taskDate = null;\nstaticData.dailyTask = null;\nstaticData.taskStatus = null;\n\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,1104],"id":"4f5a6b7c-8d9e-0f1a-2b3c-4d5e6f7a8b9c","name":"Check End of Day Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eod1","leftValue":"={{ $json.hasTask }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"eod2","leftValue":"={{ $json.taskCompleted }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2112,1104],"id":"5a6b7c8d-9e0f-1a2b-3c4d-5e6f7a8b9c0d","name":"Task Incomplete?"},{"parameters":{"chatId":"5261289645","text":"🌙 End of Day\n\nYour task \"{{ $json.dailyTask }}\" remains incomplete.\n\nThis is not failure — it is information. Reflect on what prevented completion. Was the task too large? Did distractions win? Were priorities misaligned?\n\nTomorrow is a new opportunity. The obstacle is the way.\n\nRest now. Wake ready.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2352,976],"id":"6b7c8d9e-0f1a-2b3c-4d5e-6f7a8b9c0d1e","name":"Send End of Day Reflection","webhookId":"3a9396c7-50ce-4408-9c7b-c4be54851ba5","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"5261289645","text":"🌙 Day Complete\n\nYou accomplished your task today. Well done.\n\nConsistency compounds. Sleep well.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2352,1216],"id":"7c8d9e0f-1a2b-3c4d-5e6f-7a8b9c0d1e2f","name":"Send Day Complete Message","webhookId":"0b823f58-31eb-4149-9b1a-90503bff0abf","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[800,512],"id":"8d9e0f1a-2b3c-4d5e-6f7a-8b9c0d1e2f3a","name":"No Task or Already Done"},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1168,448],"id":"f080272f-f69c-4bbc-b7c2-64c19361b334","name":"gemini-3-flash","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}}],"connections":{"Morning Trigger - 7 AM":{"main":[[{"node":"Send Morning Prompt","type":"main","index":0}]]},"Reminder Trigger - Every 2 Hours":{"main":[[{"node":"Check Task Status","type":"main","index":0}]]},"Check Task Status":{"main":[[{"node":"Is Task Pending?","type":"main","index":0}]]},"Is Task Pending?":{"main":[[{"node":"Generate Stoic Quote","type":"main","index":0}],[{"node":"No Task or Already Done","type":"main","index":0}]]},"Generate Stoic Quote":{"main":[[{"node":"Prepare Reminder Message","type":"main","index":0}]]},"Prepare Reminder Message":{"main":[[{"node":"Send Reminder","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Process User Response","type":"main","index":0}]]},"Process User Response":{"main":[[{"node":"Route Response","type":"main","index":0}]]},"Route Response":{"main":[[{"node":"Send Completion Acknowledgment","type":"main","index":0}],[{"node":"Send Working Acknowledgment","type":"main","index":0}],[{"node":"Confirm New Task","type":"main","index":0}],[{"node":"Confirm Task Update","type":"main","index":0}]]},"End of Day Trigger - 10:30 PM":{"main":[[{"node":"Check End of Day Status","type":"main","index":0}]]},"Check End of Day Status":{"main":[[{"node":"Task Incomplete?","type":"main","index":0}]]},"Task Incomplete?":{"main":[[{"node":"Send End of Day Reflection","type":"main","index":0}],[{"node":"Send Day Complete Message","type":"main","index":0}]]},"gemini-3-flash":{"ai_languageModel":[[{"node":"Generate Stoic Quote","type":"ai_languageModel","index":0}]]}},"authors":"Dhruv Tomar","name":"Version 369d65fb","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-30T13:32:22.535Z","id":128,"workflowId":"QdA07BXast8cJS0j","versionId":"369d65fb-7fe5-47ed-bbf2-861d7e45fb3c","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"}]}}
