workflows/Daily_Briefing_Bot_-_Start_Every_Day_Informed.json
{"updatedAt":"2026-01-07T20:18:15.000Z","createdAt":"2026-01-07T20:18:15.921Z","id":"4wFmHUgBE0VYGLVc","name":"Daily Briefing Bot - Start Every Day Informed","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"30 6 * * *"}]}},"id":"f987bd17-b4b1-4b56-a6f6-b16f46d82539","name":"Cron: Daily 6:30 AM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-448,576]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"user_id","value":"<__PLACEHOLDER_VALUE__Your User ID__>","type":"string"},{"id":"id-2","name":"user_name","value":"<__PLACEHOLDER_VALUE__Your Name__>","type":"string"},{"id":"id-3","name":"timezone","value":"<__PLACEHOLDER_VALUE__Your Timezone (e.g., Asia/Kolkata)__>","type":"string"},{"id":"id-4","name":"delivery_channel","value":"<__PLACEHOLDER_VALUE__Delivery Channel (email/whatsapp/slack/telegram)__>","type":"string"},{"id":"id-5","name":"audio_briefing","value":false,"type":"boolean"},{"id":"id-6","name":"news_interests","value":"<__PLACEHOLDER_VALUE__News Interests (comma-separated, e.g., technology,business,india)__>","type":"string"},{"id":"id-7","name":"vip_senders","value":"<__PLACEHOLDER_VALUE__VIP Email Senders (comma-separated)__>","type":"string"},{"id":"id-8","name":"location","value":"<__PLACEHOLDER_VALUE__Your Location (e.g., Mumbai)__>","type":"string"},{"id":"id-9","name":"user_email","value":"<__PLACEHOLDER_VALUE__Your Email Address__>","type":"string"}]},"options":{}},"id":"c2a28a17-d6dd-4f12-84be-bcd44145dcac","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,576]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"primary"},"returnAll":true,"timeMin":"={{ $now.startOf('day').toISO() }}","timeMax":"={{ $now.endOf('day').toISO() }}","options":{}},"id":"42b72a30-f9c2-4c96-9886-ee004971627a","name":"Get Today's Calendar Events","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[0,0]},{"parameters":{"operation":"getAll","filters":{"q":"is:unread"}},"id":"051df6bf-d792-4550-8d42-130433cb69ef","name":"Get Unread & Important Emails","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[0,192],"webhookId":"699c3840-f9a2-4268-8557-a8ce3a47eb18"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"mode":"id","value":"YOUR_NOTION_DATABASE_ID"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"<__PLACEHOLDER_VALUE__Date Property Name__>","type":"date","condition":"equals","date":"={{ $now.toISO().split('T')[0] }}"}]},"options":{}},"id":"75072932-23c2-4ba6-9a95-ec8ed6f0f5c9","name":"Get Today's Tasks (Notion)","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[0,384]},{"parameters":{"url":"https://newsapi.org/v2/top-headlines","sendQuery":true,"queryParameters":{"parameters":[{"name":"country","value":"in"},{"name":"category","value":"={{ $('Workflow Configuration').item.json.news_interests.split(',')[0] }}"},{"name":"pageSize","value":"5"},{"name":"apiKey","value":"<__PLACEHOLDER_VALUE__Your NewsAPI Key__>"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"8085d287-f1a2-4a1b-a0a5-d3d2dff7b91c","name":"Fetch News Headlines","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[0,576]},{"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Workflow Configuration').item.json.location }}"},{"name":"units","value":"metric"},{"name":"appid","value":"<__PLACEHOLDER_VALUE__YOUR_OPENWEATHERMAP_API_KEY__>"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"a1084bbc-539f-45e2-88d9-5456c6a9ba22","name":"Fetch Weather Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[0,768]},{"parameters":{"url":"https://api.example.com/finance/summary","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"9c29a649-d5c1-472e-a15e-bf4200eb87f0","name":"Fetch Finance Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[0,960]},{"parameters":{"options":{}},"id":"d3d0c8e5-40dd-4474-849e-934ca75d55f8","name":"Fetch Habit Streaks","type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[0,1152]},{"parameters":{"numberInputs":7},"id":"446e253b-a82c-4f09-844f-bbc8eb104c46","name":"Merge All Data Sources","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[224,496]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"user_name","value":"={{ $('Workflow Configuration').item.json.user_name }}","type":"string"},{"id":"id-2","name":"calendar_events","value":"={{ JSON.stringify($('Get Today\\'s Calendar Events').all()) }}","type":"array"},{"id":"id-3","name":"emails","value":"={{ JSON.stringify($('Get Unread & Important Emails').all()) }}","type":"array"},{"id":"id-4","name":"tasks","value":"={{ JSON.stringify($('Get Today\\'s Tasks (Notion)').all()) }}","type":"array"},{"id":"id-5","name":"news","value":"={{ JSON.stringify($('Fetch News Headlines').item.json.articles) }}","type":"array"},{"id":"id-6","name":"weather","value":"={{ JSON.stringify($('Fetch Weather Data').item.json) }}","type":"object"},{"id":"id-7","name":"finance","value":"={{ JSON.stringify($('Fetch Finance Data').item.json) }}","type":"object"},{"id":"id-8","name":"habits","value":"={{ JSON.stringify($('Fetch Habit Streaks').all()) }}","type":"array"}]},"options":{}},"id":"0b239497-af8e-4693-a064-10af99c124de","name":"Compile Data Object","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,576]},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"gpt-4o"},"responses":{"values":[{"content":"=You are a personal briefing assistant. Create a concise, personalized morning briefing (max 300 words) based on the following data:\n\nUser: {{ $json.user_name }}\n\nCalendar Events: {{ JSON.stringify($json.calendar_events) }}\n\nEmails: {{ JSON.stringify($json.emails) }}\n\nTasks: {{ JSON.stringify($json.tasks) }}\n\nNews: {{ JSON.stringify($json.news) }}\n\nWeather: {{ JSON.stringify($json.weather) }}\n\nFinance: {{ JSON.stringify($json.finance) }}\n\nHabits: {{ JSON.stringify($json.habits) }}\n\nGenerate a JSON response with these fields:\n- greeting: Personalized morning greeting\n- weather_summary: Brief weather overview with emoji\n- calendar_summary: Key meetings and events\n- priority_alert: Most urgent item today\n- email_summary: Unread count and important emails\n- tasks_summary: Tasks due today and overdue\n- news_highlights: Array of 2-3 top headlines\n- motivation: Short motivational quote\n- focus_suggestion: Time management tip based on calendar\n\nKeep it scannable, actionable, and under 300 words total."}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{"type":"json_object"}}}},"id":"b65f3e98-3799-4a1c-b891-a74d1147f754","name":"Briefing Composer (OpenAI)","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[672,576]},{"parameters":{"jsCode":"const briefing = $input.all()[0].json;\n\nconst formatted = `${briefing.greeting}\n\n${briefing.weather_summary}\n\n📅 **Calendar**\n${briefing.calendar_summary}\n\n⚠️ **Priority Alert**\n${briefing.priority_alert}\n\n📧 **Emails**\n${briefing.email_summary}\n\n✅ **Tasks**\n${briefing.tasks_summary}\n\n📰 **News Highlights**\n${briefing.news_highlights.map((h, i) => `${i+1}. ${h}`).join('\\n')}\n\n💪 **Motivation**\n${briefing.motivation}\n\n🎯 **Focus Tip**\n${briefing.focus_suggestion}`;\n\nreturn [{ json: { formatted_briefing: formatted, raw_briefing: briefing } }];"},"id":"a777ee9a-aeaf-40bc-8149-a7c1e0b87157","name":"Format Briefing with Markdown & Emoji","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,576]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Workflow Configuration').item.json.delivery_channel }}","rightValue":"email","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Email"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Workflow Configuration').item.json.delivery_channel }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"WhatsApp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Workflow Configuration').item.json.delivery_channel }}","rightValue":"slack","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Slack"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Workflow Configuration').item.json.delivery_channel }}","rightValue":"telegram","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Telegram"}]},"options":{}},"id":"8e40e15f-af6b-44d8-8d51-c12bc702a7ef","name":"Route by Delivery Channel","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1248,544]},{"parameters":{"sendTo":"={{ $('Workflow Configuration').item.json.user_email }}","subject":"={{ '☀️ Your ' + new Date().toLocaleDateString('en-US', {weekday: 'long'}) + ' Briefing - ' + new Date().toLocaleDateString() }}","message":"={{ $json.formatted_briefing }}","options":{}},"id":"7077764f-411e-4705-a726-3bd15aa103ec","name":"Send Briefing Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1472,288],"webhookId":"e2590437-1c5b-4cb9-a93f-7c9b4f24c41b"},{"parameters":{"operation":"send","recipientPhoneNumber":"<__PLACEHOLDER_VALUE__Recipient Phone Number with Country Code__>","textBody":"={{ $json.formatted_briefing }}","additionalFields":{}},"id":"a9d9da39-ffbd-49cf-b204-e1233a7b1f8a","name":"Send WhatsApp Briefing","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[1472,480],"webhookId":"e0e6a9bc-e52d-43f4-9b50-c5bd001d40a7"},{"parameters":{"select":"user","user":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__YOUR_SLACK_USER_ID__>"},"text":"={{ $json.formatted_briefing }}","otherOptions":{}},"id":"4560dc23-cb5f-43b8-940d-c6e571f4edd1","name":"Send Slack DM Briefing","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[1472,672],"webhookId":"fcab63fa-77e2-4dd6-b034-dd3bb847b1b8"},{"parameters":{"chatId":"<__PLACEHOLDER_VALUE__YOUR_TELEGRAM_CHAT_ID__>","text":"={{ $json.formatted_briefing }}","additionalFields":{}},"id":"0fca4472-d76a-4778-af9a-2e2c3476b643","name":"Send Telegram Briefing","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1472,864],"webhookId":"777cc1f2-7061-48e5-b1e6-69990863fba5"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $('Workflow Configuration').item.json.audio_briefing }}","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"9f6e75d7-d23a-4c20-b95a-039e217b793a","name":"Check Audio Briefing Enabled?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1696,576]},{"parameters":{"method":"POST","url":"https://api.elevenlabs.io/v1/text-to-speech/<__PLACEHOLDER_VALUE__YOUR_VOICE_ID__>","sendHeaders":true,"headerParameters":{"parameters":[{"name":"xi-api-key","value":"<__PLACEHOLDER_VALUE__YOUR_ELEVENLABS_API_KEY__>"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": \"={{ $json.formatted_briefing }}\",\n  \"model_id\": \"eleven_monolingual_v1\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.5\n  }\n}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"da2861ab-e67c-449c-acdb-c577d6df9e3d","name":"Generate Audio (ElevenLabs)","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1920,512]},{"parameters":{"operation":"sendAudio","chatId":"<__PLACEHOLDER_VALUE__YOUR_TELEGRAM_CHAT_ID__>","binaryData":true,"additionalFields":{"caption":"Your Daily Briefing Audio"}},"id":"fc74126b-4367-4052-89e8-ce16a6e8f932","name":"Send Audio File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2144,512],"webhookId":"464477ec-9fa8-46f6-990c-98d5e1b2035a"},{"parameters":{"options":{}},"id":"9110228c-42a6-484b-8d31-c2c4eb8c7f58","name":"Log Briefing Delivery","type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[2368,576]},{"parameters":{"content":"Daily Briefing Bot - Aggregates calendar, email, tasks, news, weather, finance, and habits into a personalized morning briefing delivered via email, WhatsApp, Slack, or Telegram with optional audio","height":180,"width":400,"color":4},"id":"13c725ce-6de4-4b0a-9c6c-8548f4555825","name":"📋 Workflow Overview","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[848,1696]},{"parameters":{"content":"**⚙️ Configuration**\n\nCron trigger at 6:30 AM daily and user preferences (timezone, delivery channel, interests, location)","height":140,"width":320,"color":4},"id":"7d77bec0-156d-45bc-a668-8a4c340fe07b","name":"⚙️ Configuration","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[496,1168]},{"parameters":{"content":"Data Collection: Fetches calendar events, emails, Notion tasks, news headlines, weather, finance data, and habit streaks in parallel","height":800,"width":320,"color":3},"id":"4e06394f-00d5-4403-af2f-8a26b6c4dde4","name":"📊 Data Collection","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,1296]},{"parameters":{"content":"AI Processing: OpenAI GPT-4o compiles all data into a concise, personalized briefing with greeting, summaries, alerts, and motivation. Then formats with markdown and emojis.","height":240,"width":380,"color":5},"id":"5e88fb74-bd52-4146-8559-cc6fd7efd8f4","name":"🤖 AI Processing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1152,1328]},{"parameters":{"content":"Delivery Channels: Routes briefing based on user preference - Email (Gmail), WhatsApp, Slack DM, or Telegram","height":680,"width":320,"color":3},"id":"f8f28644-07a4-4a31-bb6c-d26b691f30bb","name":"📤 Delivery Channels","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,1424]},{"parameters":{"content":"Audio Enhancement: If enabled, generates audio briefing using ElevenLabs TTS and sends via Telegram","height":240,"width":340,"color":2},"id":"5b7a4918-8c41-498c-ad15-d2386bd30b4c","name":"🎙️ Audio Enhancement","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,1280]},{"parameters":{"content":"Logging: Records briefing delivery to MongoDB for tracking and analytics","height":120,"width":280,"color":4},"id":"6628a36f-5baf-470a-ad5c-500dde5ca07f","name":"📝 Logging","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[784,1296]}],"connections":{"Cron: Daily 6:30 AM":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Get Today's Calendar Events","type":"main","index":0},{"node":"Get Unread & Important Emails","type":"main","index":0},{"node":"Get Today's Tasks (Notion)","type":"main","index":0},{"node":"Fetch News Headlines","type":"main","index":0},{"node":"Fetch Weather Data","type":"main","index":0},{"node":"Fetch Finance Data","type":"main","index":0},{"node":"Fetch Habit Streaks","type":"main","index":0}]]},"Get Today's Calendar Events":{"main":[[{"node":"Merge All Data Sources","type":"main","index":0}]]},"Get Unread & Important Emails":{"main":[[{"node":"Merge All Data Sources","type":"main","index":1}]]},"Get Today's Tasks (Notion)":{"main":[[{"node":"Merge All Data Sources","type":"main","index":2}]]},"Fetch News Headlines":{"main":[[{"node":"Merge All Data Sources","type":"main","index":3}]]},"Fetch Weather Data":{"main":[[{"node":"Merge All Data Sources","type":"main","index":4}]]},"Fetch Finance Data":{"main":[[{"node":"Merge All Data Sources","type":"main","index":5}]]},"Fetch Habit Streaks":{"main":[[{"node":"Merge All Data Sources","type":"main","index":6}]]},"Merge All Data Sources":{"main":[[{"node":"Compile Data Object","type":"main","index":0}]]},"Compile Data Object":{"main":[[{"node":"Briefing Composer (OpenAI)","type":"main","index":0}]]},"Briefing Composer (OpenAI)":{"main":[[{"node":"Format Briefing with Markdown & Emoji","type":"main","index":0}]]},"Format Briefing with Markdown & Emoji":{"main":[[{"node":"Route by Delivery Channel","type":"main","index":0}]]},"Route by Delivery Channel":{"main":[[{"node":"Send Briefing Email","type":"main","index":0}],[{"node":"Send WhatsApp Briefing","type":"main","index":0}],[{"node":"Send Slack DM Briefing","type":"main","index":0}],[{"node":"Send Telegram Briefing","type":"main","index":0}]]},"Send Briefing Email":{"main":[[{"node":"Check Audio Briefing Enabled?","type":"main","index":0}]]},"Send WhatsApp Briefing":{"main":[[{"node":"Check Audio Briefing Enabled?","type":"main","index":0}]]},"Send Slack DM Briefing":{"main":[[{"node":"Check Audio Briefing Enabled?","type":"main","index":0}]]},"Send Telegram Briefing":{"main":[[{"node":"Check Audio Briefing Enabled?","type":"main","index":0}]]},"Check Audio Briefing Enabled?":{"main":[[{"node":"Generate Audio (ElevenLabs)","type":"main","index":0}],[{"node":"Log Briefing Delivery","type":"main","index":0}]]},"Generate Audio (ElevenLabs)":{"main":[[{"node":"Send Audio File","type":"main","index":0}]]},"Send Audio File":{"main":[[{"node":"Log Briefing Delivery","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"0f287a68-f293-447c-98e1-f8e4e9cd1210","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-07T20:18:15.927Z","createdAt":"2026-01-07T20:18:15.927Z","role":"workflow:owner","workflowId":"4wFmHUgBE0VYGLVc","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
