workflows/Daily_Task_Reminder_System.json
{"updatedAt":"2026-01-06T17:26:05.375Z","createdAt":"2026-01-06T17:26:05.375Z","id":"5AH7VvpmFbeuq11o","name":"Daily Task Reminder System","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * *"}]}},"name":"Schedule Trigger - 8 AM Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-256,-160],"id":"59677902-ce07-4b86-8252-99833cf69817"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"list","cachedResultName":"Task List"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"list","cachedResultName":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"Task":"={{ $json.task }}","Status":"={{ $json.status }}","Priority":"={{ $json.priority }}","Due Date":"={{ $json.dueDate }}","Created Date":"={{ $json.createdDate }}"}},"options":{}},"name":"Add Task to Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[192,48],"id":"a6397588-6075-4ef5-b9da-306183255193","credentials":{"googleSheetsOAuth2Api":{"id":"SdL7tmc5CSF99khk","name":"Dhruv7008@"}}},{"parameters":{"documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"list","cachedResultName":"Task List"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"list","cachedResultName":"Sheet1"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"pending"}]},"options":{}},"name":"Get Today's Pending Tasks","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-32,-160],"id":"cfe411ad-382f-466f-808e-f9ee8fa2e0c7","credentials":{"googleSheetsOAuth2Api":{"id":"SdL7tmc5CSF99khk","name":"Dhruv7008@"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.length }}","operation":"larger","value2":0}]},"options":{}},"name":"Check if Tasks Exist","type":"n8n-nodes-base.if","typeVersion":2,"position":[192,-160],"id":"6365be6b-2791-4e4d-b744-681261eab949"},{"parameters":{"jsCode":"const tasks = $input.all();\n\nlet message = '📋 *Your Tasks for Today* 📋\\n\\n';\n\nif (tasks.length === 0) {\n  message = '✅ No pending tasks for today! Enjoy your day! 🎉';\n} else {\n  tasks.forEach((task, index) => {\n    const taskData = task.json;\n    const priority = taskData.Priority || 'Normal';\n    const priorityEmoji = priority === 'High' ? '🔴' : priority === 'Medium' ? '🟡' : '🟢';\n    \n    message += `${index + 1}. ${priorityEmoji} *${taskData.Task}*\\n`;\n    \n    if (taskData['Due Date']) {\n      message += `   📅 Due: ${taskData['Due Date']}\\n`;\n    }\n    \n    message += '\\n';\n  });\n  \n  message += '\\n💪 Have a productive day!';\n}\n\nreturn [{ json: { message: message, taskCount: tasks.length } }];"},"name":"Format Task Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-160],"id":"532380e9-203f-41d7-bc3d-add0991c6704"},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"={{ $json.message }}","additionalFields":{"parse_mode":"Markdown"}},"name":"Send Telegram Reminder","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[624,-160],"id":"5ff4696e-0180-47ac-b84a-7bfc2fd4babe","webhookId":"7c2cd897-5cd8-4d21-96ec-bca93995b235"},{"parameters":{"httpMethod":"POST","path":"add-task","options":{}},"name":"Webhook - Add New Task","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-256,48],"webhookId":"add-task-webhook","id":"3f9b3e26-cc7a-4964-8d89-0f5d3ad62d49"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nreturn [{\n  json: {\n    task: body.task || 'Untitled Task',\n    status: body.status || 'pending',\n    priority: body.priority || 'Normal',\n    dueDate: body.dueDate || new Date().toISOString().split('T')[0],\n    createdDate: new Date().toISOString().split('T')[0]\n  }\n}];"},"name":"Process New Task Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,48],"id":"79853396-7b1f-436d-9b7e-45b1aa3ccd9c"},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Task added successfully!\", \"task\": $json.task } }}","options":{}},"name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[416,48],"id":"0c86ecd6-c014-4949-8dde-cec7bddcac8f"},{"parameters":{"httpMethod":"POST","path":"complete-task","options":{}},"name":"Webhook - Complete Task","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-256,240],"webhookId":"complete-task-webhook","id":"c1759328-c8da-4e3e-83ea-b2080b16761d"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"list","cachedResultName":"Task List"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"list","cachedResultName":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"Status":"completed"}},"options":{}},"name":"Mark Task Complete in Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-32,240],"id":"73a1231a-68c6-4aeb-967f-b111c832bac8","credentials":{"googleSheetsOAuth2Api":{"id":"SdL7tmc5CSF99khk","name":"Dhruv7008@"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Task marked as completed!\" } }}","options":{}},"name":"Respond Task Completed","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[192,240],"id":"2e0c1d1c-ed06-47fa-b614-9bd066571d14"}],"connections":{"Schedule Trigger - 8 AM Daily":{"main":[[{"node":"Get Today's Pending Tasks","type":"main","index":0}]]},"Get Today's Pending Tasks":{"main":[[{"node":"Check if Tasks Exist","type":"main","index":0}]]},"Check if Tasks Exist":{"main":[[{"node":"Format Task Message","type":"main","index":0}]]},"Format Task Message":{"main":[[{"node":"Send Telegram Reminder","type":"main","index":0}]]},"Webhook - Add New Task":{"main":[[{"node":"Process New Task Input","type":"main","index":0}]]},"Process New Task Input":{"main":[[{"node":"Add Task to Google Sheets","type":"main","index":0}]]},"Add Task to Google Sheets":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook - Complete Task":{"main":[[{"node":"Mark Task Complete in Sheets","type":"main","index":0}]]},"Mark Task Complete in Sheets":{"main":[[{"node":"Respond Task Completed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"c2cf5f75-08ef-4b26-a9c3-325b04fe4df0","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-01-06T17:26:05.397Z","createdAt":"2026-01-06T17:26:05.397Z","role":"workflow:owner","workflowId":"5AH7VvpmFbeuq11o","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
