workflows/Daily_Task_Reminder_and_Input_via_Telegram.json
{"updatedAt":"2026-01-07T19:32:32.791Z","createdAt":"2026-01-07T18:43:31.683Z","id":"17KxOPc5OizlQ1Eg","name":"Daily Task Reminder and Input via Telegram","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":10,"triggerAtMinute":30}]}},"id":"ca4c7dbd-d636-4be7-ac79-f75d1c6e76bc","name":"Daily Reminder Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1280,48]},{"parameters":{"updates":["*"],"additionalFields":{}},"id":"55a00520-44d0-4d0b-a048-d7b9eee55ded","name":"Telegram Chat Input","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1280,384],"webhookId":"5142ef49-5b12-40f7-81e4-074bb3384c92"},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Google_Sheet_Document_ID__>"},"sheetName":{"__rl":true,"mode":"name","value":"Tasks"},"options":{"returnFirstMatch":false}},"id":"6e386672-0b70-4631-b560-0241b7570226","name":"Get Tasks for Reminder","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1056,48]},{"parameters":{"chatId":"<__PLACEHOLDER_VALUE__Your Telegram Chat ID__>","text":"🌅 Good Morning! \n\nPlease input your tasks for today. You can chat with me to add tasks to your list!","additionalFields":{}},"id":"aa9d6fb8-d809-41ca-ad70-20e805519a3b","name":"Send Daily Reminder","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-832,48],"webhookId":"e66c7f76-4e24-419e-a7fb-d9aea3505b25"},{"parameters":{"promptType":"define","text":"={{ $('Telegram Chat Input').item.json.message.text }}","options":{"systemMessage":"=You are a helpful task management assistant. You can help users add, view, update, and manage their tasks stored in Google Sheets. When users add tasks, make sure to capture: Task name, Due Date, Status (default: Pending), and Priority. When viewing tasks, show them in a clear format. Be friendly and concise. Current date and time: {{ $now.toISO() }}"}},"id":"b1d3377d-5c13-458c-8b41-1a78b88a2bf9","name":"Task Management Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1008,384]},{"parameters":{"chatId":"={{ $('Telegram Chat Input').item.json.message.chat.id }}","text":"={{ $('Task Management Agent').item.json.output }}","additionalFields":{}},"id":"21e5a366-52ca-419a-8a38-479a36d8a992","name":"Send Chat Response","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-592,384],"webhookId":"1845b247-58db-42dc-b4d1-1acaadb110a7"},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o-mini"},"builtInTools":{},"options":{}},"id":"6b11c2b2-cc41-443b-9474-aab368a26471","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1056,608]},{"parameters":{"sessionKey":"={{ $('Telegram Chat Input').item.json.message.chat.id }}","contextWindowLength":10},"id":"4e8981ed-7821-4e4c-a046-91c44169d0d1","name":"Conversation Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-928,608]},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to read, add, update, or delete tasks from the user's task list in Google Sheets. The sheet has columns: Task, DueDate, Status, Priority","documentId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Google_Sheet_ID__>"},"sheetName":{"__rl":true,"mode":"name","value":"Tasks"},"options":{}},"id":"1373e5df-339b-4ed6-8e9f-ce63f0415637","name":"Google Sheets Task Tool","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-800,608]},{"parameters":{"content":"📋 GOOGLE SHEETS SETUP INSTRUCTIONS\n\n✅ Required Columns (create these in your Google Sheet):\n\n1. Task - The task description\n2. DueDate - When the task is due (format: YYYY-MM-DD or MM/DD/YYYY)\n3. Status - Current status (Pending, Completed, In Progress)\n4. Priority - Task priority (High, Medium, Low, Normal)\n\n📝 Setup Steps:\n1. Create a new Google Sheet\n2. Name the first sheet \"Tasks\"\n3. Add the 4 column headers in Row 1: Task | DueDate | Status | Priority\n4. Copy the Google Sheet ID from the URL\n5. Paste the Sheet ID in ALL Google Sheets nodes in this workflow\n6. Connect your Google Sheets OAuth2 credentials\n\n💡 Example Row:\nTask: Complete project report\nDueDate: 2024-01-15\nStatus: Pending\nPriority: High","height":720,"color":4},"id":"f286b57b-7d95-4d55-b2e8-02cff36af4e5","name":"📋 Google Sheets Setup Instructions","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[176,16]},{"parameters":{"content":"⏰ REMINDER SCHEDULE LOGIC\n\n📅 Daily 10:30 AM Reminder:\n- Sends a friendly message asking you to input tasks for the day\n- Encourages you to chat with the bot to add tasks\n\n🔔 3x Daily Pending Task Reminders:\n- 9:00 AM - Morning reminder\n- 2:00 PM - Afternoon reminder\n- 7:00 PM - Evening reminder\n\n✅ How it works:\n1. Three schedule triggers fire at different times\n2. All triggers merge together\n3. Workflow reads Google Sheets for tasks with Status = \"Pending\"\n4. If pending tasks exist, formats a detailed message\n5. Sends alert via Telegram with task details\n\n💡 Tip: Mark tasks as \"Completed\" in the sheet to stop reminders!","height":656},"id":"7dd8e3bb-66e3-44f1-9641-ee7873cf9fc0","name":"⏰ Reminder Schedule Logic","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-96,16]},{"parameters":{"content":"🤖 AI AGENT CONFIGURATION\n\n🎯 What the Agent Does:\n- Understands natural language task requests\n- Adds tasks to Google Sheets with proper fields\n- Views and lists existing tasks\n- Updates task status and details\n- Maintains conversation context\n\n🔧 Key Components:\n- OpenAI GPT-4o-mini for intelligence\n- Conversation Memory (10 messages)\n- Google Sheets Tool for data access\n\n💬 Example Commands:\n\"Add task: Buy groceries, due tomorrow, high priority\"\n\"Show me all my pending tasks\"\n\"Mark task 3 as completed\"\n\"What tasks are due this week?\"\n\n⚙️ Required Setup:\n1. Add OpenAI API credentials\n2. Connect Google Sheets OAuth2\n3. Set your Telegram Bot Token\n4. Get your Telegram Chat ID","height":736,"color":4},"id":"b1438bd1-7038-49ee-9e56-309f2c231f77","name":"🤖 AI Agent Configuration","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-368,16]},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"3c51245a-9cb0-4093-b623-9420bf65c378","name":"Pending Task Reminder 1 (9 AM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1280,704]},{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"id":"345eeb7d-3ec5-47ec-ad29-c655f887a014","name":"Pending Task Reminder 2 (2 PM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1280,896]},{"parameters":{"rule":{"interval":[{"triggerAtHour":19}]}},"id":"ffeefb38-9d35-46f9-990c-1f60aeb8ec5f","name":"Pending Task Reminder 3 (7 PM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1280,1088]},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"<__PLACEHOLDER_VALUE__Google_Sheet_Document_ID__>"},"sheetName":{"__rl":true,"mode":"name","value":"Tasks"},"options":{}},"id":"3dd53dae-d604-411f-be1f-ab95de7d46c2","name":"Get Pending Tasks","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-832,896]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.Status }}","rightValue":"Pending","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"12bb5a5c-51bc-4265-952a-8d98ad2ea9d9","name":"Check If Tasks Pending","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-608,896]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"message","value":"={{ '⚠️ PENDING TASK REMINDER\\n\\nYou have ' + $input.all().length + ' pending task(s):\\n\\n' + $input.all().map((item, i) => `${i+1}. ${item.json.Task}\\n   Due: ${item.json.DueDate || 'No date'}\\n   Priority: ${item.json.Priority || 'Normal'}`).join('\\n\\n') + '\\n\\nDon\\'t forget to complete them!' }}","type":"string"}]},"options":{}},"id":"b4dbc2ff-7cf8-4440-ba3c-1a402550f667","name":"Format Pending Task Message","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,896]},{"parameters":{"chatId":"<__PLACEHOLDER_VALUE__Your Telegram Chat ID__>","text":"={{ $json.message }}","additionalFields":{}},"id":"37b3299a-0fb9-4080-b880-a7b27895e056","name":"Send Pending Task Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-160,896],"webhookId":"2233d7b7-0e5a-4d1f-8797-46f67bc7b53a"},{"parameters":{"numberInputs":3},"id":"729f8f27-3845-47e1-a8b8-60f890b805ea","name":"Combine All Reminder Triggers","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1056,880]},{"parameters":{"content":"💡 WORKFLOW OVERVIEW\n\n🎯 This workflow provides:\n✅ Daily 10:30 AM reminder to input tasks via Telegram\n✅ 3x daily reminders (9 AM, 2 PM, 7 PM) for pending tasks\n✅ AI-powered chat interface for task management\n✅ Automatic Google Sheets updates\n✅ Conversation memory for natural interactions\n\n📋 Two Main Flows:\n\n1️⃣ SCHEDULED REMINDERS:\n- 10:30 AM: \"Input your tasks\" message\n- 9 AM/2 PM/7 PM: Pending task alerts (if any exist)\n\n2️⃣ CHAT INTERFACE:\n- Message the Telegram bot anytime\n- AI understands your requests\n- Automatically updates Google Sheets\n- Remembers conversation context\n\n🔑 Setup Required:\n- Telegram Bot Token & Chat ID\n- Google Sheets ID & OAuth2\n- OpenAI API Key","height":752,"color":7},"id":"49d62b18-cc95-44c7-9c4f-14176aa16429","name":"💡 Workflow Overview","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1632,32]}],"connections":{"Daily Reminder Schedule":{"main":[[{"node":"Get Tasks for Reminder","type":"main","index":0}]]},"Telegram Chat Input":{"main":[[{"node":"Task Management Agent","type":"main","index":0}]]},"Get Tasks for Reminder":{"main":[[{"node":"Send Daily Reminder","type":"main","index":0}]]},"Task Management Agent":{"main":[[{"node":"Send Chat Response","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Task Management Agent","type":"ai_languageModel","index":0}]]},"Conversation Memory":{"ai_memory":[[{"node":"Task Management Agent","type":"ai_memory","index":0}]]},"Google Sheets Task Tool":{"ai_tool":[[{"node":"Task Management Agent","type":"ai_tool","index":0}]]},"Pending Task Reminder 1 (9 AM)":{"main":[[{"node":"Combine All Reminder Triggers","type":"main","index":0}]]},"Pending Task Reminder 2 (2 PM)":{"main":[[{"node":"Combine All Reminder Triggers","type":"main","index":1}]]},"Pending Task Reminder 3 (7 PM)":{"main":[[{"node":"Combine All Reminder Triggers","type":"main","index":1}]]},"Get Pending Tasks":{"main":[[{"node":"Check If Tasks Pending","type":"main","index":0}]]},"Check If Tasks Pending":{"main":[[{"node":"Format Pending Task Message","type":"main","index":0}]]},"Format Pending Task Message":{"main":[[{"node":"Send Pending Task Alert","type":"main","index":0}]]},"Combine All Reminder Triggers":{"main":[[{"node":"Get Pending Tasks","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"22d53fe6-e279-46f0-89eb-e430cadfc107","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-01-07T18:43:31.694Z","createdAt":"2026-01-07T18:43:31.694Z","role":"workflow:owner","workflowId":"17KxOPc5OizlQ1Eg","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
