workflows/Daily_AI_News_Digest_RSS__AI_Summary__Email__Telegram.json
{"updatedAt":"2025-12-30T13:34:39.000Z","createdAt":"2025-12-30T08:59:07.735Z","id":"DLnfArfAngTEdBt0","name":"Daily AI News Digest (RSS → AI Summary → Email + Telegram)","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]},"timezone":"America/New_York"},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[-860,-120],"id":"b5b9f52b-91d0-4ef5-8e40-7b504e8a7f2d","name":"Daily Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"8b2d5c16-65e1-45d8-8e3e-7a92b080b61e","name":"recipientEmail","type":"string","value":"your_email@example.com"},{"id":"f0d9d7cf-fbd6-4a6a-812d-36a9b0b1f92f","name":"telegramChatId","type":"string","value":"123456789"},{"id":"dfe2fbdd-97d9-48f4-96a9-99cb0c6c30e9","name":"lookbackHours","type":"number","value":36},{"id":"8e2f5194-5d57-4dc7-8d5d-57a245f00b41","name":"maxItems","type":"number","value":5}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":2,"position":[-640,-120],"id":"a0a41d6c-4d9c-4ec2-86d3-8c0c0a53fb36","name":"Config"},{"parameters":{"url":"https://www.technologyreview.com/feed/"},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[-640,-300],"id":"a62db701-2a9b-48b1-829c-aad176db0b79","name":"RSS - MIT Technology Review"},{"parameters":{"url":"https://www.artificialintelligence-news.com/feed/"},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[-640,-220],"id":"a63cebbb-2b69-4dfc-b3e6-8e6dcbfd5ca5","name":"RSS - AI News"},{"parameters":{"url":"https://www.marktechpost.com/feed/"},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[-640,-140],"id":"3c76e123-b6d8-4e32-9221-37e25a53c564","name":"RSS - MarkTechPost"},{"parameters":{"url":"https://feeds.arstechnica.com/arstechnica/technology-lab"},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[-640,-60],"id":"a5aa5b21-d48d-461e-8f60-39c2d1e0c1f6","name":"RSS - Ars Technica (Tech Lab)"},{"parameters":{"url":"https://www.theverge.com/rss/index.xml"},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[-640,20],"id":"cb9e2e01-7e4b-4b7a-a09d-0526d1ccfa56","name":"RSS - The Verge"},{"parameters":{"mode":"append"},"type":"n8n-nodes-base.merge","typeVersion":2,"position":[-360,-260],"id":"f9f4cb6b-0c16-4e62-9af1-9bdf1a7a07d2","name":"Merge Feed 1+2"},{"parameters":{"mode":"append"},"type":"n8n-nodes-base.merge","typeVersion":2,"position":[-140,-200],"id":"87e9a043-76af-4d75-8f26-19b4b1a8db7a","name":"Merge + Feed 3"},{"parameters":{"mode":"append"},"type":"n8n-nodes-base.merge","typeVersion":2,"position":[80,-140],"id":"f48f80f7-b6e9-41d7-8b20-e0563b49c4c8","name":"Merge + Feed 4"},{"parameters":{"mode":"append"},"type":"n8n-nodes-base.merge","typeVersion":2,"position":[300,-80],"id":"baf45f77-94a5-432b-bbfa-6b1a087c0d68","name":"Merge + Feed 5"},{"parameters":{"jsCode":"const lookbackHours = $items('Config')[0].json.lookbackHours ?? 36;\nconst cutoff = Date.now() - lookbackHours * 60 * 60 * 1000;\n\nconst seen = new Set();\nconst out = [];\n\nfor (const item of items) {\n  const j = item.json;\n  const title = (j.title ?? '').toString().trim();\n  const link = (j.link ?? '').toString().trim();\n  const snippet = (j.contentSnippet ?? j.content ?? j.summary ?? '').toString().replace(/\\s+/g, ' ').trim();\n  const source = (j.creator ?? j.author ?? j['dc:creator'] ?? j.source ?? '').toString().trim();\n\n  const rawDate = j.isoDate || j.pubDate || j.published || j.date;\n  const d = rawDate ? new Date(rawDate) : null;\n  const ts = d && !isNaN(d.getTime()) ? d.getTime() : 0;\n\n  // Filter: must have title + link; and within lookback if date exists\n  if (!title || !link) continue;\n  if (ts && ts < cutoff) continue;\n\n  // Deduplicate by link\n  if (seen.has(link)) continue;\n  seen.add(link);\n\n  out.push({\n    title,\n    link,\n    snippet: snippet.slice(0, 350),\n    source,\n    publishedAt: ts ? new Date(ts).toISOString() : null,\n    _ts: ts\n  });\n}\n\nreturn out.map((json) => ({ json }));"},"type":"n8n-nodes-base.function","typeVersion":2,"position":[520,-80],"id":"f5ac3328-7e9c-4e4b-b861-c58f89cbd235","name":"Normalize + Filter + Deduplicate"},{"parameters":{"jsCode":"const maxItems = $items('Config')[0].json.maxItems ?? 5;\n\nconst keywords = [\n  'ai','a.i.','artificial intelligence','llm','large language model','openai','chatgpt','gpt',\n  'anthropic','claude','gemini','deepmind','mistral','llama','meta ai','copilot','agent',\n  'rag','inference','fine-tuning','alignment','safety','prompt','multimodal','computer vision'\n];\n\nfunction score(text) {\n  const t = (text || '').toLowerCase();\n  let s = 0;\n  for (const k of keywords) {\n    if (t.includes(k)) s += (k.length > 4 ? 3 : 1);\n  }\n  return s;\n}\n\nconst enriched = items.map((it) => {\n  const j = it.json;\n  const text = `${j.title || ''} ${j.snippet || ''}`;\n  const base = score(text);\n  const recencyBoost = j._ts ? Math.max(0, Math.min(5, Math.round((Date.now() - j._ts) / (6 * 60 * 60 * 1000)) * -1 + 5)) : 0; // newer => higher\n  return { ...j, _score: base + recencyBoost };\n});\n\n// Prefer AI-relevant items; if too few, allow any recent items\nlet filtered = enriched.filter((x) => x._score >= 3);\nif (filtered.length < maxItems) {\n  const remaining = enriched.filter((x) => !filtered.some((y) => y.link === x.link));\n  filtered = filtered.concat(remaining);\n}\n\nfiltered.sort((a, b) => {\n  if (b._score !== a._score) return b._score - a._score;\n  return (b._ts || 0) - (a._ts || 0);\n});\n\nconst top = filtered.slice(0, maxItems);\nreturn top.map((json) => ({ json }));"},"type":"n8n-nodes-base.function","typeVersion":2,"position":[760,-80],"id":"2c232e06-1f06-4699-9786-64540c10bacc","name":"Rank + Select Top 5"},{"parameters":{"jsCode":"const cfg = $items('Config')[0].json;\nconst maxItems = cfg.maxItems ?? 5;\n\nconst listLines = items.map((it, idx) => {\n  const j = it.json;\n  const dateStr = j.publishedAt ? ` (${j.publishedAt})` : '';\n  const src = j.source ? ` | Source: ${j.source}` : '';\n  const snip = j.snippet ? `\\n   Snippet: ${j.snippet}` : '';\n  return `${idx + 1}. ${j.title}${dateStr}\\n   Link: ${j.link}${src}${snip}`;\n}).join('\\n\\n');\n\nconst today = new Date().toISOString().slice(0, 10);\n\nreturn [{\n  json: {\n    prompt: `Create today's AI news digest (top ${maxItems}). Use ONLY the provided items; do not invent stories.\\n\\nDate: ${today}\\n\\nItems:\\n${listLines}`,\n    items\n  }\n}];"},"type":"n8n-nodes-base.function","typeVersion":2,"position":[1000,-80],"id":"1c4da696-e5f8-463f-a2f6-79a4148d516d","name":"Build LLM Prompt"},{"parameters":{"promptType":"define","text":"={{$json.prompt}}","hasOutputParser":true,"options":{"systemMessage":"You are an AI news editor.\n\nTask:\n- Create a concise daily digest of AI-related news from the provided RSS items.\n- Use ONLY the provided items; do not add anything not listed.\n- Pick the best 5 items (or fewer if fewer are provided).\n- Produce: (1) an email subject, (2) a clean HTML email body, (3) a plain-text Telegram message.\n\nWriting rules:\n- Each item must include: title, 1–2 sentence summary (factual and cautious), and link.\n- Keep the Telegram message under ~3000 characters.\n- Avoid special Markdown/HTML characters that could break Telegram formatting. Plain text is fine.\n\nReturn JSON that matches the output schema exactly."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1240,-80],"id":"6d1b46a7-1b11-4bca-9f56-a97f4a6193a2","name":"AI Agent (Digest Writer)"},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1200,120],"id":"bbf5d7ac-24c1-4fd5-b6bb-8d2492cfb1c0","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"emailSubject\": { \"type\": \"string\" },\n    \"emailHtml\": { \"type\": \"string\" },\n    \"telegramText\": { \"type\": \"string\" },\n    \"items\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": { \"type\": \"string\" },\n          \"summary\": { \"type\": \"string\" },\n          \"link\": { \"type\": \"string\" }\n        },\n        \"required\": [\"title\", \"summary\", \"link\"]\n      }\n    }\n  },\n  \"required\": [\"emailSubject\", \"emailHtml\", \"telegramText\", \"items\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1440,120],"id":"f8b8b83e-151d-48f3-825a-6cb70c7f2656","name":"Structured Output Parser"},{"parameters":{"resource":"message","operation":"send","toList":"={{$items('Config')[0].json.recipientEmail}}","subject":"={{$json.emailSubject}}","message":"={{$json.emailHtml}}","options":{"htmlBody":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1520,-200],"id":"4fda55d2-7ed8-4461-9dc0-340f868c7331","name":"Send Email (Gmail)","credentials":{"gmailOAuth2":{"id":"REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Gmail OAuth2"}}},{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{$items('Config')[0].json.telegramChatId}}","text":"={{$json.telegramText}}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1520,-20],"id":"ec418d9f-0c90-468c-8c87-9323615d9159","name":"Send Telegram Message","credentials":{"telegramApi":{"id":"REPLACE_WITH_YOUR_CREDENTIAL_ID","name":"Telegram Bot API"}}},{"parameters":{"content":"## Setup Required\n1) Update **Config** node:\n- `recipientEmail`\n- `telegramChatId`\n\n2) Add credentials:\n- **OpenRouter Chat Model**: set OpenRouter API key\n- **Send Email (Gmail)**: connect Gmail OAuth2\n- **Send Telegram Message**: connect Telegram Bot token\n\n3) Optional: Replace RSS URLs with your preferred AI sources.\n\nThis workflow runs daily, reads multiple RSS feeds, selects the top 5 AI-relevant items, generates a digest using an LLM, then sends it to Email + Telegram.","height":220,"width":520,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,160],"id":"6d3edfb9-e18c-4b2a-bbf5-cb9248c91df5","name":"Sticky Note - Setup"},{"parameters":{"content":"## How the selection works\n- Collects all RSS items\n- Filters items to the last `lookbackHours`\n- Deduplicates by link\n- Scores relevance using AI keywords\n- Picks Top 5, then asks the LLM to produce a clean digest\n\nTip: If you want strict *only AI* news, increase the score threshold in **Rank + Select Top 5**.","height":200,"width":520,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[420,-380],"id":"d72f1d29-0b5d-47a8-8fcf-299bc996ce65","name":"Sticky Note - Logic"},{"parameters":{"content":"## RSS Sources\nThese are general tech + AI sources.\nYou can add more RSS nodes and append them with another Merge.\n\nExamples to add:\n- Company blogs (OpenAI, Anthropic, Google AI)\n- Substack RSS\n- Google News RSS queries for \"AI\"","height":170,"width":520,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-660,-520],"id":"3e59813a-d8ba-4c5b-a03f-0a9dc421e81e","name":"Sticky Note - RSS"}],"connections":{"Daily Schedule Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]},"Config":{"main":[[{"node":"RSS - MIT Technology Review","type":"main","index":0},{"node":"RSS - AI News","type":"main","index":0},{"node":"RSS - MarkTechPost","type":"main","index":0},{"node":"RSS - Ars Technica (Tech Lab)","type":"main","index":0},{"node":"RSS - The Verge","type":"main","index":0}]]},"RSS - MIT Technology Review":{"main":[[{"node":"Merge Feed 1+2","type":"main","index":0}]]},"RSS - AI News":{"main":[[{"node":"Merge Feed 1+2","type":"main","index":1}]]},"Merge Feed 1+2":{"main":[[{"node":"Merge + Feed 3","type":"main","index":0}]]},"RSS - MarkTechPost":{"main":[[{"node":"Merge + Feed 3","type":"main","index":1}]]},"Merge + Feed 3":{"main":[[{"node":"Merge + Feed 4","type":"main","index":0}]]},"RSS - Ars Technica (Tech Lab)":{"main":[[{"node":"Merge + Feed 4","type":"main","index":1}]]},"Merge + Feed 4":{"main":[[{"node":"Merge + Feed 5","type":"main","index":0}]]},"RSS - The Verge":{"main":[[{"node":"Merge + Feed 5","type":"main","index":1}]]},"Merge + Feed 5":{"main":[[{"node":"Normalize + Filter + Deduplicate","type":"main","index":0}]]},"Normalize + Filter + Deduplicate":{"main":[[{"node":"Rank + Select Top 5","type":"main","index":0}]]},"Rank + Select Top 5":{"main":[[{"node":"Build LLM Prompt","type":"main","index":0}]]},"Build LLM Prompt":{"main":[[{"node":"AI Agent (Digest Writer)","type":"main","index":0}]]},"AI Agent (Digest Writer)":{"main":[[{"node":"Send Email (Gmail)","type":"main","index":0},{"node":"Send Telegram Message","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent (Digest Writer)","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent (Digest Writer)","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveDataErrorExecution":"all","errorWorkflow":"","timezone":"America/New_York","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e1bdc52e-d0df-4bd1-861f-36e0752dd564","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-12-30T08:59:07.738Z","createdAt":"2025-12-30T08:59:07.738Z","role":"workflow:owner","workflowId":"DLnfArfAngTEdBt0","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
