workflows/Ecommerce_Order_Tracking_and_Customer_Notification_Automation.json
{"updatedAt":"2026-01-22T16:16:59.564Z","createdAt":"2025-12-28T04:09:48.990Z","id":"WGiEBqZn5rXtZ9Rx","name":"Ecommerce Order Tracking and Customer Notification Automation","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"d3713a6d-27cd-4a5c-9011-cd2071e907fb","name":"Fetch Orders Every 5 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1376,432]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"apiUrl","value":"<__PLACEHOLDER_VALUE__Ecommerce API endpoint URL (e.g., https://your-store.myshopify.com/admin/api/2024-01/orders.json)__>","type":"string"},{"id":"id-2","name":"databaseTable","value":"orders","type":"string"},{"id":"id-3","name":"delayThresholdHours","value":48,"type":"number"},{"id":"id-4","name":"slackChannel","value":"<__PLACEHOLDER_VALUE__Slack channel ID for ops team notifications__>","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"fb665d05-39cf-4a67-b1c9-ee35d85a9a6d","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1152,432]},{"parameters":{"url":"={{ $('Workflow Configuration').first().json.apiUrl }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"any"},{"name":"limit","value":"50"},{"name":"updated_at_min","value":"={{ $now.minus({ minutes: 5 }).toISO() }}"}]},"options":{}},"id":"1a5e7690-e9a6-457b-ab97-94c3e3456a97","name":"Fetch Orders from Ecommerce API","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-928,432]},{"parameters":{"jsCode":"const orders = $input.all();\nconst result = [];\n\nfor (const item of orders) {\n  const order = item.json;\n  \n  result.push({\n    json: {\n      order_id: order.id,\n      order_number: order.order_number || order.name,\n      customer_name: order.customer?.first_name + ' ' + order.customer?.last_name,\n      customer_email: order.customer?.email,\n      customer_phone: order.customer?.phone,\n      status: order.fulfillment_status || 'pending',\n      financial_status: order.financial_status,\n      total_price: parseFloat(order.total_price),\n      currency: order.currency,\n      created_at: order.created_at,\n      updated_at: order.updated_at,\n      tracking_number: order.fulfillments?.[0]?.tracking_number || null,\n      tracking_url: order.fulfillments?.[0]?.tracking_url || null,\n      line_items: order.line_items?.map(item => ({\n        product_id: item.product_id,\n        title: item.title,\n        quantity: item.quantity,\n        price: item.price\n      })) || []\n    }\n  });\n}\n\nreturn result;"},"id":"c08f5640-defd-4f19-9fd8-4f90782798ad","name":"Parse and Transform Order Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,432]},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"name","value":"public"},"table":{"__rl":true,"mode":"name","value":"={{ $('Workflow Configuration').first().json.databaseTable }}"},"columns":{"mappingMode":"defineBelow","value":{"order_id":"={{ $json.order_id }}","order_number":"={{ $json.order_number }}","customer_name":"={{ $json.customer_name }}","customer_email":"={{ $json.customer_email }}","customer_phone":"={{ $json.customer_phone }}","status":"={{ $json.status }}","financial_status":"={{ $json.financial_status }}","total_price":"={{ $json.total_price }}","currency":"={{ $json.currency }}","tracking_number":"={{ $json.tracking_number }}","tracking_url":"={{ $json.tracking_url }}","created_at":"={{ $json.created_at }}","updated_at":"={{ $json.updated_at }}","last_synced_at":"={{ $now.toISO() }}"},"matchingColumns":["order_id"],"schema":[{"id":"order_id","displayName":"order_id","required":false,"defaultMatch":true,"canBeUsedToMatch":true},{"id":"order_number","displayName":"order_number","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"customer_name","displayName":"customer_name","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"customer_email","displayName":"customer_email","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"customer_phone","displayName":"customer_phone","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"financial_status","displayName":"financial_status","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"total_price","displayName":"total_price","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"tracking_number","displayName":"tracking_number","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"tracking_url","displayName":"tracking_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"last_synced_at","displayName":"last_synced_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true}]},"options":{}},"id":"a1b16b83-72bc-4340-bafb-33b643095624","name":"Update Order Status in Database","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,432]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $('Update Order Status in Database').item.json.status }}","rightValue":"pending","operator":{"type":"string","operation":"equals"}},{"id":"id-2","leftValue":"={{ $('Update Order Status in Database').item.json.status }}","rightValue":"fulfilled","operator":{"type":"string","operation":"equals"}},{"id":"id-3","leftValue":"={{ $('Update Order Status in Database').item.json.status }}","rightValue":"shipped","operator":{"type":"string","operation":"equals"}},{"id":"id-4","leftValue":"={{ $('Update Order Status in Database').item.json.status }}","rightValue":"in_transit","operator":{"type":"string","operation":"equals"}},{"id":"id-5","leftValue":"={{ $('Update Order Status in Database').item.json.status }}","rightValue":"delivered","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"looseTypeValidation":true,"options":{}},"id":"bfbb3b66-e2b8-4fd3-80ee-f7f3b62d3729","name":"Check Order Status","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-256,48]},{"parameters":{"recipientPhoneNumber":"={{ $json.customer_phone }}","template":"<__PLACEHOLDER_VALUE__WhatsApp template name for order placed__>","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.customer_name }}"},{"text":"={{ $json.order_number }}"},{"text":"={{ $json.total_price }} {{ $json.currency }}"}]}}]}},"id":"10c4f83a-644f-45f7-9158-9bea466e7ed7","name":"Send WhatsApp Notification - Order Placed","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-32,-144],"webhookId":"d2f46078-8516-4b37-a88e-b11972d8ee23"},{"parameters":{"recipientPhoneNumber":"={{ $json.customer_phone }}","template":"<__PLACEHOLDER_VALUE__WhatsApp template name for order shipped__>","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.customer_name }}"},{"text":"={{ $json.order_number }}"},{"text":"={{ $json.tracking_number }}"},{"text":"={{ $json.tracking_url }}"}]}}]}},"id":"96ff8bbe-fd33-412d-9999-217afb3f8e11","name":"Send WhatsApp Notification - Shipped","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-32,48],"webhookId":"d24d34c5-294d-4580-b674-642a67c1e4b4"},{"parameters":{"recipientPhoneNumber":"={{ $json.customer_phone }}","template":"<__PLACEHOLDER_VALUE__WhatsApp template name for order delivered__>","components":{"component":[{"bodyParameters":{"parameter":[{"text":"={{ $json.customer_name }}"},{"text":"={{ $json.order_number }}"}]}}]}},"id":"d6b081f7-58c6-4b57-9fe9-0e7d13757247","name":"Send WhatsApp Notification - Delivered","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-32,240],"webhookId":"a51bd0c0-3134-482b-96f3-9ae40710d159"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.status !== 'delivered' && $now.diff($json.created_at.toDateTime(), 'hours').hours > $('Workflow Configuration').first().json.delayThresholdHours }}","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"16da1148-cedb-46bf-93cf-c5f0e7e930f0","name":"Check for Delays","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-256,432]},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.slackChannel }}"},"text":"=🚨 *Order Delay Alert*\n\n*Order:* {{ $json.order_number }}\n*Customer:* {{ $json.customer_name }}\n*Status:* {{ $json.status }}\n*Created:* {{ $json.created_at.toDateTime().toRelative() }}\n*Expected Delivery:* Overdue by {{ Math.floor($now.diff($json.created_at.toDateTime(), 'hours').hours - $('Workflow Configuration').first().json.delayThresholdHours) }} hours\n\nPlease investigate and update customer.","otherOptions":{"sendAsUser":"={{ $('Workflow Configuration').first().json.slackUsername || 'n8n Bot' }}"}},"id":"bea187a5-fbca-4dec-8f61-b669761d5ea1","name":"Notify Ops Team on Slack","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-32,432],"webhookId":"a11e2138-6557-4001-baaf-5e2d09845f9b"},{"parameters":{"jsCode":"const orders = $input.all();\nconst result = [];\n\nfor (const item of orders) {\n  const order = item.json;\n  \n  // Calculate delivery time if order is delivered\n  let deliveryTimeHours = null;\n  if (order.status === 'delivered' && order.created_at && order.updated_at) {\n    const created = new Date(order.created_at);\n    const delivered = new Date(order.updated_at);\n    deliveryTimeHours = (delivered - created) / (1000 * 60 * 60);\n  }\n  \n  // Check if delayed\n  const delayThreshold = $('Workflow Configuration').first().json.delayThresholdHours;\n  const created = new Date(order.created_at);\n  const now = new Date();\n  const hoursSinceCreated = (now - created) / (1000 * 60 * 60);\n  const isDelayed = order.status !== 'delivered' && hoursSinceCreated > delayThreshold;\n  \n  result.push({\n    json: {\n      order_id: order.order_id,\n      order_number: order.order_number,\n      status: order.status,\n      delivery_time_hours: deliveryTimeHours,\n      is_delayed: isDelayed,\n      hours_since_created: Math.round(hoursSinceHours),\n      calculated_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn result;"},"id":"43eab357-3961-4699-9c04-0afcf1638605","name":"Calculate Delivery Metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,624]},{"parameters":{"schema":{"__rl":true,"mode":"name","value":"public"},"table":{"__rl":true,"mode":"name","value":"order_analytics"},"columns":{"mappingMode":"defineBelow","value":{"order_id":"={{ $json.order_id }}","order_number":"={{ $json.order_number }}","status":"={{ $json.status }}","delivery_time_hours":"={{ $json.delivery_time_hours }}","is_delayed":"={{ $json.is_delayed }}","hours_since_created":"={{ $json.hours_since_created }}","calculated_at":"={{ $json.calculated_at }}"},"matchingColumns":[],"schema":[{"id":"order_id","displayName":"order_id","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"order_number","displayName":"order_number","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"delivery_time_hours","displayName":"delivery_time_hours","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"is_delayed","displayName":"is_delayed","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"hours_since_created","displayName":"hours_since_created","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"calculated_at","displayName":"calculated_at","required":false,"defaultMatch":false,"canBeUsedToMatch":true}]},"options":{}},"id":"58c2c58e-e2ec-4c7d-b620-536972125b23","name":"Store Analytics Data","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-32,624]}],"connections":{"Fetch Orders Every 5 Minutes":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Fetch Orders from Ecommerce API","type":"main","index":0}]]},"Fetch Orders from Ecommerce API":{"main":[[{"node":"Parse and Transform Order Data","type":"main","index":0}]]},"Parse and Transform Order Data":{"main":[[{"node":"Update Order Status in Database","type":"main","index":0}]]},"Update Order Status in Database":{"main":[[{"node":"Check Order Status","type":"main","index":0},{"node":"Check for Delays","type":"main","index":0},{"node":"Calculate Delivery Metrics","type":"main","index":0}]]},"Check Order Status":{"main":[[{"node":"Send WhatsApp Notification - Order Placed","type":"main","index":0},{"node":"Send WhatsApp Notification - Shipped","type":"main","index":0},{"node":"Send WhatsApp Notification - Delivered","type":"main","index":0}]]},"Check for Delays":{"main":[[{"node":"Notify Ops Team on Slack","type":"main","index":0}]]},"Calculate Delivery Metrics":{"main":[[{"node":"Store Analytics Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"13932bee-dfe8-4893-8fce-41780dd83e19","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-12-28T04:09:48.996Z","createdAt":"2025-12-28T04:09:48.996Z","role":"workflow:owner","workflowId":"WGiEBqZn5rXtZ9Rx","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
