workflows/Ecommerce_Order_Status_Tracking_and_Customer_Notification_System.json
{"updatedAt":"2026-01-26T17:45:55.407Z","createdAt":"2026-01-22T16:38:23.421Z","id":"FZkofLxa1oDmF877","name":"Ecommerce Order Status Tracking and Customer Notification System","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"🛒 ECOMMERCE ORDER TRACKING WORKFLOW\n\nPurpose: Automatically track order status changes and notify customers\n\nFlow:\n1. Schedule checks every 15 minutes\n2. Fetch current orders from API/Google Sheets\n3. Compare with previous status\n4. Detect changes\n5. Update Google Sheets\n6. Send WhatsApp/Telegram notifications\n\nKey Features:\n✅ Automated status monitoring\n✅ Change detection logic\n✅ Multi-channel notifications\n✅ Reliable and scalable","height":280,"width":400},"id":"34288cfa-b21e-4ea6-a726-e5d2f9b59e7a","name":"📋 Workflow Overview","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-352,-192]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"b143e172-c866-40cd-be3b-665eb9cd8189","name":"Schedule Order Check","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1120,464]},{"parameters":{"content":"⏰ TRIGGER STAGE\n\nSchedule: Every 15 minutes\n\nThis trigger starts the workflow automatically to check for order status updates.\n\nWhy 15 minutes?\n- Frequent enough for timely updates\n- Not too aggressive on API limits\n- Adjustable based on needs","height":200,"width":320,"color":2},"id":"9306086f-a024-455f-ad15-9c1d1da0009a","name":"⏰ Trigger Stage","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1232,704]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"spreadsheetId","value":"YOUR_SPREADSHEET_ID_HERE","type":"string"},{"id":"id-2","name":"currentOrdersSheet","value":"Current Orders","type":"string"},{"id":"id-3","name":"statusHistorySheet","value":"Status History","type":"string"},{"id":"id-4","name":"apiEndpoint","value":"https://api.yourstore.com/orders","type":"string"}]},"options":{}},"id":"e948f758-03d0-4772-9f9e-f35833baaec7","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,464]},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').item.json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Workflow Configuration').item.json.currentOrdersSheet }}"},"options":{"outputFormatting":{"values":{"general":"UNFORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"id":"033ea54a-c36f-441a-b643-2e9c3a441682","name":"Fetch Current Orders from API","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-672,368]},{"parameters":{"content":"📥 DATA FETCH STAGE\n\nFetches order data from TWO sources:\n\n1. Current Orders (API/Sheet)\n   - Latest order status from your system\n   - Contains: Order ID, Status, Customer Info\n\n2. Previous Status (Google Sheets)\n   - Last known status from previous check\n   - Used for comparison\n\nBoth run in parallel for efficiency","height":220,"width":320,"color":3},"id":"2882d535-b960-4c9b-991e-37b8302c10ce","name":"📥 Data Fetch Stage","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1552,-32]},{"parameters":{"documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').item.json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Workflow Configuration').item.json.statusHistorySheet }}"},"options":{"outputFormatting":{"values":{"general":"UNFORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"id":"036e1448-a6f4-4256-a6ff-72e05d1b4396","name":"Fetch Previous Order Status","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-672,560]},{"parameters":{"mergeByFields":{"values":[{"field1":"orderId","field2":"orderId"}]},"resolve":"preferInput2","fuzzyCompare":true,"options":{}},"id":"738c547f-6935-4ea1-a3a8-13c6ba3418f2","name":"Detect Status Changes","type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[-464,432]},{"parameters":{"content":"🔍 CHANGE DETECTION STAGE\n\nCompares current vs previous order status\n\nLogic:\n- Match orders by Order ID\n- Compare status fields\n- Output only CHANGED orders\n\nDetects:\n✅ Status updates (Pending → Shipped)\n✅ New orders\n✅ Tracking number additions","height":220,"width":320,"color":4},"id":"edf9fcd5-4899-445d-9ce4-6f8c87df9580","name":"🔍 Change Detection Stage","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1520,512]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $itemIndex }}","rightValue":"0","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"a06c2a17-cfec-4da3-a137-17ae049c8c92","name":"Check If Changes Detected","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,464]},{"parameters":{"content":"✅ CONDITIONAL ROUTING\n\nChecks if any status changes were detected\n\nIF changes found:\n→ Continue to update & notify\n\nIF no changes:\n→ Stop workflow (no action needed)\n\nThis prevents unnecessary updates and notifications","height":200,"width":320,"color":5},"id":"52de62bd-0d61-4c95-a56b-d6fce96ad5e3","name":"✅ Conditional Routing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,144]},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').item.json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Workflow Configuration').item.json.statusHistorySheet }}"},"columns":{"mappingMode":"defineBelow","value":{"orderId":"={{ $json.orderId }}","status":"={{ $json.status }}","lastUpdated":"={{ $now.toISO() }}"},"matchingColumns":["orderId"],"schema":[{"id":"orderId","displayName":"orderId","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true},{"id":"lastUpdated","displayName":"lastUpdated","required":false,"defaultMatch":false,"canBeUsedToMatch":true}]},"options":{}},"id":"4d3a1e04-32f7-4c11-8354-bb0136a3c8a8","name":"Update Order Status in Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,464]},{"parameters":{"content":"💾 UPDATE STAGE\n\nUpdates Status History sheet with new status\n\nAction:\n- Finds matching Order ID row\n- Updates status column\n- Updates timestamp\n- Preserves other data\n\nThis creates audit trail of all status changes","height":200,"width":320,"color":6},"id":"ca1ab7bb-33af-425a-8f52-337b8528bf69","name":"💾 Update Stage","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,-16]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"customerPhone","value":"={{ $json.customerPhone }}","type":"string"},{"id":"id-2","name":"customerTelegramId","value":"={{ $json.telegramId }}","type":"string"},{"id":"id-3","name":"message","value":"=Hello {{ $json.customerName }}! 📦\n\nYour order #{{ $json.orderId }} status has been updated:\n\n🔄 New Status: {{ $json.status }}\n{{ $json.trackingNumber ? '📍 Tracking: ' + $json.trackingNumber : '' }}\n\nThank you for your order!","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"4b8cc53b-d0f5-4ad8-a0d4-709224f5eab5","name":"Format Notification Message","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,464]},{"parameters":{"chatId":"={{ $json.customerTelegramId }}","text":"={{ $json.message }}","additionalFields":{}},"id":"1a0fe200-a51a-4039-902e-6fb394c042ff","name":"Send Telegram Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[448,560],"webhookId":"7ce5b691-f2fd-4984-87b8-7564ff191de0","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"content":"📱 NOTIFICATION STAGE\n\nSends customer notifications via:\n\n1. WhatsApp (primary)\n2. Telegram (backup/alternative)\n\nMessage includes:\n- Order ID\n- New status\n- Tracking info (if available)\n- Customer name\n\nBoth channels run in parallel","height":220,"width":320,"color":7},"id":"3674a997-f39f-4500-8586-0ab46ec341d8","name":"📱 Notification Stage","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1792,112]},{"parameters":{"content":"🚫 NO CHANGES PATH\n\nWhen no status changes are detected, the workflow stops here.\n\nThis is normal and expected!\n\nNo updates = No notifications needed\n\nWorkflow will check again in 15 minutes","height":180,"width":280},"id":"a50d9c41-151e-4362-9621-42778c13db24","name":"🚫 No Changes Path","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1120,16]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C0A5RUUSF17","mode":"list","cachedResultName":"24_dec_n8n"},"text":"={{ $json.message }}","otherOptions":{}},"id":"25b3a5b4-337a-4cfc-b9ca-d229f4234421","name":"Notify Team","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[448,384],"webhookId":"d57f72bc-378e-4554-b644-202ade019006","credentials":{"slackOAuth2Api":{"id":"1w3syamNlvhO12bU","name":"Slack account"}}}],"connections":{"Schedule Order Check":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Fetch Current Orders from API","type":"main","index":0},{"node":"Fetch Previous Order Status","type":"main","index":0}]]},"Fetch Current Orders from API":{"main":[[{"node":"Detect Status Changes","type":"main","index":0}]]},"Fetch Previous Order Status":{"main":[[{"node":"Detect Status Changes","type":"main","index":1}]]},"Detect Status Changes":{"main":[[{"node":"Check If Changes Detected","type":"main","index":0}]]},"Check If Changes Detected":{"main":[[{"node":"Update Order Status in Sheet","type":"main","index":0}]]},"Update Order Status in Sheet":{"main":[[{"node":"Format Notification Message","type":"main","index":0}]]},"Format Notification Message":{"main":[[{"node":"Send Telegram Notification","type":"main","index":0},{"node":"Notify Team","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"eeb6cce2-0b62-431b-a9fb-b5b7328ee0d7","activeVersionId":null,"versionCounter":13,"triggerCount":0,"shared":[{"updatedAt":"2026-01-22T16:38:23.428Z","createdAt":"2026-01-22T16:38:23.428Z","role":"workflow:owner","workflowId":"FZkofLxa1oDmF877","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
