workflows/Email_Assis_for_Lead_Management_AI_Workflow.json
{"updatedAt":"2025-12-28T13:46:25.840Z","createdAt":"2025-12-28T04:34:16.429Z","id":"Vm1GOwkyvieKClgw","name":"Email Assis for Lead Management AI Workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-2368,512],"id":"33a1400b-e9a3-473d-80ee-06d793ac0165","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"text":"={{ $json.from.value[0].name }}","attributes":{"attributes":[{"name":"senderName","description":"Extract the sender's name from the email. If the name is not available, return an empty string.","required":true}]},"options":{"systemPromptTemplate":"You are an extraction expert. Identify and extract only the key information from the text. If a required attribute is not present, return an empty string as its value."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[-2144,512],"id":"27ea005f-1005-49b7-89da-d29a9794a2f4","name":"Information Extractor"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"efaf396c-e36b-4369-b904-4726787fa9b7","leftValue":"={{ $json.output.senderName }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1792,512],"id":"c0e1264f-887d-4ab8-ba08-cc26fcbaf494","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"9472688f-14a8-415c-864e-1ad245ff0d6d","name":"introduction","value":"Hey,","type":"string"},{"id":"6d2eb24a-5fc6-4505-8080-72b89f04bb3c","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1568,640],"id":"5d98eccd-7c41-4132-8f17-c22fb1cd5725","name":"No Name"},{"parameters":{"assignments":{"assignments":[{"id":"2a305a52-3ce0-4586-a900-038a6612178e","name":"introduction","value":"=Dear {{ $json.output.senderName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1568,384],"id":"5e7d67d2-677b-400f-9a73-fa30d030dc94","name":"Name Found"},{"parameters":{"mode":"combine","fieldsToMatchString":"introduction","joinMode":"keepNonMatches","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1280,480],"id":"3f7dc7e0-cfc4-4a28-a549-8fe09eab68b8","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"1d374039-a5c3-4047-b19c-4d05f485cceb","name":"introduction","value":"={{ $json.introduction }}","type":"string"},{"id":"eafcf4be-81e1-42af-83e7-1407680585fc","name":"emailBody","value":"={{ $('Gmail Trigger').item.json.text }}","type":"string"},{"id":"0f9e0296-2c71-47d9-a526-b29ca30a41d2","name":"messageId","value":"={{ $('Gmail Trigger').item.json.id }}","type":"string"},{"id":"ea2e0681-abb6-49ae-92f5-aa08f6c1cb79","name":"threadId","value":"={{ $('Gmail Trigger').item.json.threadId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1072,480],"id":"ccf4a038-9440-4a14-8685-7f7846aa012f","name":"Edit Fields"},{"parameters":{"inputText":"={{ $json.emailBody }}","categories":{"categories":[{"category":"Course Requests","description":"This includes inquiries about course services, pricing, availability, or related details."},{"category":"Consulting Requests","description":"This includes scheduling initial consultations or follow-up appointments."},{"category":"Payments","description":"Inquiries about paid collab, payments, or refund requests"},{"category":"Invoice","description":"related to invoice & quotes"},{"category":"Miscellaneous","description":"Emails that don't fall into any of the predefined categories."}]},"options":{"systemPromptTemplate":"Please share with me the specific {categories} that you would like to use so I can perform the analysis correctly. Once you have provided the categories, I will deliver the answer in JSON format, without explanations."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-2592,992],"id":"af8331c9-562b-44a6-973b-8d6e73ac2055","name":"Text Classifier"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.messageId }}","labelIds":["Label_1827632121896146967"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2032,752],"id":"d5ccd6e1-a30a-4b9b-a100-52a781ed6e02","name":"Gmail","webhookId":"af462a09-091d-4ffa-9c2a-2d9dd1f15f88","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.messageId }}","labelIds":["Label_8446976414606176183"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2032,944],"id":"00b5d387-b88d-4acd-87b7-e383bc1f24ff","name":"Gmail1","webhookId":"af462a09-091d-4ffa-9c2a-2d9dd1f15f88","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.messageId }}","labelIds":["Label_7286638154941409462"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2032,1136],"id":"23efbda0-2e15-41be-8f04-c375ae815954","name":"Gmail2","webhookId":"af462a09-091d-4ffa-9c2a-2d9dd1f15f88","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.messageId }}","labelIds":["CATEGORY_PROMOTIONS"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2016,1536],"id":"3cb3a269-529e-4b47-9ea2-9032231bf465","name":"Gmail3","webhookId":"af462a09-091d-4ffa-9c2a-2d9dd1f15f88","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"operation":"reply","messageId":"={{ $json.id }}","emailType":"text","message":"=Hi {{ $json.senderName || \"there\" }},\n\nThanks for reaching out and showing interest.\n\nWe’ve received your query regarding courses, pricing, or availability. I’m reviewing the details and will get back to you shortly with the right information.\n\nTo help me respond faster, feel free to reply with:\n• Your current role  \n• What you’re looking to learn  \n• Preferred format (live / recorded / mentorship)\n\nLooking forward to connecting.\n\nBest regards,  \nDhruv Tomar  \nAI & Automation Consultant  \n🌐 https://euron.one","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1776,752],"id":"93981453-2dd7-4a0c-86b0-5e64b5ee74f0","name":"Gmail4","webhookId":"b02440bb-d0ae-4f5e-a0f0-bd46c75ffb74","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"operation":"reply","messageId":"={{ $json.id }}","emailType":"text","message":"=Subject: Consulting request received\n\nHi {{ $json.senderName || \"there\" }},\n\nThanks for reaching out.\n\nI’ve received your request regarding consulting or a strategy discussion. I’m reviewing your message and will get back to you shortly to understand your requirements better.\n\nIf you’d like to speed things up, you can reply with:\n• Your business or use case  \n• Current challenges  \n• Preferred time for a quick call  \n\nLooking forward to the conversation.\n\nBest regards,  \nDhruv Tomar  \nAI & Automation Consultant  \n🌐 https://euron.one","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1760,944],"id":"b4d45fa1-6e92-4b41-b9a1-4ef51af60038","name":"Gmail5","webhookId":"b02440bb-d0ae-4f5e-a0f0-bd46c75ffb74","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"operation":"reply","messageId":"={{ $json.id }}","emailType":"text","message":"={{ $('Text Classifier').item.json.introduction }}\n\nThank you for contacting us regarding your paid collab/billing inquiry. \n\nA member of our team will reach out to you within 2 business days to provide the necessary information or assistance.\n\nIf this is an urgent matter, please call us directly at +123456789.\n\nThank you for your patience and for choosing Lead Gen Man.\n\nBest regards,\nManthan Patel\nFounder & CEO of Lead Gen Man","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1776,1136],"id":"75011012-d91f-4b79-9283-5f718fcee917","name":"Gmail6","webhookId":"b02440bb-d0ae-4f5e-a0f0-bd46c75ffb74","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"model":"x-ai/grok-4.1-fast","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2464,160],"id":"a7795325-f5c5-431b-849c-b985ab0eba5f","name":"grok-4.1-fast","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"chatId":"637313836","text":"=Enquiry from - {{ $('Gmail Trigger').item.json.headers.from }}\nEnquiry - {{ $('Gmail Trigger').item.json.text }}\n- Reply Done ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1152,1008],"id":"ea779d0b-1a4d-47c9-acd2-2d7ec65a0d42","name":"Send a text message","webhookId":"20c76c4a-35f4-4d61-acd6-afaaaf4418e6","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{"content":"## Automated Email Lead Management System (AI-Powered)\n\n### What This Workflow Does\nThis system automatically manages inbound email replies, classifies intent, labels conversations, and triggers the right response — without manual effort.\n\nIt turns your inbox into a **self-operating lead qualification engine**.\n\n---\n\n### Core Workflow Breakdown\n\n#### 1️⃣ Email Trigger (Gmail)\n- Listens for incoming replies from leads or prospects.\n- Works in real-time, no polling delays.\n\n#### 2️⃣ Information Extraction (AI)\n- Extracts key details from email body:\n  - Sender intent\n  - Name (if present)\n  - Context of the reply\n- Handles unstructured, messy human emails.\n\n#### 3️⃣ Name Detection Logic\n- If name is found → enrich lead profile.\n- If not → continues with fallback logic.\n- Ensures clean CRM-ready data.\n\n#### 4️⃣ Intent Classification (AI Text Classifier)\nClassifies each reply into buckets like:\n- Interested\n- Not Interested\n- Pricing / Budget\n- Follow-up Later\n- Support / Existing Customer\n- Spam / Irrelevant\n\nThis removes human judgment bias and saves time.\n\n#### 5️⃣ Auto-Labeling in Gmail\n- Applies smart labels based on intent.\n- Keeps inbox clean and searchable.\n- Enables downstream automations.\n\n#### 6️⃣ Automated Responses (Optional)\n- Sends context-aware replies automatically.\n- Different response templates per label.\n- Can escalate hot leads to humans instantly.\n\n---","height":1536,"width":432,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3168,96],"id":"2d8d08c0-656d-4ff7-ae04-995e7d6039ef","name":"Sticky Note"},{"parameters":{"content":"\n## Why This System Is very Powerful\n\n#### 🚀 Speed\n- Zero response delay.\n- Leads get acknowledged instantly.\n\n#### 🧠 Intelligence\n- AI understands intent, not just keywords.\n- Handles real human language.\n\n#### 🧹 Inbox Hygiene\n- No more messy inbox.\n- Every conversation is categorized.\n\n#### 📈 Scalability\n- Works for 10 emails or 10,000 emails/day.\n- No extra headcount needed.\n\n---\n\n### Who Should Use This\n\n#### Ideal For\n- SaaS founders\n- Sales teams\n- Agencies\n- Consultants\n- B2B service companies\n- Startups handling inbound leads\n\n#### Especially Valuable If\n- You miss replies\n- You forget follow-ups\n- Your team responds inconsistently\n- You want faster conversions\n\n---\n\n### Business Impact\n\n#### Measurable Outcomes\n- Higher reply-to-conversion rate\n- Faster lead qualification\n- Reduced manual effort\n- Better follow-up discipline\n- Cleaner CRM & reporting\n\n---\n\n### What Makes This Different\nThis is not email automation.  \nThis is **decision automation**.\n\nThe system decides:\n- What the lead wants\n- How urgent it is\n- What should happen next\n\nHumans only step in when it actually matters.\n\n---\n\n### One-Line Summary\n**An AI system that reads, understands, labels, and responds to emails like a trained sales assistant — 24/7.**","height":1536,"width":464,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,128],"id":"e4142a72-1957-49c0-b8d1-4cde7cd2d2c7","name":"Sticky Note1"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.messageId }}","labelIds":["Label_1783682342505626253"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-2016,1360],"id":"74360298-8188-49ac-9607-5a10373eb422","name":"Gmail7","webhookId":"af462a09-091d-4ffa-9c2a-2d9dd1f15f88","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"resource":"message","guildId":{"__rl":true,"value":"1449754563338047702","mode":"list","cachedResultName":"aiwithdhruv's server","cachedResultUrl":"https://discord.com/channels/1449754563338047702"},"channelId":{"__rl":true,"value":"1449754564323573812","mode":"list","cachedResultName":"general","cachedResultUrl":"https://discord.com/channels/1449754563338047702/1449754564323573812"},"content":"=Enquiry from - {{ $('Gmail Trigger').item.json.headers.from }}\n\nEnquiry - {{ $('Gmail Trigger').item.json.text }}\n\nReply Done ","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[-1152,1296],"id":"cf793f91-10c5-4a1b-af3d-31db0d70dbce","name":"Send a message","webhookId":"123b61b1-0d11-4376-aaaf-85246e4c6b7d","credentials":{"discordBotApi":{"id":"NLYpZ5CgP653pDS7","name":"Discord Bot account"}}},{"parameters":{"content":"# Manage Leads Using this Email Assistant Workflow","height":80,"width":864,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2128,160],"id":"5d2b1f1d-35a9-4690-80c3-406acd673ca1","name":"Sticky Note2"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Name Found","type":"main","index":0}],[{"node":"No Name","type":"main","index":0}]]},"Name Found":{"main":[[{"node":"Merge","type":"main","index":0}]]},"No Name":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Gmail","type":"main","index":0}],[{"node":"Gmail1","type":"main","index":0}],[{"node":"Gmail2","type":"main","index":0}],[{"node":"Gmail7","type":"main","index":0}],[{"node":"Gmail3","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Gmail4","type":"main","index":0}]]},"Gmail1":{"main":[[{"node":"Gmail5","type":"main","index":0}]]},"Gmail2":{"main":[[{"node":"Gmail6","type":"main","index":0}]]},"grok-4.1-fast":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0},{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Gmail4":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Gmail5":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Gmail6":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Gmail3":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Gmail7":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1766926559}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"21025ca1-a6f0-4ec8-8cc6-e23ac4ae1869","activeVersionId":null,"versionCounter":22,"triggerCount":1,"shared":[{"updatedAt":"2025-12-28T04:34:16.435Z","createdAt":"2025-12-28T04:34:16.435Z","role":"workflow:owner","workflowId":"Vm1GOwkyvieKClgw","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
