workflows/End-to-End_Lead_Management_with_AI_Follow-up_and_Team_Alerts.json
{"updatedAt":"2026-01-31T12:59:30.000Z","createdAt":"2026-01-31T12:59:18.346Z","id":"VuDQ1wn4H2kvk18l4CvXs","name":"End-to-End Lead Management with AI Follow-up and Team Alerts","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"formTitle":"Lead Capture Form","formDescription":"Please share your details so we can get in touch with you ","formFields":{"values":[{"fieldName":"name","fieldLabel":"Full Name","requiredField":true},{"fieldName":"email","fieldLabel":"Email Address","fieldType":"email","requiredField":true},{"fieldName":"phone","fieldLabel":"Phone Number","requiredField":true},{"fieldName":"source","fieldLabel":"How did you hear about us?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Website"},{"option":"Social Media"},{"option":"Referral"},{"option":"Advertisement"},{"option":"Chat GPT"},{"option":"Others"}]},"requiredField":true},{"fieldName":"Requirement","fieldLabel":"Share Challenges"}]},"options":{"appendAttribution":false,"buttonLabel":"Submit Lead","respondWithOptions":{"values":{"formSubmittedText":"Thank you! We will contact you shortly."}}}},"id":"4ff4c188-ed6d-429e-96ed-5068a75176b6","name":"Lead Capture Form","type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[-592,448],"webhookId":"478f5597-4c0c-4365-a8d6-9b9eec2fe7ac"},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"telegram_chat_id","value":"637313836","type":"string"},{"id":"id-2","name":"sales_team_name","value":"Dhruv","type":"string"},{"id":"id-3","name":"company_name","value":"Agentic Ai Solutions","type":"string"}]},"options":{}},"id":"e3c848aa-6ae5-48a2-bceb-72efb6b2e73f","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,448]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"id-1","leftValue":"={{ $('Lead Capture Form').item.json.email }}","operator":{"type":"string","operation":"notEmpty"}},{"id":"id-2","leftValue":"={{ $('Lead Capture Form').item.json.email }}","rightValue":"@","operator":{"type":"string","operation":"contains"}},{"id":"id-3","leftValue":"={{ $('Lead Capture Form').item.json.name }}","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"485c875a-f21e-4053-9cfe-614cf96e0ce5","name":"Validate Lead Data","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-160,448]},{"parameters":{"assignments":{"assignments":[{"id":"id-5","name":"timestamp","value":"={{ $now.toISO() }}","type":"string"},{"id":"id-1","name":"Name","value":"={{ $('Lead Capture Form').item.json.name }}","type":"string"},{"id":"id-2","name":"email","value":"={{ $('Lead Capture Form').item.json.email }}","type":"string"},{"id":"id-3","name":"phone","value":"={{ $('Lead Capture Form').item.json.phone }}","type":"string"},{"id":"id-4","name":"source","value":"={{ $('Lead Capture Form').item.json.source }}","type":"string"},{"id":"id-6","name":"status","value":"New Lead","type":"string"},{"id":"65458c8f-323b-4a1f-8c8e-d93051bd5917","name":"Requirement","value":"={{ $('Lead Capture Form').item.json.Requirement }}","type":"string"}]},"options":{}},"id":"d524a4b2-bfd6-4fc5-80f5-662dcf929ce3","name":"Structure Lead Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,352]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":494694657,"mode":"list","cachedResultName":"Collect Lead Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=494694657"},"columns":{"mappingMode":"defineBelow","value":{"timestamp":"={{ $json.timestamp }}","Name":"={{ $json.Name }}","email":"={{ $json.email }}","source":"={{ $json.source }}","status":"={{ $json.status }}","Requirement":"={{ $json.Requirement }}","Phone Number":"={{ $json.phone }}","AI Call Status":"Pending"},"matchingColumns":[],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Requirement","displayName":"Requirement","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"AI Call Status","displayName":"AI Call Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ai Discussion","displayName":"Ai Discussion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Recording URL","displayName":"Recording URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"5613446e-6c7f-436e-b9ff-8437f23c0419","name":"Store in Google Sheets CRM","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[304,352],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"chatId":"={{ $('Workflow Configuration').item.json.telegram_chat_id }}","text":"=🎯 New Lead Alert!\n\n👤 Name: {{ $json.Name }}\n📧 Email: {{ $json.email }}\n📱 Phone: {{ $json['Phone Number'] }}\n🔗 Source: {{ $json.source }}\n⏰ Time: {{ $json.timestamp }}\n\nStatus: {{ $json.status }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"id":"7613c73f-7ba7-49cc-bf1e-6c2cd9486e3b","name":"Alert Sales Team","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[528,256],"webhookId":"c82e367e-64f6-433d-9818-d78241f2e553","credentials":{"telegramApi":{"id":"oejH8VUyC9QHNPHe","name":"Lead_Alert"}}},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"lead_name","value":"={{ $json.Name }}","type":"string"},{"id":"id-2","name":"lead_email","value":"={{ $json.email }}","type":"string"},{"id":"id-3","name":"lead_source","value":"={{ $json.source }}","type":"string"},{"id":"id-4","name":"company_name","value":"=No Company Name","type":"string"},{"id":"e19e9278-0025-4a49-b430-72ecc43d3726","name":"Requirement","value":"={{ $('Lead Capture Form').item.json.Requirement }}","type":"string"}]},"options":{}},"id":"1db4ef2e-80dd-4f25-a204-9169f7aaf6b0","name":"Prepare AI Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,448]},{"parameters":{"promptType":"define","text":"=Generate a personalized follow-up email for this new lead:\n\nLead Details:\n- Name: {{ $json.lead_name }}\n- Email: {{ $json.lead_email }}\n- Source: {{ $json.lead_source }}\n- Company: {{ $json.company_name }}\n- Requirement - {{ $json.Requirement }}\n\nThe email should:\n1. Thank them for their interest\n2. Acknowledge how they found us ({{ $json.lead_source }})\n3. Briefly introduce our company\n4. Offer to schedule a call or answer questions\n5. Include a clear call-to-action\n\nMake it feel personalized, not templated.","hasOutputParser":true,"options":{"systemMessage":"=You are a professional sales representative who writes warm, personalized follow-up emails for new leads. Your emails should be friendly but professional, acknowledge how the lead found the company, and include a clear call-to-action.\n\n\n\n{\n  \"role\": \"system\",\n  \"content\": \"You are an email generator. Respond ONLY in valid JSON. Do not use line breaks, new lines, or markdown. Do not add explanations.\"\n}"}},"id":"203f413d-e15e-4121-9d45-ce7bc14e5cfb","name":"Generate Personalized Email","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[752,448]},{"parameters":{"jsonSchemaExample":"{\n\t\"subject\": \"Email subject line\",\n\t\"greeting\": \"Opening greeting\",\n\t\"body\": \"Email body content\"\n}"},"id":"b0cc5c78-d6fb-48b2-b365-fae08b4a1bff","name":"Email Structure Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[912,672]},{"parameters":{"sendTo":"={{ $('Structure Lead Data').item.json.email }}","subject":"={{ $json.output.subject }}","emailType":"text","message":"={{ $json.output.body }}","options":{"appendAttribution":false}},"id":"02c08c01-930e-4244-8d68-56af50afed0d","name":"Send Follow-up Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1104,448],"webhookId":"942ac669-b40a-4d99-bafe-d5598609a136","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"error_message","value":"Invalid lead data: Missing or invalid email address","type":"string"},{"id":"id-2","name":"lead_data","value":"={{ $json }}","type":"object"},{"id":"id-3","name":"timestamp","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"a63a9949-a93f-43e8-9fbb-4902293d8251","name":"Error Handler","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,544]},{"parameters":{"content":"📋 WORKFLOW OVERVIEW\n\nThis workflow automates lead management:\n1️⃣ Captures leads via web form\n2️⃣ Validates & stores in Google Sheets\n3️⃣ Alerts sales team via Telegram\n4️⃣ Generates AI-powered follow-up email\n5️⃣ Sends personalized email to lead\n\n⚙️ SETUP REQUIRED:\n• Google Sheets credentials\n• Telegram bot token\n• Gmail OAuth2\n• OpenAI API key\n• Update Workflow Configuration node","height":312,"width":400,"color":4},"id":"64433865-b99a-40ce-895c-77fe4a40e66f","name":"Workflow Overview","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-544,48]},{"parameters":{"content":"📝 FORM TRIGGER\n\nCollects lead information:\n• Full Name (required)\n• Email Address (required)\n• Phone Number (required)\n• Source dropdown (required)\n\n🔗 Share the form URL with prospects\n✅ Attribution disabled for clean UX","height":216,"width":408,"color":5},"id":"a69738f4-7eb9-4d96-9027-c6d35d573fc8","name":"Form Trigger Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-848,416]},{"parameters":{"content":"⚙️ CONFIGURATION\n\n🔧 UPDATE THESE VALUES:\n• telegram_chat_id: Your Telegram chat ID\n• sales_team_name: Your team name\n• company_name: Your company name\n\nThese values are used throughout the workflow","height":180,"width":408,"color":6},"id":"1923b4a3-47fa-49fd-8ee2-7114c0da1a66","name":"Configuration Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1264,192]},{"parameters":{"content":"✅ VALIDATION\n\nChecks lead data quality:\n• Email is not empty\n• Email contains @ symbol\n• Name is not empty\n\n✔️ Valid → Continue to storage\n❌ Invalid → Error handler","height":244,"width":280,"color":3},"id":"9ea35606-67a9-43a3-a7f3-e3f119a8e7bf","name":"Validation Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,608]},{"parameters":{"content":"💾 DATA STORAGE\n\n1️⃣ Structure Lead Data:\n   Formats fields + adds timestamp & status\n\n2️⃣ Store in Google Sheets:\n   Appends/updates lead in CRM\n   Matches by email address\n\n⚠️ UPDATE: Set your Google Sheet ID","height":232,"width":320,"color":2},"id":"b80b22bf-6e62-493c-b1d0-e6768787735a","name":"Data Storage Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"📢 SALES ALERT\n\nSends instant Telegram notification:\n• Lead name, email, phone\n• Source & timestamp\n• Status indicator\n\n⚠️ SETUP: Configure Telegram bot credentials","height":180,"width":280,"color":7},"id":"d07bc5b6-7347-4490-802b-b2ecacf6bc37","name":"Notification Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[432,0]},{"parameters":{"content":"🤖 AI EMAIL GENERATION\n\n1️⃣ Prepare AI Input:\n   Extracts lead data for AI prompt\n\n2️⃣ Generate Email:\n   GPT-4o-mini creates personalized email\n   • Thanks lead for interest\n   • Acknowledges source\n   • Clear call-to-action\n\n3️⃣ Structure Parser:\n   Formats output (subject, greeting, body)\n\n4️⃣ Send via Gmail:\n   Delivers personalized follow-up\n\n⚠️ SETUP: OpenAI + Gmail credentials","height":280,"width":360,"color":4},"id":"57589f8d-f3d1-44d7-8d7d-fce953c2f058","name":"AI Email Generation Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,656]},{"parameters":{"content":"⚠️ ERROR HANDLING\n\nCaptures invalid leads:\n• Missing email\n• Invalid email format\n• Missing name\n\nLogs error details with timestamp\nfor troubleshooting","height":180,"width":280,"color":5},"id":"f309204b-7436-42ee-a548-1bc2df00624b","name":"Error Handling Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-928,112]},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[608,656],"id":"519894b4-9e5c-4e97-8484-bd8f7d67784d","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $workflow.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[768,672],"id":"24f63120-57e6-4c7a-b267-461a15b09f15","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"UfUiOv2EqEIT6ft2","name":"Postgres account_2"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":494694657,"mode":"list","cachedResultName":"Collect Lead Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=494694657"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-928,1168],"id":"a6dc407b-6587-4952-923a-328ba6b04379","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"ER35FLmb8qkMRyaj","name":"Ai with Dhruv Trigger"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1NEEmrQhRC0cGLyYKa0qTr5e72Iub38_tZFs4l37PwTk","mode":"list","cachedResultName":"Form Submission Outbound Caller","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NEEmrQhRC0cGLyYKa0qTr5e72Iub38_tZFs4l37PwTk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NEEmrQhRC0cGLyYKa0qTr5e72Iub38_tZFs4l37PwTk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd hh:mm a') }}","Name":"={{ $json.Name }}","Phone":"={{ $json['Phone Number'] }}","Email":"={{ $json.Email }}","Company":"={{ $json['Company Name'] }}","Role":"={{ $json.Role }}","Request":"={{ $json.Request }}","Company Size":"={{ $json['Company Size'] }}","Status":"Incorrect Phone #"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Size","displayName":"Company Size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Interest","displayName":"Service Interest","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivation","displayName":"Motivation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Urgency","displayName":"Urgency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Past Experience","displayName":"Past Experience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Budget","displayName":"Budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Intent?","displayName":"Intent?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,992],"id":"ee9aecd2-4509-4904-8fa1-4ea2126e655f","name":"Log Incorrect Phone","credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e68a68dc-720b-423e-84f5-1b7aa9238daa","leftValue":"={{ $json[\"Phone Number\"] }}","rightValue":"incorrect format","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-80,1152],"id":"bafca584-0e03-4940-8db1-b0be2a0e45d8","name":"Incorrect Phone?"},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();\n\n// Process each item\nreturn items.map(item => {\n  const phoneNumber = item.json['Phone Number'];\n  \n  // Convert to string and remove all non-digit characters\n  let cleanNumber = String(phoneNumber).replace(/\\D/g, '');\n  \n  // Handle different cases\n  let standardizedNumber;\n  \n  if (cleanNumber.length === 10) {\n    // Perfect - just 10 digits\n    standardizedNumber = cleanNumber;\n  } else if (cleanNumber.length === 11 && cleanNumber.startsWith('1')) {\n    // US number with country code +1\n    standardizedNumber = cleanNumber.slice(1);\n  } else {\n    // Wrong format - too many, too few, or wrong country code\n    standardizedNumber = 'incorrect format';\n  }\n  \n  // Return the item with standardized phone number\n  return {\n    json: {\n      ...item.json,\n      'Phone Number': standardizedNumber\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,1152],"id":"77f152e7-7031-40cf-a1d5-339b018d964b","name":"Standardize Data"},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"assistantId\": \"b05881f5-48a0-4dc5-a7d0-5bdd6ddc52ec\",\n  \"phoneNumberId\": \"23f7c809-ba0c-4bd3-a706-7509a9a853a8\",\n  \"customers\": [\n    {\n      \"number\": \"+918770101822\"\n    }\n  ],\n  \"assistantOverrides\": {\n    \"variableValues\": {\n      \"lead_name\": \"{{ $json.Name }}\",\n      \"lead_company_name\": \"{{ $json['Company Name'] }}\",\n      \"lead_request\": \"{{ $json.Requirement }}\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[112,1232],"id":"83aac4f5-86d9-47d7-9061-8a099fffb473","name":"Call Lead","credentials":{"httpBearerAuth":{"id":"ChR34jWF1yJXcipO","name":"Vapi"}}},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[272,1152],"id":"dcdb3430-ca19-4743-b4d9-5c7c53748f86","name":"Wait","webhookId":"0c05dec5-3ea2-4c18-9d2f-8e3e5d1689a8"},{"parameters":{"url":"=https://api.vapi.ai/call/{{ $json.results[0].id }}","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[512,1152],"id":"9fff5392-92ee-4267-8d26-690ed5f1bc74","name":"Get Call Details","executeOnce":true,"credentials":{"httpBearerAuth":{"id":"ChR34jWF1yJXcipO","name":"Vapi"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"73716a76-22fa-4f8c-880f-b76350b436f9","leftValue":"={{ $json.endedReason }}","rightValue":"voicemail","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1008,1072],"id":"0ab61463-e750-493d-86d6-37a93154d9de","name":"Voicemail?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"30c7ebf4-6de9-49f3-9a27-b7f3a7e2b558","leftValue":"={{ $json.status }}","rightValue":"ended","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[832,1152],"id":"f0e2f45a-c78c-46b8-bffd-265430b8c5f0","name":"Ended?"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1008,1232],"id":"937036f7-0a6a-4f66-8b63-c7ba62edd2b8","name":"Polling","webhookId":"521bc4a4-0445-4842-be13-770e334bb86d"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1NEEmrQhRC0cGLyYKa0qTr5e72Iub38_tZFs4l37PwTk","mode":"list","cachedResultName":"Form Submission Outbound Caller","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NEEmrQhRC0cGLyYKa0qTr5e72Iub38_tZFs4l37PwTk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NEEmrQhRC0cGLyYKa0qTr5e72Iub38_tZFs4l37PwTk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Date":"={{ $now.format('yyyy-MM-dd hh:mm a') }}","Name":"={{ $('On form submission').item.json.Name }}","Phone":"={{ $('On form submission').item.json['Phone Number'] }}","Email":"={{ $('On form submission').item.json.Email }}","Company":"={{ $('On form submission').item.json['Company Name'] }}","Role":"={{ $('On form submission').item.json.Role }}","Request":"={{ $('On form submission').item.json.Request }}","Company Size":"={{ $('On form submission').item.json['Company Size'] }}","Service Interest":"N/A","Motivation":"N/A","Urgency":"N/A","Past Experience":"N/A","Budget":"N/A","Intent?":"N/A","Status":"Call Back"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Request","displayName":"Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Size","displayName":"Company Size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Service Interest","displayName":"Service Interest","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivation","displayName":"Motivation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Urgency","displayName":"Urgency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Past Experience","displayName":"Past Experience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Budget","displayName":"Budget","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Intent?","displayName":"Intent?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1296,1056],"id":"a6037c0c-fcd9-458a-9e38-6163321477bb","name":"Log Voicemal","credentials":{"googleSheetsOAuth2Api":{"id":"SdL7tmc5CSF99khk","name":"Dhruv7008@"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[688,1152],"id":"2e2d6848-c224-47e5-90d0-091444d3d4bb","name":"Limit"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":494694657,"mode":"list","cachedResultName":"Collect Lead Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=494694657"},"columns":{"mappingMode":"defineBelow","value":{"AI Call Status":"Done","Ai Discussion":"={{ $('Get Call Details').item.json.transcript }} ","Recording URL":"={{ $('Get Call Details').item.json.recordingUrl }}","Phone Number":"={{ $('Google Sheets Trigger').item.json['Phone Number'] }}"},"matchingColumns":["Phone Number"],"schema":[{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone Number","displayName":"Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Requirement","displayName":"Requirement","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"AI Call Status","displayName":"AI Call Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ai Discussion","displayName":"Ai Discussion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Recording URL","displayName":"Recording URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1312,1232],"id":"c383984f-ddb3-4df7-a974-8ce3a1390002","name":"Log Complete","credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":620309709,"mode":"list","cachedResultName":"Call Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=620309709"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $('Standardize Data').item.json.Name }}","Phone":"={{ $('Standardize Data').item.json['Phone Number'] }}","Email":"={{ $('Standardize Data').item.json.Email }}","Company":"={{ $('Standardize Data').item.json['Company Name'] }}","Role":"={{ $('Standardize Data').item.json.Profession }}","Company Size":"={{ $('Standardize Data').item.json['Company Size'] }}","Status":"Completed","Date":"={{ $('Standardize Data').item.json.submittedAt }}","Remark":"={{ $('Standardize Data').item.json.Remarks }}","Discussion":"={{ $json.transcript }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Role","displayName":"Role","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Remark","displayName":"Remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Size","displayName":"Company Size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Discussion","displayName":"Discussion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1584,1264],"id":"5b21f0c4-75de-4fec-9539-0db53b80a43a","name":"Log Complete1","credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"sendTo":"aiwithdhruv@gmail.com","subject":"New Lead","emailType":"text","message":"=🎯 New Lead Alert!\n\n👤 Name: {{ $('Lead Capture Form').item.json.name }}\n📧 Email: {{ $('Lead Capture Form').item.json.email }}\n📱 Phone: {{ $('Lead Capture Form').item.json.phone }}\n🔗 Source: {{ $('Lead Capture Form').item.json.source }}\n⏰ Time: {{ $('Structure Lead Data').item.json.timestamp }}\n\nStatus: {{ $('Structure Lead Data').item.json.status }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[736,256],"id":"e3fab567-7187-4391-9538-e9ffc14b8c4f","name":"Send a message","webhookId":"3b5596c8-e1a2-4403-bd37-3cc7280d18a9","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[944,256],"id":"95448b37-90a7-4d68-b1dd-d84b60b6468a","name":"No Operation, do nothing"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cdef613e-c6e9-4e30-a6f4-512c3f3173b4","leftValue":"={{ $json['AI Call Status'] }}","rightValue":"Pending","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-736,1168],"id":"7004be06-fde1-45fe-a8ff-0dda6daf3d4a","name":"If"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-480,1152],"id":"91108e83-906d-47ed-b9b9-44b6c3651a9d","name":"Limit1"},{"parameters":{"content":"### Make AI calls to added leads\n","height":128,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1232,1168],"typeVersion":1,"id":"47b0bc9c-9f6d-4424-93bd-4f50a46a561a","name":"Sticky Note"}],"connections":{"Lead Capture Form":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Validate Lead Data","type":"main","index":0}]]},"Validate Lead Data":{"main":[[{"node":"Structure Lead Data","type":"main","index":0}],[{"node":"Error Handler","type":"main","index":0}]]},"Structure Lead Data":{"main":[[{"node":"Store in Google Sheets CRM","type":"main","index":0}]]},"Store in Google Sheets CRM":{"main":[[{"node":"Alert Sales Team","type":"main","index":0},{"node":"Prepare AI Input","type":"main","index":0}]]},"Prepare AI Input":{"main":[[{"node":"Generate Personalized Email","type":"main","index":0}]]},"Generate Personalized Email":{"main":[[{"node":"Send Follow-up Email","type":"main","index":0}]]},"Email Structure Parser":{"ai_outputParser":[[{"node":"Generate Personalized Email","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Generate Personalized Email","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Generate Personalized Email","type":"ai_memory","index":0}]]},"Incorrect Phone?":{"main":[[{"node":"Log Incorrect Phone","type":"main","index":0}],[{"node":"Call Lead","type":"main","index":0}]]},"Standardize Data":{"main":[[{"node":"Incorrect Phone?","type":"main","index":0}]]},"Call Lead":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Call Details","type":"main","index":0}]]},"Get Call Details":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Voicemail?":{"main":[[{"node":"Log Voicemal","type":"main","index":0}],[{"node":"Log Complete","type":"main","index":0}]]},"Ended?":{"main":[[{"node":"Voicemail?","type":"main","index":0}],[{"node":"Polling","type":"main","index":0}]]},"Polling":{"main":[[{"node":"Get Call Details","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Ended?","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Alert Sales Team":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"If":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Standardize Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"6fef861b-8a98-487f-ac43-a4408f77a587","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-31T12:59:18.349Z","createdAt":"2026-01-31T12:59:18.349Z","role":"workflow:owner","workflowId":"VuDQ1wn4H2kvk18l4CvXs","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
