workflows/Error_Trigger.json
{"updatedAt":"2025-12-21T11:36:23.845Z","createdAt":"2025-12-21T11:32:39.710Z","id":"QV0m3reWguONvDAN","name":"Error Trigger","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-256,-32],"id":"9d21dc24-0fdc-453c-b89e-8663b6c9d8bc","name":"Error Trigger"},{"parameters":{"sendTo":"aiwithdhruv@gmail.com","subject":"=Workflow  {{ $json.workflow.name }} failed","emailType":"text","message":"=Workflow {{ $json.workflow.name }} is broken\nDate & Time : {{ $now }}\nLasts Node: {{ $json.execution.lastNodeExecuted }}\n\nDetails: {{ $json.execution.error.message }}\n\nYarr!!!\n\nError Stack : {{ $json.execution.error.stack }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-48,-32],"id":"5b928f4c-32fb-4170-a2f2-baa08c4a075c","name":"Send Error","webhookId":"66539f9a-d147-4b43-a036-a5b13fc77622","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"authentication":"oAuth2","select":"user","user":{"__rl":true,"value":"U0A4JAEPD70","mode":"list","cachedResultName":"aiwithdhruv"},"text":"=Workflow {{ $json.workflow.name }} is broken\nDate & Time : {{ $now }}\nLasts Node: {{ $json.execution.lastNodeExecuted }}\n\nDetails: {{ $json.execution.error.message }}\n\nYarr!!!\n\nError Stack : {{ $json.execution.error.stack }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[160,-32],"id":"54b36841-98b9-44c9-a0d4-63bdfcf1a4ed","name":"Send a message","webhookId":"6abf637b-f3ab-4fe4-b5cd-6d24330e470c","credentials":{"slackOAuth2Api":{"id":"1w3syamNlvhO12bU","name":"Slack account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Send Error","type":"main","index":0}]]},"Send Error":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ccc606a4-f0a4-4fcf-9a4d-f39d62958900","activeVersionId":"ccc606a4-f0a4-4fcf-9a4d-f39d62958900","versionCounter":14,"triggerCount":0,"shared":[{"updatedAt":"2025-12-21T11:32:39.713Z","createdAt":"2025-12-21T11:32:39.713Z","role":"workflow:owner","workflowId":"QV0m3reWguONvDAN","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-21T11:36:25.000Z","createdAt":"2025-12-21T11:36:23.846Z","versionId":"ccc606a4-f0a4-4fcf-9a4d-f39d62958900","workflowId":"QV0m3reWguONvDAN","nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-256,-32],"id":"9d21dc24-0fdc-453c-b89e-8663b6c9d8bc","name":"Error Trigger"},{"parameters":{"sendTo":"aiwithdhruv@gmail.com","subject":"=Workflow  {{ $json.workflow.name }} failed","emailType":"text","message":"=Workflow {{ $json.workflow.name }} is broken\nDate & Time : {{ $now }}\nLasts Node: {{ $json.execution.lastNodeExecuted }}\n\nDetails: {{ $json.execution.error.message }}\n\nYarr!!!\n\nError Stack : {{ $json.execution.error.stack }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-48,-32],"id":"5b928f4c-32fb-4170-a2f2-baa08c4a075c","name":"Send Error","webhookId":"66539f9a-d147-4b43-a036-a5b13fc77622","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"authentication":"oAuth2","select":"user","user":{"__rl":true,"value":"U0A4JAEPD70","mode":"list","cachedResultName":"aiwithdhruv"},"text":"=Workflow {{ $json.workflow.name }} is broken\nDate & Time : {{ $now }}\nLasts Node: {{ $json.execution.lastNodeExecuted }}\n\nDetails: {{ $json.execution.error.message }}\n\nYarr!!!\n\nError Stack : {{ $json.execution.error.stack }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[160,-32],"id":"54b36841-98b9-44c9-a0d4-63bdfcf1a4ed","name":"Send a message","webhookId":"6abf637b-f3ab-4fe4-b5cd-6d24330e470c","credentials":{"slackOAuth2Api":{"id":"1w3syamNlvhO12bU","name":"Slack account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Send Error","type":"main","index":0}]]},"Send Error":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"authors":"Dhruv Tomar","name":"Version ccc606a4","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-21T11:36:25.898Z","id":76,"workflowId":"QV0m3reWguONvDAN","versionId":"ccc606a4-f0a4-4fcf-9a4d-f39d62958900","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"}]}}
