workflows/Feedback__Sentiment_Analysis_Form_Webhook__AI__MongoDB__Negative_Alerts.json
{"updatedAt":"2026-01-03T16:18:44.424Z","createdAt":"2026-01-03T16:18:44.424Z","id":"1VammHGuavodJPRZ","name":"Feedback & Sentiment Analysis (Form/Webhook → AI → MongoDB → Negative Alerts)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"feedback","httpMethod":"POST","responseMode":"responseNode","options":{"rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[120,120],"id":"2d0b39f0-9f7f-4f8f-96a0-cd6dbe3a5870","name":"Webhook (Feedback Form Submission)"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"feedback_text","value":"={{($json.body?.feedback_text ?? $json.feedback_text ?? '').toString()}}"},{"name":"user_email","value":"={{($json.body?.user_email ?? $json.user_email ?? '').toString()}}"}]}},"type":"n8n-nodes-base.set","typeVersion":3,"position":[360,120],"id":"878e96e5-c6c0-447f-8c60-0b07fa5c449a","name":"Normalize Input Fields"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.feedback_text}}","operation":"notEmpty"}]}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[600,120],"id":"4c1ce2f7-e5e7-4ce5-b8f9-343a50b18243","name":"Validate: feedback_text present?"},{"parameters":{"responseData":"json","responseCode":400,"responseBody":"={\"ok\":false,\"error\":\"Missing required field: feedback_text\"}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[860,280],"id":"f8fdd1e0-c966-49d0-9299-3f52b2b96566","name":"Respond 400 (Invalid Input)"},{"parameters":{"promptType":"define","text":"={{$json.feedback_text}}","hasOutputParser":true,"options":{"systemMessage":"You are a sentiment analysis service for product feedback.\n\nReturn ONLY valid JSON matching the given schema.\n\nRules:\n- sentiment must be exactly one of: Positive, Neutral, Negative\n- rating must be an integer from 1 to 5 (1=very negative, 3=neutral, 5=very positive)\n- Base sentiment and rating strictly on the feedback text.\n- Do not include additional keys."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1020,120],"id":"8cc6d9e7-4d4b-4a33-8a01-bc463f0d25d1","name":"AI Sentiment + Rating (Structured)"},{"parameters":{"model":"openai/gpt-4o-mini","options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[860,320],"id":"2e84b7d5-25ad-49b2-8a71-1e40e8d03b49","name":"OpenRouter Chat Model"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"enum\": [\"Positive\", \"Neutral\", \"Negative\"],\n      \"description\": \"Overall sentiment classification\"\n    },\n    \"rating\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 5,\n      \"description\": \"Simple 1-5 rating derived from sentiment intensity\"\n    }\n  },\n  \"required\": [\"sentiment\", \"rating\"],\n  \"additionalProperties\": false\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1180,320],"id":"a5bbdf01-9d67-4f16-b088-01e85ae0b177","name":"Structured Output Parser (sentiment,rating)"},{"parameters":{"jsCode":"const sentimentRaw = ($json.sentiment ?? '').toString().trim();\nconst allowed = new Set(['Positive','Neutral','Negative']);\nconst sentiment = allowed.has(sentimentRaw) ? sentimentRaw : 'Neutral';\n\nlet rating = Number($json.rating);\nif (!Number.isFinite(rating)) rating = 3;\nrating = Math.max(1, Math.min(5, Math.round(rating)));\n\nconst feedback_text = ($json.feedback_text ?? '').toString();\nconst user_email = ($json.user_email ?? '').toString().trim();\n\nconst createdAt = new Date().toISOString();\n\nreturn [{\n  json: {\n    feedback_text,\n    user_email: user_email || null,\n    sentiment,\n    rating,\n    createdAt\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,120],"id":"d1202a4d-fd46-4c37-9b6a-4b15db2ffcb2","name":"Normalize AI Output + Add Timestamp"},{"parameters":{"method":"POST","url":"={{$env.MONGODB_DATA_API_URL || 'https://data.mongodb-api.com/app/<APP_ID>/endpoint/data/v1/action/insertOne'}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"api-key","value":"={{$env.MONGODB_DATA_API_KEY || '<MONGODB_DATA_API_KEY>'}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  dataSource: ($env.MONGODB_DATA_SOURCE || 'Cluster0'),\n  database: ($env.MONGODB_DATABASE || 'feedback'),\n  collection: ($env.MONGODB_COLLECTION || 'feedback_entries'),\n  document: {\n    feedback_text: $json.feedback_text,\n    user_email: $json.user_email,\n    sentiment: $json.sentiment,\n    rating: $json.rating,\n    createdAt: $json.createdAt,\n    meta: {\n      workflow: 'Feedback & Sentiment Analysis',\n      version: 1\n    }\n  }\n} }}","options":{"timeout":30000,"retry":{"maxTries":3,"waitBetweenTries":1000}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,120],"id":"dd56b535-87d1-46b9-a8ed-07a059936b86","name":"Store in MongoDB (Atlas Data API)"},{"parameters":{"conditions":{"string":[{"value1":"={{$json.sentiment}}","operation":"equals","value2":"Negative"}]}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[1740,120],"id":"5bfbed50-1d39-414c-ac21-7bd1f0656456","name":"If Negative Sentiment"},{"parameters":{"resource":"message","operation":"post","channel":"={{$env.SLACK_ALERT_CHANNEL || '#alerts'}}","text":"={{`Negative feedback received (rating ${$json.rating}).\\nEmail: ${$json.user_email || 'N/A'}\\nCreatedAt: ${$json.createdAt}\\n\\nFeedback:\\n${$json.feedback_text}`}}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[1980,40],"id":"3f0e20b0-7b5c-44e4-aeaf-04f8bb153a72","name":"Slack Alert (Negative)"},{"parameters":{"fromEmail":"={{$env.ALERT_FROM_EMAIL || 'n8n@yourdomain.com'}}","toEmail":"={{$env.FEEDBACK_ALERT_EMAIL_TO || 'alerts@yourdomain.com'}}","subject":"={{`[ALERT] Negative feedback (rating ${$json.rating})`}}","text":"={{`Negative feedback received.\\n\\nSentiment: ${$json.sentiment}\\nRating: ${$json.rating}\\nUser Email: ${$json.user_email || 'N/A'}\\nTimestamp: ${$json.createdAt}\\n\\nFeedback:\\n${$json.feedback_text}`}}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[2200,40],"id":"a1523158-9834-4ab4-b72f-c8423a87fbce","name":"Email Alert (Negative)"},{"parameters":{"mode":"wait"},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2440,120],"id":"3dd71cb8-668f-430f-a9cf-65aa4ae17a74","name":"Merge (Wait for Alerts/No-Alerts)"},{"parameters":{"responseData":"json","responseCode":200,"responseBody":"={\"ok\":true,\"sentiment\":$json.sentiment,\"rating\":$json.rating}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2680,120],"id":"c4ba23a8-ec1a-4c44-9d89-940d0fa02404","name":"Respond 200 (Sentiment + Rating)"},{"parameters":{"content":"## Feedback → Sentiment Workflow\n\n**Trigger:** POST to `/webhook/feedback`\n\nExpected fields:\n- `feedback_text` (required)\n- `user_email` (optional)\n\nReturns JSON:\n- `sentiment`: Positive | Neutral | Negative\n- `rating`: 1–5\n\nIf missing `feedback_text`, returns **400**.","height":220,"width":420,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-120],"id":"fbb6b2c2-0e5a-40e3-b4b8-0b46fbd1ac43","name":"Sticky Note - Overview"},{"parameters":{"content":"## AI Sentiment Analysis\n\nThis workflow uses **OpenRouter** with a **structured output parser** to reliably return:\n- `sentiment` (Positive/Neutral/Negative)\n- `rating` (1-5)\n\nConfigure OpenRouter credentials on the **OpenRouter Chat Model** node.","height":200,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,520],"id":"e0f7a1b0-50d1-4f8b-bff5-9a101b4a92e4","name":"Sticky Note - AI"},{"parameters":{"content":"## MongoDB Storage (Flexible Schema)\n\nUses **MongoDB Atlas Data API** (`insertOne`) so the document can be flexible.\n\nSet environment variables:\n- `MONGODB_DATA_API_URL`\n- `MONGODB_DATA_API_KEY`\n- `MONGODB_DATA_SOURCE`\n- `MONGODB_DATABASE`\n- `MONGODB_COLLECTION`\n\nDocument stored:\n`feedback_text`, `user_email`, `sentiment`, `rating`, `createdAt`, `meta`","height":250,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,-140],"id":"0b735723-9a21-4a04-8f0c-1b6fa6d7c30d","name":"Sticky Note - MongoDB"},{"parameters":{"content":"## Negative Feedback Alerts\n\nIf `sentiment === \"Negative\"`:\n- Post to Slack\n- Send an email\n\nConfigure:\n- Slack credentials on **Slack Alert** node and set `SLACK_ALERT_CHANNEL` env var.\n- SMTP credentials on **Email Send** node and set:\n  - `FEEDBACK_ALERT_EMAIL_TO`\n  - `ALERT_FROM_EMAIL`","height":230,"width":460,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1960,320],"id":"ebcfba9a-423c-4e4c-af69-97cf394c7d16","name":"Sticky Note - Alerts"}],"connections":{"Webhook (Feedback Form Submission)":{"main":[[{"node":"Normalize Input Fields","type":"main","index":0}]]},"Normalize Input Fields":{"main":[[{"node":"Validate: feedback_text present?","type":"main","index":0}]]},"Validate: feedback_text present?":{"main":[[{"node":"AI Sentiment + Rating (Structured)","type":"main","index":0}],[{"node":"Respond 400 (Invalid Input)","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Sentiment + Rating (Structured)","type":"ai_languageModel","index":0}]]},"Structured Output Parser (sentiment,rating)":{"ai_outputParser":[[{"node":"AI Sentiment + Rating (Structured)","type":"ai_outputParser","index":0}]]},"AI Sentiment + Rating (Structured)":{"main":[[{"node":"Normalize AI Output + Add Timestamp","type":"main","index":0}]]},"Normalize AI Output + Add Timestamp":{"main":[[{"node":"Store in MongoDB (Atlas Data API)","type":"main","index":0}]]},"Store in MongoDB (Atlas Data API)":{"main":[[{"node":"If Negative Sentiment","type":"main","index":0}]]},"If Negative Sentiment":{"main":[[{"node":"Slack Alert (Negative)","type":"main","index":0}],[{"node":"Merge (Wait for Alerts/No-Alerts)","type":"main","index":1}]]},"Slack Alert (Negative)":{"main":[[{"node":"Email Alert (Negative)","type":"main","index":0}]]},"Email Alert (Negative)":{"main":[[{"node":"Merge (Wait for Alerts/No-Alerts)","type":"main","index":0}]]},"Merge (Wait for Alerts/No-Alerts)":{"main":[[{"node":"Respond 200 (Sentiment + Rating)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveDataErrorExecution":"all","errorWorkflow":"","timezone":"America/New_York","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"9ca8ed4d-a7d1-4ba1-8f49-101068ff7f6f","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-01-03T16:18:44.426Z","createdAt":"2026-01-03T16:18:44.426Z","role":"workflow:owner","workflowId":"1VammHGuavodJPRZ","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
