workflows/Gemini_3_Flash_Previe_Daily_AI_News_Curator_RSS_to_Email__Telegram.json
{"updatedAt":"2025-12-30T13:34:11.000Z","createdAt":"2025-12-30T05:17:16.469Z","id":"VAP0V0kLjm1Uq12l","name":"Gemini 3 Flash Previe Daily AI News Curator (RSS to Email & Telegram)","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"18c946b2-6d2c-46a2-9721-3957813a2902","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"url":"https://hnrss.org/frontpage?q=AI","options":{}},"id":"3e9b28be-50d4-4f27-bc97-4fe385786311","name":"RSS Feed Reader","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[224,0]},{"parameters":{},"id":"76c95b6c-85a0-496a-8673-f94982da9901","name":"Limit to 10 Articles","type":"n8n-nodes-base.limit","typeVersion":1,"position":[448,0]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{},{},{}]},"options":{}},"id":"0d850a98-8e6e-4cc5-99d8-9fb97223403a","name":"Aggregate News","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[672,0]},{"parameters":{"promptType":"define","text":"=&lt;h1&gt;Daily AI News Report&lt;/h1&gt;\nI have a list of latest AI news items. Please select the TOP 5 most impactful stories and provide a brief summary for each including the original link.\n\nRaw Data:\n{{ $json.items }}","options":{"systemMessage":"You are a professional AI news curator. Format your output as a clean HTML report for email and a concise Markdown list for Telegram. Ensure you clearly separate the two formats."}},"id":"bc992095-8123-4e8c-8c9a-9e77651239aa","name":"AI News Summarizer","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[880,0]},{"parameters":{"options":{}},"id":"67f2ad4c-bc6d-473d-986c-0e78c439123c","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[800,224],"credentials":{"openAiApi":{"id":"YOUR_OPENAI_ID","name":"OpenAI Account"}}},{"parameters":{"subject":"Daily AI News Digest","options":{}},"id":"f8a0234a-912c-47ea-a2cd-882939384812","name":"Gmail Node","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1152,-96],"webhookId":"06d41230-965e-4fec-9174-b9d561ddbd9c","credentials":{"gmailOAuth2":{"id":"YOUR_GMAIL_ID","name":"Gmail Account"}}},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"={{ $json.output }}","additionalFields":{"parse_mode":"HTML"}},"id":"d9293812-381a-428a-8c9a-928173645251","name":"Telegram Node","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1152,128],"webhookId":"aa5789fa-0c88-44fe-901a-95ac839f70b6","credentials":{"telegramApi":{"id":"YOUR_TELEGRAM_ID","name":"Telegram Bot Account"}}},{"parameters":{"content":"### 👋 Configuration Needed\n1. **RSS Feed**: Set your favorite AI news URL (Default is Hacker News AI).\n2. **OpenAI**: Connect your API key in the Chat Model node.\n3. **Telegram**: Provide Chat ID and Bot Token.\n4. **Gmail**: Connect your OAuth and set recipient email.","height":194,"width":312,"color":4},"id":"ae20053d-915d-4aa2-a9b7-e05b07152a9f","name":"Sticky Note - Setup Instructions","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-256]},{"parameters":{"content":"### 🤖 AI Processing\nThe agent takes the raw RSS data and picks the top 5 most important stories, writing a summary and formatting it for the output channels.","color":6},"id":"be20053d-915d-4aa2-a9b7-e05b07152a11","name":"Sticky Note - AI Logic","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,-240]}],"connections":{"Schedule Trigger":{"main":[[{"node":"RSS Feed Reader","type":"main","index":0}]]},"RSS Feed Reader":{"main":[[{"node":"Limit to 10 Articles","type":"main","index":0}]]},"Limit to 10 Articles":{"main":[[{"node":"Aggregate News","type":"main","index":0}]]},"Aggregate News":{"main":[[{"node":"AI News Summarizer","type":"main","index":0}]]},"AI News Summarizer":{"main":[[{"node":"Gmail Node","type":"main","index":0},{"node":"Telegram Node","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"AI News Summarizer","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveDataErrorExecution":"all","timezone":"America/New_York","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"d9f0b064-016b-4d5e-845f-1438871d3310","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-12-30T05:17:16.475Z","createdAt":"2025-12-30T05:17:16.475Z","role":"workflow:owner","workflowId":"VAP0V0kLjm1Uq12l","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
