workflows/Groq_41_fast_Daily_Top_5_AI_News_to_Email__Telegram.json
{"updatedAt":"2025-12-30T13:34:00.000Z","createdAt":"2025-12-30T05:15:41.253Z","id":"RjEDbXtNYu3GdWcj","name":"Groq 4.1 fast Daily Top 5 AI News to Email & Telegram","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## Workflow Overview\n\nFetches the top 5 latest AI news from Hacker News RSS feed daily at 9:00 UTC.\n\nFormats a nice summary and sends it to your email and Telegram.\n\n**Flow:** Schedule → RSS → Format → Email & Telegram (parallel)"},"id":"overview-uuid","name":"Overview Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,-208]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 * * *"}]}},"id":"daily-trigger-uuid","name":"Daily Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[304,240]},{"parameters":{"content":"## RSS Feed Source\n\nFetching from: https://hnrss.org/newest?topic=AI\n\n(Hacker News newest stories tagged 'AI')\n\nYou can change the URL in the 'Fetch AI RSS' node if you prefer another AI news feed."},"id":"rss-note-uuid","name":"RSS Source Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,448]},{"parameters":{"url":"https://hnrss.org/newest?topic=AI","options":{}},"id":"rss-feed-uuid","name":"Fetch AI RSS","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[528,240]},{"parameters":{"jsCode":"const items = $input.all().slice(0, 5);\nconst today = new Date().toLocaleDateString('en-US', { timeZone: 'UTC' });\n\nlet summary = `📰 Top 5 AI News - ${today} 📰\\n\\n`;\n\nitems.forEach((item, index) => {\n  const data = item.json;\n  summary += `${index + 1}. ${data.title || 'No title'}\\n`;\n  if (data.link) {\n    summary += `🔗 ${data.link}\\n`;\n  }\n  if (data.description) {\n    let desc = data.description.replace(/<[^>]*>/g, '').trim();\n    summary += `${desc.substring(0, 200)}...\\n\\n`;\n  } else {\n    summary += '\\n';\n  }\n});\n\nreturn [{ json: { summary } }];"},"id":"format-summary-uuid","name":"Format Top 5 Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,240]},{"parameters":{"subject":"📰 Daily Top 5 AI News","options":{}},"id":"gmail-send-uuid","name":"Send to Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[960,128],"webhookId":"66a815ad-e64b-4090-9d65-f18ad133e574","credentials":{"gmailOAuth2":{"id":"REPLACE_WITH_YOUR_CRED_ID","name":"Gmail OAuth2"}}},{"parameters":{"chatId":"YOUR_CHAT_ID_HERE","text":"={{ $json.summary }}","additionalFields":{}},"id":"telegram-send-uuid","name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":2.2,"position":[960,368],"credentials":{"telegramApi":{"id":"REPLACE_WITH_YOUR_CRED_ID","name":"Telegram Bot"}}},{"parameters":{"content":"## Configure Credentials & Params\n\n**Gmail:**\n• Create OAuth2 credentials in n8n\n• Update `fromEmail` & `toEmail`\n\n**Telegram:**\n• Create bot via @BotFather, get API token\n• Send /start to bot, get your chat ID (or use https://api.telegram.org/bot<TOKEN>/getUpdates)\n• Update `chatId`\n\n**Timezone:** Cron is UTC, adjust expression if needed."},"id":"creds-note-uuid","name":"Credentials Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,528]},{"parameters":{"content":"## Test & Activate\n\n1. Execute manually to test each node\n2. Check RSS output, formatting, sends\n3. Fix any issues (e.g., creds)\n4. Save & Activate for daily runs\n\n**Cron:** 0 9 * * * = 9AM UTC daily"},"id":"activation-note-uuid","name":"Activation Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,240]}],"connections":{"Daily Schedule":{"main":[[{"node":"Fetch AI RSS","type":"main","index":0}]]},"Fetch AI RSS":{"main":[[{"node":"Format Top 5 Summary","type":"main","index":0}]]},"Format Top 5 Summary":{"main":[[{"node":"Send to Gmail","type":"main","index":0},{"node":"Send to Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveDataErrorExecution":"all","errorWorkflow":"","timezone":"UTC","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"e9212999-012a-416c-b94a-96577f72c640","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-12-30T05:15:41.255Z","createdAt":"2025-12-30T05:15:41.255Z","role":"workflow:owner","workflowId":"RjEDbXtNYu3GdWcj","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
