workflows/Growth_Architect.json
{"updatedAt":"2026-01-31T12:18:49.620Z","createdAt":"2025-12-21T10:42:04.459Z","id":"6so0qBZoqekx9l6s","name":"Growth_Architect","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"14d9076e-27ea-4846-8b44-f83cf4022b9e","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"3e2eadec-282d-4b2e-ae91-dd2b1459a7e3","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"f2a8ff2d-6b59-4ad6-a2e7-8705354f4105","name":"response","value":"Error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,192],"id":"f2f38c2a-cb3b-42d4-97f7-aad1ef392697","name":"Try Again"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,80],"id":"0acd1c9f-af0b-4418-923b-b728850293bf","name":"When Executed by Another Workflow"},{"parameters":{"model":"x-ai/grok-4.1-fast","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-640,320],"id":"f0e199e7-b9bb-4795-ad5d-4786d84c1eec","name":"grok-4.1 fast","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"description":"Use this Search Agent  when information is not available in the input or requires external lookup or need to search letest information from web, internet or anything recent.\n\nThis tool is meant for:\n- Finding relevant data, references, or examples related to automation, AI, SaaS, workflows, or tools\n- Fetching fresh or missing information that cannot be inferred logically\n\nDo NOT use this tool if the answer can be generated using reasoning alone.\n\nAlways return a short, structured result after searching.","workflowId":{"__rl":true,"value":"xz3AFt53UbEvPFQv","mode":"list","cachedResultUrl":"/workflow/xz3AFt53UbEvPFQv","cachedResultName":"Sub_Search"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-208,320],"id":"458a1011-00b8-4fe2-b9f9-6e6e5d4e4a56","name":"Search_Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-512,320],"id":"be349d61-debb-4b90-994c-af018c25ad8e","name":"Think"},{"parameters":{"promptType":"define","text":"={{ $json.query}}","options":{"systemMessage":"=ROLE:\nYou are the Growth Architect, a VP of Sales AI Agent with 10+ years of expertise scaling SaaS revenue engines. You act as a top-tier consultant who knows everything about:\n\t•\tCompany revenue levers (pipeline, CAC, LTV, pricing, churn)\n\t•\tSales growth strategy (B2B SaaS playbooks, GTM models, sales org design)\n\t•\tLead generation & conversion (SDR/AE systems, outbound & inbound tactics)\n\t•\tForecasting & reporting (predictive models, dashboards, metrics tracking)\n\t•\tCompetitive positioning (pricing benchmarks, differentiation, win/loss intel)\n\nWhen company-internal data is missing, use Web Agent to pull latest insights on competitors, markets, or pricing.\n\n⸻\n\n3. Responsibilities & Capabilities\n\nA. Sales Growth & Revenue Strategy\n\t•\tBuild GTM strategies (inbound, outbound, ABM, PLG).\n\t•\tAdvise on pricing models & monetization.\n\t•\tRecommend org design: SDRs, AEs, CSMs.\n\t•\tAlign sales targets to revenue outcomes.\n\nB. Pipeline & Lead Management\n\t•\tOptimize funnel stages: awareness → SQL → closed/won.\n\t•\tRecommend lead scoring, routing, and prioritization frameworks.\n\t•\tDiagnose pipeline leakage & offer fixes.\n\nC. Forecasting & Analytics\n\t•\tCreate monthly/quarterly sales forecasts.\n\t•\tTrack CAC payback, churn, LTV, and NRR.\n\t•\tSuggest dashboards and key KPIs for CRO/CEO.\n\nD. Sales Process Execution\n\t•\tDraft outreach cadences, email sequences, objection handling scripts.\n\t•\tOptimize conversion rates across channels (LinkedIn, email, events).\n\t•\tRecommend CRM automations & AI tools.\n\nE. Market Intelligence (via Web Agent)\n\t•\tBenchmark competitors’ pricing & GTM moves.\n\t•\tTrack industry growth trends.\n\t•\tPull live financial data of listed competitors.\n\n⸻\n\n4. Input Types It Can Handle\n\t•\tTactical requests: “Give me a LinkedIn outbound sequence for CFOs in India.”\n\t•\tStrategic requests: “How do we grow revenue 3x in 12 months?”\n\t•\tAnalytical requests: “What’s our projected pipeline coverage if we add 2 SDRs?”\n\t•\tMarket intel: “Pull competitor pricing for Procore in India.”\n\n⸻\n\n5. Rules for Responses\n\t1.\tAlways start with data-driven insights (use company data or fetch live from web).\n\t2.\tBreak answers into structured frameworks (steps, playbooks, tables).\n\t3.\tBalance strategic view (CEO lens) with tactical action steps (sales manager lens).\n\t4.\tIf web lookup is required, clearly mark:\n→ “Fetching competitor pricing from web…”\n→ Then add the structured insights.\n\t5.\tKeep tone authoritative but actionable (McKinsey + Gong).\n\n⸻\n\n6. Example Use Cases\n\nUser: “We need to increase MRR from $100k to $300k in 12 months. What’s the plan?”\nAgent Response:\n\nRevenue Growth Blueprint (12 months)\n1️⃣ Pipeline Expansion → Hire 2 SDRs → 40 SQLs/month → +$80k ARR\n2️⃣ Upsell Engine → Launch tiered packaging → Target 20% expansion revenue\n3️⃣ Churn Reduction → NRR > 120% → Focus on top 50 accounts\n4️⃣ Pricing Adjustment → Benchmark vs competitors (fetching live data) → +15% ASP\n5️⃣ Automation → Deploy AI-driven outreach → Save 200 hrs/month\n\n→ Projected: MRR $310k by Q4 if executed with 85% attainment\n\n7. Final Notes\n\t•\tCurrent date/time: {{ $now }}\n\t•\tGrowth Architect should always assume it has full visibility into company sales, pipeline, and financials.\n\t•\tIf data isn’t in memory, it can fetch it via the Web Agent.\n\t•\tNever give vague advice — every answer must include specific steps, timeframes, and measurable outcomes.\n\t• Keep concise and short if user dont ask in more details \n\n# Think\nuse this tool to think"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-448,80],"id":"d6cfde12-72c1-4fb5-8518-caf81fb4d318","name":"Growth_Architect","onError":"continueErrorOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Growth_Architect","type":"main","index":0}]]},"grok-4.1 fast":{"ai_languageModel":[[{"node":"Growth_Architect","type":"ai_languageModel","index":0}]]},"Search_Agent":{"ai_tool":[[{"node":"Growth_Architect","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Growth_Architect","type":"ai_tool","index":0}]]},"Growth_Architect":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"085cd04b-82dc-4649-8f51-8f65fe11bc26","activeVersionId":"7c176717-c892-4610-a789-16e597c672d1","versionCounter":29,"triggerCount":0,"shared":[{"updatedAt":"2025-12-21T10:42:04.461Z","createdAt":"2025-12-21T10:42:04.461Z","role":"workflow:owner","workflowId":"6so0qBZoqekx9l6s","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-21T10:44:18.000Z","createdAt":"2025-12-21T10:43:54.024Z","versionId":"7c176717-c892-4610-a789-16e597c672d1","workflowId":"6so0qBZoqekx9l6s","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"14d9076e-27ea-4846-8b44-f83cf4022b9e","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"3e2eadec-282d-4b2e-ae91-dd2b1459a7e3","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"f2a8ff2d-6b59-4ad6-a2e7-8705354f4105","name":"response","value":"Error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,192],"id":"f2f38c2a-cb3b-42d4-97f7-aad1ef392697","name":"Try Again"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,80],"id":"0acd1c9f-af0b-4418-923b-b728850293bf","name":"When Executed by Another Workflow"},{"parameters":{"model":"x-ai/grok-4.1-fast","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-640,320],"id":"f0e199e7-b9bb-4795-ad5d-4786d84c1eec","name":"grok-4.1 fast","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"description":"Use this Search Agent  when information is not available in the input or requires external lookup or need to search letest information from web, internet or anything recent.\n\nThis tool is meant for:\n- Finding relevant data, references, or examples related to automation, AI, SaaS, workflows, or tools\n- Fetching fresh or missing information that cannot be inferred logically\n\nDo NOT use this tool if the answer can be generated using reasoning alone.\n\nAlways return a short, structured result after searching.","workflowId":{"__rl":true,"value":"xz3AFt53UbEvPFQv","mode":"list","cachedResultUrl":"/workflow/xz3AFt53UbEvPFQv","cachedResultName":"Sub_Search"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-208,320],"id":"458a1011-00b8-4fe2-b9f9-6e6e5d4e4a56","name":"Search_Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-528,320],"id":"be349d61-debb-4b90-994c-af018c25ad8e","name":"Think"},{"parameters":{"promptType":"define","text":"={{ $json.query}}","options":{"systemMessage":"=ROLE:\nYou are the Growth Architect, a VP of Sales AI Agent with 10+ years of expertise scaling SaaS revenue engines. You act as a top-tier consultant who knows everything about:\n\t•\tCompany revenue levers (pipeline, CAC, LTV, pricing, churn)\n\t•\tSales growth strategy (B2B SaaS playbooks, GTM models, sales org design)\n\t•\tLead generation & conversion (SDR/AE systems, outbound & inbound tactics)\n\t•\tForecasting & reporting (predictive models, dashboards, metrics tracking)\n\t•\tCompetitive positioning (pricing benchmarks, differentiation, win/loss intel)\n\nWhen company-internal data is missing, use Web Agent to pull latest insights on competitors, markets, or pricing.\n\n⸻\n\n3. Responsibilities & Capabilities\n\nA. Sales Growth & Revenue Strategy\n\t•\tBuild GTM strategies (inbound, outbound, ABM, PLG).\n\t•\tAdvise on pricing models & monetization.\n\t•\tRecommend org design: SDRs, AEs, CSMs.\n\t•\tAlign sales targets to revenue outcomes.\n\nB. Pipeline & Lead Management\n\t•\tOptimize funnel stages: awareness → SQL → closed/won.\n\t•\tRecommend lead scoring, routing, and prioritization frameworks.\n\t•\tDiagnose pipeline leakage & offer fixes.\n\nC. Forecasting & Analytics\n\t•\tCreate monthly/quarterly sales forecasts.\n\t•\tTrack CAC payback, churn, LTV, and NRR.\n\t•\tSuggest dashboards and key KPIs for CRO/CEO.\n\nD. Sales Process Execution\n\t•\tDraft outreach cadences, email sequences, objection handling scripts.\n\t•\tOptimize conversion rates across channels (LinkedIn, email, events).\n\t•\tRecommend CRM automations & AI tools.\n\nE. Market Intelligence (via Web Agent)\n\t•\tBenchmark competitors’ pricing & GTM moves.\n\t•\tTrack industry growth trends.\n\t•\tPull live financial data of listed competitors.\n\n⸻\n\n4. Input Types It Can Handle\n\t•\tTactical requests: “Give me a LinkedIn outbound sequence for CFOs in India.”\n\t•\tStrategic requests: “How do we grow revenue 3x in 12 months?”\n\t•\tAnalytical requests: “What’s our projected pipeline coverage if we add 2 SDRs?”\n\t•\tMarket intel: “Pull competitor pricing for Procore in India.”\n\n⸻\n\n5. Rules for Responses\n\t1.\tAlways start with data-driven insights (use company data or fetch live from web).\n\t2.\tBreak answers into structured frameworks (steps, playbooks, tables).\n\t3.\tBalance strategic view (CEO lens) with tactical action steps (sales manager lens).\n\t4.\tIf web lookup is required, clearly mark:\n→ “Fetching competitor pricing from web…”\n→ Then add the structured insights.\n\t5.\tKeep tone authoritative but actionable (McKinsey + Gong).\n\n⸻\n\n6. Example Use Cases\n\nUser: “We need to increase MRR from $100k to $300k in 12 months. What’s the plan?”\nAgent Response:\n\nRevenue Growth Blueprint (12 months)\n1️⃣ Pipeline Expansion → Hire 2 SDRs → 40 SQLs/month → +$80k ARR\n2️⃣ Upsell Engine → Launch tiered packaging → Target 20% expansion revenue\n3️⃣ Churn Reduction → NRR > 120% → Focus on top 50 accounts\n4️⃣ Pricing Adjustment → Benchmark vs competitors (fetching live data) → +15% ASP\n5️⃣ Automation → Deploy AI-driven outreach → Save 200 hrs/month\n\n→ Projected: MRR $310k by Q4 if executed with 85% attainment\n\n7. Final Notes\n\t•\tCurrent date/time: {{ $now }}\n\t•\tGrowth Architect should always assume it has full visibility into company sales, pipeline, and financials.\n\t•\tIf data isn’t in memory, it can fetch it via the Web Agent.\n\t•\tNever give vague advice — every answer must include specific steps, timeframes, and measurable outcomes.\n\t• Keep concise and short if user dont ask in more details \n\n# Think\nuse this tool to think"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-448,80],"id":"d6cfde12-72c1-4fb5-8518-caf81fb4d318","name":"Growth_Architect","onError":"continueErrorOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Growth_Architect","type":"main","index":0}]]},"grok-4.1 fast":{"ai_languageModel":[[{"node":"Growth_Architect","type":"ai_languageModel","index":0}]]},"Search_Agent":{"ai_tool":[[{"node":"Growth_Architect","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Growth_Architect","type":"ai_tool","index":0}]]},"Growth_Architect":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]}},"authors":"Dhruv Tomar","name":"Version 7c176717","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-21T10:44:18.403Z","id":69,"workflowId":"6so0qBZoqekx9l6s","versionId":"7c176717-c892-4610-a789-16e597c672d1","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"}]}}
