workflows/Image_File_Generator_from_Telegram.json
{"updatedAt":"2025-10-24T10:06:59.000Z","createdAt":"2025-09-30T15:21:54.814Z","id":"9aqi7JigSwp8QJfL","name":"Image File Generator from Telegram","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Listen for incoming events').item.json.message.from.id }}","binaryData":true,"additionalFields":{}},"id":"47c3629b-a0fa-4806-95ec-f1b729fbe373","name":"Send a photo message","type":"n8n-nodes-base.telegram","position":[1952,16],"typeVersion":1.1,"webhookId":"7f8d6ca2-1364-463a-b006-b6bf64df1a2c","credentials":{"telegramApi":{"id":"PkQHqmgBGPKlXjaH","name":"Invoice Agent"}},"onError":"continueErrorOutput"},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"d9c9b0e3-f160-4b50-9db7-4ce9c55da21a","name":"Listen for incoming events","type":"n8n-nodes-base.telegramTrigger","position":[0,0],"webhookId":"e1393b7a-a68e-467d-8e1d-2f855247e74c","typeVersion":1,"credentials":{"telegramApi":{"id":"PkQHqmgBGPKlXjaH","name":"Invoice Agent"}},"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a0bf9719-4272-46f6-ab3b-eda6f7b44fd8","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"options":{}},"id":"4deefe7c-2196-4cee-bb40-29d048d3afc7","name":"If","type":"n8n-nodes-base.if","position":[448,0],"typeVersion":2.2},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"51f17c1c-326f-4d2a-b99a-231810811f73","name":"Speech to Text","type":"@n8n/n8n-nodes-langchain.openAi","position":[464,224],"typeVersion":1.3,"credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"fields":{"values":[{"name":"text","stringValue":"={{ $json?.message?.text || \"\" }}"}]},"options":{}},"id":"d1bb92fb-fa2e-49d7-b701-cd085f26a26d","name":"Voice or Text","type":"n8n-nodes-base.set","position":[224,0],"typeVersion":3.2},{"parameters":{"resource":"file","fileId":"={{ $('Listen for incoming events').item.json.message.voice.file_id }}","additionalFields":{}},"id":"c662684d-e323-4b79-966f-e9ced00b13c8","name":"Get Voice File","type":"n8n-nodes-base.telegram","position":[240,224],"typeVersion":1.1,"webhookId":"16a05db4-c947-4c6a-8d98-f531c3772f42","credentials":{"telegramApi":{"id":"PkQHqmgBGPKlXjaH","name":"Invoice Agent"}}},{"parameters":{"assignments":{"assignments":[{"id":"23c0d1fa-897f-4a1a-b201-8103e473adea","name":"data","value":"={{ $json.choices[0].message.images[0].image_url.url }}","type":"string"},{"id":"bcf338f7-575f-492b-ab68-535263d65a17","name":"base","value":"={{ $json.choices[0].message.images[0].image_url.url.split(\",\")[1] }}","type":"string"},{"id":"6fff18a2-acc9-42b9-bf7c-6662ddb18ab3","name":"mime","value":"image/png","type":"string"},{"id":"cb656296-3407-40cd-9271-88ee33710e12","name":"fileName","value":".png","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1456,16],"id":"a74eb231-a17e-481c-9fa9-73b754028bc3","name":"Edit Fields"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"=Write a high quality image prompt for an AI image generator to generate a super high-quality image, super realistic according to this description: {{ $json.text }}\nMake it super detailed, vibrant and beautiful.\n\nMake it suited for JSON string, so without any symbols or newlines. Just one plain text."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[656,16],"id":"8a34e649-06d6-40fb-994d-f8b19d2659e8","name":"IMAGE PROMPT","credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"google/gemini-2.5-flash-image-preview\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('IMAGE PROMPT').item.json.message.content }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,16],"id":"91792498-cc43-4c94-a287-626462dc1aa7","name":"NANO BANANA","credentials":{"httpHeaderAuth":{"id":"KNPgAL7t7E7umk6U","name":"Apify Viral Beast"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base","options":{"fileName":"={{ $json.fileName }}","mimeType":"={{ $json.mime }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1664,16],"id":"002c065b-df3e-43b5-8054-b22f137d27b0","name":"Image"},{"parameters":{"name":"={{ $('File Name Creator for Drive').item.json.message.content }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1zAdsNiZI6I8AyzVGnj8p1HsUO418Eh9i","mode":"list","cachedResultName":"Image Generator 1","cachedResultUrl":"https://drive.google.com/drive/folders/1zAdsNiZI6I8AyzVGnj8p1HsUO418Eh9i"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1952,208],"id":"d24662e0-c60c-4e3b-ac29-921bdfc2028d","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"HJdofLstQI5NPraU","name":"Dhruv Onsite"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4","mode":"list","cachedResultName":"LInkedin Ai Autmation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":496980008,"mode":"list","cachedResultName":"Image Collection 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4/edit#gid=496980008"},"columns":{"mappingMode":"defineBelow","value":{"Image Link":"={{ $json.webViewLink }}","Image Promt":"={{ $('IMAGE PROMPT').item.json.message.content }}","File Name":"={{ $('File Name Creator for Drive').item.json.message.content }}"},"matchingColumns":[],"schema":[{"id":"Image Promt","displayName":"Image Promt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Image Link","displayName":"Image Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2160,208],"id":"addfbf9c-1b32-4ac8-b260-13a523122c06","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"=Summarize this in short as a google drive file name {{ $json.message.content }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[960,16],"id":"2235a35f-6d6e-4840-958a-6774ad4d8d6a","name":"File Name Creator for Drive","credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"23c0d1fa-897f-4a1a-b201-8103e473adea","name":"data","value":"={{ $json.choices[0].message.images[0].image_url.url }}","type":"string"},{"id":"bcf338f7-575f-492b-ab68-535263d65a17","name":"base","value":"={{ $json.choices[0].message.images[0].image_url.url.split(\",\")[1] }}","type":"string"},{"id":"6fff18a2-acc9-42b9-bf7c-6662ddb18ab3","name":"mime","value":"image/png","type":"string"},{"id":"cb656296-3407-40cd-9271-88ee33710e12","name":"fileName","value":".png","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3952,336],"id":"e601b308-6f23-4dc7-aa0e-d92c64e835b2","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"02f6663c-9df5-49a3-b5ce-6668b5ad6990","name":"data[0].url","value":"={{ $json.data[0].url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,736],"id":"d7a117fb-bf79-4285-8fc1-c7690aa36a0d","name":"Set"},{"parameters":{"jsCode":"// Correctly reference the input URL\nconst imageUrl = $input.first().json.data[0].url;\n\nasync function getBase64FromUrl(url) {\n  // 'this.helpers.httpRequest' returns Buffer when encoding:null\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url,\n    encoding: null // raw binary\n  });\n\n  // response is already a Buffer\n  const base64 = Buffer.from(response).toString('base64');\n\n  // Optional prefix with mime type (adjust if not PNG)\n  return `data:image/png;base64,${base64}`;\n}\n\nconst base64Image = await getBase64FromUrl.call(this, imageUrl);\n\n// Always return an array with objects in Code node\nreturn [\n  {\n    json: {\n      base64: base64Image\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,1008],"id":"73a0a634-dbe1-49cc-913b-58c9d24379be","name":"Code in JavaScript"},{"parameters":{"operation":"toBinary","sourceProperty":"=base","binaryPropertyName":"=data","options":{"fileName":"=Myimage.jpeg","mimeType":"{{ $json.mime }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[432,1008],"id":"224a4d9d-d422-4f0a-9a19-72356d190c02","name":"Image2"},{"parameters":{"jsCode":"// INPUT: url OR a data URL string or raw base64 string.\n// If you already have base64, put it in `raw` below.\nconst raw = $json.base64 || $json.base || \"\"; // adapt to your field name\nconst fallbackName = \"image\";                  // used if we can't detect one\nconst fallbackMime = \"image/png\";\n\n// Map mime -> extension\nconst EXT = {\n  \"image/png\": \"png\",\n  \"image/jpeg\": \"jpg\",\n  \"image/webp\": \"webp\",\n  \"image/gif\": \"gif\"\n};\n\nfunction normalizeBase64(input) {\n  let mime = null;\n  let base = input.trim();\n\n  // 1) If it's a data URL, extract mime + strip prefix\n  const m = base.match(/^data:([\\w/+.-]+);base64,(.*)$/i);\n  if (m) {\n    mime = m[1].toLowerCase();\n    base = m[2];\n  }\n\n  // 2) Fix URL-safe or whitespace issues\n  base = base.replace(/\\s+/g, \"\");      // remove newlines/spaces\n  base = base.replace(/-/g, \"+\").replace(/_/g, \"/\"); // url-safe -> standard\n\n  // 3) Fix padding\n  const pad = base.length % 4;\n  if (pad) base = base + \"=\".repeat(4 - pad);\n\n  // 4) Quick sanity check: can Buffer decode it?\n  try {\n    // if this throws, the string isn't valid base64\n    Buffer.from(base, \"base64\");\n  } catch (e) {\n    throw new Error(\"Invalid base64 after normalization\");\n  }\n\n  return { mime, base };\n}\n\nconst { mime, base } = normalizeBase64(raw);\nconst finalMime = mime || $json.mime || fallbackMime;\nconst ext = EXT[finalMime] || \"bin\";\nconst fileName = ($json.fileName || `${fallbackName}.${ext}`).replace(/[^\\w.-]/g, \"_\");\n\nreturn {\n  json: {\n    base,          // CLEAN base64 (no prefix)\n    mime: finalMime,\n    fileName\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,1008],"id":"70b1db82-2554-42c4-84c4-c3ea2b9143c5","name":"2nd Code"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.data[0].url }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[544,736],"id":"17cf7369-177d-46c5-ac52-fd8ff1c5e105","name":"Send a text message","webhookId":"f8288bcf-44f5-45d8-899b-9ff7334eafa7","credentials":{"telegramApi":{"id":"nG9RCUu1WQICKZYi","name":"Euron Dhruv Ai"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"6feb4a19-3dda-4807-b371-499265ada6e5","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-832,720],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"nG9RCUu1WQICKZYi","name":"Euron Dhruv Ai"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"159ccd1d-9c2f-49fe-8d95-2ce046fe4585","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,736]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"8b1ec5ff-b8a8-499f-a244-7aad8beb7466","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-416,560],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d","credentials":{"telegramApi":{"id":"nG9RCUu1WQICKZYi","name":"Euron Dhruv Ai"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"0db0ee55-87f4-434b-b59f-45d72375a599","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-256,560],"credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"e7669d25-e195-421d-a9ea-46600605427e","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-592,720]},{"parameters":{"assignments":{"assignments":[{"id":"976cf2c9-01b6-46cf-97b4-675a67ca57bc","name":"input","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,736],"id":"0fd8ff3f-946c-4114-80a3-f3ec385527c6","name":"Input"},{"parameters":{"method":"POST","url":"https://api.euron.one/api/v1/euri/images/generations","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"prompt\": \"{{$json.input}}\",\n    \"model\": \"black-forest-labs/FLUX.1-schnell\",\n    \"n\": 2,\n    \"size\": \"1024x1024\",\n    \"quality\": \"standard\",\n    \"response_format\": \"url\",\n    \"style\": \"vivid\"\n  } ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,736],"id":"5aa5bd11-97bb-488f-a316-ad493dfa6cab","name":"Euri Image Generator","credentials":{"httpBearerAuth":{"id":"8ZkhkWsck6v2KCTU","name":"Euri"}}}],"connections":{"Listen for incoming events":{"main":[[{"node":"Voice or Text","type":"main","index":0}]]},"If":{"main":[[{"node":"Get Voice File","type":"main","index":0}],[{"node":"IMAGE PROMPT","type":"main","index":0}]]},"Voice or Text":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Voice File":{"main":[[{"node":"Speech to Text","type":"main","index":0}]]},"Speech to Text":{"main":[[{"node":"IMAGE PROMPT","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Image","type":"main","index":0}]]},"IMAGE PROMPT":{"main":[[{"node":"File Name Creator for Drive","type":"main","index":0}]]},"NANO BANANA":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Image":{"main":[[{"node":"Send a photo message","type":"main","index":0},{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"File Name Creator for Drive":{"main":[[{"node":"NANO BANANA","type":"main","index":0}]]},"Set":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"2nd Code","type":"main","index":0}]]},"Image2":{"main":[[]]},"2nd Code":{"main":[[{"node":"Image2","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"Input","type":"main","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Input","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Input":{"main":[[{"node":"Euri Image Generator","type":"main","index":0}]]},"Euri Image Generator":{"main":[[{"node":"Set","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cd238a52-1020-4f11-9993-ace73250d6b8","activeVersionId":null,"versionCounter":1,"triggerCount":1,"shared":[{"updatedAt":"2025-09-30T15:21:54.816Z","createdAt":"2025-09-30T15:21:54.816Z","role":"workflow:owner","workflowId":"9aqi7JigSwp8QJfL","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
