workflows/Lovable_Image.json
{"updatedAt":"2025-12-13T20:56:46.954Z","createdAt":"2025-12-13T19:18:43.179Z","id":"MA2hfOmcmZClo8ek","name":"Lovable Image","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"a99801a1-b6b5-475c-b293-b0ee0ed15034","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-368,-80],"id":"1b153ca7-142d-43da-b088-293be0f94831","name":"Webhook","webhookId":"a99801a1-b6b5-475c-b293-b0ee0ed15034"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[480,-112],"id":"57c59b30-83db-4f6b-8aae-0bf8c5c09c30","name":"Respond to Webhook"},{"parameters":{"operation":"toBinary","sourceProperty":"base","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[272,-80],"id":"4ff9118f-75a9-41dd-85bc-e04c82f5803b","name":"Convert to File"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"google/gemini-2.5-flash-image\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"What is in this image?\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\n          }\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-144,-80],"id":"e105714c-2f40-442c-ba34-79b8529c42dd","name":"Data","credentials":{"httpBearerAuth":{"id":"66uBLB9Fa1yGhxGr","name":"Open Router"}}},{"parameters":{"assignments":{"assignments":[{"id":"4321e830-b6be-40ea-b261-cf4f76e287b5","name":"base","value":"={{ $json.choices[0].message.reasoning_details[1].data }}","type":"string"},{"id":"edad9f59-6ec6-494b-90c3-a0c8aab4168f","name":"data","value":"={{ $json.choices[0].message.images[0].image_url.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[64,-80],"id":"b47f100d-3282-4ff2-9ae9-aa91403949b3","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"google/gemini-2.5-flash-image-preview\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \" a cow eating lava icecream\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-256,-272],"id":"58e7bfcc-614a-41ca-beb6-54e616c43c4f","name":"Google Banana","credentials":{"httpHeaderAuth":{"id":"KNPgAL7t7E7umk6U","name":"Apify Viral Beast"},"httpBearerAuth":{"id":"66uBLB9Fa1yGhxGr","name":"Open Router"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base","options":{"fileName":"={{ $json.fileName }}","mimeType":"={{ $json.mime }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[96,-272],"id":"8df8bbbf-496d-4c46-b9bc-5fb9e970113b","name":"Image"},{"parameters":{"assignments":{"assignments":[{"id":"23c0d1fa-897f-4a1a-b201-8103e473adea","name":"data","value":"={{ $json.choices[0].message.images[0].image_url.url }}","type":"string"},{"id":"bcf338f7-575f-492b-ab68-535263d65a17","name":"base","value":"={{ $json.choices[0].message.images[0].image_url.url.split(\",\")[1] }}","type":"string"},{"id":"6fff18a2-acc9-42b9-bf7c-6662ddb18ab3","name":"mime","value":"image/png","type":"string"},{"id":"cb656296-3407-40cd-9271-88ee33710e12","name":"fileName","value":".png","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,-272],"id":"8ae173ef-187c-457a-b65a-58d577432531","name":"Edit Fields1"}],"connections":{"Webhook":{"main":[[]]},"Data":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Google Banana":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Image","type":"main","index":0}]]},"Image":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3b61a514-987c-460f-98a1-d4e53b9765f2","activeVersionId":null,"versionCounter":11,"triggerCount":1,"shared":[{"updatedAt":"2025-12-13T19:18:43.188Z","createdAt":"2025-12-13T19:18:43.188Z","role":"workflow:owner","workflowId":"MA2hfOmcmZClo8ek","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
