workflows/Lovable_Image_Generation.json
{"updatedAt":"2025-09-30T15:21:16.000Z","createdAt":"2025-09-30T15:21:16.704Z","id":"RhusmytBwutriWRv","name":"Lovable Image Generation","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"sendPhoto","chatId":"={{ $('Listen for incoming events').item.json.message.from.id }}","binaryData":true,"additionalFields":{}},"id":"daf4c7aa-6a44-4bb9-8594-460d2f051fef","name":"Send a photo message","type":"n8n-nodes-base.telegram","position":[352,672],"typeVersion":1.1,"webhookId":"7f8d6ca2-1364-463a-b006-b6bf64df1a2c","onError":"continueErrorOutput"},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"a6ca280d-f3db-4a30-899c-a7033b6625c2","name":"Listen for incoming events","type":"n8n-nodes-base.telegramTrigger","position":[-432,384],"webhookId":"e1393b7a-a68e-467d-8e1d-2f855247e74c","typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a0bf9719-4272-46f6-ab3b-eda6f7b44fd8","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"options":{}},"id":"7d504906-2da9-4c3b-9143-df8530002e1b","name":"If","type":"n8n-nodes-base.if","position":[16,384],"typeVersion":2.2},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"3e242d4b-a3aa-4398-8e68-c4e7cb34cf0c","name":"Speech to Text","type":"@n8n/n8n-nodes-langchain.openAi","position":[32,608],"typeVersion":1.3},{"parameters":{"fields":{"values":[{"name":"text","stringValue":"={{ $json?.message?.text || \"\" }}"}]},"options":{}},"id":"36e96c32-5171-4416-809f-afc68c4487f6","name":"Voice or Text","type":"n8n-nodes-base.set","position":[-208,384],"typeVersion":3.2},{"parameters":{"resource":"file","fileId":"={{ $('Listen for incoming events').item.json.message.voice.file_id }}","additionalFields":{}},"id":"e135bc99-0eff-48cc-b5fc-1ecfca647557","name":"Get Voice File","type":"n8n-nodes-base.telegram","position":[-192,608],"typeVersion":1.1,"webhookId":"16a05db4-c947-4c6a-8d98-f531c3772f42"},{"parameters":{"assignments":{"assignments":[{"id":"23c0d1fa-897f-4a1a-b201-8103e473adea","name":"data","value":"={{ $json.choices[0].message.images[0].image_url.url }}","type":"string"},{"id":"bcf338f7-575f-492b-ab68-535263d65a17","name":"base","value":"={{ $json.choices[0].message.images[0].image_url.url.split(\",\")[1] }}","type":"string"},{"id":"6fff18a2-acc9-42b9-bf7c-6662ddb18ab3","name":"mime","value":"image/png","type":"string"},{"id":"cb656296-3407-40cd-9271-88ee33710e12","name":"fileName","value":".png","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,0],"id":"1cab1e68-7ec8-4e28-8738-98b274dd0993","name":"Edit Fields"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"=Write a high quality image prompt for an AI image generator to generate a super high-quality image, super realistic according to this description: {{ $json.text }}\nMake it super detailed, vibrant and beautiful.\n\nMake it suited for JSON string, so without any symbols or newlines. Just one plain text."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[288,0],"id":"2506290a-fff1-423e-a203-1caa81afd01c","name":"IMAGE PROMPT"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"google/gemini-2.5-flash-image-preview\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"{{ $('IMAGE PROMPT').item.json.message.content }}\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,0],"id":"43fc3455-2a35-4351-9047-96a3e4b81881","name":"NANO BANANA"},{"parameters":{"operation":"toBinary","sourceProperty":"base","options":{"fileName":"={{ $json.fileName }}","mimeType":"={{ $json.mime }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[464,272],"id":"18a1a5b4-8a44-49a7-ade9-6e8485b9fc87","name":"Image"},{"parameters":{"name":"={{ $('File Name Creator for Drive').item.json.message.content }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1zAdsNiZI6I8AyzVGnj8p1HsUO418Eh9i","mode":"list","cachedResultName":"Image Generator 1","cachedResultUrl":"https://drive.google.com/drive/folders/1zAdsNiZI6I8AyzVGnj8p1HsUO418Eh9i"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[688,464],"id":"db1e8b3f-0386-48a2-949d-18ccd839e2e5","name":"Upload file","onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4","mode":"list","cachedResultName":"LInkedin Ai Autmation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":496980008,"mode":"list","cachedResultName":"Image Collection 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4/edit#gid=496980008"},"columns":{"mappingMode":"defineBelow","value":{"Image Link":"={{ $json.webViewLink }}","Image Promt":"={{ $('IMAGE PROMPT').item.json.message.content }}","File Name":"={{ $('File Name Creator for Drive').item.json.message.content }}"},"matchingColumns":[],"schema":[{"id":"Image Promt","displayName":"Image Promt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"File Name","displayName":"File Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Image Link","displayName":"Image Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,464],"id":"fa71a78c-0656-4d07-95cd-edf2312b6f77","name":"Append row in sheet"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-nano","mode":"list","cachedResultName":"GPT-5-NANO"},"messages":{"values":[{"content":"=Summarize this in short as a google drive file name {{ $json.message.content }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[608,0],"id":"e807d034-c7b1-4a96-be31-4601f7b6331f","name":"File Name Creator for Drive"},{"parameters":{"path":"31140982-e4f6-409c-a1af-e4fce099d776","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"fb34e93c-4824-4f9f-8de2-0d78ef9e78d3","name":"Webhook","webhookId":"31140982-e4f6-409c-a1af-e4fce099d776"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[688,272],"id":"df859312-2b26-4b7d-85b4-6d39608fee9f","name":"Respond to Webhook"}],"connections":{"If":{"main":[[{"node":"Get Voice File","type":"main","index":0}]]},"Voice or Text":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Voice File":{"main":[[{"node":"Speech to Text","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Image","type":"main","index":0}]]},"IMAGE PROMPT":{"main":[[{"node":"File Name Creator for Drive","type":"main","index":0}]]},"NANO BANANA":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Image":{"main":[[{"node":"Upload file","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"File Name Creator for Drive":{"main":[[{"node":"NANO BANANA","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"IMAGE PROMPT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7bc4c026-a2e1-4056-817c-ac27866b8486","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2025-09-30T15:21:16.706Z","createdAt":"2025-09-30T15:21:16.706Z","role":"workflow:owner","workflowId":"RhusmytBwutriWRv","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
