workflows/Meeting_Notes_to_Actions_-_Never_Miss_a_Follow-up.json
{"updatedAt":"2026-01-07T20:02:03.536Z","createdAt":"2026-01-07T20:01:56.711Z","id":"5A3vjALMV6WQNMx9","name":"Meeting Notes to Actions - Never Miss a Follow-up","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"meeting-input","options":{}},"id":"98424199-6aa5-4cb9-a7e7-2647a1efcdf6","name":"Webhook - Meeting Input","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2928,1248],"webhookId":"3c082921-953a-4bd7-8bdf-ef50787a0832"},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"meetingTitle","value":"={{ $json.query.title || 'Untitled Meeting' }}","type":"string"},{"id":"id-2","name":"audioUrl","value":"={{ $json.query.audioUrl }}","type":"string"},{"id":"id-3","name":"transcript","value":"={{ $json.query.transcript }}","type":"string"},{"id":"id-4","name":"attendees","value":"={{ $json.query.attendees }}","type":"string"},{"id":"id-5","name":"pmTool","value":"={{ $json.query.pmTool || 'Notion' }}","type":"string"}]},"options":{}},"id":"5c1a86f6-170c-4b50-9991-8ba594c362a5","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2704,1248]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.transcript }}","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"ec8730dd-2a9a-4ec5-b187-bbbb0c8fb345","name":"Transcript Provided?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2480,1248]},{"parameters":{"method":"POST","url":"https://api.assemblyai.com/v2/transcript","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"audio_url\": \"={{ $json.audioUrl }}\",\n  \"speaker_labels\": true\n}","options":{}},"id":"a35d614f-46cd-450b-a3f4-4e7e92fd725a","name":"AssemblyAI - Start Transcription","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2256,1184]},{"parameters":{},"id":"3df16897-9753-4bc1-8425-52ddc28886fe","name":"Wait for Transcription","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2032,1184],"webhookId":"4d9a8065-c1b9-4f36-bac3-745605e7ee71"},{"parameters":{"url":"={{ 'https://api.assemblyai.com/v2/transcript/' + $('AssemblyAI - Start Transcription').item.json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"670f7cbb-a7c9-41dc-8615-8264b151819b","name":"AssemblyAI - Get Transcription","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1808,1184]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"formattedTranscript","value":"={{ $json.utterances ? $json.utterances.map(u => `Speaker ${u.speaker}: ${u.text}`).join('\\n\\n') : $('Workflow Configuration').item.json.transcript }}","type":"string"},{"id":"id-2","name":"meetingTitle","value":"={{ $('Workflow Configuration').item.json.meetingTitle }}","type":"string"},{"id":"id-3","name":"attendees","value":"={{ $('Workflow Configuration').item.json.attendees }}","type":"string"},{"id":"id-4","name":"pmTool","value":"={{ $('Workflow Configuration').item.json.pmTool }}","type":"string"},{"id":"id-5","name":"chatInput","value":"={{ 'Analyze this meeting transcript and extract key information:\\n\\nMeeting: ' + $('Workflow Configuration').item.json.meetingTitle + '\\n\\nTranscript:\\n' + ($json.utterances ? $json.utterances.map(u => `Speaker ${u.speaker}: ${u.text}`).join('\\n\\n') : $('Workflow Configuration').item.json.transcript) }}","type":"string"}]},"options":{}},"id":"1ce431e8-b930-4f11-af7e-397d0d8bfbba","name":"Format Transcript with Speakers","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1584,1248]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"9831a7bf-1cb5-4d4c-9ac6-65321181a49e","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-1344,1360]},{"parameters":{"jsonSchemaExample":"{\n  \"summary\": \"Brief meeting summary\",\n  \"keyPoints\": [\"Key point 1\", \"Key point 2\"],\n  \"actionItems\": [\n    {\n      \"task\": \"Task description\",\n      \"assignee\": \"Person name\",\n      \"dueDate\": \"YYYY-MM-DD\",\n      \"priority\": \"high|medium|low\",\n      \"pmTool\": \"Notion\"\n    }\n  ],\n  \"decisions\": [\"Decision 1\", \"Decision 2\"],\n  \"nextMeeting\": {\n    \"scheduled\": true,\n    \"date\": \"YYYY-MM-DD\",\n    \"time\": \"HH:MM\",\n    \"agenda\": \"Meeting agenda\"\n  }\n}"},"id":"27e027c3-42bc-4562-9a8b-015e1bd72180","name":"Structured Output Parser - Meeting Analysis","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1216,1360]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","hasOutputParser":true,"options":{"systemMessage":"You are an expert meeting analyst. Extract structured information from meeting transcripts including: summary, key points, action items with assignees and due dates, decisions made, and any scheduled follow-up meetings. Be thorough and accurate."}},"id":"5b05828d-102d-4d97-9311-02b47918a4fd","name":"AI Agent - Meeting Analyst","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-1360,1136]},{"parameters":{"fieldToSplitOut":"actionItems","options":{}},"id":"264dd2be-c552-436b-9e7b-78c757eef7f8","name":"Split Out Action Items","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-720,288]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.pmTool }}","rightValue":"Notion","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Notion"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.pmTool }}","rightValue":"Asana","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Asana"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.pmTool }}","rightValue":"Trello","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Trello"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.pmTool }}","rightValue":"Linear","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linear"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.pmTool }}","rightValue":"Google Tasks","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Google Tasks"}]},"options":{}},"id":"4c44e092-84d6-4c41-b3ff-ca6e67684316","name":"Route to PM Tool","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-432,240]},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":"YOUR_NOTION_DATABASE_URL"},"title":"={{ $json.task }}","blockUi":{"blockValues":[{"textContent":"={{ 'Assignee: ' + $json.assignee + '\\nDue: ' + $json.dueDate + '\\nPriority: ' + $json.priority }}"}]},"options":{}},"id":"d1104d9d-d73b-4b71-b1be-62076d350b2d","name":"Notion - Create Task","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-208,-96]},{"parameters":{"workspace":"<__PLACEHOLDER_VALUE__YOUR_ASANA_WORKSPACE__>","name":"={{ $json.task }}","otherProperties":{"due_on":"={{ $json.dueDate }}","notes":"={{ 'Assignee: ' + $json.assignee + '\\nPriority: ' + $json.priority }}"}},"id":"72fa09b6-83fd-4353-9c8b-ac1e8dde8952","name":"Asana - Create Task","type":"n8n-nodes-base.asana","typeVersion":1,"position":[-208,96]},{"parameters":{"listId":"YOUR_TRELLO_LIST_ID","name":"={{ $json.task }}","description":"={{ 'Assignee: ' + $json.assignee + '\\nDue: ' + $json.dueDate + '\\nPriority: ' + $json.priority }}","additionalFields":{}},"id":"2a4bfe45-e164-4f5c-b473-c6968eb10c67","name":"Trello - Create Card","type":"n8n-nodes-base.trello","typeVersion":1,"position":[-208,288]},{"parameters":{"method":"POST","url":"https://api.linear.app/graphql","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"mutation { issueCreate(input: { title: \\\"={{ $json.task }}\\\", description: \\\"Assignee: ={{ $json.assignee }}\\\\nDue: ={{ $json.dueDate }}\\\\nPriority: ={{ $json.priority }}\\\", teamId: \\\"YOUR_TEAM_ID\\\" }) { success issue { id title } } }\"\n}","options":{}},"id":"d3911f1a-eb57-479e-b80c-5b14cf5180d3","name":"Linear - Create Issue","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-208,480]},{"parameters":{"task":"<__PLACEHOLDER_VALUE__YOUR_TASK_LIST_ID__>","title":"={{ $json.task }}","additionalFields":{"dueDate":"={{ $json.dueDate }}","notes":"={{ 'Assignee: ' + $json.assignee + '\\nPriority: ' + $json.priority }}"}},"id":"921c9c31-b801-44fe-b727-86efa30dd692","name":"Google Tasks - Create Task","type":"n8n-nodes-base.googleTasks","typeVersion":1,"position":[-208,672]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"a1376dbf-e57a-4af0-bd69-df3df225b807","name":"OpenAI Chat Model - Notes Formatter","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-704,976]},{"parameters":{"promptType":"define","text":"={{ 'Format these meeting notes professionally:\\n\\nMeeting: ' + $('Format Transcript with Speakers').item.json.meetingTitle + '\\nAttendees: ' + $('Format Transcript with Speakers').item.json.attendees + '\\n\\nAnalysis:\\n' + JSON.stringify($json, null, 2) }}","messages":{"messageValues":[{"message":"You are a professional meeting notes formatter. Create well-structured, professional meeting notes in markdown format with sections for: Meeting Title, Date, Attendees, Summary, Key Points, Action Items, Decisions, and Next Steps."}]},"batching":{}},"id":"2047988a-b310-4768-ada3-a4806173b81c","name":"Format Professional Meeting Notes","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.8,"position":[-784,752]},{"parameters":{"folderId":"YOUR_GOOGLE_DRIVE_FOLDER_ID","title":"={{ $('Format Transcript with Speakers').item.json.meetingTitle + ' - ' + $now.toFormat('yyyy-MM-dd') }}"},"id":"550ce594-12a7-4e69-8bef-62b1cf5f0975","name":"Google Docs - Create Meeting Notes","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-432,864]},{"parameters":{"name":"={{ $('Format Transcript with Speakers').item.json.meetingTitle + ' - Notes.pdf' }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"YOUR_MEETINGS_FOLDER_ID"},"options":{}},"id":"7902a718-4b03-46cc-a0be-155b7dd40534","name":"Google Drive - Save to Meetings Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-208,864]},{"parameters":{"jsCode":"const data = $input.first().json;\nconst html = `\n<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 20px;\">\n  <h1>${data.meetingTitle || 'Meeting Summary'}</h1>\n  <p><strong>Date:</strong> ${new Date().toLocaleDateString()}</p>\n  \n  <h2>Summary</h2>\n  <p>${data.summary || 'No summary available'}</p>\n  \n  <h2>Key Points</h2>\n  <ul>\n    ${(data.keyPoints || []).map(point => `<li>${point}</li>`).join('')}\n  </ul>\n  \n  <h2>Action Items</h2>\n  <ul>\n    ${(data.actionItems || []).map(item => `<li><strong>${item.task}</strong> - Assigned to: ${item.assignee}, Due: ${item.dueDate}</li>`).join('')}\n  </ul>\n  \n  <h2>Decisions</h2>\n  <ul>\n    ${(data.decisions || []).map(decision => `<li>${decision}</li>`).join('')}\n  </ul>\n</body>\n</html>\n`;\n\nreturn { json: { html, subject: `Meeting Summary: ${data.meetingTitle}`, attendees: $('Format Transcript with Speakers').item.json.attendees } };"},"id":"c928f8e8-e2f7-4ed2-8f04-e0cd1d9bb08a","name":"Format Email HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,1152]},{"parameters":{"sendTo":"={{ $json.attendees }}","subject":"={{ $json.subject }}","message":"={{ $json.html }}","options":{}},"id":"b4e35bf2-ce3d-4f18-a290-953832594099","name":"Gmail - Send Summary to Attendees","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-432,1152],"webhookId":"c9ed69c2-3a61-40b9-be0d-d378408f8bd6"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"id","value":"YOUR_SLACK_CHANNEL"},"text":"={{ '📝 *Meeting Summary: ' + $('Format Transcript with Speakers').item.json.meetingTitle + '*\\n\\n*Summary:* ' + $json.summary + '\\n\\n*Action Items:* ' + $json.actionItems.length + ' tasks created\\n*Key Points:* ' + $json.keyPoints.length }}","otherOptions":{}},"id":"3b462afc-07de-4d56-bb90-c67ea07c85ec","name":"Slack - Post to Channel","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-720,1344],"webhookId":"ce73e803-3204-4438-b60d-6599a45f071e"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"id-1","leftValue":"={{ $json.nextMeeting.scheduled }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"3a3e6a05-6e92-462f-9687-667f5c34239d","name":"Next Meeting Mentioned?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-720,1536]},{"parameters":{"calendar":{"__rl":true,"mode":"id","value":"primary"},"start":"={{ $json.nextMeeting.date + 'T' + $json.nextMeeting.time }}","end":"={{ $now.plus(1, 'hour').toISO() }}","additionalFields":{"attendees":"={{ $('Format Transcript with Speakers').item.json.attendees }}","description":"={{ 'Agenda: ' + $json.nextMeeting.agenda }}","summary":"={{ 'Follow-up: ' + $('Format Transcript with Speakers').item.json.meetingTitle }}"}},"id":"3507daa9-0208-4cfb-830e-8da2d5b4e180","name":"Google Calendar - Create Follow-up","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[-432,1536]},{"parameters":{"options":{}},"id":"8dc11ff1-23ba-4a8c-aaf6-c76a3ee188e7","name":"MongoDB - Store Meeting Record","type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[-720,1728]},{"parameters":{},"id":"fb9dc0d0-d009-4385-b3c2-fcf6dcab5ed5","name":"Merge Analysis with Original Data","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1008,1248]},{"parameters":{"content":"📋 WORKFLOW OVERVIEW\n\nThis workflow automates meeting follow-ups:\n1. Receives meeting data via webhook\n2. Transcribes audio (if needed)\n3. AI analyzes transcript\n4. Creates action items in PM tools\n5. Generates professional notes\n6. Sends notifications\n7. Schedules follow-ups","height":280,"width":350},"id":"5a9ac2b5-a41e-4258-aefe-c020716c7777","name":"Note - Workflow Overview","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1904,480]},{"parameters":{"content":"🎙️ TRANSCRIPTION PROCESS\n\nAssemblyAI Integration:\n- Starts transcription with speaker labels\n- Polls every 5 seconds for completion\n- Formats transcript with speaker attribution\n- Falls back to provided transcript if available","height":280,"width":350},"id":"da7bcf36-2b1b-4e44-9c56-c3a1e2318b3b","name":"Note - Transcription Process","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2496,224]},{"parameters":{"content":"🤖 AI ANALYSIS\n\nOpenAI GPT-4 analyzes transcript to extract:\n- Meeting summary\n- Key discussion points\n- Action items with assignees & due dates\n- Decisions made\n- Next meeting details\n\nStructured output ensures consistent data format","height":280,"width":350},"id":"ed9fc712-4123-4ba6-8b51-c0182d77a502","name":"Note - AI Analysis","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1472,656]},{"parameters":{"content":"✅ ACTION ITEMS DISTRIBUTION\n\nRoutes tasks to PM tools:\n- Notion (databases)\n- Asana (projects)\n- Trello (cards)\n- Linear (issues)\n- Google Tasks\n\nEach task includes assignee, due date, and priority","height":280,"width":350},"id":"c74b09a9-5fb3-4119-b1bb-5fcef5cc550a","name":"Note - Action Items Distribution","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2432,704]},{"parameters":{"content":"📄 DOCUMENTATION & NOTIFICATIONS\n\n- Formats professional meeting notes with AI\n- Creates Google Doc with formatted notes\n- Saves to Google Drive meetings folder\n- Sends HTML email summary to attendees\n- Posts summary to Slack channel","height":280,"width":350},"id":"f89c8012-cf7d-4e85-9255-c9d1edef57c8","name":"Note - Documentation & Notifications","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1952,80]},{"parameters":{"content":"📅 FOLLOW-UP & STORAGE\n\n- Checks if next meeting was scheduled\n- Creates Google Calendar event automatically\n- Stores complete meeting record in MongoDB\n- Includes transcript, analysis, and metadata\n- Enables searchable meeting history","height":280,"width":350},"id":"cffef696-9727-47cc-9c24-9b853c980991","name":"Note - Follow-up & Storage","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,160]}],"connections":{"Webhook - Meeting Input":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Transcript Provided?","type":"main","index":0}]]},"Transcript Provided?":{"main":[[{"node":"Format Transcript with Speakers","type":"main","index":0}],[{"node":"AssemblyAI - Start Transcription","type":"main","index":0}]]},"AssemblyAI - Start Transcription":{"main":[[{"node":"Wait for Transcription","type":"main","index":0}]]},"Wait for Transcription":{"main":[[{"node":"AssemblyAI - Get Transcription","type":"main","index":0}]]},"AssemblyAI - Get Transcription":{"main":[[{"node":"Format Transcript with Speakers","type":"main","index":0}]]},"Format Transcript with Speakers":{"main":[[{"node":"AI Agent - Meeting Analyst","type":"main","index":0},{"node":"Merge Analysis with Original Data","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent - Meeting Analyst","type":"ai_languageModel","index":0}]]},"Structured Output Parser - Meeting Analysis":{"ai_outputParser":[[{"node":"AI Agent - Meeting Analyst","type":"ai_outputParser","index":0}]]},"AI Agent - Meeting Analyst":{"main":[[{"node":"Merge Analysis with Original Data","type":"main","index":0}]]},"Split Out Action Items":{"main":[[{"node":"Route to PM Tool","type":"main","index":0}]]},"Route to PM Tool":{"main":[[{"node":"Notion - Create Task","type":"main","index":0}],[{"node":"Asana - Create Task","type":"main","index":0}],[{"node":"Trello - Create Card","type":"main","index":0}],[{"node":"Linear - Create Issue","type":"main","index":0}],[{"node":"Google Tasks - Create Task","type":"main","index":0}]]},"OpenAI Chat Model - Notes Formatter":{"ai_languageModel":[[{"node":"Format Professional Meeting Notes","type":"ai_languageModel","index":0}]]},"Format Professional Meeting Notes":{"main":[[{"node":"Google Docs - Create Meeting Notes","type":"main","index":0}]]},"Google Docs - Create Meeting Notes":{"main":[[{"node":"Google Drive - Save to Meetings Folder","type":"main","index":0}]]},"Format Email HTML":{"main":[[{"node":"Gmail - Send Summary to Attendees","type":"main","index":0}]]},"Next Meeting Mentioned?":{"main":[[{"node":"Google Calendar - Create Follow-up","type":"main","index":0}]]},"Merge Analysis with Original Data":{"main":[[{"node":"Split Out Action Items","type":"main","index":0},{"node":"Format Professional Meeting Notes","type":"main","index":0},{"node":"Format Email HTML","type":"main","index":0},{"node":"Slack - Post to Channel","type":"main","index":0},{"node":"Next Meeting Mentioned?","type":"main","index":0},{"node":"MongoDB - Store Meeting Record","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"8ff4b4ff-7b68-4257-93e4-5927ef7a3ae5","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-01-07T20:01:56.717Z","createdAt":"2026-01-07T20:01:56.717Z","role":"workflow:owner","workflowId":"5A3vjALMV6WQNMx9","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
