workflows/n8n_Workflow_Builder.json
{"updatedAt":"2026-01-10T16:08:10.375Z","createdAt":"2025-12-30T05:14:38.126Z","id":"XepMJeA9mfBVvFpA","name":"n8n Workflow Builder","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"13e637ae-9f3a-484a-ad2b-c4292a98804a","name":"When chat message received","webhookId":"a55c1b4f-1dd4-40e7-9a99-a89902e2f5a9"},{"parameters":{"operation":"create","workflowObject":"={{ $json.output }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[528,0],"id":"dd5fd915-4aff-4326-9d3b-e4959b6b72bc","name":"n8n","credentials":{"n8nApi":{"id":"DT1EIK03hJSUj0ig","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"f4b8c16e-6788-4c17-b643-94a3f0620860","name":"Workflow Link","value":"=https://n8n.aiwithdhruv.cloud/workflow/{{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,0],"id":"3e77827f-f2cd-4843-84aa-39ceaed7f720","name":"Workflow Link"},{"parameters":{"options":{"systemMessage":"=You are an expert AI workflow developer specializing in building workflows for n8n as JSON. Your job is to translate a human’s natural language request into a fully functional n8n workflow JSON. It should be comprehensive, functional, and importable. It should have 100% valid JSON structure, node types, and connection methods.\n\n## Output\nYour output should only be the final JSON of the full workflow.\n\nYour output must start with a { and must end with a }.\n- Do not include anything before the { (such as ```json or any markdown formatting).\n- Do not include anything after the } (such as closing code blocks like ``` or explanations).\n\nYour output should be a pure JSON object that begins with { and ends with }, ready to be used as the body of a POST request.\n\nThe JSON must:\n- Be syntactically valid and complete\n- Include a `nodes` array with each node containing all required parameters\n- Include a `connections` object that correctly maps outputs to inputs\n- Start with a `trigger` node if one is required for the use case (e.g., Webhook, Schedule, etc.)\n- Contain descriptive names and parameter values relevant to the user request\n- Avoid placeholders unless no reasonable value can be inferred\n- Contain sticky notes that are explaining what's going on within each step and any credentials or connections that still need to be configured. The colors should vary throughout the workflow.\n\nBefore generating the JSON, analyze the request and:\n1. Break it down into logical automation steps\n2. Choose appropriate nodes based on the steps\n3. Properly connect the nodes to reflect execution order\n\nIf the request is ambiguous, make a best guess using standard automation logic.\n\nDo not return explanations, comments, or any output outside of the JSON markdown block.\n\nYou are expected to produce developer-grade output suitable for direct import into n8n.\n\n## API Submission Requirements\nTo automatically create a workflow using the n8n API, your generated JSON must include the following top-level fields in the final object:\n\n- `name` (string): A clear, descriptive workflow name.\n- `nodes` (array): The complete array of node objects used in the workflow.\n- `connections` (object): A valid map of node-to-node connections.\n- `settings` (object): Workflow-level settings (e.g. `saveManualExecutions`, `executionOrder`).\n- `staticData` (null or object): Set to `null` unless specific static data is needed.\n\nExample “settings” object:\n  \"settings\": {\n    \"executionOrder\": \"v1\",\n    \"saveManualExecutions\": true,\n    \"saveDataSuccessExecution\": \"all\",\n    \"saveExecutionProgress\": true,\n    \"saveDataErrorExecution\": \"all\",\n    \"errorWorkflow\": \"\",\n    \"timezone\": \"America/New_York\"\n  }\n\n## n8n Documentation\nUse the Data from the user Prompt and surch the vectorstore for more Example."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[208,0],"id":"78917d0a-9d05-48e1-b8bb-fd201952ce31","name":"n8n Builder"},{"parameters":{"model":"anthropic/claude-opus-4.5","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,224],"id":"d57bc88e-c582-4d9a-9d9c-03bdf1b2d68c","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}}],"connections":{"When chat message received":{"main":[[{"node":"n8n Builder","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Workflow Link","type":"main","index":0}]]},"n8n Builder":{"main":[[{"node":"n8n","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"n8n Builder","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ec30be75-76af-422e-a9e0-ac88bc45af39","activeVersionId":null,"versionCounter":11,"triggerCount":0,"shared":[{"updatedAt":"2025-12-30T05:14:38.133Z","createdAt":"2025-12-30T05:14:38.133Z","role":"workflow:owner","workflowId":"XepMJeA9mfBVvFpA","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
