workflows/OCR_Invoice_Details.json
{"updatedAt":"2025-12-26T12:37:59.085Z","createdAt":"2025-10-11T12:52:46.313Z","id":"8eVxg9v6JH6ksq89","name":"OCR_Invoice_Details","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"### Invoice OCR & Categorization Agent\n**Upload** invoice PDF → Agent extracts text (OCR) → Categorizes into Vendor, Amount, Date → Stores in Google Sheets & Notion DB.","height":112,"width":400,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[256,-208],"id":"d5fddbf3-2b5f-45fa-86bf-4bd268e8b9bc","name":"Sticky Note"},{"parameters":{"operation":"pdf","options":{}},"id":"e6af78c4-8ab9-48ea-897a-a2fd9c2de3c6","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[1328,-32],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1xxKxXPaTFXRmB1105QyxNKBNAjoOid7w","mode":"list","cachedResultName":"Invoice Agent","cachedResultUrl":"https://drive.google.com/drive/folders/1xxKxXPaTFXRmB1105QyxNKBNAjoOid7w"},"event":"fileCreated","options":{}},"id":"282bc4d0-c823-4547-8703-329d29fc48de","name":"Google Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","position":[848,-32],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{}},"id":"b43bf1ec-fc86-4e70-b7a6-f40113d3849d","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[1104,-32],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"text":"={{ $json.text }}","attributes":{"attributes":[{"name":"Invoice Number","description":"The Number of the Invoice","required":true},{"name":"Client Name","description":"Name of the client","required":true},{"name":"Client Email","description":"Email address of the client","required":true},{"name":"Total Amount","description":"Total Amount Due in the Invoice","required":true},{"name":"Invoice Date","description":"Date of the Invoice","required":true},{"name":"Due Date","description":"Date with the invoice is due"}]},"options":{"systemPromptTemplate":"=You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."}},"id":"037342d3-ed22-4515-a46e-4a7a3253f16d","name":"Information Extractor","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[1584,-32],"typeVersion":1},{"parameters":{"model":"gpt-5-mini","options":{}},"id":"3b2dd070-1ecc-4ec0-a204-bb3146757c18","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1824,-160],"typeVersion":1.1,"credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{},"id":"c7acd943-ba3c-41b3-a285-28e68a993770","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[1920,336],"typeVersion":1},{"parameters":{"content":"Extract Invoice Doc","height":200,"width":480,"color":6},"id":"ed53d2cb-77d1-40d8-9ccb-2c693c41d472","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1056,-80],"typeVersion":1},{"parameters":{"content":"Extract Information & Log","height":408,"width":540,"color":5},"id":"8deac1a6-6a7d-420b-b46b-262ebf8fc614","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1552,-208],"typeVersion":1},{"parameters":{"content":"","height":264,"width":380,"color":4},"id":"0da57281-e3e1-44fd-8a86-a10e8878904e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[960,288],"typeVersion":1},{"parameters":{"content":"Notification & End","height":232,"width":440,"color":4},"id":"244bd2c8-6c6f-4bda-8caa-ea3e23512cae","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1376,288],"typeVersion":1},{"parameters":{"content":"Upload Invoice Doc Trigger","height":184,"width":320,"color":5},"id":"19e5cddd-3af5-461c-9d3f-c0bee2893f2d","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[688,-64],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"GPT-5-MINI"},"messages":{"values":[{"content":"=Invoice Number:{{ $json['Invoice Number'] }}\nClient Name:{{ $json['Client Name'] }}\nClient Email:{{ $json['Client Email'] }}\nTotal Amount:{{ $json['Total Amount'] }}\nInvoice Due Date:{{ $json['Invoice Date'] }}"},{"content":"=#Overview You are an invoice notifcation expert. You will receive invoice information. You will craft a message notifying the billing team of the invoice and the available information of the invoice. ","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1008,336],"id":"86eaf730-b3fc-48e5-b5a0-0185b2cbebd1","name":"Message a model","credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"sendTo":"aiwithdhruv@gmail.com","subject":"=Invoice for {{ $('Update Invoice Details').item.json['Client Name'] }}","emailType":"text","message":"={{ $json.message.content }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1472,336],"id":"dacd5f88-a9e8-47b1-96ab-64e71803ab93","name":"Send a message","webhookId":"9916c72b-ece3-467e-ad29-46db83ecfcf4","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_1783682342505626253"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1680,336],"id":"1dd741fd-c224-4440-8624-25714e7cca70","name":"Add label to message","webhookId":"001fc979-fb79-4c37-98f9-1669fd0da60e","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4","mode":"list","cachedResultName":"LInkedin Ai Autmation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1937709522,"mode":"list","cachedResultName":"Invoice Agent","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YZk12lNR7ZpjtJ6pOB2ugIgVIyF15-oAGPhuzCg2KE4/edit#gid=1937709522"},"columns":{"value":{"Due Date":"={{ $json.output['Due Date'] }}","Client Name":"={{ $json.output['Client Name'] }}","Client Email":"={{ $json.output['Client Email'] }}","Invoice Date":"={{ $json.output['Invoice Date'] }}","Total Amount":"={{ $json.output['Total Amount'] }}","Invoice Number":"={{ $json.output['Invoice Number'] }}"},"schema":[{"id":"Invoice Number","type":"string","display":true,"required":false,"displayName":"Invoice Number","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Client Name","type":"string","display":true,"required":false,"displayName":"Client Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Client Email","type":"string","display":true,"required":false,"displayName":"Client Email","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Client Address","type":"string","display":true,"required":false,"displayName":"Client Address","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Client Phone","type":"string","display":true,"required":false,"displayName":"Client Phone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Total Amount","type":"string","display":true,"required":false,"displayName":"Total Amount","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Invoice Date","type":"string","display":true,"required":false,"displayName":"Invoice Date","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Due Date","type":"string","display":true,"required":false,"displayName":"Due Date","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a6a80e05-d486-417e-ab8b-e12725f48c62","name":"Update Invoice Details","type":"n8n-nodes-base.googleSheets","position":[1936,-32],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}}],"connections":{"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Update Invoice Details","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Add label to message","type":"main","index":0}]]},"Add label to message":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Update Invoice Details":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-10-22T03:37:35Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"33a444cf-6980-4ee5-8827-d4b513e3054a","activeVersionId":null,"versionCounter":3,"triggerCount":1,"shared":[{"updatedAt":"2025-10-11T12:52:46.318Z","createdAt":"2025-10-11T12:52:46.318Z","role":"workflow:owner","workflowId":"8eVxg9v6JH6ksq89","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
