workflows/OpenClaw.json
{"updatedAt":"2026-01-31T10:38:35.907Z","createdAt":"2026-01-31T07:53:37.437Z","id":"OW0ST-aR72rtur4R1ejUf","name":"OpenClaw","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"openclaw-chat","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"openclaw-webhook"},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.stringify({ chatInput: $json.body.chatInput || $json.body.message || $json.body.query || \"Hello\" }) }}","options":{}},"id":"extract-body","name":"Extract Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0]},{"parameters":{"options":{"systemMessage":"You are a helpful AI assistant named OpenClaw. Be concise and helpful."}},"id":"ai-agent","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[448,0]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[320,208],"id":"anthropic-model","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"4TWuiQeAevzJx8R6","name":"Anthropic account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"id":"response-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[768,0]}],"connections":{"Webhook":{"main":[[{"node":"Extract Input","type":"main","index":0}]]},"Extract Input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ce47926e-fa72-4701-8c1b-344265315767","activeVersionId":"2e2d0149-167a-4d55-b426-7dba29110c95","versionCounter":25,"triggerCount":1,"shared":[{"updatedAt":"2026-01-31T07:53:37.446Z","createdAt":"2026-01-31T07:53:37.446Z","role":"workflow:owner","workflowId":"OW0ST-aR72rtur4R1ejUf","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-31T08:03:35.818Z","createdAt":"2026-01-31T08:03:35.818Z","versionId":"2e2d0149-167a-4d55-b426-7dba29110c95","workflowId":"OW0ST-aR72rtur4R1ejUf","nodes":[{"parameters":{"httpMethod":"POST","path":"openclaw-chat","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"openclaw-webhook"},{"parameters":{"mode":"raw","jsonOutput":"={{ JSON.stringify({ chatInput: $json.body.chatInput || $json.body.message || $json.body.query || \"Hello\" }) }}","options":{}},"id":"extract-body","name":"Extract Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0]},{"parameters":{"options":{"systemMessage":"You are a helpful AI assistant named OpenClaw. Be concise and helpful."}},"id":"ai-agent","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[440,0]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-5-20250929","cachedResultName":"Claude Sonnet 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[316,200],"id":"anthropic-model","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"4TWuiQeAevzJx8R6","name":"Anthropic account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{}},"id":"response-node","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[660,0]}],"connections":{"Webhook":{"main":[[{"node":"Extract Input","type":"main","index":0}]]},"Extract Input":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"authors":"Dhruv Tomar","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-31T08:03:35.900Z","id":163,"workflowId":"OW0ST-aR72rtur4R1ejUf","versionId":"2e2d0149-167a-4d55-b426-7dba29110c95","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"},{"createdAt":"2026-01-31T08:03:48.250Z","id":165,"workflowId":"OW0ST-aR72rtur4R1ejUf","versionId":"2e2d0149-167a-4d55-b426-7dba29110c95","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"},{"createdAt":"2026-01-31T08:03:46.962Z","id":164,"workflowId":"OW0ST-aR72rtur4R1ejUf","versionId":"2e2d0149-167a-4d55-b426-7dba29110c95","event":"deactivated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"}]}}
