workflows/Outbound_AI_Lead_Caller_1.json
{"updatedAt":"2026-01-12T14:48:59.000Z","createdAt":"2026-01-12T14:48:59.319Z","id":"E90HrtTRXEDHF0O6","name":"Outbound AI Lead Caller_1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Lead Submission","formDescription":"Submit a lead for AI calling","formFields":{"values":[{"fieldLabel":"Name","requiredField":true},{"fieldLabel":"Phone","requiredField":true},{"fieldLabel":"Email","fieldType":"email"}]},"options":{}},"id":"24a7682c-de58-4539-93d7-104170b133ec","name":"On form submission","type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-384,336],"webhookId":"vapi-lead-form"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Standardize phone number and data\nconst input = $input.first().json;\n\nlet phone = (input.Phone || input.phone || '').toString().trim();\nlet name = (input.Name || input.name || '').trim();\nlet email = (input.Email || input.email || '').trim();\n\n// Remove spaces, dashes, brackets from phone\nphone = phone.replace(/[\\s\\-\\(\\)]/g, '');\n\n// Check if phone starts with + (international)\nif (!phone.startsWith('+')) {\n  // Assume India if 10 digits\n  if (phone.length === 10) {\n    phone = '+91' + phone;\n  }\n}\n\n// Validate phone (should be 10-15 digits after country code)\nconst phoneDigits = phone.replace(/\\D/g, '');\nconst isValidPhone = phoneDigits.length >= 10 && phoneDigits.length <= 15;\n\nreturn {\n  json: {\n    name: name,\n    phone: phone,\n    email: email,\n    isValidPhone: isValidPhone,\n    submittedAt: new Date().toISOString()\n  }\n};"},"id":"9d05f263-72c6-4a7f-840a-d3fede0f117e","name":"Standardize Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,336]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"phone-check","leftValue":"={{ $json.isValidPhone }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"2080ee7c-61cc-4274-8bfd-6f3125c723b3","name":"Incorrect Phone?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,336]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Incorrect Phones","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json.name }}","phone":"={{ $json.phone }}","email":"={{ $json.email }}","reason":"Invalid phone number","submitted_at":"={{ $json.submittedAt }}"}},"options":{}},"id":"1233260a-c7e7-4477-b1d0-f140270ba8cb","name":"Log Incorrect Phone","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[288,224]},{"parameters":{"method":"POST","url":"https://api.vapi.ai/call","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"assistantId\": \"YOUR_VAPI_ASSISTANT_ID\",\n  \"customer\": {\n    \"number\": \"{{ $json.phone }}\",\n    \"name\": \"{{ $json.name }}\"\n  },\n  \"phoneNumberId\": \"YOUR_VAPI_PHONE_NUMBER_ID\"\n}","options":{}},"id":"ad4a63ac-7d5a-4cab-8ab9-84eade06073b","name":"Call Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,464],"credentials":{"httpHeaderAuth":{"id":"8pqBwottxpF6vBgN","name":"Header Auth account 2"}}},{"parameters":{"amount":30},"id":"c89d869f-236d-410d-8d13-9d11ba1ad649","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[496,464],"webhookId":"e17b35e4-fc82-41f9-996e-e218e21808f6"},{"parameters":{"url":"=https://api.vapi.ai/call/{{ $('Call Lead').item.json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"ed7d96b8-41a7-47d0-a517-a90238896e65","name":"Get Call Details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,464],"credentials":{"httpHeaderAuth":{"id":"8pqBwottxpF6vBgN","name":"Header Auth account 2"}}},{"parameters":{},"id":"85799f63-40bd-430e-a86c-1a502ea32b5a","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[944,464]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ended-check","leftValue":"={{ $json.status }}","rightValue":"ended","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"21326cba-60c4-4dc1-a3c4-39314cdb8b2b","name":"Ended?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,464]},{"parameters":{"amount":15},"id":"51f2f812-94df-4c32-938b-bcca0ca5ea9b","name":"Polling","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1440,560],"webhookId":"25715bff-cd13-46cf-befc-4cfe98aebbb9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"voicemail-check","leftValue":"={{ $json.endedReason }}","rightValue":"voicemail","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"6ed1201b-b065-43de-b007-fabb6ee827b1","name":"Voicemail?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,336]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Voicemails","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"call_id":"={{ $json.id }}","phone":"={{ $json.customer.number }}","name":"={{ $json.customer.name }}","status":"={{ $json.status }}","ended_reason":"={{ $json.endedReason }}","duration":"={{ $json.duration }}","cost":"={{ $json.cost }}","timestamp":"={{ $now.toISO() }}"}},"options":{}},"id":"c7d20b34-e743-4e1a-891a-98a9c793f4a6","name":"Log Voicemail","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,224]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Completed Calls","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"call_id":"={{ $json.id }}","phone":"={{ $json.customer.number }}","name":"={{ $json.customer.name }}","status":"={{ $json.status }}","ended_reason":"={{ $json.endedReason }}","duration":"={{ $json.duration }}","cost":"={{ $json.cost }}","transcript":"={{ $json.transcript }}","summary":"={{ $json.summary }}","timestamp":"={{ $now.toISO() }}"}},"options":{}},"id":"e2255931-7a32-4015-aa0a-3187a17d15a6","name":"Log Complete","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,464]},{"parameters":{"content":"# 📞 VAPI AI LEAD CALLER\n\n## SETUP REQUIRED:\n\n### 1. VAPI API Key\n- Get from: https://vapi.ai\n- Create HTTP Header Auth credential\n- Header Name: `Authorization`\n- Header Value: `Bearer YOUR_API_KEY`\n\n### 2. VAPI Assistant ID\n- Create assistant in VAPI dashboard\n- Copy the Assistant ID\n- Replace in \"Call Lead\" node\n\n### 3. VAPI Phone Number ID\n- Buy/configure phone in VAPI\n- Copy Phone Number ID\n- Replace in \"Call Lead\" node\n\n### 4. Google Sheet\n- Create sheet with 3 tabs:\n  - `Incorrect Phones`\n  - `Voicemails`\n  - `Completed Calls`\n- Replace Sheet ID in all nodes","height":520,"width":340,"color":5},"id":"df87dbf7-ae05-4b72-b861-a68dbf05d3ef","name":"Setup Instructions","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-768,-272]},{"parameters":{"content":"## 🔄 WORKFLOW FLOW\n\n```\nForm Submit\n    ↓\nStandardize Data\n    ↓\nPhone Valid?\n   ↓ No → Log Incorrect\n   ↓ Yes\nCall via VAPI\n    ↓\nWait 30s\n    ↓\nGet Call Status\n    ↓\nCall Ended?\n   ↓ No → Wait 15s → Loop\n   ↓ Yes\nVoicemail?\n   ↓ Yes → Log Voicemail\n   ↓ No → Log Complete\n```","height":400,"width":260,"color":6},"id":"47c7e10b-64e1-4f9e-bfb3-01604b7bc170","name":"Flow","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-368,-256]},{"parameters":{"content":"## 📊 GOOGLE SHEET TABS\n\n### Tab 1: Incorrect Phones\n| name | phone | email | reason | submitted_at |\n\n### Tab 2: Voicemails\n| call_id | phone | name | status | ended_reason | duration | cost | timestamp |\n\n### Tab 3: Completed Calls\n| call_id | phone | name | status | ended_reason | duration | cost | transcript | summary | timestamp |","height":328,"width":400,"color":4},"id":"eb26dbba-923e-4eef-ac83-e0ce0c209925","name":"Sheet Structure","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,-256]}],"connections":{"On form submission":{"main":[[{"node":"Standardize Data","type":"main","index":0}]]},"Standardize Data":{"main":[[{"node":"Incorrect Phone?","type":"main","index":0}]]},"Incorrect Phone?":{"main":[[{"node":"Log Incorrect Phone","type":"main","index":0}],[{"node":"Call Lead","type":"main","index":0}]]},"Call Lead":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Call Details","type":"main","index":0}]]},"Get Call Details":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Ended?","type":"main","index":0}]]},"Ended?":{"main":[[{"node":"Voicemail?","type":"main","index":0}],[{"node":"Polling","type":"main","index":0}]]},"Polling":{"main":[[{"node":"Get Call Details","type":"main","index":0}]]},"Voicemail?":{"main":[[{"node":"Log Voicemail","type":"main","index":0}],[{"node":"Log Complete","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2806d199-0430-46e1-aff1-1d6f2eb5cf8f","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-12T14:48:59.328Z","createdAt":"2026-01-12T14:48:59.328Z","role":"workflow:owner","workflowId":"E90HrtTRXEDHF0O6","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
