workflows/Smart_Inbox__Action_Assistant.json
{"updatedAt":"2025-12-30T13:35:11.000Z","createdAt":"2025-12-30T12:52:47.238Z","id":"8VrTxzSVgLlZ7yEr","name":"Smart Inbox → Action Assistant","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## 🚀 Smart Inbox → Action Assistant\n\nThis workflow automatically:\n1. Monitors incoming Gmail messages\n2. Classifies emails using AI\n3. Extracts actions & urgency\n4. Creates draft replies\n5. Logs tasks to Google Sheets\n6. Sends Slack alerts for high-priority items\n\n**Setup Required:**\n- Gmail OAuth2 credentials\n- OpenAI API credentials\n- Google Sheets OAuth2 credentials\n- Slack OAuth2 credentials"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-300],"id":"sticky-overview","name":"Workflow Overview"},{"parameters":{"content":"## 📧 Step 1: Gmail Trigger\n\nTriggers when a new email arrives in your inbox.\n\n**Configuration needed:**\n- Connect your Gmail OAuth2 credentials\n- Adjust polling interval as needed"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,100],"id":"sticky-trigger","name":"Trigger Note"},{"parameters":{"content":"## 🧹 Step 2: Email Pre-Processing\n\nExtracts and cleans email data:\n- Sender email\n- Subject line\n- Body text (cleaned)\n- Timestamp\n\nRemoves signatures and quoted replies for cleaner AI processing."},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,100],"id":"sticky-preprocessing","name":"Pre-Processing Note"},{"parameters":{"content":"## 🤖 Step 3: AI Classification\n\nUses OpenAI to analyze the email and return:\n- Intent category\n- Urgency level\n- Action required flag\n- Suggested reply draft\n\n**Configuration needed:**\n- Connect your OpenAI API credentials"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,100],"id":"sticky-ai","name":"AI Classification Note"},{"parameters":{"content":"## 🔀 Step 4: Decision Logic\n\nRoutes emails based on classification:\n- **Important**: Lead, Follow-up, Payment, Support\n- **FYI**: Informational, no action needed\n\nAlso checks urgency for notification routing."},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1000,100],"id":"sticky-decision","name":"Decision Logic Note"},{"parameters":{"content":"## 📝 Step 5: Gmail Actions\n\n**Important Emails:**\n- Label: AI_Action_Required\n- Create draft reply\n\n**FYI Emails:**\n- Label: AI_FYI\n\n**Note:** Labels must exist in Gmail or be created manually first."},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1400,100],"id":"sticky-gmail-actions","name":"Gmail Actions Note"},{"parameters":{"content":"## 📊 Step 6: Task Logging\n\nLogs actionable emails to Google Sheets:\n- Sender\n- Subject\n- Intent Category\n- Urgency\n- Suggested Action\n- Date\n\n**Configuration needed:**\n- Connect Google Sheets credentials\n- Create spreadsheet with matching columns"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1800,100],"id":"sticky-sheets","name":"Task Logging Note"},{"parameters":{"content":"## 🔔 Step 7: Slack Notification\n\nSends alert ONLY for high-urgency emails.\n\n**Configuration needed:**\n- Connect Slack OAuth2 credentials\n- Create #important-alerts channel"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2200,100],"id":"sticky-slack","name":"Slack Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"includeSpamTrash":false}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-180,300],"id":"gmail-trigger","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"gmail-oauth2","name":"Gmail OAuth2"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Extract and clean email data\nconst item = $input.item.json;\n\n// Get sender email\nconst senderHeader = item.payload?.headers?.find(h => h.name === 'From');\nconst senderEmail = senderHeader ? senderHeader.value : 'Unknown';\n\n// Get subject\nconst subjectHeader = item.payload?.headers?.find(h => h.name === 'Subject');\nconst subject = subjectHeader ? subjectHeader.value : 'No Subject';\n\n// Get timestamp\nconst dateHeader = item.payload?.headers?.find(h => h.name === 'Date');\nconst timestamp = dateHeader ? dateHeader.value : new Date().toISOString();\n\n// Get body text\nlet bodyText = '';\nif (item.payload?.body?.data) {\n  bodyText = Buffer.from(item.payload.body.data, 'base64').toString('utf-8');\n} else if (item.payload?.parts) {\n  const textPart = item.payload.parts.find(p => p.mimeType === 'text/plain');\n  if (textPart?.body?.data) {\n    bodyText = Buffer.from(textPart.body.data, 'base64').toString('utf-8');\n  }\n}\n\n// Clean body - remove signatures and quoted text\nlet cleanedBody = bodyText;\n\n// Remove common signature patterns\ncleanedBody = cleanedBody.replace(/--\\s*\\n[\\s\\S]*$/m, '');\ncleanedBody = cleanedBody.replace(/Best regards[\\s\\S]*$/im, '');\ncleanedBody = cleanedBody.replace(/Kind regards[\\s\\S]*$/im, '');\ncleanedBody = cleanedBody.replace(/Thanks[,]?\\s*\\n[\\s\\S]*$/im, '');\ncleanedBody = cleanedBody.replace(/Sent from my [\\s\\S]*$/im, '');\n\n// Remove quoted replies\ncleanedBody = cleanedBody.replace(/On .* wrote:[\\s\\S]*$/m, '');\ncleanedBody = cleanedBody.replace(/>+.*\\n/g, '');\ncleanedBody = cleanedBody.replace(/_{10,}/g, '');\n\n// Clean up whitespace\ncleanedBody = cleanedBody.replace(/\\n{3,}/g, '\\n\\n').trim();\n\nreturn {\n  json: {\n    messageId: item.id,\n    threadId: item.threadId,\n    senderEmail: senderEmail,\n    subject: subject,\n    bodyText: bodyText,\n    cleanedBody: cleanedBody,\n    timestamp: timestamp\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,300],"id":"email-preprocessing","name":"Email Pre-Processing"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are an expert email classifier assistant. Analyze the following email and provide a structured classification.\n\nEmail Details:\n- From: {{ $json.senderEmail }}\n- Subject: {{ $json.subject }}\n- Body: {{ $json.cleanedBody }}\n\nClassify this email into ONE of these categories:\n1. Lead / Sales Inquiry - New business opportunity or sales question\n2. Follow-up Required - Requires a response or follow-up action\n3. Invoice / Payment - Related to billing, invoices, or payments\n4. Meeting / Scheduling - Meeting requests or calendar-related\n5. Support / Issue - Technical support or problem reports\n6. FYI / No Action - Informational only, no response needed\n\nRespond ONLY with a valid JSON object in this exact format:\n{\n  \"intent_category\": \"<category name>\",\n  \"urgency_level\": \"<High|Medium|Low>\",\n  \"action_required\": \"<Yes|No>\",\n  \"suggested_reply\": \"<A brief, professional reply draft or 'N/A' if no action needed>\",\n  \"reasoning\": \"<Brief explanation of classification>\"\n}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[620,300],"id":"ai-classifier","name":"AI Email Classifier","credentials":{"openAiApi":{"id":"openai-api","name":"OpenAI API"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Parse AI response and merge with email data\nconst emailData = $('Email Pre-Processing').item.json;\nconst aiResponse = $input.item.json.message?.content || $input.item.json.text || '';\n\nlet classification;\ntry {\n  // Try to extract JSON from the response\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    classification = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  // Default classification if parsing fails\n  classification = {\n    intent_category: 'FYI / No Action',\n    urgency_level: 'Low',\n    action_required: 'No',\n    suggested_reply: 'N/A',\n    reasoning: 'Could not parse AI response'\n  };\n}\n\n// Determine if important\nconst importantCategories = [\n  'Lead / Sales Inquiry',\n  'Follow-up Required',\n  'Invoice / Payment',\n  'Support / Issue'\n];\nconst isImportant = importantCategories.some(cat => \n  classification.intent_category.toLowerCase().includes(cat.toLowerCase().split(' ')[0])\n);\n\nreturn {\n  json: {\n    ...emailData,\n    ...classification,\n    isImportant: isImportant,\n    isHighUrgency: classification.urgency_level === 'High'\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[920,300],"id":"parse-ai-response","name":"Parse AI Response"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-important","leftValue":"={{ $json.isImportant }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1220,300],"id":"if-important","name":"Is Important?"},{"parameters":{"resource":"message","labelIds":["AI_Action_Required"],"messageId":"={{ $json.messageId }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1520,200],"id":"gmail-label-important","name":"Label: Action Required","credentials":{"gmailOAuth2":{"id":"gmail-oauth2","name":"Gmail OAuth2"}}},{"parameters":{"resource":"draft","subject":"Re: {{ $json.subject }}","message":"={{ $json.suggested_reply }}","options":{"threadId":"={{ $json.threadId }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1820,200],"id":"gmail-create-draft","name":"Create Draft Reply","credentials":{"gmailOAuth2":{"id":"gmail-oauth2","name":"Gmail OAuth2"}}},{"parameters":{"resource":"message","labelIds":["AI_FYI"],"messageId":"={{ $json.messageId }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1520,400],"id":"gmail-label-fyi","name":"Label: FYI","credentials":{"gmailOAuth2":{"id":"gmail-oauth2","name":"Gmail OAuth2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-action","leftValue":"={{ $json.action_required }}","rightValue":"Yes","operator":{"type":"string","operation":"equals"}}]}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2020,200],"id":"if-action-required","name":"Action Required?"},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":"Sheet1"},"columns":{"mappingMode":"defineBelow","value":{"Sender":"={{ $json.senderEmail }}","Subject":"={{ $json.subject }}","Intent Category":"={{ $json.intent_category }}","Urgency":"={{ $json.urgency_level }}","Suggested Action":"={{ $json.suggested_reply }}","Date":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"},"matchingColumns":[],"schema":[{"id":"Sender","displayName":"Sender","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject","displayName":"Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Intent Category","displayName":"Intent Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Urgency","displayName":"Urgency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Suggested Action","displayName":"Suggested Action","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2320,100],"id":"google-sheets-log","name":"Log to Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"google-sheets-oauth2","name":"Google Sheets OAuth2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-high-urgency","leftValue":"={{ $json.isHighUrgency }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2320,300],"id":"if-high-urgency","name":"High Urgency?"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"important-alerts"},"text":"⚠️ *High-priority email detected*\n\n*From:* {{ $json.senderEmail }}\n*Subject:* {{ $json.subject }}\n*Category:* {{ $json.intent_category }}\n*Urgency:* {{ $json.urgency_level }}\n\n_Please review and take action._","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[2620,200],"id":"slack-notification","name":"Slack Alert","credentials":{"slackOAuth2Api":{"id":"slack-oauth2","name":"Slack OAuth2"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2620,400],"id":"no-notification","name":"No Notification Needed"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2320,500],"id":"no-action-logging","name":"No Task Logging"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Email Pre-Processing","type":"main","index":0}]]},"Email Pre-Processing":{"main":[[{"node":"AI Email Classifier","type":"main","index":0}]]},"AI Email Classifier":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Is Important?","type":"main","index":0}]]},"Is Important?":{"main":[[{"node":"Label: Action Required","type":"main","index":0}],[{"node":"Label: FYI","type":"main","index":0}]]},"Label: Action Required":{"main":[[{"node":"Create Draft Reply","type":"main","index":0}]]},"Create Draft Reply":{"main":[[{"node":"Action Required?","type":"main","index":0}]]},"Label: FYI":{"main":[[{"node":"No Task Logging","type":"main","index":0}]]},"Action Required?":{"main":[[{"node":"Log to Google Sheets","type":"main","index":0},{"node":"High Urgency?","type":"main","index":0}],[{"node":"High Urgency?","type":"main","index":0}]]},"Log to Google Sheets":{"main":[[]]},"High Urgency?":{"main":[[{"node":"Slack Alert","type":"main","index":0}],[{"node":"No Notification Needed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveDataErrorExecution":"all","errorWorkflow":"","timezone":"America/New_York","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"3b9bf903-ed17-45da-977e-a2190df69bbf","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-12-30T12:52:47.240Z","createdAt":"2025-12-30T12:52:47.240Z","role":"workflow:owner","workflowId":"8VrTxzSVgLlZ7yEr","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
