workflows/Social_Media_Agent_-_Create__Publish_Everywhere.json
{"updatedAt":"2026-01-07T19:32:29.789Z","createdAt":"2026-01-07T19:01:23.475Z","id":"9hTfMjiRFHpzjVvH","name":"Social Media Agent - Create & Publish Everywhere","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"social-media-agent","responseMode":"lastNode","options":{}},"id":"0223b619-094f-4054-bae4-362a0636e50e","name":"Webhook - Content Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1664,992],"webhookId":"0ea1dd5d-7305-4ec6-9606-866393dd775b"},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"topic","value":"={{ $json.body.topic }}","type":"string"},{"id":"id-2","name":"content_type","value":"={{ $json.body.content_type }}","type":"string"},{"id":"id-3","name":"platforms","value":"={{ $json.body.platforms }}","type":"array"},{"id":"id-4","name":"brand_voice","value":"={{ $json.body.brand_voice }}","type":"string"},{"id":"id-5","name":"video_url","value":"={{ $json.body.video_url }}","type":"string"}]},"options":{}},"id":"43647ce5-c4df-47fe-b66c-4dc6102918c5","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1440,992]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"id-1","leftValue":"={{ $json.topic }}","operator":{"type":"string","operation":"notEmpty"}},{"id":"id-2","leftValue":"={{ $json.content_type }}","operator":{"type":"string","operation":"notEmpty"}},{"id":"id-3","leftValue":"={{ $json.platforms }}","operator":{"type":"string","operation":"notEmpty"}},{"id":"id-4","leftValue":"={{ $json.brand_voice }}","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"d35c19d8-366e-4e82-a545-dd73300e1730","name":"Validate Required Fields","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1216,992]},{"parameters":{"promptType":"define","text":"=Generate platform-specific content based on:\n\nTopic: {{ $json.topic }}\nContent Type: {{ $json.content_type }}\nBrand Voice: {{ $json.brand_voice }}\nPlatforms: {{ $json.platforms.join(\", \") }}\n\nProvide:\n- YouTube title (60 chars max, engaging)\n- YouTube description (detailed, with timestamps if video)\n- Instagram caption (engaging, with line breaks)\n- X/Twitter post (280 chars max, punchy)\n- Hashtags for each platform (relevant, trending)\n- Thumbnail image prompt (detailed visual description for 1280x720)\n- Instagram image prompt (for 1080x1080 if needed)","hasOutputParser":true,"options":{"systemMessage":"You are a social media content expert specializing in multi-platform content creation. Your role is to generate engaging, platform-optimized content that aligns with the specified brand voice and maximizes engagement on each platform."}},"id":"84cc9ef2-e737-46ba-a3ff-1dbde3afa317","name":"Content Generation Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-992,992]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"gpt-4o"},"builtInTools":{},"options":{"temperature":0.7}},"id":"21befbaa-19fa-45f8-9fc3-6eab50b140ca","name":"OpenAI GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-976,1216]},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"youtube_title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"youtube_description\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"instagram_caption\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"x_post\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"youtube_hashtags\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"instagram_hashtags\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"x_hashtags\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"thumbnail_prompt\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"instagram_image_prompt\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"id":"91072d7f-798c-4c1e-bff1-cbabe92ddb0c","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-848,1216]},{"parameters":{"method":"POST","url":"https://api.replicate.com/v1/predictions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"version\": \"black-forest-labs/flux-schnell\",\n  \"input\": {\n    \"prompt\": \"={{ $json.thumbnail_prompt }}\",\n    \"width\": 1280,\n    \"height\": 720,\n    \"num_outputs\": 1\n  }\n}","options":{}},"id":"33da2c07-e466-4f2d-991e-9a08deb02d69","name":"Generate Images - Replicate","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-640,992]},{"parameters":{"amount":10},"id":"1e1739fd-ccb4-4fef-a79b-8f569f3de7a2","name":"Wait for Image Generation","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-416,992],"webhookId":"ed1cf477-dc0c-4c8a-b35c-e4dfc28c059c"},{"parameters":{"url":"={{ $('Generate Images - Replicate').item.json.urls.get }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"906be6c5-f219-4920-9bfd-e71ff8829fad","name":"Check Image Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-192,992]},{"parameters":{"fieldToSplitOut":"platforms","options":{}},"id":"05cf125a-1608-48fe-a0fc-390c3558d144","name":"Split Platforms","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[32,992]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.platforms }}","rightValue":"youtube","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"YouTube"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.platforms }}","rightValue":"instagram","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.platforms }}","rightValue":"x","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"X (Twitter)"}]},"options":{}},"id":"21763c7d-9b1f-416a-95bb-445d68edcf33","name":"Route by Platform","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[256,976]},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Content Generation Agent').item.json.youtube_title }}","binaryProperty":"={{ $('Workflow Configuration').item.json.video_url }}","options":{"description":"={{ $('Content Generation Agent').item.json.youtube_description }}","tags":"={{ $('Content Generation Agent').item.json.youtube_hashtags }}"}},"id":"414e166a-8f64-4fa1-b74d-90c300129a0f","name":"Upload to YouTube","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[480,800]},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/upload/youtube/v3/thumbnails/set?videoId={{ $('Upload to YouTube').item.json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_GOOGLE_OAUTH_TOKEN"}]},"sendBody":true,"contentType":"raw","body":"={{ $('Check Image Status').item.json.output[0] }}","options":{}},"id":"95542662-50c3-4ac3-a054-9cd7650ea078","name":"Set YouTube Thumbnail","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[704,800]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"platform","value":"youtube","type":"string"},{"id":"id-2","name":"url","value":"={{ 'https://youtube.com/watch?v=' + $('Upload to YouTube').item.json.id }}","type":"string"},{"id":"id-3","name":"video_id","value":"={{ $('Upload to YouTube').item.json.id }}","type":"string"},{"id":"id-4","name":"status","value":"published","type":"string"}]},"options":{}},"id":"3a155abd-bae1-4228-812c-7ffb76c542f5","name":"Format YouTube Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,800]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v18.0/YOUR_INSTAGRAM_ACCOUNT_ID/media","sendQuery":true,"queryParameters":{"parameters":[{"name":"image_url","value":"={{ $('Check Image Status').item.json.output[0] }}"},{"name":"caption","value":"={{ $('Content Generation Agent').item.json.instagram_caption + ' ' + $('Content Generation Agent').item.json.instagram_hashtags }}"},{"name":"access_token","value":"YOUR_INSTAGRAM_ACCESS_TOKEN"}]},"options":{}},"id":"4452c338-0371-4d96-9fe4-6183d1acbc42","name":"Instagram - Create Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[480,992]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v18.0/YOUR_INSTAGRAM_ACCOUNT_ID/media_publish","sendQuery":true,"queryParameters":{"parameters":[{"name":"creation_id","value":"={{ $json.id }}"},{"name":"access_token","value":"YOUR_INSTAGRAM_ACCESS_TOKEN"}]},"options":{}},"id":"bf78da30-3e39-4ab7-ae9d-385c7e6c4497","name":"Instagram - Publish Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[704,992]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"platform","value":"instagram","type":"string"},{"id":"id-2","name":"url","value":"={{ 'https://instagram.com/p/' + $json.id }}","type":"string"},{"id":"id-3","name":"post_id","value":"={{ $json.id }}","type":"string"},{"id":"id-4","name":"status","value":"published","type":"string"}]},"options":{}},"id":"b365734a-9fed-4ceb-96f2-8129bf47e017","name":"Format Instagram Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,992]},{"parameters":{"method":"POST","url":"https://upload.twitter.com/1.1/media/upload.json","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"media","value":"={{ $('Check Image Status').item.json.output[0] }}"}]},"options":{}},"id":"8e5c5bc7-af97-4472-88e6-333901a86145","name":"X - Upload Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[480,1184]},{"parameters":{"method":"POST","url":"https://api.twitter.com/2/tweets","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": {{ $('Content Generation Agent').item.json.x_post + ' ' + $('Content Generation Agent').item.json.x_hashtags }},\n  \"media\": {\n    \"media_ids\": [{{ $('X - Upload Media').item.json.media_id_string }}]\n  }\n}","options":{}},"id":"55208b73-501d-43f2-97d9-643e6672132a","name":"X - Create Tweet","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[704,1184]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"platform","value":"x","type":"string"},{"id":"id-2","name":"url","value":"={{ 'https://twitter.com/i/web/status/' + $json.data.id }}","type":"string"},{"id":"id-3","name":"tweet_id","value":"={{ $json.data.id }}","type":"string"},{"id":"id-4","name":"status","value":"published","type":"string"}]},"options":{}},"id":"9624c660-8ff3-47e5-8230-45fee2de3aa6","name":"Format X Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,1184]},{"parameters":{"numberInputs":3},"id":"b84d75d3-eabd-4e26-a723-cb20e3bc262c","name":"Merge Platform Responses","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1152,976]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"0e8fd200-10cd-42a4-bbc6-7c21b92494b9","name":"Aggregate Results","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1376,992]},{"parameters":{"options":{}},"id":"39f0c037-623e-4d94-ade6-17af13fec57f","name":"Log to MongoDB","type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[1600,992]},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, published: $json, timestamp: new Date().toISOString() } }}","options":{}},"id":"acf58a98-b2ba-4e44-b810-25c342610ca1","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1824,992]},{"parameters":{},"id":"54972d7c-b4dd-4bee-b4be-bea65fdadf9b","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-1664,1408]},{"parameters":{"options":{}},"id":"e67fdf9d-b4d6-4246-8f85-8f5fef6f2414","name":"Log Error to MongoDB","type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[-1440,1408]},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#alerts"},"text":"={{ '🚨 Social Media Agent Error\\n\\nWorkflow: ' + $json.workflow.name + '\\nError: ' + $json.error.message + '\\nNode: ' + $json.node.name }}","otherOptions":{}},"id":"c1582cf0-89e3-492f-9f4e-16dce47a269e","name":"Send Slack Alert","type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-1216,1408],"webhookId":"a5f86a2b-2f64-4d1e-84e1-84d764ee2b04"},{"parameters":{"respondWith":"json","responseBody":"={{ { success: false, error: $json.error.message, timestamp: new Date().toISOString() } }}","options":{"responseCode":500}},"id":"99a8c3ca-4f24-4ee8-9d9e-c4b5f4df5965","name":"Respond with Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[-992,1408]},{"parameters":{"content":"📥 Input & Validation\n\nReceives webhook requests with:\n- Topic for content\n- Content type (video/image/text)\n- Target platforms (YouTube, Instagram, X)\n- Brand voice guidelines\n- Video URL (if applicable)\n\nValidates all required fields before processing.","height":240,"width":480},"id":"34bf325b-af0a-400c-8b7a-2923d8d8dc29","name":"📥 Input & Validation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1808,368]},{"parameters":{"content":"🤖 AI Content Generation\n\nGPT-4o generates platform-optimized content:\n- YouTube: Title, description, hashtags\n- Instagram: Caption, hashtags\n- X/Twitter: Tweet text, hashtags\n- Image prompts for thumbnails\n\nStructured output ensures consistent formatting.","height":240,"width":400},"id":"386c294f-dfe9-46a6-a392-cd45303389a3","name":"🤖 AI Content Generation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"🎨 Image Generation\n\nReplicate API (Flux Schnell) creates:\n- YouTube thumbnail (1280x720)\n- Instagram image (1080x1080)\n\nPolls for completion before proceeding.\nImages used across all platforms.","height":240,"width":380},"id":"133d9bae-47fc-4bdc-8324-9866960ffcee","name":"🎨 Image Generation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-640,544]},{"parameters":{"content":"🔀 Platform Routing\n\nSplits platforms array and routes to:\n- YouTube branch\n- Instagram branch\n- X/Twitter branch\n\nParallel processing for efficiency.","height":240,"width":280},"id":"b4de22d0-c4ed-4cb2-87b4-d212b0d7483b","name":"🔀 Platform Routing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,720]},{"parameters":{"content":"📺 YouTube Publishing\n\n1. Upload video with AI-generated title & description\n2. Set custom thumbnail from generated image\n3. Return video URL and ID","height":180,"width":520},"id":"88f3845e-a736-4122-bdf3-7147d24cac90","name":"📺 YouTube Publishing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1152,1648]},{"parameters":{"content":"📸 Instagram Publishing\n\n1. Create media container with image & caption\n2. Publish media to Instagram feed\n3. Return post URL and ID","height":180,"width":520},"id":"f491f71b-c104-4ea1-aec0-3714795f04bc","name":"📸 Instagram Publishing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1312,256]},{"parameters":{"content":"🐦 X/Twitter Publishing\n\n1. Upload media image to Twitter\n2. Create tweet with text & media\n3. Return tweet URL and ID","height":180,"width":520},"id":"a179f138-c341-4a22-8ae3-18cac2d971a1","name":"🐦 X/Twitter Publishing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-128,528]},{"parameters":{"content":"📊 Results & Response\n\nMerges all platform responses:\n- Aggregates URLs, IDs, and status\n- Logs to MongoDB for tracking\n- Returns success response with all published content links\n\nWebhook receives complete publishing report.","height":240,"width":760},"id":"5578217f-7543-4315-9eb3-8c0720964b96","name":"📊 Results & Response","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-752,80]},{"parameters":{"content":"⚠️ Error Handling\n\nGlobal error workflow:\n1. Captures any workflow failures\n2. Logs error details to MongoDB\n3. Sends Slack alert to #alerts channel\n4. Returns error response to webhook caller\n\nEnsures no failures go unnoticed.","height":240,"width":800},"id":"c25aa636-eb1b-4cbf-a97f-e6b09b089424","name":"⚠️ Error Handling","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-288,1744]},{"parameters":{"content":"📝 Social Media Agent - Multi-Platform Publishing Workflow\n\nAutomated content creation and distribution system:\n✅ AI-powered content generation for YouTube, Instagram, and X/Twitter\n✅ Custom image generation for each platform\n✅ Parallel publishing to multiple platforms\n✅ Comprehensive error handling and logging\n✅ Real-time status reporting via webhook\n\nPOST to webhook with: topic, content_type, platforms[], brand_voice, video_url","height":200,"width":1600},"id":"f77f7f64-a0a0-4c5b-845d-db539633e025","name":"📝 Workflow Overview","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,1360]}],"connections":{"Webhook - Content Request":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Validate Required Fields","type":"main","index":0}]]},"Validate Required Fields":{"main":[[{"node":"Content Generation Agent","type":"main","index":0}]]},"Content Generation Agent":{"main":[[{"node":"Generate Images - Replicate","type":"main","index":0}]]},"OpenAI GPT-4o":{"ai_languageModel":[[{"node":"Content Generation Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Content Generation Agent","type":"ai_outputParser","index":0}]]},"Generate Images - Replicate":{"main":[[{"node":"Wait for Image Generation","type":"main","index":0}]]},"Wait for Image Generation":{"main":[[{"node":"Check Image Status","type":"main","index":0}]]},"Check Image Status":{"main":[[{"node":"Split Platforms","type":"main","index":0}]]},"Split Platforms":{"main":[[{"node":"Route by Platform","type":"main","index":0}]]},"Route by Platform":{"main":[[{"node":"Upload to YouTube","type":"main","index":0}],[{"node":"Instagram - Create Media","type":"main","index":0}],[{"node":"X - Upload Media","type":"main","index":0}]]},"Upload to YouTube":{"main":[[{"node":"Set YouTube Thumbnail","type":"main","index":0}]]},"Set YouTube Thumbnail":{"main":[[{"node":"Format YouTube Response","type":"main","index":0}]]},"Format YouTube Response":{"main":[[{"node":"Merge Platform Responses","type":"main","index":0}]]},"Instagram - Create Media":{"main":[[{"node":"Instagram - Publish Media","type":"main","index":0}]]},"Instagram - Publish Media":{"main":[[{"node":"Format Instagram Response","type":"main","index":0}]]},"Format Instagram Response":{"main":[[{"node":"Merge Platform Responses","type":"main","index":1}]]},"X - Upload Media":{"main":[[{"node":"X - Create Tweet","type":"main","index":0}]]},"X - Create Tweet":{"main":[[{"node":"Format X Response","type":"main","index":0}]]},"Format X Response":{"main":[[{"node":"Merge Platform Responses","type":"main","index":2}]]},"Merge Platform Responses":{"main":[[{"node":"Aggregate Results","type":"main","index":0}]]},"Aggregate Results":{"main":[[{"node":"Log to MongoDB","type":"main","index":0}]]},"Log to MongoDB":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Log Error to MongoDB","type":"main","index":0}]]},"Log Error to MongoDB":{"main":[[{"node":"Send Slack Alert","type":"main","index":0}]]},"Send Slack Alert":{"main":[[{"node":"Respond with Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2c7872b8-f7f4-4c50-a5d2-e4dc87a5f922","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-01-07T19:01:23.481Z","createdAt":"2026-01-07T19:01:23.481Z","role":"workflow:owner","workflowId":"9hTfMjiRFHpzjVvH","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
