workflows/Social_Media_Automation.json
{"updatedAt":"2026-01-31T16:21:25.835Z","createdAt":"2026-01-26T06:48:28.195Z","id":"KpXHSyWxCneAn2Oz","name":"Social Media Automation","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://news.google.com/rss/search?q=AI+tools+artificial+intelligence","options":{}},"id":"79c42502-d860-44b0-bd40-fe100e9a0efc","name":"RSS - Google AI Tools1","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1536,1392]},{"parameters":{"url":"https://news.google.com/rss/search?q=AI+automation+workflow","options":{}},"id":"7cfe10eb-91a7-4f70-a1d5-dfaadd0e088b","name":"RSS - Google Automation1","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1536,1616]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"e33f3ce7-16f6-4a2b-ac36-433d8479b259","name":"Merge All RSS1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1328,1488]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// FIXED: Use $input.item.json for runOnceForEachItem mode\nconst item = $input.item.json;\n\n// Generate unique article ID\nconst articleId = 'ART-' + Date.now() + '-' + Math.random().toString(36).substr(2, 4);\n\n// Extract summary (first 500 chars)\nlet summary = item.content || item.description || item.contentSnippet || '';\nsummary = summary.replace(/<[^>]*>/g, '').substring(0, 500).trim();\n\n// Parse publication date\nlet pubDate = item.pubDate || item.isoDate || new Date().toISOString();\ntry {\n  pubDate = new Date(pubDate).toISOString();\n} catch (e) {\n  pubDate = new Date().toISOString();\n}\n\n// Determine source\nlet source = 'Unknown';\nconst link = item.link || '';\nif (link.includes('techcrunch')) source = 'TechCrunch';\nelse if (link.includes('google.com')) source = 'Google News';\nelse if (item.creator) source = item.creator;\n\nreturn {\n  article_id: articleId,\n  title: (item.title || 'Untitled').substring(0, 200),\n  summary: summary,\n  source_link: link,\n  source: source,\n  pub_date: pubDate,\n  added_at: new Date().toISOString(),\n  post_status: 'Pending',\n  posted_at: '',\n  platform: ''\n};"},"id":"6d9a054c-1d35-4d00-9bc9-c8b4fd07fd45","name":"Extract Article Data1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,1488]},{"parameters":{"documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":339927552,"mode":"list","cachedResultName":"Social Media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=339927552"},"filtersUI":{"values":[{"lookupColumn":"post_status","lookupValue":"Pending"}]},"options":{}},"id":"5c8d5936-97cd-49d0-8f27-498e8b1b3a17","name":"Read Pending Articles1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1936,2656],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{},"id":"914aa4e0-0668-4ab6-8500-83fd265ab0f3","name":"Take Oldest Pending1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1744,2656]},{"parameters":{"promptType":"define","text":"=Article to transform into social media posts:\n\nTITLE: {{ $json.title }}\n\nSUMMARY: {{ $json.summary }}\n\nSOURCE: {{ $json.source_link }}\n\nARTICLE_ID: {{ $json.article_id }}\n\nCreate engaging social media posts based on this article.","hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"=You are a professional AI content creator for founders, engineers, and automation builders.\n\nGiven an article about AI/automation:\n1. Extract the ONE most valuable insight\n2. Create TWO posts:\n\nTWITTER (X):\n- Hook: Attention-grabbing first line (under 50 chars)\n- Content: Main insight (under 200 chars total with hook)\n- NO links in content\n- NO hashtags in content\n- Generate 3-5 relevant hashtags separately\n\nLINKEDIN:\n- Headline: Professional, curiosity-driven opening\n- Content: 3-4 short paragraphs with insight, context, and takeaway\n- End with a question or CTA\n- NO links in content\n- NO hashtags in content\n- Generate 3-5 professional hashtags separately\n\nTool - \n#think - Use think Tool if need to deep think somehting \n\n\n\n\nTONE: Practical, credible, builder-focused. No hype. No fluff.\nWrite like a senior engineer sharing valuable insights.\n\nReturn ONLY valid JSON matching the output schema."}},"id":"4edfbfd3-60df-4847-89b3-30c0cd4be6ff","name":"AI Content Generator1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1376,2624]},{"parameters":{"jsonSchemaExample":"{\n  \"twitter\": {\n    \"hook\": \"Short punchy opening\",\n    \"content\": \"Tweet content under 200 chars\",\n    \"hashtags\": [\"#AI\", \"#Automation\", \"#Tech\"]\n  },\n  \"linkedin\": {\n    \"headline\": \"Professional headline\",\n    \"content\": \"LinkedIn post with insights.\",\n    \"hashtags\": [\"#ArtificialIntelligence\", \"#Innovation\"],\n    \"cta\": \"What do you think?\"\n  },\n  \"article_id\": \"ART-123-abc\"\n}"},"id":"6f5305a6-85f2-4073-83ab-d0d9b887ff26","name":"Structured Output Parser2","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1072,2896]},{"parameters":{"jsCode":"// FIXED: Use runOnceForAllItems and access items properly\nconst items = $input.all();\nconst aiOutput = items[0].json.output || items[0].json;\nconst originalArticle = $('Take Oldest Pending1').first().json;\n\n// Parse AI output if string\nlet parsed = aiOutput;\nif (typeof aiOutput === 'string') {\n  try {\n    const jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsed = JSON.parse(jsonMatch[0]);\n    }\n  } catch (e) {\n    parsed = {\n      twitter: { hook: 'AI News', content: originalArticle.title, hashtags: ['#AI', '#Tech'] },\n      linkedin: { headline: 'AI Update', content: originalArticle.summary, hashtags: ['#AI'], cta: 'Thoughts?' }\n    };\n  }\n}\n\n// Format Twitter post\nconst twitterHashtags = (parsed.twitter?.hashtags || ['#AI']).join(' ');\nconst twitterText = `${parsed.twitter?.hook || ''}\\n\\n${parsed.twitter?.content || ''}\\n\\n${twitterHashtags}`;\n\n// Format LinkedIn post\nconst linkedinHashtags = (parsed.linkedin?.hashtags || ['#AI']).join(' ');\nconst linkedinText = `${parsed.linkedin?.headline || ''}\\n\\n${parsed.linkedin?.content || ''}\\n\\n${parsed.linkedin?.cta || ''}\\n\\n${linkedinHashtags}`;\n\nreturn [{\n  json: {\n    article_id: originalArticle.article_id,\n    twitter_text: twitterText.trim(),\n    linkedin_text: linkedinText.trim(),\n    source_link: originalArticle.source_link\n  }\n}];"},"id":"ac68fb32-42d2-4626-b38f-ddb925df4195","name":"Format Post Data3","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1008,2624]},{"parameters":{"text":"={{ $json.twitter_text }}","additionalFields":{}},"id":"fd843c76-b4d3-4aa2-8e5a-755acff8951c","name":"Post to Twitter2","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[-800,2560],"credentials":{"twitterOAuth2Api":{"id":"o0feRFKgKQPKR3ZX","name":"agiwithdhruv"}},"onError":"continueRegularOutput"},{"parameters":{"person":"0acXkbkIhL","text":"={{ $json.linkedin_text }}","additionalFields":{"visibility":"PUBLIC"}},"id":"505eb50b-5777-4fab-89f7-785d693de8bc","name":"Post to LinkedIn3","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-800,2768],"credentials":{"linkedInOAuth2Api":{"id":"f520by1wOAMg6btX","name":"Dhruv"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"4773d668-651f-45d4-b8b3-7a10eb8ca5c9","name":"Merge Post Results1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-496,2688]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":339927552,"mode":"list","cachedResultName":"Social Media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=339927552"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $('Format Post Data3').item.json.article_id }}","post_status":"Done","posted_at":"={{ $now }}","linkedin Platform":"={{ $('Post to LinkedIn3').item.json.urn }}","Twitter":"={{ $('Post to Twitter2').item.json.id }}"},"matchingColumns":["article_id"],"schema":[{"id":"article_id","displayName":"article_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source_link","displayName":"source_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pub_date","displayName":"pub_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"added_at","displayName":"added_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post_status","displayName":"post_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted_at","displayName":"posted_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin Platform","displayName":"linkedin Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"d666230e-0628-4653-ab91-a3f4ad82ab47","name":"Update Status - Posted1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-256,2688],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"3e25119d-0492-4282-9bea-960e96632c88","name":"Merge All RSS","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1328,2000]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// FIXED: Use $input.item.json for runOnceForEachItem mode\nconst item = $input.item.json;\n\n// Generate unique article ID\nconst articleId = 'ART-' + Date.now() + '-' + Math.random().toString(36).substr(2, 4);\n\n// Extract summary (first 500 chars)\nlet summary = item.content || item.description || item.contentSnippet || '';\nsummary = summary.replace(/<[^>]*>/g, '').substring(0, 500).trim();\n\n// Parse publication date\nlet pubDate = item.pubDate || item.isoDate || new Date().toISOString();\ntry {\n  pubDate = new Date(pubDate).toISOString();\n} catch (e) {\n  pubDate = new Date().toISOString();\n}\n\n// Determine source\nlet source = 'Unknown';\nconst link = item.link || '';\nif (link.includes('techcrunch')) source = 'TechCrunch';\nelse if (link.includes('google.com')) source = 'Google News';\nelse if (item.creator) source = item.creator;\n\nreturn {\n  article_id: articleId,\n  title: (item.title || 'Untitled').substring(0, 200),\n  summary: summary,\n  source_link: link,\n  source: source,\n  pub_date: pubDate,\n  added_at: new Date().toISOString(),\n  post_status: 'Pending',\n  posted_at: '',\n  platform: ''\n};"},"id":"c554e0c0-160b-4033-9663-1322764371a8","name":"Extract Article Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,2000]},{"parameters":{"url":"https://techcrunch.com/category/artificial-intelligence/feed/","options":{}},"id":"6daf0243-44a0-4a6e-beba-efcb0c636a64","name":"techcrunch","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1536,2128]},{"parameters":{"url":"https://news.google.com/rss/search?q=artificial+intelligence+when:3d&hl=en-US&gl=US&ceid=US:en","options":{}},"id":"bc084f57-cef6-40fd-863a-41dd35fe1554","name":"google letest Ai","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1536,1904]},{"parameters":{"jsCode":"// Filter articles from last N days\nconst DAYS = 4;\nconst now = new Date();\nconst cutoff = new Date(now.getTime() - DAYS * 24 * 60 * 60 * 1000);\n\nconst filtered = items.filter(item => {\n  const rawDate =\n    item.json.pubDate ||\n    item.json.isoDate ||\n    item.json.published ||\n    item.json.updated;\n\n  if (!rawDate) return false;\n\n  const articleDate = new Date(rawDate);\n  if (isNaN(articleDate.getTime())) return false;\n\n  return articleDate >= cutoff;\n});\n\nreturn filtered;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,2000],"id":"7dbf4b93-f76d-43fb-a271-086e34cec740","name":"Duplicate Filter"},{"parameters":{"jsCode":"// Filter articles from last N days\nconst DAYS = 4;\nconst now = new Date();\nconst cutoff = new Date(now.getTime() - DAYS * 24 * 60 * 60 * 1000);\n\nconst filtered = items.filter(item => {\n  const rawDate =\n    item.json.pubDate ||\n    item.json.isoDate ||\n    item.json.published ||\n    item.json.updated;\n\n  if (!rawDate) return false;\n\n  const articleDate = new Date(rawDate);\n  if (isNaN(articleDate.getTime())) return false;\n\n  return articleDate >= cutoff;\n});\n\nreturn filtered;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,1488],"id":"6c49ff4a-a410-4a24-a765-99dbab66414c","name":"Duplicate"},{"parameters":{"maxItems":2},"id":"21ad74a4-6ae9-43e9-a6d4-f01443fa38ab","name":"Limit 2","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-848,2000]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":339927552,"mode":"list","cachedResultName":"Social Media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=339927552"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $json.article_id }}","title":"={{ $json.title }}","summary":"={{ $json.summary }}","source_link":"={{ $json.source_link }}","pub_date":"={{ $json.pub_date }}","added_at":"={{ $json.added_at }}","post_status":"={{ $json.post_status }}","posted_at":"={{ $json.posted_at }}"},"matchingColumns":["title"],"schema":[{"id":"article_id","displayName":"article_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_link","displayName":"source_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pub_date","displayName":"pub_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_at","displayName":"added_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_status","displayName":"post_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted_at","displayName":"posted_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin Platform","displayName":"linkedin Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"45888318-a805-478c-a4e3-e446da8a7017","name":"Add Or Update New Articles","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-400,1488],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":339927552,"mode":"list","cachedResultName":"Social Media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=339927552"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $json.article_id }}","title":"={{ $json.title }}","summary":"={{ $json.summary }}","source_link":"={{ $json.source_link }}","pub_date":"={{ $json.pub_date }}","added_at":"={{ $json.added_at }}","post_status":"={{ $json.post_status }}","posted_at":"={{ $json.posted_at }}","platform":"={{ $json.platform }}"},"matchingColumns":["title"],"schema":[{"id":"article_id","displayName":"article_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_link","displayName":"source_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pub_date","displayName":"pub_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_at","displayName":"added_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_status","displayName":"post_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted_at","displayName":"posted_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"platform","displayName":"platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2a4cb692-3d20-4eb7-8037-cb02ae9cb0f3","name":"Add New AI Updates","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-400,2000],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"id":"9117f922-5d89-4984-a720-63f6d97ce0bf","name":"Every 3 Days","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1728,2016]},{"parameters":{"maxItems":7},"id":"dd2be6e5-8d76-4155-a950-fd3a7228017e","name":"Limit 5","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-848,1488]},{"parameters":{"rule":{"interval":[{"daysInterval":6}]}},"id":"b764e1f9-5358-427c-a6cf-ca74092e4514","name":"Every 6 Days","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1728,1504]},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1440,2832],"id":"7282aad4-49d1-4d46-bf7f-b30bc3fbd989","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"id":"8c53b13f-cee0-475f-b01d-e436e3e62786","name":"Daily_2PM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2160,2656]},{"parameters":{"content":"# 🟠  COMMON AI UPDATES\n\n**Schedule:** Every 6 Days\n\n**Sources:**\n• Google AI Tools\n• Google Automation\n\n**Flow:**\nRSS → Merge → Filter 4 Days → Limit 7 → Extract → Save\n\n**Purpose:** General AI news that doesn't change often","height":440,"width":2156,"color":7},"id":"5c92d885-c836-4aa8-91e9-d69621cb90ed","name":"Sticky - Common Updates","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2304,1344]},{"parameters":{"content":"# 🟢   LATEST AI UPDATES\n\n**Schedule:** Every 3 Days\n\n**Sources:**\n• Google Latest AI (3 days filter)\n• TechCrunch AI\n\n**Flow:**\nRSS → Merge → Filter 4 Days → Limit 2 → Extract → Save\n\n**Purpose:** Fresh, breaking AI news","height":392,"width":2172,"color":4},"id":"bd95ffbd-19c0-4a8a-a75f-98c257a00386","name":"Sticky - Latest Updates","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2304,1856]},{"parameters":{"content":"# 🔵 CONTENT GENERATION & POSTING\n\n**Schedule:** Daily at 2 PM\n\n**Flow:**\n1. Read Pending articles from Sheet\n2. Take oldest 1\n3. AI generates Twitter + LinkedIn posts\n4. Post to both platforms\n5. Update status to \"Done\"\n\n**AI Model:** Gemini 3 Flash (OpenRouter)","height":620,"width":2496,"color":5},"id":"7235f77a-8a66-4486-9404-2c4d707c0342","name":"Sticky - Posting","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2336,2432]},{"parameters":{"content":"# ⚙️ DUPLICATE FILTER\n\n```javascript\nDAYS = 4\n```\n\nOnly keeps articles from last 4 days.\nOlder articles are skipped.","height":1088,"width":220,"color":3},"id":"e62c50a0-61c5-4eac-8111-623a43ff69db","name":"Sticky - Filter","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1152,1136]},{"parameters":{"content":"# 📊 GOOGLE SHEET\n\n**Sheet:** Aiwithdhruv_n8n\n**Tab:** Social Media\n\n**Columns:**\n• article_id\n• title\n• summary\n• source_link\n• pub_date\n• post_status\n• posted_at\n• Twitter ID\n• LinkedIn URN","height":872,"color":2},"id":"0b48ea5e-216d-4a3a-aeda-da1b55588e6e","name":"Sticky - Sheet","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,1360]},{"parameters":{"content":"# 🤖 AI CONTENT RULES\n\n**Twitter:**\n• Hook (50 chars)\n• Content (200 chars)\n• No links in text\n• Hashtags separate\n\n**LinkedIn:**\n• Professional headline\n• 3-4 paragraphs\n• CTA question\n• Hashtags separate\n\n**Tone:** Builder-focused, no hype","height":620,"width":1012,"color":6},"id":"fd35606e-c373-45ac-adc0-abbbceb50b13","name":"Sticky - AI Rules","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,2432]},{"parameters":{"content":"# ✅ STATUS VALUES\n\n**Pending** → Waiting to post\n**Done** → Posted successfully\n\nSheet updates with:\n• Twitter post ID\n• LinkedIn URN\n• Timestamp","height":612,"color":4},"id":"8697e85a-6ce7-4070-9b8f-ecbeada757c7","name":"Sticky - Status","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,2432]},{"parameters":{"content":"# 📅 SCHEDULE SUMMARY\n\n| Trigger | Frequency |\n|---------|----------|\n| Common AI | Every 6 days |\n| Latest AI | Every 3 days |\n| Posting | Daily 2 PM |","height":1700,"width":438},"id":"eb0865c0-7b12-4174-894a-2b793306a26e","name":"Sticky - Schedule","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2768,1344]},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-1184,2848],"id":"1cb7d412-cb49-4796-866f-a1d5bb40e9f1","name":"Think"},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-5-20251101","mode":"list","cachedResultName":"Claude Opus 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-1312,2848],"id":"28eb6822-aa7e-4331-a6f2-ba6d678d1e85","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"4TWuiQeAevzJx8R6","name":"Anthropic account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4,"triggerAtMinute":15}]}},"id":"703b9948-b4ca-40d0-96a1-9009f80339c4","name":"Every 4 Hours +15min - Generate","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-3024,4640],"disabled":true},{"parameters":{},"id":"ae3444c5-573e-45ee-b570-5e9e46489cd1","name":"Take One","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2592,4640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-article","leftValue":"={{ $json.article_id }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"},"options":{}},"id":"17263d62-be37-4dbe-b3dd-56bbdfad3c13","name":"Has Pending?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2368,4640]},{"parameters":{"promptType":"define","text":"=Create social media content for this AI/tech article:\n\nTITLE: {{ $json.title }}\n\nSUMMARY: {{ $json.summary }}\n\nSOURCE: {{ $json.source_link }}\n\nARTICLE_ID: {{ $json.article_id }}","hasOutputParser":true,"options":{"systemMessage":"You are AIwithDhruv - a professional AI content creator for founders, engineers, and automation builders.\n\nCreate engaging social media posts from the article. Extract the ONE most valuable, practical insight.\n\n=== TWITTER (X) POST ===\n- Hook: Punchy first line (max 50 chars) that grabs attention\n- Content: The key insight (total post under 220 chars including hook)\n- NO links, NO hashtags in the text\n- Generate 4 relevant hashtags separately\n- Style: Sharp, practical, slightly provocative\n\n=== LINKEDIN POST ===\n- Headline: Professional, curiosity-driven opening line\n- Content: 3-4 short paragraphs:\n  * Para 1: The hook/problem\n  * Para 2: The insight/solution\n  * Para 3: Why it matters\n  * Para 4: Your take\n- CTA: End with engaging question\n- NO links, NO hashtags in text\n- Generate 5 professional hashtags separately\n- Style: Thoughtful, expert, conversational\n\n=== IMAGE PROMPT ===\nCreate a DALL-E prompt for a professional, modern image that:\n- Represents the article's core concept\n- Uses clean, minimal design\n- Colors: White background, soft blue/cyan accents, subtle gradients\n- Style: Tech/SaaS aesthetic, abstract representation\n- NO text in image\n- NO faces or people\n- Square format (1:1)\n\nTONE FOR ALL: Builder-focused, credible, no hype, no fluff. Write like a senior engineer sharing gold.\n\nReturn ONLY valid JSON matching the schema exactly."}},"id":"01ad89e1-b9b4-44e1-b1af-5292b61ea5d5","name":"AI Generate Content","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2128,4592]},{"parameters":{"model":"gpt-4o","options":{"maxTokens":2000,"temperature":0.7}},"id":"019858b4-4b29-46d4-8abe-11b017eef27d","name":"OpenAI GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2224,4800],"credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"jsCode":"// Parse AI output and prepare for image generation\nconst items = $input.all();\nconst aiOutput = items[0].json.output || items[0].json;\nconst originalArticle = $('Take One').first().json;\n\nlet parsed = aiOutput;\nif (typeof aiOutput === 'string') {\n  try {\n    const match = aiOutput.match(/\\{[\\s\\S]*\\}/);\n    if (match) parsed = JSON.parse(match[0]);\n  } catch (e) {\n    parsed = {\n      twitter: { hook: 'AI Update', content: originalArticle.title, hashtags: ['#AI'] },\n      linkedin: { headline: 'Tech News', content: originalArticle.summary, hashtags: ['#AI'], cta: 'Thoughts?' },\n      image_prompt: 'Abstract technology concept with blue gradient on white background, minimal design'\n    };\n  }\n}\n\n// Format posts\nconst twitterHashtags = (parsed.twitter?.hashtags || ['#AI']).join(' ');\nconst twitterFull = `${parsed.twitter?.hook || ''}\\n\\n${parsed.twitter?.content || ''}\\n\\n${twitterHashtags}`;\n\nconst linkedinHashtags = (parsed.linkedin?.hashtags || ['#AI']).join(' ');\nconst linkedinFull = `${parsed.linkedin?.headline || ''}\\n\\n${parsed.linkedin?.content || ''}\\n\\n${parsed.linkedin?.cta || ''}\\n\\n${linkedinHashtags}`;\n\nreturn [{\n  json: {\n    article_id: originalArticle.article_id,\n    title: originalArticle.title,\n    source_link: originalArticle.source_link,\n    twitter_text: twitterFull.trim(),\n    twitter_hook: parsed.twitter?.hook || '',\n    linkedin_text: linkedinFull.trim(),\n    linkedin_headline: parsed.linkedin?.headline || '',\n    image_prompt: parsed.image_prompt || 'Abstract AI technology concept, blue gradient, white background, minimal',\n    twitter_hashtags: twitterHashtags,\n    linkedin_hashtags: linkedinHashtags\n  }\n}];"},"id":"6405947c-ec87-4895-b8ea-45de60e86a5c","name":"Format Content","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1840,4592]},{"parameters":{"resource":"image","prompt":"={{ $json.image_prompt }}","options":{"size":"1024x1024","style":"vivid"}},"id":"36136b74-33ae-4118-ae1f-29622071f77d","name":"Generate Image (DALL-E)","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1648,4592],"credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"jsCode":"// Combine content with image URL\nconst contentData = $('Format Content').first().json;\nconst imageData = $input.first().json;\n\nconst imageUrl = imageData.data?.[0]?.url || imageData.url || '';\n\nreturn [{\n  json: {\n    ...contentData,\n    image_url: imageUrl\n  }\n}];"},"id":"1f5ee307-428b-4344-b758-56edbd70d222","name":"Combine Content + Image","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1472,4592]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $json.article_id }}","twitter_text":"={{ $json.twitter_text }}","linkedin_text":"={{ $json.linkedin_text }}","image_url":"={{ $json.image_url }}","post_status":"Ready","approval_status":"Awaiting"},"matchingColumns":["article_id"]},"options":{}},"id":"6798ca43-4d29-40fa-a666-4c55b742692c","name":"Update Sheet with Content","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1248,4592],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"=🎯 *CONTENT READY FOR APPROVAL*\n\n━━━━━━━━━━━━━━━━━━━━━\n📰 *{{ $json.title }}*\n━━━━━━━━━━━━━━━━━━━━━\n\n🐦 *TWITTER POST:*\n{{ $json.twitter_text }}\n\n━━━━━━━━━━━━━━━━━━━━━\n\n💼 *LINKEDIN POST:*\n{{ $json.linkedin_text }}\n\n━━━━━━━━━━━━━━━━━━━━━\n\n🔗 Source: {{ $json.source_link }}\n🆔 ID: `{{ $json.article_id }}`\n\n*Reply with:*\n✅ `APPROVE {{ $json.article_id }}`\n❌ `REJECT {{ $json.article_id }}`\n✏️ `EDIT {{ $json.article_id }}` (will ask for changes)","additionalFields":{"parse_mode":"Markdown"}},"id":"63aa3022-b22f-4fe8-b876-9deadf48403f","name":"Send Approval Request","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1024,4528],"webhookId":"b34f0f47-3068-4437-8509-4e97584f8148","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"operation":"sendPhoto","chatId":"YOUR_TELEGRAM_CHAT_ID","file":"={{ $json.image_url }}","additionalFields":{"caption":"🖼️ Generated image for the post above"}},"id":"d190afa8-c6ea-46d5-9d70-b2731c5600d5","name":"Send Image Preview","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1024,4688],"webhookId":"64792e1b-3785-4d6d-9262-8e7b138aaf80","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"2d768dd3-f45f-46db-a5c1-258ca868800e","name":"Telegram - Approval Response","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-3024,5152],"webhookId":"ai-news-approval","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}},"disabled":true},{"parameters":{"jsCode":"// Parse approval response\nconst msg = $input.first().json.message;\nconst text = (msg.text || '').trim().toUpperCase();\nconst chatId = msg.chat.id;\n\nlet action = 'unknown';\nlet articleId = '';\n\n// Parse APPROVE command\nif (text.startsWith('APPROVE')) {\n  action = 'approve';\n  const match = text.match(/APPROVE\\s+(ART-[\\w-]+)/i);\n  if (match) articleId = match[1];\n}\n// Parse REJECT command\nelse if (text.startsWith('REJECT')) {\n  action = 'reject';\n  const match = text.match(/REJECT\\s+(ART-[\\w-]+)/i);\n  if (match) articleId = match[1];\n}\n// Parse EDIT command\nelse if (text.startsWith('EDIT')) {\n  action = 'edit';\n  const match = text.match(/EDIT\\s+(ART-[\\w-]+)/i);\n  if (match) articleId = match[1];\n}\n\nreturn [{\n  json: {\n    action: action,\n    article_id: articleId,\n    chat_id: chatId,\n    raw_message: text\n  }\n}];"},"id":"bc8cf39b-a621-499d-9326-6205d307b614","name":"Parse Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2816,5152]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"approve","leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Approve"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"reject","leftValue":"={{ $json.action }}","rightValue":"reject","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reject"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"edit","leftValue":"={{ $json.action }}","rightValue":"edit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Edit"}]},"options":{"fallbackOutput":"extra"}},"id":"ff27a9dc-0b50-41f8-947e-6108dfc481b6","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2592,5152]},{"parameters":{"documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"options":{}},"id":"0ed83ee5-cbc8-4e35-a8b3-9170a80147d7","name":"Fetch Approved Article","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2352,5024],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"url":"={{ $json.image_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"6286e3f7-084b-4c61-8304-cda7f0e328dc","name":"Download Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2128,5024]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"6c7f3cd4-369c-44b2-9e15-821a43bfd062","name":"Merge Posts","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1696,5040]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $('Fetch Approved Article').item.json.article_id }}","post_status":"Posted","approval_status":"Approved","posted_at":"={{ $now.toISO() }}","platform":"Twitter, LinkedIn"},"matchingColumns":["article_id"]},"options":{}},"id":"ec4b7569-ede7-426a-85f2-2a19a4d563a4","name":"Update - Posted","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1472,5040],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"chatId":"={{ $('Parse Approval').item.json.chat_id }}","text":"=✅ *SUCCESS!*\n\n🐦 Posted to Twitter\n💼 Posted to LinkedIn\n\n📰 *{{ $('Fetch Approved Article').item.json.title }}*\n\n_Status updated in sheet._","additionalFields":{"parse_mode":"Markdown"}},"id":"b66c0e44-d893-473e-938f-f022a4ac8b48","name":"Notify Success","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1248,5040],"webhookId":"0224053a-6959-4a0e-b88a-3b2a185f31b2","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $json.article_id }}","post_status":"Rejected","approval_status":"Rejected"},"matchingColumns":["article_id"]},"options":{}},"id":"a3a461b5-89ab-47d1-9777-6f7592b6c69e","name":"Update - Rejected","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2352,5200],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=❌ *Rejected*\n\nArticle {{ $json.article_id }} marked as rejected.\n\n_It won't be posted._","additionalFields":{"parse_mode":"Markdown"}},"id":"6856d10e-faaa-4205-85a9-9ba0ab6c3ad3","name":"Notify Rejected","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2128,5200],"webhookId":"205864df-a446-4dd3-8699-c8574795ea23","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=✏️ *Edit Mode*\n\nArticle: {{ $json.article_id }}\n\nPlease reply with your changes in this format:\n\n`TWITTER: your new twitter text here`\n\nor\n\n`LINKEDIN: your new linkedin text here`\n\nThen APPROVE again when ready.","additionalFields":{"parse_mode":"Markdown"}},"id":"3aab65b5-8b91-4328-bb2c-00669a19978b","name":"Notify Edit Mode","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2352,5360],"webhookId":"7ecf83d5-c1fc-4546-9be6-af7c0bae3c6a","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"=⚠️ *WORKFLOW ERROR*\n\nSomething went wrong.\n\nError: {{ $json.error?.message || 'Unknown error' }}\n\nPlease check the workflow execution logs.","additionalFields":{"parse_mode":"Markdown"}},"id":"8cb442a2-464a-4420-8cb6-d108b282d6de","name":"Error Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1248,5248],"webhookId":"f726f46d-9db1-4425-a39b-c3f88210a62d","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"options":{}},"id":"bcb4b906-b452-4f99-bd3a-e15248ae1e41","name":"Read Pending Articles2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2816,4640],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"jsonSchemaExample":"{\n  \"twitter\": {\n    \"hook\": \"AI agents are replacing SaaS. Here's why:\",\n    \"content\": \"The shift from tools to autonomous systems is happening faster than expected. Companies using AI agents report 40% efficiency gains.\",\n    \"hashtags\": [\"#AI\", \"#Automation\", \"#SaaS\", \"#Tech\"]\n  },\n  \"linkedin\": {\n    \"headline\": \"The SaaS model is being disrupted — and AI agents are leading the charge.\",\n    \"content\": \"Something interesting is happening in enterprise software.\\n\\nCompanies are moving from buying tools to deploying autonomous AI agents that handle entire workflows.\\n\\nThe implications? Faster execution, lower costs, and systems that improve themselves.\\n\\nThis isn't hype — it's already happening at scale.\",\n    \"hashtags\": [\"#ArtificialIntelligence\", \"#Automation\", \"#FutureOfWork\", \"#SaaS\", \"#Innovation\"],\n    \"cta\": \"What's your take — are AI agents the next platform shift?\"\n  },\n  \"image_prompt\": \"Minimalist tech illustration showing interconnected neural network nodes with soft blue and cyan gradient on white background, abstract representation of AI automation, clean modern SaaS aesthetic, no text, square format\",\n  \"article_id\": \"ART-123456-abc\"\n}"},"id":"7c260f0b-6790-4c53-b647-16cebc46d293","name":"Structured Output Parser3","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2032,4800]},{"parameters":{"text":"={{ $('Fetch Approved Article').item.json.twitter_text }}","additionalFields":{}},"id":"bc4c7bca-d4b5-46d5-ada8-78406744f99c","name":"Post to Twitter3","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[-1904,4960],"credentials":{"twitterOAuth2Api":{"id":"o0feRFKgKQPKR3ZX","name":"agiwithdhruv"}}},{"parameters":{"person":"YOUR_LINKEDIN_PERSON_ID","text":"={{ $('Fetch Approved Article').item.json.linkedin_text }}","additionalFields":{"visibility":"PUBLIC"}},"id":"a8584c44-8c4c-4abc-a12e-efb4dd1c76f0","name":"Post to LinkedIn4","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-1904,5120],"credentials":{"linkedInOAuth2Api":{"id":"f520by1wOAMg6btX","name":"Dhruv"}}},{"parameters":{"content":"# 🤖 PART 2: AI CONTENT + IMAGE\n\n**Schedule:** Every 4 hours (+15 min)\n\n**Flow:**\n1. Read pending articles\n2. Take oldest 1\n3. AI generates Twitter + LinkedIn\n4. Google Imagen generates image\n5. Save to Sheet\n6. Send to Telegram for approval\n\n**Image:** Google Imagen 3\n(Vertex AI API)","height":300,"width":280,"color":6},"id":"9e68aabc-da1d-4029-8eda-cdd2b6f3fbaf","name":"Sticky - Part 2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3296,5456]},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4,"triggerAtMinute":15}]}},"id":"0a3d2acf-5965-43f2-ab5b-09e55ed657e4","name":"Every 4 Hours +15min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-3184,5856]},{"parameters":{},"id":"ffe38a9d-95e5-4210-9f6f-c8319a71ec6c","name":"Take Oldest One","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2752,5856]},{"parameters":{"model":"gpt-4o-mini","options":{"maxTokens":2000,"temperature":0.7}},"id":"f8c65d26-f61d-4e4f-8963-0531d2629957","name":"OpenAI GPT-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2384,6016],"credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"method":"POST","url":"=https://us-central1-aiplatform.googleapis.com/v1/projects/YOUR_GCP_PROJECT_ID/locations/us-central1/publishers/google/models/imagen-3.0-generate-001:predict","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"instances\": [\n    {\n      \"prompt\": \"{{ $json.image_prompt }}\"\n    }\n  ],\n  \"parameters\": {\n    \"sampleCount\": 1,\n    \"aspectRatio\": \"1:1\",\n    \"safetyFilterLevel\": \"block_some\",\n    \"personGeneration\": \"dont_allow\"\n  }\n}","options":{"timeout":60000}},"id":"058a9941-0aed-4342-9e0c-28764d9a9273","name":"Google Imagen 3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1856,5808],"disabled":true},{"parameters":{"jsCode":"// Extract image from Imagen response and combine with content\nconst contentData = $('Format Content1').first().json;\nconst imagenResponse = $input.first().json;\n\n// Imagen returns base64 encoded image in predictions[0].bytesBase64Encoded\nlet imageBase64 = '';\nlet imageUrl = '';\n\ntry {\n  if (imagenResponse.predictions && imagenResponse.predictions[0]) {\n    imageBase64 = imagenResponse.predictions[0].bytesBase64Encoded || '';\n    // Create data URL for display\n    if (imageBase64) {\n      imageUrl = `data:image/png;base64,${imageBase64}`;\n    }\n  }\n} catch (e) {\n  imageBase64 = '';\n  imageUrl = '';\n}\n\nreturn [{\n  json: {\n    ...contentData,\n    image_base64: imageBase64,\n    image_url: imageUrl,\n    has_image: imageBase64.length > 0\n  }\n}];"},"id":"a309d233-e030-431e-9982-65c89595219e","name":"Process Imagen Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1632,5808]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-image","leftValue":"={{ $json.has_image }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8dabe0fa-5e52-4d4f-9d05-d1d78eecb1f7","name":"Has Image?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,5904]},{"parameters":{"jsCode":"// Convert base64 to binary for Telegram\nconst data = $input.first().json;\nconst base64 = data.image_base64;\n\nif (base64) {\n  const binaryData = Buffer.from(base64, 'base64');\n  return [{\n    json: {\n      article_id: data.article_id\n    },\n    binary: {\n      image: {\n        data: base64,\n        mimeType: 'image/png',\n        fileName: `imagen_${data.article_id}.png`\n      }\n    }\n  }];\n}\n\nreturn [{ json: { article_id: data.article_id, no_image: true } }];"},"id":"438a8565-d53d-4e72-a327-a817963b5ccb","name":"Prepare Image Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,5840]},{"parameters":{"operation":"sendPhoto","chatId":"YOUR_TELEGRAM_CHAT_ID","binaryData":true,"binaryPropertyName":"image","additionalFields":{"caption":"🖼️ Generated image (Google Imagen 3) for the post above"}},"id":"9746c58a-419f-4c95-90b4-38b82c460bb1","name":"Send Image to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-752,5840],"webhookId":"bd75bf64-1ffa-4f0f-9516-f9600db051af","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"=⚠️ *No image generated*\n\nImage generation failed or was blocked.\nYou can still approve the post without an image.","additionalFields":{"parse_mode":"Markdown"}},"id":"4311d761-fdd5-4ff6-8374-ec6b773ce4a9","name":"Notify No Image","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-976,6000],"webhookId":"3432385e-4dc5-4625-a54d-c0d821e73d90","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"=⏸️ *No pending articles*\n\nAll articles have been processed.\nWaiting for new discoveries...","additionalFields":{"parse_mode":"Markdown"}},"id":"b86c856c-a6ea-48c2-92bd-a4b0d06944e3","name":"Notify No Pending","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2288,5984],"webhookId":"bd19eda6-85bb-4520-9285-0f9d1089e523","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"content":"# 🔧 SETUP - GOOGLE IMAGEN\n\n**1. Enable Vertex AI API**\nin Google Cloud Console\n\n**2. Create Service Account**\nwith Vertex AI User role\n\n**3. Get JSON Key**\nDownload and create credential\n\n**4. Replace placeholders:**\n- YOUR_GCP_PROJECT_ID\n- YOUR_GCP_REGION (us-central1)\n- YOUR_GOOGLE_CREDENTIAL\n\n**API Endpoint:**\n`https://{region}-aiplatform.googleapis.com/v1/projects/{project}/locations/{region}/publishers/google/models/imagen-3.0-generate-001:predict`","height":380,"width":320,"color":7},"id":"794f026d-7b2c-4cf6-9bfe-b888d6dd8f6b","name":"Sticky - Setup1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2976,5456]},{"parameters":{"documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"options":{}},"id":"1a1cfc03-31a1-4a8b-a679-db1af062502d","name":"Read Pending Articles3","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2976,5856],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-article","leftValue":"={{ $json.article_id }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"},"options":{}},"id":"34112a70-5011-40ab-94bf-ba670b93cafa","name":"Has Pending?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2528,5856]},{"parameters":{"promptType":"define","text":"=Create social media content for this AI/tech article:\n\nTITLE: {{ $json.title }}\n\nSUMMARY: {{ $json.summary }}\n\nSOURCE: {{ $json.source_link }}\n\nARTICLE_ID: {{ $json.article_id }}","hasOutputParser":true,"options":{"systemMessage":"You are AIwithDhruv - a professional AI content creator for founders, engineers, and automation builders.\n\nCreate engaging social media posts from the article. Extract the ONE most valuable, practical insight.\n\n=== TWITTER (X) POST ===\n- Hook: Punchy first line (max 50 chars) that grabs attention\n- Content: The key insight (total post under 220 chars including hook)\n- NO links, NO hashtags in the text\n- Generate 4 relevant hashtags separately\n- Style: Sharp, practical, slightly provocative\n\n=== LINKEDIN POST ===\n- Headline: Professional, curiosity-driven opening line\n- Content: 3-4 short paragraphs:\n  * Para 1: The hook/problem\n  * Para 2: The insight/solution\n  * Para 3: Why it matters\n  * Para 4: Your take\n- CTA: End with engaging question\n- NO links, NO hashtags in text\n- Generate 5 professional hashtags separately\n- Style: Thoughtful, expert, conversational\n\n=== IMAGE PROMPT ===\nCreate an image prompt for Google Imagen that:\n- Represents the article's core concept visually\n- Uses clean, minimal, modern design\n- Colors: White/light background, soft blue/cyan/purple accents\n- Style: Abstract tech illustration, SaaS aesthetic\n- NO text, NO words, NO letters in the image\n- NO faces, NO people\n- Format: Square (1:1 aspect ratio)\n- Keep prompt under 100 words\n\nTONE FOR ALL: Builder-focused, credible, no hype, no fluff.\n\nReturn ONLY valid JSON matching the schema exactly."}},"id":"dce614db-273e-41ba-b3c5-badcbad6fbca","name":"AI Generate Content1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2288,5808]},{"parameters":{"jsonSchemaExample":"{\n  \"twitter\": {\n    \"hook\": \"AI agents are replacing SaaS.\",\n    \"content\": \"The shift from tools to autonomous systems is happening. Companies using AI agents report 40% efficiency gains.\",\n    \"hashtags\": [\"#AI\", \"#Automation\", \"#SaaS\", \"#Tech\"]\n  },\n  \"linkedin\": {\n    \"headline\": \"The SaaS model is being disrupted.\",\n    \"content\": \"Something interesting is happening in enterprise software.\\n\\nCompanies are moving from buying tools to deploying autonomous AI agents.\\n\\nThe implications? Faster execution, lower costs.\\n\\nThis isn't hype — it's happening at scale.\",\n    \"hashtags\": [\"#ArtificialIntelligence\", \"#Automation\", \"#FutureOfWork\", \"#SaaS\", \"#Innovation\"],\n    \"cta\": \"What's your take — are AI agents the next platform shift?\"\n  },\n  \"image_prompt\": \"Abstract minimalist illustration of interconnected glowing nodes forming a neural network pattern, soft blue and cyan gradient on clean white background, modern tech aesthetic, no text, square format\",\n  \"article_id\": \"ART-123456-abc\"\n}"},"id":"99a09071-ddb7-4147-a66f-2d885ec22cc7","name":"Structured Output Parser4","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2192,6016]},{"parameters":{"jsCode":"// Parse AI output and format for Imagen\nconst items = $input.all();\nconst aiOutput = items[0].json.output || items[0].json;\nconst originalArticle = $('Take Oldest One').first().json;\n\nlet parsed = aiOutput;\nif (typeof aiOutput === 'string') {\n  try {\n    const match = aiOutput.match(/\\{[\\s\\S]*\\}/);\n    if (match) parsed = JSON.parse(match[0]);\n  } catch (e) {\n    parsed = {\n      twitter: { hook: 'AI Update', content: originalArticle.title, hashtags: ['#AI'] },\n      linkedin: { headline: 'Tech News', content: originalArticle.summary, hashtags: ['#AI'], cta: 'Thoughts?' },\n      image_prompt: 'Abstract technology concept with blue gradient on white background, minimal design, no text'\n    };\n  }\n}\n\n// Format posts\nconst twitterHashtags = (parsed.twitter?.hashtags || ['#AI']).join(' ');\nconst twitterFull = `${parsed.twitter?.hook || ''}\\n\\n${parsed.twitter?.content || ''}\\n\\n${twitterHashtags}`;\n\nconst linkedinHashtags = (parsed.linkedin?.hashtags || ['#AI']).join(' ');\nconst linkedinFull = `${parsed.linkedin?.headline || ''}\\n\\n${parsed.linkedin?.content || ''}\\n\\n${parsed.linkedin?.cta || ''}\\n\\n${linkedinHashtags}`;\n\n// Clean image prompt for Imagen\nlet imagePrompt = parsed.image_prompt || 'Abstract AI technology concept, blue gradient, white background, minimal design, no text';\nimagePrompt = imagePrompt.substring(0, 500); // Imagen has prompt limits\n\nreturn [{\n  json: {\n    article_id: originalArticle.article_id,\n    title: originalArticle.title,\n    source_link: originalArticle.source_link,\n    twitter_text: twitterFull.trim(),\n    twitter_hook: parsed.twitter?.hook || '',\n    linkedin_text: linkedinFull.trim(),\n    linkedin_headline: parsed.linkedin?.headline || '',\n    image_prompt: imagePrompt,\n    twitter_hashtags: twitterHashtags,\n    linkedin_hashtags: linkedinHashtags\n  }\n}];"},"id":"e0a9e742-7652-432c-ae31-0dfaba9e1081","name":"Format Content1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2064,5808]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $json.article_id }}","twitter_text":"={{ $json.twitter_text }}","linkedin_text":"={{ $json.linkedin_text }}","image_url":"={{ $json.image_url }}","post_status":"Ready","approval_status":"Awaiting"},"matchingColumns":["article_id"]},"options":{}},"id":"2c398e95-1325-4795-9921-ceea277981c3","name":"Update Sheet with Content1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1408,5808],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"=🎯 *CONTENT READY FOR APPROVAL*\n\n━━━━━━━━━━━━━━━━━━━━━\n📰 *{{ $json.title }}*\n━━━━━━━━━━━━━━━━━━━━━\n\n🐦 *TWITTER POST:*\n\n{{ $json.twitter_text }}\n\n━━━━━━━━━━━━━━━━━━━━━\n\n💼 *LINKEDIN POST:*\n\n{{ $json.linkedin_text }}\n\n━━━━━━━━━━━━━━━━━━━━━\n\n🔗 Source: {{ $json.source_link }}\n🆔 ID: `{{ $json.article_id }}`\n\n━━━━━━━━━━━━━━━━━━━━━\n*Reply with:*\n✅ `APPROVE {{ $json.article_id }}`\n❌ `REJECT {{ $json.article_id }}`","additionalFields":{"parse_mode":"Markdown"}},"id":"0d182547-2882-450f-88e3-50a808f3d734","name":"Send Approval Request1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1184,5744],"webhookId":"dd1605b6-b93a-4f8b-817b-6e53c3bdd9e8","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}}],"connections":{"RSS - Google AI Tools1":{"main":[[{"node":"Merge All RSS1","type":"main","index":0}]]},"RSS - Google Automation1":{"main":[[{"node":"Merge All RSS1","type":"main","index":1}]]},"Merge All RSS1":{"main":[[{"node":"Duplicate","type":"main","index":0}]]},"Extract Article Data1":{"main":[[{"node":"Add Or Update New Articles","type":"main","index":0}]]},"Read Pending Articles1":{"main":[[{"node":"Take Oldest Pending1","type":"main","index":0}]]},"Take Oldest Pending1":{"main":[[{"node":"AI Content Generator1","type":"main","index":0}]]},"AI Content Generator1":{"main":[[{"node":"Format Post Data3","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Content Generator1","type":"ai_outputParser","index":0}]]},"Format Post Data3":{"main":[[{"node":"Post to Twitter2","type":"main","index":0},{"node":"Post to LinkedIn3","type":"main","index":0}]]},"Post to Twitter2":{"main":[[{"node":"Merge Post Results1","type":"main","index":0}]]},"Post to LinkedIn3":{"main":[[{"node":"Merge Post Results1","type":"main","index":1}]]},"Merge Post Results1":{"main":[[{"node":"Update Status - Posted1","type":"main","index":0}]]},"Merge All RSS":{"main":[[{"node":"Duplicate Filter","type":"main","index":0}]]},"Extract Article Data":{"main":[[{"node":"Add New AI Updates","type":"main","index":0}]]},"techcrunch":{"main":[[{"node":"Merge All RSS","type":"main","index":1}]]},"google letest Ai":{"main":[[{"node":"Merge All RSS","type":"main","index":0}]]},"Duplicate Filter":{"main":[[{"node":"Limit 2","type":"main","index":0}]]},"Duplicate":{"main":[[{"node":"Limit 5","type":"main","index":0}]]},"Limit 2":{"main":[[{"node":"Extract Article Data","type":"main","index":0}]]},"Every 3 Days":{"main":[[{"node":"google letest Ai","type":"main","index":0},{"node":"techcrunch","type":"main","index":0}]]},"Limit 5":{"main":[[{"node":"Extract Article Data1","type":"main","index":0}]]},"Every 6 Days":{"main":[[{"node":"RSS - Google AI Tools1","type":"main","index":0},{"node":"RSS - Google Automation1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Content Generator1","type":"ai_languageModel","index":0}]]},"Daily_2PM":{"main":[[{"node":"Read Pending Articles1","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Content Generator1","type":"ai_tool","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Content Generator1","type":"ai_languageModel","index":1}]]},"Every 4 Hours +15min - Generate":{"main":[[{"node":"Read Pending Articles2","type":"main","index":0}]]},"Take One":{"main":[[{"node":"Has Pending?","type":"main","index":0}]]},"Has Pending?":{"main":[[{"node":"AI Generate Content","type":"main","index":0}]]},"AI Generate Content":{"main":[[{"node":"Format Content","type":"main","index":0}]]},"OpenAI GPT-4o":{"ai_languageModel":[[{"node":"AI Generate Content","type":"ai_languageModel","index":0}]]},"Format Content":{"main":[[{"node":"Generate Image (DALL-E)","type":"main","index":0}]]},"Generate Image (DALL-E)":{"main":[[{"node":"Combine Content + Image","type":"main","index":0}]]},"Combine Content + Image":{"main":[[{"node":"Update Sheet with Content","type":"main","index":0}]]},"Update Sheet with Content":{"main":[[{"node":"Send Approval Request","type":"main","index":0},{"node":"Send Image Preview","type":"main","index":0}]]},"Telegram - Approval Response":{"main":[[{"node":"Parse Approval","type":"main","index":0}]]},"Parse Approval":{"main":[[{"node":"Route Action","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Fetch Approved Article","type":"main","index":0}],[{"node":"Update - Rejected","type":"main","index":0}],[{"node":"Notify Edit Mode","type":"main","index":0}]]},"Fetch Approved Article":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Post to Twitter3","type":"main","index":0},{"node":"Post to LinkedIn4","type":"main","index":0}]]},"Merge Posts":{"main":[[{"node":"Update - Posted","type":"main","index":0}]]},"Update - Posted":{"main":[[{"node":"Notify Success","type":"main","index":0}]]},"Update - Rejected":{"main":[[{"node":"Notify Rejected","type":"main","index":0}]]},"Read Pending Articles2":{"main":[[{"node":"Take One","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Generate Content","type":"ai_outputParser","index":0}]]},"Post to Twitter3":{"main":[[{"node":"Merge Posts","type":"main","index":0}]]},"Post to LinkedIn4":{"main":[[{"node":"Merge Posts","type":"main","index":1}]]},"Every 4 Hours +15min":{"main":[[{"node":"Read Pending Articles3","type":"main","index":0}]]},"Take Oldest One":{"main":[[{"node":"Has Pending?1","type":"main","index":0}]]},"OpenAI GPT-4o-mini":{"ai_languageModel":[[{"node":"AI Generate Content1","type":"ai_languageModel","index":0}]]},"Google Imagen 3":{"main":[[{"node":"Process Imagen Response","type":"main","index":0}]]},"Process Imagen Response":{"main":[[{"node":"Update Sheet with Content1","type":"main","index":0}]]},"Has Image?":{"main":[[{"node":"Prepare Image Binary","type":"main","index":0}],[{"node":"Notify No Image","type":"main","index":0}]]},"Prepare Image Binary":{"main":[[{"node":"Send Image to Telegram","type":"main","index":0}]]},"Read Pending Articles3":{"main":[[{"node":"Take Oldest One","type":"main","index":0}]]},"Has Pending?1":{"main":[[{"node":"AI Generate Content1","type":"main","index":0}],[{"node":"Notify No Pending","type":"main","index":0}]]},"AI Generate Content1":{"main":[[{"node":"Format Content1","type":"main","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"AI Generate Content1","type":"ai_outputParser","index":0}]]},"Format Content1":{"main":[[{"node":"Google Imagen 3","type":"main","index":0}]]},"Update Sheet with Content1":{"main":[[{"node":"Send Approval Request1","type":"main","index":0},{"node":"Has Image?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Asia/Kolkata","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Every 4 Hours +15min":{"recurrenceRules":[0]},"node:Every 3 Days":{"recurrenceRules":[30]},"node:Every 6 Days":{"recurrenceRules":[27]},"node:Daily_2PM":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bfff04e8-c90a-4c82-aa39-c5d51c222770","activeVersionId":"bfff04e8-c90a-4c82-aa39-c5d51c222770","versionCounter":560,"triggerCount":4,"shared":[{"updatedAt":"2026-01-26T06:48:28.203Z","createdAt":"2026-01-26T06:48:28.203Z","role":"workflow:owner","workflowId":"KpXHSyWxCneAn2Oz","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-31T16:21:28.000Z","createdAt":"2026-01-31T16:21:25.836Z","versionId":"bfff04e8-c90a-4c82-aa39-c5d51c222770","workflowId":"KpXHSyWxCneAn2Oz","nodes":[{"parameters":{"url":"https://news.google.com/rss/search?q=AI+tools+artificial+intelligence","options":{}},"id":"79c42502-d860-44b0-bd40-fe100e9a0efc","name":"RSS - Google AI Tools1","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1536,1392]},{"parameters":{"url":"https://news.google.com/rss/search?q=AI+automation+workflow","options":{}},"id":"7cfe10eb-91a7-4f70-a1d5-dfaadd0e088b","name":"RSS - Google Automation1","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1536,1616]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"e33f3ce7-16f6-4a2b-ac36-433d8479b259","name":"Merge All RSS1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1328,1488]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// FIXED: Use $input.item.json for runOnceForEachItem mode\nconst item = $input.item.json;\n\n// Generate unique article ID\nconst articleId = 'ART-' + Date.now() + '-' + Math.random().toString(36).substr(2, 4);\n\n// Extract summary (first 500 chars)\nlet summary = item.content || item.description || item.contentSnippet || '';\nsummary = summary.replace(/<[^>]*>/g, '').substring(0, 500).trim();\n\n// Parse publication date\nlet pubDate = item.pubDate || item.isoDate || new Date().toISOString();\ntry {\n  pubDate = new Date(pubDate).toISOString();\n} catch (e) {\n  pubDate = new Date().toISOString();\n}\n\n// Determine source\nlet source = 'Unknown';\nconst link = item.link || '';\nif (link.includes('techcrunch')) source = 'TechCrunch';\nelse if (link.includes('google.com')) source = 'Google News';\nelse if (item.creator) source = item.creator;\n\nreturn {\n  article_id: articleId,\n  title: (item.title || 'Untitled').substring(0, 200),\n  summary: summary,\n  source_link: link,\n  source: source,\n  pub_date: pubDate,\n  added_at: new Date().toISOString(),\n  post_status: 'Pending',\n  posted_at: '',\n  platform: ''\n};"},"id":"6d9a054c-1d35-4d00-9bc9-c8b4fd07fd45","name":"Extract Article Data1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,1488]},{"parameters":{"documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":339927552,"mode":"list","cachedResultName":"Social Media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=339927552"},"filtersUI":{"values":[{"lookupColumn":"post_status","lookupValue":"Pending"}]},"options":{}},"id":"5c8d5936-97cd-49d0-8f27-498e8b1b3a17","name":"Read Pending Articles1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1936,2656],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{},"id":"914aa4e0-0668-4ab6-8500-83fd265ab0f3","name":"Take Oldest Pending1","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1744,2656]},{"parameters":{"promptType":"define","text":"=Article to transform into social media posts:\n\nTITLE: {{ $json.title }}\n\nSUMMARY: {{ $json.summary }}\n\nSOURCE: {{ $json.source_link }}\n\nARTICLE_ID: {{ $json.article_id }}\n\nCreate engaging social media posts based on this article.","hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"=You are a professional AI content creator for founders, engineers, and automation builders.\n\nGiven an article about AI/automation:\n1. Extract the ONE most valuable insight\n2. Create TWO posts:\n\nTWITTER (X):\n- Hook: Attention-grabbing first line (under 50 chars)\n- Content: Main insight (under 200 chars total with hook)\n- NO links in content\n- NO hashtags in content\n- Generate 3-5 relevant hashtags separately\n\nLINKEDIN:\n- Headline: Professional, curiosity-driven opening\n- Content: 3-4 short paragraphs with insight, context, and takeaway\n- End with a question or CTA\n- NO links in content\n- NO hashtags in content\n- Generate 3-5 professional hashtags separately\n\nTool - \n#think - Use think Tool if need to deep think somehting \n\n\n\n\nTONE: Practical, credible, builder-focused. No hype. No fluff.\nWrite like a senior engineer sharing valuable insights.\n\nReturn ONLY valid JSON matching the output schema."}},"id":"4edfbfd3-60df-4847-89b3-30c0cd4be6ff","name":"AI Content Generator1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1376,2624]},{"parameters":{"jsonSchemaExample":"{\n  \"twitter\": {\n    \"hook\": \"Short punchy opening\",\n    \"content\": \"Tweet content under 200 chars\",\n    \"hashtags\": [\"#AI\", \"#Automation\", \"#Tech\"]\n  },\n  \"linkedin\": {\n    \"headline\": \"Professional headline\",\n    \"content\": \"LinkedIn post with insights.\",\n    \"hashtags\": [\"#ArtificialIntelligence\", \"#Innovation\"],\n    \"cta\": \"What do you think?\"\n  },\n  \"article_id\": \"ART-123-abc\"\n}"},"id":"6f5305a6-85f2-4073-83ab-d0d9b887ff26","name":"Structured Output Parser2","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1072,2896]},{"parameters":{"jsCode":"// FIXED: Use runOnceForAllItems and access items properly\nconst items = $input.all();\nconst aiOutput = items[0].json.output || items[0].json;\nconst originalArticle = $('Take Oldest Pending1').first().json;\n\n// Parse AI output if string\nlet parsed = aiOutput;\nif (typeof aiOutput === 'string') {\n  try {\n    const jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsed = JSON.parse(jsonMatch[0]);\n    }\n  } catch (e) {\n    parsed = {\n      twitter: { hook: 'AI News', content: originalArticle.title, hashtags: ['#AI', '#Tech'] },\n      linkedin: { headline: 'AI Update', content: originalArticle.summary, hashtags: ['#AI'], cta: 'Thoughts?' }\n    };\n  }\n}\n\n// Format Twitter post\nconst twitterHashtags = (parsed.twitter?.hashtags || ['#AI']).join(' ');\nconst twitterText = `${parsed.twitter?.hook || ''}\\n\\n${parsed.twitter?.content || ''}\\n\\n${twitterHashtags}`;\n\n// Format LinkedIn post\nconst linkedinHashtags = (parsed.linkedin?.hashtags || ['#AI']).join(' ');\nconst linkedinText = `${parsed.linkedin?.headline || ''}\\n\\n${parsed.linkedin?.content || ''}\\n\\n${parsed.linkedin?.cta || ''}\\n\\n${linkedinHashtags}`;\n\nreturn [{\n  json: {\n    article_id: originalArticle.article_id,\n    twitter_text: twitterText.trim(),\n    linkedin_text: linkedinText.trim(),\n    source_link: originalArticle.source_link\n  }\n}];"},"id":"ac68fb32-42d2-4626-b38f-ddb925df4195","name":"Format Post Data3","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1008,2624]},{"parameters":{"text":"={{ $json.twitter_text }}","additionalFields":{}},"id":"fd843c76-b4d3-4aa2-8e5a-755acff8951c","name":"Post to Twitter2","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[-800,2560],"credentials":{"twitterOAuth2Api":{"id":"o0feRFKgKQPKR3ZX","name":"agiwithdhruv"}},"onError":"continueRegularOutput"},{"parameters":{"person":"0acXkbkIhL","text":"={{ $json.linkedin_text }}","additionalFields":{"visibility":"PUBLIC"}},"id":"505eb50b-5777-4fab-89f7-785d693de8bc","name":"Post to LinkedIn3","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-800,2768],"credentials":{"linkedInOAuth2Api":{"id":"f520by1wOAMg6btX","name":"Dhruv"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"4773d668-651f-45d4-b8b3-7a10eb8ca5c9","name":"Merge Post Results1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-496,2688]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":339927552,"mode":"list","cachedResultName":"Social Media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=339927552"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $('Format Post Data3').item.json.article_id }}","post_status":"Done","posted_at":"={{ $now }}","linkedin Platform":"={{ $('Post to LinkedIn3').item.json.urn }}","Twitter":"={{ $('Post to Twitter2').item.json.id }}"},"matchingColumns":["article_id"],"schema":[{"id":"article_id","displayName":"article_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source_link","displayName":"source_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pub_date","displayName":"pub_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"added_at","displayName":"added_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"post_status","displayName":"post_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted_at","displayName":"posted_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin Platform","displayName":"linkedin Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"d666230e-0628-4653-ab91-a3f4ad82ab47","name":"Update Status - Posted1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-256,2688],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"3e25119d-0492-4282-9bea-960e96632c88","name":"Merge All RSS","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1328,2000]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// FIXED: Use $input.item.json for runOnceForEachItem mode\nconst item = $input.item.json;\n\n// Generate unique article ID\nconst articleId = 'ART-' + Date.now() + '-' + Math.random().toString(36).substr(2, 4);\n\n// Extract summary (first 500 chars)\nlet summary = item.content || item.description || item.contentSnippet || '';\nsummary = summary.replace(/<[^>]*>/g, '').substring(0, 500).trim();\n\n// Parse publication date\nlet pubDate = item.pubDate || item.isoDate || new Date().toISOString();\ntry {\n  pubDate = new Date(pubDate).toISOString();\n} catch (e) {\n  pubDate = new Date().toISOString();\n}\n\n// Determine source\nlet source = 'Unknown';\nconst link = item.link || '';\nif (link.includes('techcrunch')) source = 'TechCrunch';\nelse if (link.includes('google.com')) source = 'Google News';\nelse if (item.creator) source = item.creator;\n\nreturn {\n  article_id: articleId,\n  title: (item.title || 'Untitled').substring(0, 200),\n  summary: summary,\n  source_link: link,\n  source: source,\n  pub_date: pubDate,\n  added_at: new Date().toISOString(),\n  post_status: 'Pending',\n  posted_at: '',\n  platform: ''\n};"},"id":"c554e0c0-160b-4033-9663-1322764371a8","name":"Extract Article Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,2000]},{"parameters":{"url":"https://techcrunch.com/category/artificial-intelligence/feed/","options":{}},"id":"6daf0243-44a0-4a6e-beba-efcb0c636a64","name":"techcrunch","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1536,2128]},{"parameters":{"url":"https://news.google.com/rss/search?q=artificial+intelligence+when:3d&hl=en-US&gl=US&ceid=US:en","options":{}},"id":"bc084f57-cef6-40fd-863a-41dd35fe1554","name":"google letest Ai","type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[-1536,1904]},{"parameters":{"jsCode":"// Filter articles from last N days\nconst DAYS = 4;\nconst now = new Date();\nconst cutoff = new Date(now.getTime() - DAYS * 24 * 60 * 60 * 1000);\n\nconst filtered = items.filter(item => {\n  const rawDate =\n    item.json.pubDate ||\n    item.json.isoDate ||\n    item.json.published ||\n    item.json.updated;\n\n  if (!rawDate) return false;\n\n  const articleDate = new Date(rawDate);\n  if (isNaN(articleDate.getTime())) return false;\n\n  return articleDate >= cutoff;\n});\n\nreturn filtered;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,2000],"id":"7dbf4b93-f76d-43fb-a271-086e34cec740","name":"Duplicate Filter"},{"parameters":{"jsCode":"// Filter articles from last N days\nconst DAYS = 4;\nconst now = new Date();\nconst cutoff = new Date(now.getTime() - DAYS * 24 * 60 * 60 * 1000);\n\nconst filtered = items.filter(item => {\n  const rawDate =\n    item.json.pubDate ||\n    item.json.isoDate ||\n    item.json.published ||\n    item.json.updated;\n\n  if (!rawDate) return false;\n\n  const articleDate = new Date(rawDate);\n  if (isNaN(articleDate.getTime())) return false;\n\n  return articleDate >= cutoff;\n});\n\nreturn filtered;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1088,1488],"id":"6c49ff4a-a410-4a24-a765-99dbab66414c","name":"Duplicate"},{"parameters":{"maxItems":2},"id":"21ad74a4-6ae9-43e9-a6d4-f01443fa38ab","name":"Limit 2","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-848,2000]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":339927552,"mode":"list","cachedResultName":"Social Media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=339927552"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $json.article_id }}","title":"={{ $json.title }}","summary":"={{ $json.summary }}","source_link":"={{ $json.source_link }}","pub_date":"={{ $json.pub_date }}","added_at":"={{ $json.added_at }}","post_status":"={{ $json.post_status }}","posted_at":"={{ $json.posted_at }}"},"matchingColumns":["title"],"schema":[{"id":"article_id","displayName":"article_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_link","displayName":"source_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pub_date","displayName":"pub_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_at","displayName":"added_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_status","displayName":"post_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted_at","displayName":"posted_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin Platform","displayName":"linkedin Platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Twitter","displayName":"Twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"45888318-a805-478c-a4e3-e446da8a7017","name":"Add Or Update New Articles","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-400,1488],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4","mode":"list","cachedResultName":"Aiwithdhruv_n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":339927552,"mode":"list","cachedResultName":"Social Media","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QXT0-GD0HZ36rTwPQQFDii1qWJYBjcFm_kUC0FyX-P4/edit#gid=339927552"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $json.article_id }}","title":"={{ $json.title }}","summary":"={{ $json.summary }}","source_link":"={{ $json.source_link }}","pub_date":"={{ $json.pub_date }}","added_at":"={{ $json.added_at }}","post_status":"={{ $json.post_status }}","posted_at":"={{ $json.posted_at }}","platform":"={{ $json.platform }}"},"matchingColumns":["title"],"schema":[{"id":"article_id","displayName":"article_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source_link","displayName":"source_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"pub_date","displayName":"pub_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"added_at","displayName":"added_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"post_status","displayName":"post_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted_at","displayName":"posted_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"platform","displayName":"platform","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2a4cb692-3d20-4eb7-8037-cb02ae9cb0f3","name":"Add New AI Updates","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-400,2000],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"rule":{"interval":[{"daysInterval":3}]}},"id":"9117f922-5d89-4984-a720-63f6d97ce0bf","name":"Every 3 Days","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1728,2016]},{"parameters":{"maxItems":7},"id":"dd2be6e5-8d76-4155-a950-fd3a7228017e","name":"Limit 5","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-848,1488]},{"parameters":{"rule":{"interval":[{"daysInterval":6}]}},"id":"b764e1f9-5358-427c-a6cf-ca74092e4514","name":"Every 6 Days","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1728,1504]},{"parameters":{"model":"google/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1440,2832],"id":"7282aad4-49d1-4d46-bf7f-b30bc3fbd989","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"id":"8c53b13f-cee0-475f-b01d-e436e3e62786","name":"Daily_2PM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2160,2656]},{"parameters":{"content":"# 🟠  COMMON AI UPDATES\n\n**Schedule:** Every 6 Days\n\n**Sources:**\n• Google AI Tools\n• Google Automation\n\n**Flow:**\nRSS → Merge → Filter 4 Days → Limit 7 → Extract → Save\n\n**Purpose:** General AI news that doesn't change often","height":440,"width":2156,"color":7},"id":"5c92d885-c836-4aa8-91e9-d69621cb90ed","name":"Sticky - Common Updates","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2304,1344]},{"parameters":{"content":"# 🟢   LATEST AI UPDATES\n\n**Schedule:** Every 3 Days\n\n**Sources:**\n• Google Latest AI (3 days filter)\n• TechCrunch AI\n\n**Flow:**\nRSS → Merge → Filter 4 Days → Limit 2 → Extract → Save\n\n**Purpose:** Fresh, breaking AI news","height":392,"width":2172,"color":4},"id":"bd95ffbd-19c0-4a8a-a75f-98c257a00386","name":"Sticky - Latest Updates","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2304,1856]},{"parameters":{"content":"# 🔵 CONTENT GENERATION & POSTING\n\n**Schedule:** Daily at 2 PM\n\n**Flow:**\n1. Read Pending articles from Sheet\n2. Take oldest 1\n3. AI generates Twitter + LinkedIn posts\n4. Post to both platforms\n5. Update status to \"Done\"\n\n**AI Model:** Gemini 3 Flash (OpenRouter)","height":620,"width":2496,"color":5},"id":"7235f77a-8a66-4486-9404-2c4d707c0342","name":"Sticky - Posting","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2336,2432]},{"parameters":{"content":"# ⚙️ DUPLICATE FILTER\n\n```javascript\nDAYS = 4\n```\n\nOnly keeps articles from last 4 days.\nOlder articles are skipped.","height":1088,"width":220,"color":3},"id":"e62c50a0-61c5-4eac-8111-623a43ff69db","name":"Sticky - Filter","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1152,1136]},{"parameters":{"content":"# 📊 GOOGLE SHEET\n\n**Sheet:** Aiwithdhruv_n8n\n**Tab:** Social Media\n\n**Columns:**\n• article_id\n• title\n• summary\n• source_link\n• pub_date\n• post_status\n• posted_at\n• Twitter ID\n• LinkedIn URN","height":872,"color":2},"id":"0b48ea5e-216d-4a3a-aeda-da1b55588e6e","name":"Sticky - Sheet","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,1360]},{"parameters":{"content":"# 🤖 AI CONTENT RULES\n\n**Twitter:**\n• Hook (50 chars)\n• Content (200 chars)\n• No links in text\n• Hashtags separate\n\n**LinkedIn:**\n• Professional headline\n• 3-4 paragraphs\n• CTA question\n• Hashtags separate\n\n**Tone:** Builder-focused, no hype","height":620,"width":1012,"color":6},"id":"fd35606e-c373-45ac-adc0-abbbceb50b13","name":"Sticky - AI Rules","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,2432]},{"parameters":{"content":"# ✅ STATUS VALUES\n\n**Pending** → Waiting to post\n**Done** → Posted successfully\n\nSheet updates with:\n• Twitter post ID\n• LinkedIn URN\n• Timestamp","height":612,"color":4},"id":"8697e85a-6ce7-4070-9b8f-ecbeada757c7","name":"Sticky - Status","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-48,2432]},{"parameters":{"content":"# 📅 SCHEDULE SUMMARY\n\n| Trigger | Frequency |\n|---------|----------|\n| Common AI | Every 6 days |\n| Latest AI | Every 3 days |\n| Posting | Daily 2 PM |","height":1700,"width":438},"id":"eb0865c0-7b12-4174-894a-2b793306a26e","name":"Sticky - Schedule","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2768,1344]},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-1184,2848],"id":"1cb7d412-cb49-4796-866f-a1d5bb40e9f1","name":"Think"},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-5-20251101","mode":"list","cachedResultName":"Claude Opus 4.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-1312,2848],"id":"28eb6822-aa7e-4331-a6f2-ba6d678d1e85","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"4TWuiQeAevzJx8R6","name":"Anthropic account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4,"triggerAtMinute":15}]}},"id":"703b9948-b4ca-40d0-96a1-9009f80339c4","name":"Every 4 Hours +15min - Generate","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-3024,4640],"disabled":true},{"parameters":{},"id":"ae3444c5-573e-45ee-b570-5e9e46489cd1","name":"Take One","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2592,4640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-article","leftValue":"={{ $json.article_id }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"},"options":{}},"id":"17263d62-be37-4dbe-b3dd-56bbdfad3c13","name":"Has Pending?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2368,4640]},{"parameters":{"promptType":"define","text":"=Create social media content for this AI/tech article:\n\nTITLE: {{ $json.title }}\n\nSUMMARY: {{ $json.summary }}\n\nSOURCE: {{ $json.source_link }}\n\nARTICLE_ID: {{ $json.article_id }}","hasOutputParser":true,"options":{"systemMessage":"You are AIwithDhruv - a professional AI content creator for founders, engineers, and automation builders.\n\nCreate engaging social media posts from the article. Extract the ONE most valuable, practical insight.\n\n=== TWITTER (X) POST ===\n- Hook: Punchy first line (max 50 chars) that grabs attention\n- Content: The key insight (total post under 220 chars including hook)\n- NO links, NO hashtags in the text\n- Generate 4 relevant hashtags separately\n- Style: Sharp, practical, slightly provocative\n\n=== LINKEDIN POST ===\n- Headline: Professional, curiosity-driven opening line\n- Content: 3-4 short paragraphs:\n  * Para 1: The hook/problem\n  * Para 2: The insight/solution\n  * Para 3: Why it matters\n  * Para 4: Your take\n- CTA: End with engaging question\n- NO links, NO hashtags in text\n- Generate 5 professional hashtags separately\n- Style: Thoughtful, expert, conversational\n\n=== IMAGE PROMPT ===\nCreate a DALL-E prompt for a professional, modern image that:\n- Represents the article's core concept\n- Uses clean, minimal design\n- Colors: White background, soft blue/cyan accents, subtle gradients\n- Style: Tech/SaaS aesthetic, abstract representation\n- NO text in image\n- NO faces or people\n- Square format (1:1)\n\nTONE FOR ALL: Builder-focused, credible, no hype, no fluff. Write like a senior engineer sharing gold.\n\nReturn ONLY valid JSON matching the schema exactly."}},"id":"01ad89e1-b9b4-44e1-b1af-5292b61ea5d5","name":"AI Generate Content","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2128,4592]},{"parameters":{"model":"gpt-4o","options":{"maxTokens":2000,"temperature":0.7}},"id":"019858b4-4b29-46d4-8abe-11b017eef27d","name":"OpenAI GPT-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2224,4800],"credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"jsCode":"// Parse AI output and prepare for image generation\nconst items = $input.all();\nconst aiOutput = items[0].json.output || items[0].json;\nconst originalArticle = $('Take One').first().json;\n\nlet parsed = aiOutput;\nif (typeof aiOutput === 'string') {\n  try {\n    const match = aiOutput.match(/\\{[\\s\\S]*\\}/);\n    if (match) parsed = JSON.parse(match[0]);\n  } catch (e) {\n    parsed = {\n      twitter: { hook: 'AI Update', content: originalArticle.title, hashtags: ['#AI'] },\n      linkedin: { headline: 'Tech News', content: originalArticle.summary, hashtags: ['#AI'], cta: 'Thoughts?' },\n      image_prompt: 'Abstract technology concept with blue gradient on white background, minimal design'\n    };\n  }\n}\n\n// Format posts\nconst twitterHashtags = (parsed.twitter?.hashtags || ['#AI']).join(' ');\nconst twitterFull = `${parsed.twitter?.hook || ''}\\n\\n${parsed.twitter?.content || ''}\\n\\n${twitterHashtags}`;\n\nconst linkedinHashtags = (parsed.linkedin?.hashtags || ['#AI']).join(' ');\nconst linkedinFull = `${parsed.linkedin?.headline || ''}\\n\\n${parsed.linkedin?.content || ''}\\n\\n${parsed.linkedin?.cta || ''}\\n\\n${linkedinHashtags}`;\n\nreturn [{\n  json: {\n    article_id: originalArticle.article_id,\n    title: originalArticle.title,\n    source_link: originalArticle.source_link,\n    twitter_text: twitterFull.trim(),\n    twitter_hook: parsed.twitter?.hook || '',\n    linkedin_text: linkedinFull.trim(),\n    linkedin_headline: parsed.linkedin?.headline || '',\n    image_prompt: parsed.image_prompt || 'Abstract AI technology concept, blue gradient, white background, minimal',\n    twitter_hashtags: twitterHashtags,\n    linkedin_hashtags: linkedinHashtags\n  }\n}];"},"id":"6405947c-ec87-4895-b8ea-45de60e86a5c","name":"Format Content","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1840,4592]},{"parameters":{"resource":"image","prompt":"={{ $json.image_prompt }}","options":{"size":"1024x1024","style":"vivid"}},"id":"36136b74-33ae-4118-ae1f-29622071f77d","name":"Generate Image (DALL-E)","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-1648,4592],"credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"jsCode":"// Combine content with image URL\nconst contentData = $('Format Content').first().json;\nconst imageData = $input.first().json;\n\nconst imageUrl = imageData.data?.[0]?.url || imageData.url || '';\n\nreturn [{\n  json: {\n    ...contentData,\n    image_url: imageUrl\n  }\n}];"},"id":"1f5ee307-428b-4344-b758-56edbd70d222","name":"Combine Content + Image","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1472,4592]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $json.article_id }}","twitter_text":"={{ $json.twitter_text }}","linkedin_text":"={{ $json.linkedin_text }}","image_url":"={{ $json.image_url }}","post_status":"Ready","approval_status":"Awaiting"},"matchingColumns":["article_id"]},"options":{}},"id":"6798ca43-4d29-40fa-a666-4c55b742692c","name":"Update Sheet with Content","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1248,4592],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"=🎯 *CONTENT READY FOR APPROVAL*\n\n━━━━━━━━━━━━━━━━━━━━━\n📰 *{{ $json.title }}*\n━━━━━━━━━━━━━━━━━━━━━\n\n🐦 *TWITTER POST:*\n{{ $json.twitter_text }}\n\n━━━━━━━━━━━━━━━━━━━━━\n\n💼 *LINKEDIN POST:*\n{{ $json.linkedin_text }}\n\n━━━━━━━━━━━━━━━━━━━━━\n\n🔗 Source: {{ $json.source_link }}\n🆔 ID: `{{ $json.article_id }}`\n\n*Reply with:*\n✅ `APPROVE {{ $json.article_id }}`\n❌ `REJECT {{ $json.article_id }}`\n✏️ `EDIT {{ $json.article_id }}` (will ask for changes)","additionalFields":{"parse_mode":"Markdown"}},"id":"63aa3022-b22f-4fe8-b876-9deadf48403f","name":"Send Approval Request","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1024,4528],"webhookId":"b34f0f47-3068-4437-8509-4e97584f8148","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"operation":"sendPhoto","chatId":"YOUR_TELEGRAM_CHAT_ID","file":"={{ $json.image_url }}","additionalFields":{"caption":"🖼️ Generated image for the post above"}},"id":"d190afa8-c6ea-46d5-9d70-b2731c5600d5","name":"Send Image Preview","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1024,4688],"webhookId":"64792e1b-3785-4d6d-9262-8e7b138aaf80","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"2d768dd3-f45f-46db-a5c1-258ca868800e","name":"Telegram - Approval Response","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-3024,5152],"webhookId":"ai-news-approval","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}},"disabled":true},{"parameters":{"jsCode":"// Parse approval response\nconst msg = $input.first().json.message;\nconst text = (msg.text || '').trim().toUpperCase();\nconst chatId = msg.chat.id;\n\nlet action = 'unknown';\nlet articleId = '';\n\n// Parse APPROVE command\nif (text.startsWith('APPROVE')) {\n  action = 'approve';\n  const match = text.match(/APPROVE\\s+(ART-[\\w-]+)/i);\n  if (match) articleId = match[1];\n}\n// Parse REJECT command\nelse if (text.startsWith('REJECT')) {\n  action = 'reject';\n  const match = text.match(/REJECT\\s+(ART-[\\w-]+)/i);\n  if (match) articleId = match[1];\n}\n// Parse EDIT command\nelse if (text.startsWith('EDIT')) {\n  action = 'edit';\n  const match = text.match(/EDIT\\s+(ART-[\\w-]+)/i);\n  if (match) articleId = match[1];\n}\n\nreturn [{\n  json: {\n    action: action,\n    article_id: articleId,\n    chat_id: chatId,\n    raw_message: text\n  }\n}];"},"id":"bc8cf39b-a621-499d-9326-6205d307b614","name":"Parse Approval","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2816,5152]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"approve","leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Approve"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"reject","leftValue":"={{ $json.action }}","rightValue":"reject","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reject"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"edit","leftValue":"={{ $json.action }}","rightValue":"edit","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Edit"}]},"options":{"fallbackOutput":"extra"}},"id":"ff27a9dc-0b50-41f8-947e-6108dfc481b6","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2592,5152]},{"parameters":{"documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"options":{}},"id":"0ed83ee5-cbc8-4e35-a8b3-9170a80147d7","name":"Fetch Approved Article","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2352,5024],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"url":"={{ $json.image_url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"6286e3f7-084b-4c61-8304-cda7f0e328dc","name":"Download Image","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2128,5024]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"6c7f3cd4-369c-44b2-9e15-821a43bfd062","name":"Merge Posts","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1696,5040]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $('Fetch Approved Article').item.json.article_id }}","post_status":"Posted","approval_status":"Approved","posted_at":"={{ $now.toISO() }}","platform":"Twitter, LinkedIn"},"matchingColumns":["article_id"]},"options":{}},"id":"ec4b7569-ede7-426a-85f2-2a19a4d563a4","name":"Update - Posted","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1472,5040],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"chatId":"={{ $('Parse Approval').item.json.chat_id }}","text":"=✅ *SUCCESS!*\n\n🐦 Posted to Twitter\n💼 Posted to LinkedIn\n\n📰 *{{ $('Fetch Approved Article').item.json.title }}*\n\n_Status updated in sheet._","additionalFields":{"parse_mode":"Markdown"}},"id":"b66c0e44-d893-473e-938f-f022a4ac8b48","name":"Notify Success","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1248,5040],"webhookId":"0224053a-6959-4a0e-b88a-3b2a185f31b2","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $json.article_id }}","post_status":"Rejected","approval_status":"Rejected"},"matchingColumns":["article_id"]},"options":{}},"id":"a3a461b5-89ab-47d1-9777-6f7592b6c69e","name":"Update - Rejected","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2352,5200],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=❌ *Rejected*\n\nArticle {{ $json.article_id }} marked as rejected.\n\n_It won't be posted._","additionalFields":{"parse_mode":"Markdown"}},"id":"6856d10e-faaa-4205-85a9-9ba0ab6c3ad3","name":"Notify Rejected","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2128,5200],"webhookId":"205864df-a446-4dd3-8699-c8574795ea23","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=✏️ *Edit Mode*\n\nArticle: {{ $json.article_id }}\n\nPlease reply with your changes in this format:\n\n`TWITTER: your new twitter text here`\n\nor\n\n`LINKEDIN: your new linkedin text here`\n\nThen APPROVE again when ready.","additionalFields":{"parse_mode":"Markdown"}},"id":"3aab65b5-8b91-4328-bb2c-00669a19978b","name":"Notify Edit Mode","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2352,5360],"webhookId":"7ecf83d5-c1fc-4546-9be6-af7c0bae3c6a","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"=⚠️ *WORKFLOW ERROR*\n\nSomething went wrong.\n\nError: {{ $json.error?.message || 'Unknown error' }}\n\nPlease check the workflow execution logs.","additionalFields":{"parse_mode":"Markdown"}},"id":"8cb442a2-464a-4420-8cb6-d108b282d6de","name":"Error Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1248,5248],"webhookId":"f726f46d-9db1-4425-a39b-c3f88210a62d","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"options":{}},"id":"bcb4b906-b452-4f99-bd3a-e15248ae1e41","name":"Read Pending Articles2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2816,4640],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"jsonSchemaExample":"{\n  \"twitter\": {\n    \"hook\": \"AI agents are replacing SaaS. Here's why:\",\n    \"content\": \"The shift from tools to autonomous systems is happening faster than expected. Companies using AI agents report 40% efficiency gains.\",\n    \"hashtags\": [\"#AI\", \"#Automation\", \"#SaaS\", \"#Tech\"]\n  },\n  \"linkedin\": {\n    \"headline\": \"The SaaS model is being disrupted — and AI agents are leading the charge.\",\n    \"content\": \"Something interesting is happening in enterprise software.\\n\\nCompanies are moving from buying tools to deploying autonomous AI agents that handle entire workflows.\\n\\nThe implications? Faster execution, lower costs, and systems that improve themselves.\\n\\nThis isn't hype — it's already happening at scale.\",\n    \"hashtags\": [\"#ArtificialIntelligence\", \"#Automation\", \"#FutureOfWork\", \"#SaaS\", \"#Innovation\"],\n    \"cta\": \"What's your take — are AI agents the next platform shift?\"\n  },\n  \"image_prompt\": \"Minimalist tech illustration showing interconnected neural network nodes with soft blue and cyan gradient on white background, abstract representation of AI automation, clean modern SaaS aesthetic, no text, square format\",\n  \"article_id\": \"ART-123456-abc\"\n}"},"id":"7c260f0b-6790-4c53-b647-16cebc46d293","name":"Structured Output Parser3","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2032,4800]},{"parameters":{"text":"={{ $('Fetch Approved Article').item.json.twitter_text }}","additionalFields":{}},"id":"bc4c7bca-d4b5-46d5-ada8-78406744f99c","name":"Post to Twitter3","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[-1904,4960],"credentials":{"twitterOAuth2Api":{"id":"o0feRFKgKQPKR3ZX","name":"agiwithdhruv"}}},{"parameters":{"person":"YOUR_LINKEDIN_PERSON_ID","text":"={{ $('Fetch Approved Article').item.json.linkedin_text }}","additionalFields":{"visibility":"PUBLIC"}},"id":"a8584c44-8c4c-4abc-a12e-efb4dd1c76f0","name":"Post to LinkedIn4","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[-1904,5120],"credentials":{"linkedInOAuth2Api":{"id":"f520by1wOAMg6btX","name":"Dhruv"}}},{"parameters":{"content":"# 🤖 PART 2: AI CONTENT + IMAGE\n\n**Schedule:** Every 4 hours (+15 min)\n\n**Flow:**\n1. Read pending articles\n2. Take oldest 1\n3. AI generates Twitter + LinkedIn\n4. Google Imagen generates image\n5. Save to Sheet\n6. Send to Telegram for approval\n\n**Image:** Google Imagen 3\n(Vertex AI API)","height":300,"width":280,"color":6},"id":"9e68aabc-da1d-4029-8eda-cdd2b6f3fbaf","name":"Sticky - Part 2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3296,5456]},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4,"triggerAtMinute":15}]}},"id":"0a3d2acf-5965-43f2-ab5b-09e55ed657e4","name":"Every 4 Hours +15min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-3184,5856]},{"parameters":{},"id":"ffe38a9d-95e5-4210-9f6f-c8319a71ec6c","name":"Take Oldest One","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2752,5856]},{"parameters":{"model":"gpt-4o-mini","options":{"maxTokens":2000,"temperature":0.7}},"id":"f8c65d26-f61d-4e4f-8963-0531d2629957","name":"OpenAI GPT-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-2384,6016],"credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"method":"POST","url":"=https://us-central1-aiplatform.googleapis.com/v1/projects/YOUR_GCP_PROJECT_ID/locations/us-central1/publishers/google/models/imagen-3.0-generate-001:predict","authentication":"predefinedCredentialType","nodeCredentialType":"googleApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"instances\": [\n    {\n      \"prompt\": \"{{ $json.image_prompt }}\"\n    }\n  ],\n  \"parameters\": {\n    \"sampleCount\": 1,\n    \"aspectRatio\": \"1:1\",\n    \"safetyFilterLevel\": \"block_some\",\n    \"personGeneration\": \"dont_allow\"\n  }\n}","options":{"timeout":60000}},"id":"058a9941-0aed-4342-9e0c-28764d9a9273","name":"Google Imagen 3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1856,5808],"disabled":true},{"parameters":{"jsCode":"// Extract image from Imagen response and combine with content\nconst contentData = $('Format Content1').first().json;\nconst imagenResponse = $input.first().json;\n\n// Imagen returns base64 encoded image in predictions[0].bytesBase64Encoded\nlet imageBase64 = '';\nlet imageUrl = '';\n\ntry {\n  if (imagenResponse.predictions && imagenResponse.predictions[0]) {\n    imageBase64 = imagenResponse.predictions[0].bytesBase64Encoded || '';\n    // Create data URL for display\n    if (imageBase64) {\n      imageUrl = `data:image/png;base64,${imageBase64}`;\n    }\n  }\n} catch (e) {\n  imageBase64 = '';\n  imageUrl = '';\n}\n\nreturn [{\n  json: {\n    ...contentData,\n    image_base64: imageBase64,\n    image_url: imageUrl,\n    has_image: imageBase64.length > 0\n  }\n}];"},"id":"a309d233-e030-431e-9982-65c89595219e","name":"Process Imagen Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1632,5808]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-image","leftValue":"={{ $json.has_image }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"8dabe0fa-5e52-4d4f-9d05-d1d78eecb1f7","name":"Has Image?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,5904]},{"parameters":{"jsCode":"// Convert base64 to binary for Telegram\nconst data = $input.first().json;\nconst base64 = data.image_base64;\n\nif (base64) {\n  const binaryData = Buffer.from(base64, 'base64');\n  return [{\n    json: {\n      article_id: data.article_id\n    },\n    binary: {\n      image: {\n        data: base64,\n        mimeType: 'image/png',\n        fileName: `imagen_${data.article_id}.png`\n      }\n    }\n  }];\n}\n\nreturn [{ json: { article_id: data.article_id, no_image: true } }];"},"id":"438a8565-d53d-4e72-a327-a817963b5ccb","name":"Prepare Image Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,5840]},{"parameters":{"operation":"sendPhoto","chatId":"YOUR_TELEGRAM_CHAT_ID","binaryData":true,"binaryPropertyName":"image","additionalFields":{"caption":"🖼️ Generated image (Google Imagen 3) for the post above"}},"id":"9746c58a-419f-4c95-90b4-38b82c460bb1","name":"Send Image to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-752,5840],"webhookId":"bd75bf64-1ffa-4f0f-9516-f9600db051af","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"=⚠️ *No image generated*\n\nImage generation failed or was blocked.\nYou can still approve the post without an image.","additionalFields":{"parse_mode":"Markdown"}},"id":"4311d761-fdd5-4ff6-8374-ec6b773ce4a9","name":"Notify No Image","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-976,6000],"webhookId":"3432385e-4dc5-4625-a54d-c0d821e73d90","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"=⏸️ *No pending articles*\n\nAll articles have been processed.\nWaiting for new discoveries...","additionalFields":{"parse_mode":"Markdown"}},"id":"b86c856c-a6ea-48c2-92bd-a4b0d06944e3","name":"Notify No Pending","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2288,5984],"webhookId":"bd19eda6-85bb-4520-9285-0f9d1089e523","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}},{"parameters":{"content":"# 🔧 SETUP - GOOGLE IMAGEN\n\n**1. Enable Vertex AI API**\nin Google Cloud Console\n\n**2. Create Service Account**\nwith Vertex AI User role\n\n**3. Get JSON Key**\nDownload and create credential\n\n**4. Replace placeholders:**\n- YOUR_GCP_PROJECT_ID\n- YOUR_GCP_REGION (us-central1)\n- YOUR_GOOGLE_CREDENTIAL\n\n**API Endpoint:**\n`https://{region}-aiplatform.googleapis.com/v1/projects/{project}/locations/{region}/publishers/google/models/imagen-3.0-generate-001:predict`","height":380,"width":320,"color":7},"id":"794f026d-7b2c-4cf6-9bfe-b888d6dd8f6b","name":"Sticky - Setup1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2976,5456]},{"parameters":{"documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"options":{}},"id":"1a1cfc03-31a1-4a8b-a679-db1af062502d","name":"Read Pending Articles3","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2976,5856],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-article","leftValue":"={{ $json.article_id }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"},"options":{}},"id":"34112a70-5011-40ab-94bf-ba670b93cafa","name":"Has Pending?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2528,5856]},{"parameters":{"promptType":"define","text":"=Create social media content for this AI/tech article:\n\nTITLE: {{ $json.title }}\n\nSUMMARY: {{ $json.summary }}\n\nSOURCE: {{ $json.source_link }}\n\nARTICLE_ID: {{ $json.article_id }}","hasOutputParser":true,"options":{"systemMessage":"You are AIwithDhruv - a professional AI content creator for founders, engineers, and automation builders.\n\nCreate engaging social media posts from the article. Extract the ONE most valuable, practical insight.\n\n=== TWITTER (X) POST ===\n- Hook: Punchy first line (max 50 chars) that grabs attention\n- Content: The key insight (total post under 220 chars including hook)\n- NO links, NO hashtags in the text\n- Generate 4 relevant hashtags separately\n- Style: Sharp, practical, slightly provocative\n\n=== LINKEDIN POST ===\n- Headline: Professional, curiosity-driven opening line\n- Content: 3-4 short paragraphs:\n  * Para 1: The hook/problem\n  * Para 2: The insight/solution\n  * Para 3: Why it matters\n  * Para 4: Your take\n- CTA: End with engaging question\n- NO links, NO hashtags in text\n- Generate 5 professional hashtags separately\n- Style: Thoughtful, expert, conversational\n\n=== IMAGE PROMPT ===\nCreate an image prompt for Google Imagen that:\n- Represents the article's core concept visually\n- Uses clean, minimal, modern design\n- Colors: White/light background, soft blue/cyan/purple accents\n- Style: Abstract tech illustration, SaaS aesthetic\n- NO text, NO words, NO letters in the image\n- NO faces, NO people\n- Format: Square (1:1 aspect ratio)\n- Keep prompt under 100 words\n\nTONE FOR ALL: Builder-focused, credible, no hype, no fluff.\n\nReturn ONLY valid JSON matching the schema exactly."}},"id":"dce614db-273e-41ba-b3c5-badcbad6fbca","name":"AI Generate Content1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-2288,5808]},{"parameters":{"jsonSchemaExample":"{\n  \"twitter\": {\n    \"hook\": \"AI agents are replacing SaaS.\",\n    \"content\": \"The shift from tools to autonomous systems is happening. Companies using AI agents report 40% efficiency gains.\",\n    \"hashtags\": [\"#AI\", \"#Automation\", \"#SaaS\", \"#Tech\"]\n  },\n  \"linkedin\": {\n    \"headline\": \"The SaaS model is being disrupted.\",\n    \"content\": \"Something interesting is happening in enterprise software.\\n\\nCompanies are moving from buying tools to deploying autonomous AI agents.\\n\\nThe implications? Faster execution, lower costs.\\n\\nThis isn't hype — it's happening at scale.\",\n    \"hashtags\": [\"#ArtificialIntelligence\", \"#Automation\", \"#FutureOfWork\", \"#SaaS\", \"#Innovation\"],\n    \"cta\": \"What's your take — are AI agents the next platform shift?\"\n  },\n  \"image_prompt\": \"Abstract minimalist illustration of interconnected glowing nodes forming a neural network pattern, soft blue and cyan gradient on clean white background, modern tech aesthetic, no text, square format\",\n  \"article_id\": \"ART-123456-abc\"\n}"},"id":"99a09071-ddb7-4147-a66f-2d885ec22cc7","name":"Structured Output Parser4","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2192,6016]},{"parameters":{"jsCode":"// Parse AI output and format for Imagen\nconst items = $input.all();\nconst aiOutput = items[0].json.output || items[0].json;\nconst originalArticle = $('Take Oldest One').first().json;\n\nlet parsed = aiOutput;\nif (typeof aiOutput === 'string') {\n  try {\n    const match = aiOutput.match(/\\{[\\s\\S]*\\}/);\n    if (match) parsed = JSON.parse(match[0]);\n  } catch (e) {\n    parsed = {\n      twitter: { hook: 'AI Update', content: originalArticle.title, hashtags: ['#AI'] },\n      linkedin: { headline: 'Tech News', content: originalArticle.summary, hashtags: ['#AI'], cta: 'Thoughts?' },\n      image_prompt: 'Abstract technology concept with blue gradient on white background, minimal design, no text'\n    };\n  }\n}\n\n// Format posts\nconst twitterHashtags = (parsed.twitter?.hashtags || ['#AI']).join(' ');\nconst twitterFull = `${parsed.twitter?.hook || ''}\\n\\n${parsed.twitter?.content || ''}\\n\\n${twitterHashtags}`;\n\nconst linkedinHashtags = (parsed.linkedin?.hashtags || ['#AI']).join(' ');\nconst linkedinFull = `${parsed.linkedin?.headline || ''}\\n\\n${parsed.linkedin?.content || ''}\\n\\n${parsed.linkedin?.cta || ''}\\n\\n${linkedinHashtags}`;\n\n// Clean image prompt for Imagen\nlet imagePrompt = parsed.image_prompt || 'Abstract AI technology concept, blue gradient, white background, minimal design, no text';\nimagePrompt = imagePrompt.substring(0, 500); // Imagen has prompt limits\n\nreturn [{\n  json: {\n    article_id: originalArticle.article_id,\n    title: originalArticle.title,\n    source_link: originalArticle.source_link,\n    twitter_text: twitterFull.trim(),\n    twitter_hook: parsed.twitter?.hook || '',\n    linkedin_text: linkedinFull.trim(),\n    linkedin_headline: parsed.linkedin?.headline || '',\n    image_prompt: imagePrompt,\n    twitter_hashtags: twitterHashtags,\n    linkedin_hashtags: linkedinHashtags\n  }\n}];"},"id":"e0a9e742-7652-432c-ae31-0dfaba9e1081","name":"Format Content1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2064,5808]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID","mode":"id"},"sheetName":{"__rl":true,"value":"Articles","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"article_id":"={{ $json.article_id }}","twitter_text":"={{ $json.twitter_text }}","linkedin_text":"={{ $json.linkedin_text }}","image_url":"={{ $json.image_url }}","post_status":"Ready","approval_status":"Awaiting"},"matchingColumns":["article_id"]},"options":{}},"id":"2c398e95-1325-4795-9921-ceea277981c3","name":"Update Sheet with Content1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1408,5808],"credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"=🎯 *CONTENT READY FOR APPROVAL*\n\n━━━━━━━━━━━━━━━━━━━━━\n📰 *{{ $json.title }}*\n━━━━━━━━━━━━━━━━━━━━━\n\n🐦 *TWITTER POST:*\n\n{{ $json.twitter_text }}\n\n━━━━━━━━━━━━━━━━━━━━━\n\n💼 *LINKEDIN POST:*\n\n{{ $json.linkedin_text }}\n\n━━━━━━━━━━━━━━━━━━━━━\n\n🔗 Source: {{ $json.source_link }}\n🆔 ID: `{{ $json.article_id }}`\n\n━━━━━━━━━━━━━━━━━━━━━\n*Reply with:*\n✅ `APPROVE {{ $json.article_id }}`\n❌ `REJECT {{ $json.article_id }}`","additionalFields":{"parse_mode":"Markdown"}},"id":"0d182547-2882-450f-88e3-50a808f3d734","name":"Send Approval Request1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1184,5744],"webhookId":"dd1605b6-b93a-4f8b-817b-6e53c3bdd9e8","credentials":{"telegramApi":{"id":"YkS7zOFTxs7H0uW9","name":"Shaurya_Task_Aim"}}}],"connections":{"RSS - Google AI Tools1":{"main":[[{"node":"Merge All RSS1","type":"main","index":0}]]},"RSS - Google Automation1":{"main":[[{"node":"Merge All RSS1","type":"main","index":1}]]},"Merge All RSS1":{"main":[[{"node":"Duplicate","type":"main","index":0}]]},"Extract Article Data1":{"main":[[{"node":"Add Or Update New Articles","type":"main","index":0}]]},"Read Pending Articles1":{"main":[[{"node":"Take Oldest Pending1","type":"main","index":0}]]},"Take Oldest Pending1":{"main":[[{"node":"AI Content Generator1","type":"main","index":0}]]},"AI Content Generator1":{"main":[[{"node":"Format Post Data3","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Content Generator1","type":"ai_outputParser","index":0}]]},"Format Post Data3":{"main":[[{"node":"Post to Twitter2","type":"main","index":0},{"node":"Post to LinkedIn3","type":"main","index":0}]]},"Post to Twitter2":{"main":[[{"node":"Merge Post Results1","type":"main","index":0}]]},"Post to LinkedIn3":{"main":[[{"node":"Merge Post Results1","type":"main","index":1}]]},"Merge Post Results1":{"main":[[{"node":"Update Status - Posted1","type":"main","index":0}]]},"Merge All RSS":{"main":[[{"node":"Duplicate Filter","type":"main","index":0}]]},"Extract Article Data":{"main":[[{"node":"Add New AI Updates","type":"main","index":0}]]},"techcrunch":{"main":[[{"node":"Merge All RSS","type":"main","index":1}]]},"google letest Ai":{"main":[[{"node":"Merge All RSS","type":"main","index":0}]]},"Duplicate Filter":{"main":[[{"node":"Limit 2","type":"main","index":0}]]},"Duplicate":{"main":[[{"node":"Limit 5","type":"main","index":0}]]},"Limit 2":{"main":[[{"node":"Extract Article Data","type":"main","index":0}]]},"Every 3 Days":{"main":[[{"node":"google letest Ai","type":"main","index":0},{"node":"techcrunch","type":"main","index":0}]]},"Limit 5":{"main":[[{"node":"Extract Article Data1","type":"main","index":0}]]},"Every 6 Days":{"main":[[{"node":"RSS - Google AI Tools1","type":"main","index":0},{"node":"RSS - Google Automation1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Content Generator1","type":"ai_languageModel","index":0}]]},"Daily_2PM":{"main":[[{"node":"Read Pending Articles1","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Content Generator1","type":"ai_tool","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Content Generator1","type":"ai_languageModel","index":1}]]},"Every 4 Hours +15min - Generate":{"main":[[{"node":"Read Pending Articles2","type":"main","index":0}]]},"Take One":{"main":[[{"node":"Has Pending?","type":"main","index":0}]]},"Has Pending?":{"main":[[{"node":"AI Generate Content","type":"main","index":0}]]},"AI Generate Content":{"main":[[{"node":"Format Content","type":"main","index":0}]]},"OpenAI GPT-4o":{"ai_languageModel":[[{"node":"AI Generate Content","type":"ai_languageModel","index":0}]]},"Format Content":{"main":[[{"node":"Generate Image (DALL-E)","type":"main","index":0}]]},"Generate Image (DALL-E)":{"main":[[{"node":"Combine Content + Image","type":"main","index":0}]]},"Combine Content + Image":{"main":[[{"node":"Update Sheet with Content","type":"main","index":0}]]},"Update Sheet with Content":{"main":[[{"node":"Send Approval Request","type":"main","index":0},{"node":"Send Image Preview","type":"main","index":0}]]},"Telegram - Approval Response":{"main":[[{"node":"Parse Approval","type":"main","index":0}]]},"Parse Approval":{"main":[[{"node":"Route Action","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Fetch Approved Article","type":"main","index":0}],[{"node":"Update - Rejected","type":"main","index":0}],[{"node":"Notify Edit Mode","type":"main","index":0}]]},"Fetch Approved Article":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Post to Twitter3","type":"main","index":0},{"node":"Post to LinkedIn4","type":"main","index":0}]]},"Merge Posts":{"main":[[{"node":"Update - Posted","type":"main","index":0}]]},"Update - Posted":{"main":[[{"node":"Notify Success","type":"main","index":0}]]},"Update - Rejected":{"main":[[{"node":"Notify Rejected","type":"main","index":0}]]},"Read Pending Articles2":{"main":[[{"node":"Take One","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"AI Generate Content","type":"ai_outputParser","index":0}]]},"Post to Twitter3":{"main":[[{"node":"Merge Posts","type":"main","index":0}]]},"Post to LinkedIn4":{"main":[[{"node":"Merge Posts","type":"main","index":1}]]},"Every 4 Hours +15min":{"main":[[{"node":"Read Pending Articles3","type":"main","index":0}]]},"Take Oldest One":{"main":[[{"node":"Has Pending?1","type":"main","index":0}]]},"OpenAI GPT-4o-mini":{"ai_languageModel":[[{"node":"AI Generate Content1","type":"ai_languageModel","index":0}]]},"Google Imagen 3":{"main":[[{"node":"Process Imagen Response","type":"main","index":0}]]},"Process Imagen Response":{"main":[[{"node":"Update Sheet with Content1","type":"main","index":0}]]},"Has Image?":{"main":[[{"node":"Prepare Image Binary","type":"main","index":0}],[{"node":"Notify No Image","type":"main","index":0}]]},"Prepare Image Binary":{"main":[[{"node":"Send Image to Telegram","type":"main","index":0}]]},"Read Pending Articles3":{"main":[[{"node":"Take Oldest One","type":"main","index":0}]]},"Has Pending?1":{"main":[[{"node":"AI Generate Content1","type":"main","index":0}],[{"node":"Notify No Pending","type":"main","index":0}]]},"AI Generate Content1":{"main":[[{"node":"Format Content1","type":"main","index":0}]]},"Structured Output Parser4":{"ai_outputParser":[[{"node":"AI Generate Content1","type":"ai_outputParser","index":0}]]},"Format Content1":{"main":[[{"node":"Google Imagen 3","type":"main","index":0}]]},"Update Sheet with Content1":{"main":[[{"node":"Send Approval Request1","type":"main","index":0},{"node":"Has Image?","type":"main","index":0}]]}},"authors":"Dhruv Tomar","name":"Version bfff04e8","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-01-31T16:21:28.008Z","id":174,"workflowId":"KpXHSyWxCneAn2Oz","versionId":"bfff04e8-c90a-4c82-aa39-c5d51c222770","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"}]}}
