workflows/Social_Media_Agent_-_One_Input_All_Platforms.json
{"updatedAt":"2026-01-07T20:20:09.000Z","createdAt":"2026-01-07T20:20:09.299Z","id":"Mi2AfIh9RVjYO7rc","name":"Social Media Agent - One Input, All Platforms","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"a3868434-8663-472f-a187-eaa762e523aa","options":{}},"id":"322296b6-5c09-4ddc-bd8b-aa8fe15336d2","name":"Webhook - Social Media Request","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2272,288],"webhookId":"a3868434-8663-472f-a187-eaa762e523aa"},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"topic","value":"={{ $json.query.topic || 'AI and automation' }}","type":"string"},{"id":"id-2","name":"platforms","value":"={{ $json.query.platforms || 'instagram,linkedin,twitter' }}","type":"string"},{"id":"id-3","name":"includeImage","value":"={{ $json.query.includeImage || 'true' }}","type":"string"},{"id":"id-4","name":"scheduleTime","value":"={{ $json.query.scheduleTime || '' }}","type":"string"}]},"options":{}},"id":"8751e16c-9a40-4646-8801-79376a4012c8","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2048,288]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"id-1","leftValue":"={{ $json.includeImage }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"2a6f6695-462a-41b2-a365-785ef6241a48","name":"Check Include Image","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1472,288]},{"parameters":{"resource":"image","prompt":"={{ $json.image_prompts }}","options":{"dalleQuality":"standard","size":"1024x1024"}},"id":"ffbaec63-a364-4f2b-b301-fbfeca65d0ba","name":"Generate Images - DALL-E","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1024,192]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"={{ $json.url }}","renameField":true,"outputFieldName":"imageUrls"}]},"options":{}},"id":"d02c9b5d-8ddf-4607-8ee3-c7cf7706d82c","name":"Collect Image URLs","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-672,192]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"posts","value":"={{ $('Content Strategist AI').item.json.posts }}","type":"object"},{"id":"id-2","name":"imageUrls","value":"={{ $('Collect Image URLs').item.json.imageUrls || [] }}","type":"array"},{"id":"id-3","name":"scheduleTime","value":"={{ $('Workflow Configuration').item.json.scheduleTime }}","type":"string"}]},"options":{}},"id":"af589649-fa14-4834-b498-3de88b5cad4c","name":"Prepare Platform Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,288]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.posts[0].platform }}","rightValue":"instagram","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.posts[1].platform }}","rightValue":"linkedin","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LinkedIn"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.posts[2].platform }}","rightValue":"twitter","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"X (Twitter)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.posts[3].platform }}","rightValue":"youtube","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"YouTube"}]},"options":{}},"id":"c52c498f-be72-4d1f-a494-208dcd1237de","name":"Route by Platform","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-224,256]},{"parameters":{"httpRequestMethod":"POST","graphApiVersion":"v21.0","node":"={{ 'me' }}","edge":"media","options":{"queryParameters":{"parameter":[{"name":"caption","value":"={{ $json.posts[0].text + ' ' + $json.posts[0].hashtags }}"},{"name":"image_url","value":"={{ $json.imageUrls[0] }}"}]}}},"id":"b61e9274-18b0-4383-88e9-fda2305ff2f1","name":"Publish to Instagram","type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"platform","value":"instagram","type":"string"},{"id":"id-2","name":"postUrl","value":"={{ $json.id ? `https://www.instagram.com/p/${$json.id}` : 'pending' }}","type":"string"},{"id":"id-3","name":"status","value":"published","type":"string"},{"id":"id-4","name":"publishedAt","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"65a9232d-5c25-4b9d-8a88-42ac16dfca7e","name":"Store Instagram URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0]},{"parameters":{"person":"={{ 'me' }}","text":"={{ $json.posts[1].text + '\\n\\n' + $json.posts[1].hashtags }}","shareMediaCategory":"={{ $json.imageUrls ? 'IMAGE' : 'NONE' }}","binaryPropertyName":"={{ $json.imageUrls[1] || 'data' }}","additionalFields":{}},"id":"ad596502-8ce5-4e0b-8745-c961d279fc14","name":"Publish to LinkedIn","type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[0,192]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"platform","value":"linkedin","type":"string"},{"id":"id-2","name":"postUrl","value":"={{ $json.id ? `https://www.linkedin.com/feed/update/${$json.id}` : 'pending' }}","type":"string"},{"id":"id-3","name":"status","value":"published","type":"string"},{"id":"id-4","name":"publishedAt","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"3e029b9f-cdf6-4315-8a6a-6cbafc658ef9","name":"Store LinkedIn URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,192]},{"parameters":{"text":"={{ $json.posts[2].text + ' ' + $json.posts[2].hashtags }}","additionalFields":{}},"id":"69f536ef-78d8-4a77-b0f3-1157f778add4","name":"Publish to X (Twitter)","type":"n8n-nodes-base.twitter","typeVersion":2,"position":[0,384]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"platform","value":"twitter","type":"string"},{"id":"id-2","name":"postUrl","value":"={{ $json.data?.id ? `https://twitter.com/i/web/status/${$json.data.id}` : 'pending' }}","type":"string"},{"id":"id-3","name":"status","value":"published","type":"string"},{"id":"id-4","name":"publishedAt","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"b30a7210-a679-4246-85a0-64fc78accfa8","name":"Store X URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,384]},{"parameters":{"resource":"video","operation":"upload","title":"={{ $json.posts[3]?.text?.substring(0, 100) || 'Social Media Post' }}","categoryId":"22","options":{}},"id":"d8c14016-c00b-480d-9a96-b207812efaab","name":"Publish to YouTube","type":"n8n-nodes-base.youTube","typeVersion":1,"position":[0,576]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"platform","value":"youtube","type":"string"},{"id":"id-2","name":"postUrl","value":"={{ $json.id ? `https://www.youtube.com/watch?v=${$json.id}` : 'pending' }}","type":"string"},{"id":"id-3","name":"status","value":"published","type":"string"},{"id":"id-4","name":"publishedAt","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"8a3ef07e-74df-472a-95a2-add335d619b2","name":"Store YouTube URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,576]},{"parameters":{"numberInputs":4},"id":"4b55a617-4811-4023-8285-698e373db13c","name":"Combine Platform Responses","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[448,256]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"id-1","leftValue":"={{ $('Workflow Configuration').item.json.scheduleTime }}","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"9ab997dd-0033-49f7-9a58-2b0796f40da1","name":"Check Schedule Time","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[672,288]},{"parameters":{"options":{}},"id":"05afb883-a517-41de-b53c-efb2484342d6","name":"Store Scheduled Campaign","type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[896,192]},{"parameters":{"options":{}},"id":"c37100f7-476d-4f59-aa3c-ac9a39742a27","name":"Log Campaign Record","type":"n8n-nodes-base.mongoDb","typeVersion":1.2,"position":[896,384]},{"parameters":{"options":{}},"id":"061c6754-76ad-487a-a93e-231c9b5228b9","name":"Return Published URLs","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1120,384]},{"parameters":{"fieldToSplitOut":"={{ $json.posts[0].image_prompts }}","options":{}},"id":"8a487ec9-bc0a-4088-9c9e-99f4403be8c4","name":"Split Image Prompts","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1248,192]},{"parameters":{},"id":"f2571e1c-22c0-43aa-a83e-e60383394db1","name":"No Image Path","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-672,384]},{"parameters":{"modelId":{"__rl":true,"mode":"id","value":"gpt-4o"},"responses":{"values":[{"content":"=You are a social media content strategist. Create engaging posts for the topic: {{ $json.topic }}\n\nPlatforms: {{ $json.platforms }}\n\nFor each platform, generate:\n1. Post text (optimized for platform character limits)\n2. Hashtags (3-5 relevant)\n3. If images requested: image_prompts array with DALL-E prompts\n\nReturn JSON:\n{\n  \"posts\": [\n    {\"platform\": \"instagram\", \"text\": \"...\", \"hashtags\": \"...\", \"image_prompts\": [\"...\"]},\n    {\"platform\": \"linkedin\", \"text\": \"...\", \"hashtags\": \"...\"},\n    {\"platform\": \"twitter\", \"text\": \"...\", \"hashtags\": \"...\"}\n  ]\n}"}]},"builtInTools":{},"options":{}},"id":"a24ca2ed-bf12-4c43-b9a7-ac52adc6c80b","name":"Content Strategist AI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1824,288]},{"parameters":{"content":"## 📥 Webhook Input\n\nReceives social media campaign requests via webhook.\n\n**Expected Parameters:**\n- topic: Content topic\n- platforms: Comma-separated list\n- includeImage: true/false\n- scheduleTime: Optional ISO timestamp","height":220,"width":340,"color":2},"id":"c0b1c943-609d-4a6e-b329-17685776e8c3","name":"Sticky Note - Webhook Input","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1824,576]},{"parameters":{"content":"## 🤖 AI Content Generation\n\nGPT-4 generates platform-optimized posts with:\n- Custom text for each platform\n- Relevant hashtags\n- DALL-E image prompts (if requested)\n\nOutputs structured JSON for downstream processing.","height":220,"width":340,"color":3},"id":"4d54d3fe-a6d7-4a8a-858d-a3180e233a35","name":"Sticky Note - AI Content Generation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1824,576]},{"parameters":{"content":"## 🎨 Image Generation\n\nDALL-E 3 creates custom images:\n1. Split image prompts into items\n2. Generate images in parallel\n3. Collect URLs for platform publishing\n\nSkipped if includeImage = false","height":220,"width":340,"color":4},"id":"b0f6888f-0eef-43e0-9023-a65ff1c3ac65","name":"Sticky Note - Image Generation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1824,576]},{"parameters":{"content":"## 📱 Platform Publishing\n\nRoutes content to selected platforms:\n- **Instagram**: Image posts via Graph API\n- **LinkedIn**: Professional posts\n- **X (Twitter)**: Tweets with media\n- **YouTube**: Video uploads\n\nEach stores post URL for tracking.","height":220,"width":340,"color":5},"id":"a7b39b1e-99af-4f99-8395-111fee5e3ce8","name":"Sticky Note - Platform Publishing","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1824,576]},{"parameters":{"content":"## 💾 Data Storage\n\n**MongoDB Collections:**\n- scheduled_campaigns: Future posts\n- campaign_logs: Published posts\n\nTracks URLs, timestamps, and campaign metadata for analytics.","height":220,"width":340,"color":6},"id":"a32528dd-0c6d-4cfb-bf5e-9f1a23a47c49","name":"Sticky Note - Data Storage","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1824,576]},{"parameters":{"content":"## 🚀 Social Media Multi-Platform Publisher\n\n**One input → All platforms**\n\nAutomated workflow that:\n1. Generates AI-optimized content\n2. Creates custom images (optional)\n3. Publishes to Instagram, LinkedIn, X, YouTube\n4. Logs all campaign data\n\n**Webhook URL:** https://dhruvtomar.app.n8n.cloud/webhook/a3868434-8663-472f-a187-eaa762e523aa","height":280,"width":400},"id":"90fd2166-00d9-4980-a2d6-3a0a6a8d04b7","name":"Sticky Note - Workflow Overview","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1824,576]}],"connections":{"Webhook - Social Media Request":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Content Strategist AI","type":"main","index":0}]]},"Check Include Image":{"main":[[{"node":"Split Image Prompts","type":"main","index":0}],[{"node":"No Image Path","type":"main","index":0}]]},"Generate Images - DALL-E":{"main":[[{"node":"Collect Image URLs","type":"main","index":0}]]},"Collect Image URLs":{"main":[[{"node":"Prepare Platform Data","type":"main","index":0}]]},"Prepare Platform Data":{"main":[[{"node":"Route by Platform","type":"main","index":0}]]},"Route by Platform":{"main":[[{"node":"Publish to Instagram","type":"main","index":0}],[{"node":"Publish to LinkedIn","type":"main","index":0}],[{"node":"Publish to X (Twitter)","type":"main","index":0}],[{"node":"Publish to YouTube","type":"main","index":0}]]},"Publish to Instagram":{"main":[[{"node":"Store Instagram URL","type":"main","index":0}]]},"Store Instagram URL":{"main":[[{"node":"Combine Platform Responses","type":"main","index":0}]]},"Publish to LinkedIn":{"main":[[{"node":"Store LinkedIn URL","type":"main","index":0}]]},"Store LinkedIn URL":{"main":[[{"node":"Combine Platform Responses","type":"main","index":1}]]},"Publish to X (Twitter)":{"main":[[{"node":"Store X URL","type":"main","index":0}]]},"Store X URL":{"main":[[{"node":"Combine Platform Responses","type":"main","index":2}]]},"Publish to YouTube":{"main":[[{"node":"Store YouTube URL","type":"main","index":0}]]},"Store YouTube URL":{"main":[[{"node":"Combine Platform Responses","type":"main","index":3}]]},"Combine Platform Responses":{"main":[[{"node":"Check Schedule Time","type":"main","index":0}]]},"Check Schedule Time":{"main":[[{"node":"Store Scheduled Campaign","type":"main","index":0}],[{"node":"Log Campaign Record","type":"main","index":0}]]},"Log Campaign Record":{"main":[[{"node":"Return Published URLs","type":"main","index":0}]]},"Split Image Prompts":{"main":[[{"node":"Generate Images - DALL-E","type":"main","index":0}]]},"No Image Path":{"main":[[{"node":"Prepare Platform Data","type":"main","index":0}]]},"Content Strategist AI":{"main":[[{"node":"Check Include Image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2346e582-9e43-43f5-812f-63bd91b81603","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-01-07T20:20:09.305Z","createdAt":"2026-01-07T20:20:09.305Z","role":"workflow:owner","workflowId":"Mi2AfIh9RVjYO7rc","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
