workflows/Sub_Serach_workflow.json
{"updatedAt":"2025-12-21T17:01:52.000Z","createdAt":"2025-12-20T11:59:39.385Z","id":"R9CS8t25loHntsMM","name":"Sub_Serach_workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,0],"id":"3b95e93b-9dba-416b-8a0b-83fc75c2d9ef","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are a helpful research agent.\nYou use your Tools to search the web, you have access to hackernwes, wikipedia  tavily,  serch them all or use the rigth one.\n\n## Tavlily\n- Use this for web sereach or anythihng needef form internet\n\n## Perpelxity \n- Use this for web sereach or anythihng needef form internet for detailed or if taavlity is not working\n\n## always choose right and best one"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[224,0],"id":"95bf9eb9-352b-48d6-ac4d-b86edb9a3db7","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[288,256],"id":"fc9be99d-44ff-4273-aa1f-f7f77d4a70dd","name":"Wikipedia"},{"parameters":{"resource":"all","limit":20,"additionalFields":{"keyword":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keyword', ``, 'string') }}"}},"type":"n8n-nodes-base.hackerNewsTool","typeVersion":1,"position":[448,256],"id":"10085a05-0735-4e1d-8c07-7fd49c758f4f","name":"Hacker News"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[832,0],"id":"b3934996-84b0-4553-819c-65a611994c65","name":"SerpAPI","credentials":{"serpApi":{"id":"n44xU9ZkXggPp6S5","name":"SerpAPI account"}}},{"parameters":{"query":"={{ $json.query }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[576,256],"id":"6b990404-5bbe-407f-b8a4-57bf53e2b959","name":"Tavily","credentials":{"tavilyApi":{"id":"5GWaJhYsrLHYZkOF","name":"Tavily account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[96,208],"id":"7fd2cb22-a653-4cbc-bc33-7343287d650f","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}},{"parameters":{"messages":{"message":[{"content":"={{ $json.query }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[784,256],"id":"b8596b15-b405-4e81-829e-ffd1314dc4c0","name":"Perplexity","credentials":{"perplexityApi":{"id":"mACe6bHyuo7Z3exN","name":"Perplexity 2"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Hacker News":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SerpAPI":{"ai_tool":[[]]},"Tavily":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Perplexity":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b9c165ad-aa0e-45d3-8051-23b39b7a95f3","activeVersionId":null,"versionCounter":34,"triggerCount":0,"shared":[{"updatedAt":"2025-12-20T11:59:39.393Z","createdAt":"2025-12-20T11:59:39.393Z","role":"workflow:owner","workflowId":"R9CS8t25loHntsMM","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
