workflows/telegram3_with_multi_subworkflows.json
{"updatedAt":"2025-12-21T10:33:18.000Z","createdAt":"2025-12-20T13:52:19.905Z","id":"G3fhj72jxLBDrwPP","name":"telegram3 with multi subworkflows","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1136,192],"id":"66f0c1fd-8109-4a2e-bcf5-edfc8a7ddd75","name":"Telegram Trigger","webhookId":"5f3fe51b-27a9-41ba-927e-f00ea5ae79c2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d4b916c-d38a-455f-a10a-0c8e440bfe67","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1008,192],"id":"3fc0225c-486b-48b3-832c-7a5ada386382","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"e4145e69-b00c-43dc-bf65-7647a862fbe4","name":"text","value":"={{ $('Telegram Trigger').item.json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,192],"id":"99071df3-c63e-4d83-be84-56d791270af8","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Role  \nYou are an assistant with access to multiple tools.  \n\n# Behavior  \nYou respond concisely and succinctly in a friendly and approachable style.\n\n# Date and Time: {{ $now }}\n\n# Tools  \nYou have access to multiple tools and always use the appropriate one depending on the task.  \n\n## Gmail_Tool \nUse this tool to every time you need to do something with emails. If you send mails you sign every email with \"Arnie\" and never use empty placeholders for names.  \nEnsure that emails are well-formatted with a proper body.  \n\n## Calendar_Tool  \nUse this tool every time you need to do something with the calendar.\n\n## search_agent\nuse this tool to search the web, hackernews and wikipedia\n\n## x_posts\nUse this tool to post on x"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-608,192],"id":"70dbf0bd-cf81-467c-82f1-47dc0049a4aa","name":"AI Agent"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-880,352],"id":"40a332a9-3761-4448-8afe-37433b635707","name":"Telegram","webhookId":"52f4d0ed-5036-4014-bdcd-8ff723ddfb33"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-736,352],"id":"b4f0e827-6f11-4957-ac9d-92f2823f0039","name":"OpenAI"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Switch').item.json.message.chat.id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-544,512],"id":"ff787bb7-9806-4eb4-ad32-b2818ef62e40","name":"Window Buffer Memory"},{"parameters":{"chatId":"={{ $('Switch').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"id":"94c2ada1-4ae1-4a97-bb79-85bbc701e2dd","name":"Telegram1","webhookId":"19dc4578-bd30-4424-ba2e-23e9d33a6db7"},{"parameters":{"name":"search_agent","description":"use this tool to search the web, hackernews and wikipedia","workflowId":{"__rl":true,"value":"wGzfejLZOL2pJrhK","mode":"list","cachedResultName":"Telgram1 Sub Workflow Search"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-240,512],"id":"486521c4-3d09-48a4-81a1-0705e0a14682","name":"search_agent"},{"parameters":{"name":"Calendar_Tool","description":"use this tool everytime you need to do something in the calender","workflowId":{"__rl":true,"value":"52lAjL1evSpdHmzO","mode":"list","cachedResultName":"Sub Calender Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-368,512],"id":"34c7528d-e597-400c-97a5-161580d0618d","name":"Calendar_Tool"},{"parameters":{"name":"Gmail_Tool","description":"Use this tool everytime you need to do something with mails","workflowId":{"__rl":true,"value":"S6lTQ0uQgIayczlt","mode":"list","cachedResultName":"Sub Workflow Mails"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-128,512],"id":"6458737e-7bc5-4fed-828a-e1be58857173","name":"Gmail_Tool"},{"parameters":{"name":"x_posts","description":"Use this tool to post on x","workflowId":{"__rl":true,"value":"HwFMgrHUuqK38GRn","mode":"list","cachedResultName":"Sub Workflow X Posts (Twitter)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[0,512],"id":"6d8e7ede-0b58-42d1-9df5-d9b95977ad92","name":"x_posts"},{"parameters":{"name":"contact_agent","description":"use this tool to get contacts and safe new contacts","workflowId":{"__rl":true,"value":"Rvci894mLPcSlPu3","mode":"list","cachedResultName":"Subworkflow Contact Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[128,512],"id":"d26c76f1-2563-4dfe-9534-32d1178cd75f","name":"contact_agent"},{"parameters":{"promptType":"define","text":"=You are Sally, a funny guy that makes sarcastic comments and funny anekdotes about topics.\nYou try to roast the topics and insult a bit.\nYou answer really short, just 1 punnchy lines.\n\ntopics: {{ $json.output }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-304,192],"id":"f584dfb7-78e9-43a1-84fe-4e9469fc3bfb","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-288,32],"id":"5ae16228-e0b9-4350-9c5e-771ec80b10df","name":"OpenAI Chat Model1"},{"parameters":{"resource":"audio","model":"tts-1-hd","input":"={{ $json.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,192],"id":"6716b141-2f1f-4c68-9965-b7ccf00a5462","name":"OpenAI1"},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Switch').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[144,192],"id":"0cbd7a04-f882-4796-b159-2a67cf6d3722","name":"Telegram2","webhookId":"a34f46cb-6fd6-4b81-94df-2cc341f3636f"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-640,480],"id":"88c3aafb-444e-4f3e-af04-04799ee6d3d6","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"5NHf7ILbLoMVxKcb","name":"OpenRouter account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Telegram","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram1","type":"main","index":0},{"node":"Basic LLM Chain","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"search_agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calendar_Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Gmail_Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"x_posts":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"contact_agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Telegram2","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ccdf6c42-3472-4170-b942-55f4305121a9","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-12-20T13:52:19.913Z","createdAt":"2025-12-20T13:52:19.913Z","role":"workflow:owner","workflowId":"G3fhj72jxLBDrwPP","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
