workflows/Upload_Dhruv_data_from_Drive_to_Pinecone.json
{"updatedAt":"2025-12-31T10:09:44.952Z","createdAt":"2025-12-31T09:53:23.345Z","id":"9WTxkULxPPip7JED","name":"Upload Dhruv data from Drive to Pinecone","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1pLqjBu2Ri7XqBNu5PzwDMYM3Nr-gIT53","mode":"id"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-400,-208],"id":"f4b550c7-d340-4cf1-bba2-22c1f8e8364d","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-192,-208],"id":"13de0418-eb70-4234-867f-632bc26fd8e7","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"aiwithdhruvlifestyle","mode":"list","cachedResultName":"aiwithdhruvlifestyle"},"embeddingBatchSize":300,"options":{"pineconeNamespace":"DhruvAiLIfe"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[16,-208],"id":"442f3a72-4fc4-4a51-9616-17bd41aefda8","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"MFhxAgCQISGYTvZR","name":"PineconeApi"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-80,16],"id":"33cf52f5-c0a2-415f-a82f-b9128eec894d","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"Dhruv_Ai_Information","value":"={{ $json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[160,0],"id":"e63f9183-77b4-4062-85b4-e05cfa7a107f","name":"Default Data Loader"},{"parameters":{"chunkSize":900,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[256,208],"id":"33b8a95c-1c1c-4cca-9047-77db5c19e01f","name":"Recursive Character Text Splitter"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2026-01-26T13:30:43Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c0b6b61e-9b48-4c00-8d01-d5f761df4663","activeVersionId":"c0b6b61e-9b48-4c00-8d01-d5f761df4663","versionCounter":36,"triggerCount":1,"shared":[{"updatedAt":"2025-12-31T09:53:23.348Z","createdAt":"2025-12-31T09:53:23.348Z","role":"workflow:owner","workflowId":"9WTxkULxPPip7JED","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-31T10:09:46.000Z","createdAt":"2025-12-31T10:09:44.955Z","versionId":"c0b6b61e-9b48-4c00-8d01-d5f761df4663","workflowId":"9WTxkULxPPip7JED","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1pLqjBu2Ri7XqBNu5PzwDMYM3Nr-gIT53","mode":"id"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-400,-208],"id":"f4b550c7-d340-4cf1-bba2-22c1f8e8364d","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-192,-208],"id":"13de0418-eb70-4234-867f-632bc26fd8e7","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"etId49ji6y1gWG3l","name":"Ai with Dhruv"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"aiwithdhruvlifestyle","mode":"list","cachedResultName":"aiwithdhruvlifestyle"},"embeddingBatchSize":300,"options":{"pineconeNamespace":"DhruvAiLIfe"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[16,-208],"id":"442f3a72-4fc4-4a51-9616-17bd41aefda8","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"MFhxAgCQISGYTvZR","name":"PineconeApi"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-80,16],"id":"33cf52f5-c0a2-415f-a82f-b9128eec894d","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"t2xlHGBT89qC17Hp","name":"RAG_Vector"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{"metadata":{"metadataValues":[{"name":"Dhruv_Ai_Information","value":"={{ $json.name }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[160,0],"id":"e63f9183-77b4-4062-85b4-e05cfa7a107f","name":"Default Data Loader"},{"parameters":{"chunkSize":900,"chunkOverlap":50,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[256,208],"id":"33b8a95c-1c1c-4cca-9047-77db5c19e01f","name":"Recursive Character Text Splitter"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"authors":"Dhruv Tomar","name":"Version c0b6b61e","description":"","autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-31T10:09:46.911Z","id":129,"workflowId":"9WTxkULxPPip7JED","versionId":"c0b6b61e-9b48-4c00-8d01-d5f761df4663","event":"activated","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999"}]}}
