workflows/Warm_Cold_Email_Outreach.json
{"updatedAt":"2025-11-05T13:41:05.000Z","createdAt":"2025-10-01T17:31:13.922Z","id":"SQiFNuZdkxMnbqKC","name":"Warm/Cold Email Outreach","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[672,16],"id":"d5dd5cd5-c659-4e7b-8565-f29e95f4e2ca","name":"10","webhookId":"d7429b86-e2fb-4dd7-8ed2-73473fc01712"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1056,352],"id":"44440629-f72b-49de-955c-3c812d4af8ff","name":"When clicking ‘Execute workflow’"},{"parameters":{"maxItems":300},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-688,352],"id":"7e7744f6-9490-41da-a66b-f618fdb64592","name":"Limit"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Email New Status'] }}","rightValue":"1st","operator":{"type":"string","operation":"equals"},"id":"e2c86968-5855-4cee-afce-4a4bd38d73f4"}],"combinator":"and"},"renameOutput":true,"outputKey":"1st"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8fa0db76-1329-4088-8e3d-02b19bcdc0dc","leftValue":"={{ $json['Email New Status'] }}","rightValue":"2nd","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2nd"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04709582-179e-42dc-9290-b011a60e464a","leftValue":"={{ $json['Email New Status'] }}","rightValue":"3rd","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3rd"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-480,336],"id":"cd6977ae-4c7c-48bc-b78d-417358b4f359","name":"Switch"},{"parameters":{"sendTo":"={{ $json.Email }}","subject":"Stop Losing 5–7% of Your Project Budget 💸","message":"=<!doctype html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <title>Onsite — Quick Demo</title>\n</head>\n<body style=\"margin:0;padding:0;background:#f6f8fb;font-family:Inter, Arial, sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n    <tr>\n      <td align=\"center\" style=\"padding:28px 16px;\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 8px 24px rgba(16,24,40,.06);\">\n          <tr>\n            <td style=\"padding:28px 36px 8px;color:#0f1724;\">\n              <h2 style=\"margin:0;font-size:20px;font-weight:700;\">Hi {{ $json['First Name'] }},</h2>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding:8px 36px 18px;color:#334155;line-height:1.5;font-size:15px;\">\n              Contractors unknowingly lose <strong>5–7% of project budgets</strong> every month due to fake attendance, wastage & delays. Onsite stops these leaks instantly.\n            </td>\n          </tr>\n\n          <!-- Highlighted Tab -->\n          <tr>\n            <td style=\"padding:12px 36px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f9fafb;border-left:4px solid #ff4f6b;border-radius:6px;\">\n                <tr>\n                  <td style=\"padding:12px 18px;font-size:14px;color:#0f1724;\">\n                    <strong>Onsite fixes this with:</strong>\n                    <ul style=\"margin:8px 0 0 18px;color:#334155;line-height:1.5;\">\n                      <li>Real-time geo-fenced attendance (no proxies)</li>\n                      <li>Automated GRNs & purchase approvals</li>\n                      <li>Live project tracking & budget control</li>\n                    </ul>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <tr>\n            <td align=\"center\" style=\"padding:20px 36px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td style=\"border-radius:10px;background:linear-gradient(90deg,#ff4f6b,#a34cf3);\">\n                    <a href=\"https://calendly.com/taniya-malhotra-onsiteteams/deliver-projects-within-budget-on-time\" target=\"_blank\" style=\"display:inline-block;padding:12px 22px;font-weight:600;color:#fff;text-decoration:none;border-radius:10px;font-size:15px;\">\n                      Book 15-min demo\n                    </a>\n                  </td>\n                </tr>\n              </table>\n              <div style=\"height:10px;\"></div>\n              <a href=\"https://onsiteteams.com\" target=\"_blank\" style=\"font-size:13px;color:#6b7280;text-decoration:underline;\">Explore OnsiteTeams.com</a>\n            </td>\n          </tr>\n\n         <tr>\n  <td style=\"padding:18px 36px 28px;color:#334155;border-top:1px solid #f1f5f9;\">\n    <p style=\"margin:0 0 8px;font-size:13px;\">\n      Best Regards,<br>\n      <strong>Taniya</strong> — Product Expert\n    </p>\n    <!-- Gradient Button for OnsiteTeams.com -->\n    <a href=\"https://onsiteteams.com\" target=\"_blank\" \n       style=\"display:inline-block;padding:10px 18px;border-radius:8px;\n              background:linear-gradient(90deg,#ff4f6b,#a34cf3);\n              color:#fff;text-decoration:none;font-size:13px;font-weight:600;\">\n       OnsiteTeams.com\n    </a>\n  </td>\n</tr>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[272,16],"id":"6396d012-1857-4112-a2f5-dbe68c586812","name":"1st","webhookId":"ac37b081-949a-43e6-b2a5-66d5aa68f817","credentials":{"gmailOAuth2":{"id":"q7usLkh62FdpqOot","name":"Taniya"}},"onError":"continueRegularOutput"},{"parameters":{"sendTo":"={{ $('Get Email').item.json.Email }}","subject":"={{ $('Get Email').item.json.Name }}, your competitors are already saving 7% 😲","message":"=<!doctype html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>Onsite — Quick Follow-up</title>\n<style>\n  /* Basic reset */\n  body{margin:0;padding:0;background:#f6f7fb;font-family:Arial,Helvetica,sans-serif;}\n  a {color:inherit;text-decoration:none;}\n  .wrap{max-width:600px;margin:24px auto;background:#fff;border-radius:12px;overflow:hidden;box-shadow:0 6px 30px rgba(20,20,50,0.06);}\n  .header{padding:24px;background:linear-gradient(90deg,#fff6fb,#f4f0ff);border-bottom:1px solid #eee;}\n  .greet{font-size:20px;color:#0f1724;margin:0 0 6px;font-weight:700;}\n  .sub{color:#6b7280;margin:0;font-size:13px;}\n  .content{padding:22px 24px;color:#172031;line-height:1.6;font-size:16px;}\n  .accent-box{margin:18px 0;padding:18px;background:#f2fbf6;border-radius:10px;border-left:6px solid #ff6b6b;}\n  .accent-box h4{margin:0 0 10px;font-size:15px;color:#0b1220;}\n  .accent-box ul{margin:0;padding-left:18px;color:#21303a;}\n  .cta-wrap{padding:10px 24px 32px;text-align:center;}\n  .btn{display:inline-block;padding:14px 20px;border-radius:10px;font-weight:700;color:#fff;background:linear-gradient(90deg,#ff5a7a,#7a4df0);box-shadow:0 8px 22px rgba(122,77,240,0.18);text-decoration:none;font-size:16px;}\n  .footer{padding:18px 24px;border-top:1px solid #f0f0f3;background:#fff;}\n  .signature{display:flex;align-items:center;gap:12px;}\n  .sig-left{font-size:14px;color:#152336;}\n  .site-btn{display:inline-block;padding:8px 12px;border-radius:12px;border:1px solid #e8e7f6;background:#fff;color:#6b4fd8;font-weight:700;margin-top:8px;text-decoration:none;font-size:13px;}\n  /* Mobile tweaks */\n  @media (max-width:420px){\n    .greet{font-size:18px;}\n    .content{font-size:15px;padding:18px;}\n    .accent-box{padding:14px;}\n    .btn{width:100%;padding:14px 12px;border-radius:8px;font-size:16px;}\n    .wrap{margin:10px;}\n  }\n</style>\n</head>\n<body>\n  <div class=\"wrap\" role=\"article\" aria-label=\"Onsite follow up\">\n    <div class=\"header\">\n      <p class=\"greet\">Hi {{ $json.Name }},</p>\n      <p class=\"sub\">Quick follow-up from Onsite — 30 seconds read</p>\n    </div>\n\n    <div class=\"content\">\n      <p>Just checking in — most contractors unknowingly lose <strong>5–7% of project budgets</strong> every month from fake attendance, material wastage and delays.</p>\n\n      <div class=\"accent-box\" role=\"note\">\n        <h4>Onsite fixes this with:</h4>\n        <ul>\n          <li>Real-time geo-fenced attendance (no proxies)</li>\n          <li>Automated GRNs, POs & approval workflows</li>\n          <li>Live DPR / project tracking & budget control</li>\n        </ul>\n      </div>\n\n      <div class=\"cta-wrap\">\n        <a href=\"https://calendly.com/taniya-malhotra-onsiteteams/deliver-projects-within-budget-on-time\" class=\"btn\" target=\"_blank\" rel=\"noopener\">Book a Quick 15-min Demo</a>\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      <div class=\"signature\">\n        <div class=\"sig-left\">\n          <div style=\"font-weight:700;color:#0f1724;\">Best Regards,</div>\n          <div style=\"font-weight:700;color:#0f1724;\">Taniya — Product Expert</div>\n          <a class=\"site-btn\" href=\"https://onsiteteams.com\" target=\"_blank\" rel=\"noopener\">OnsiteTeams.com</a>\n        </div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[288,368],"id":"79ae76a8-df28-4c2c-a101-670f627bb282","name":"2nd","webhookId":"adf7bc7e-a2dc-4eff-8aea-7896970cfd8c"},{"parameters":{"sendTo":"={{ $('Get Email').item.json.Email }}","subject":" Last Chance — Special Pricing Ends Soon ⏳","message":"=<!doctype html>\n<html>\n<head>\n  <meta charset=\"utf-8\" />\n  <title>Onsite — Final Reminder</title>\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1\" />\n  <style>\n    :root{\n      --page-bg:#f6f7fb;\n      --card:#ffffff;\n      --text:#0b1220;\n      --muted:#475569;\n      --accent-pink:#ff4f6b;\n      --accent-purple:#a34cf3;\n      --cta-grad: linear-gradient(90deg,#ff4f6b,#a34cf3);\n      --radius:14px;\n      --shadow:0 18px 40px rgba(14,20,35,0.06);\n      --box-bg: linear-gradient(180deg, rgba(255,255,255,0.96), rgba(248,250,254,0.96));\n      font-family: Inter, \"Segoe UI\", Roboto, Arial, sans-serif;\n    }\n    body{background:var(--page-bg);margin:0;padding:36px;color:var(--text);-webkit-font-smoothing:antialiased}\n    .wrap{max-width:720px;margin:0 auto}\n    .card{background:var(--card);border-radius:var(--radius);overflow:hidden;box-shadow:var(--shadow)}\n    .top{\n      padding:22px 28px;border-bottom:1px solid #f1f5f9;\n      background:linear-gradient(180deg,rgba(163,76,243,0.03),rgba(255,79,107,0.01));\n    }\n    .title{font-size:20px;font-weight:800;margin:0}\n    .lead{font-size:14px;color:var(--muted);margin-top:6px}\n    /* New: boxed main content */\n    .main-box{margin:18px 22px 0;padding:22px;border-radius:12px;background:var(--box-bg);box-shadow:0 8px 20px rgba(15,23,42,0.03);border-left:6px solid var(--accent-pink)}\n    .main-box p{margin:0 0 12px;color:var(--muted);line-height:1.6;font-size:15px}\n    .fix-list{background:transparent;padding:14px;border-radius:10px;margin-top:6px}\n    .fix-list p{font-weight:800;margin:0 0 8px;color:var(--text)}\n    .fix-list ul{margin:0;padding-left:20px;color:var(--muted);line-height:1.6}\n    /* CTA visible */\n    .cta{padding:26px 22px;text-align:center}\n    .cta-btn{\n      display:inline-block;padding:14px 26px;border-radius:14px;color:#fff;font-weight:800;text-decoration:none;\n      background:var(--cta-grad);box-shadow:0 16px 36px rgba(163,76,243,0.12);font-size:16px;\n    }\n    .cta-btn:hover{transform:translateY(-3px)}\n    /* Footer sign + site button below */\n    .footer{padding:18px 22px;border-top:1px solid #f1f5f9;display:flex;gap:12px;align-items:center;flex-wrap:wrap}\n    .sign-left{flex:1}\n    .sign-left .name{font-weight:700}\n    .site-link{display:inline-block;margin-top:10px;padding:10px 14px;border-radius:12px;border:1px solid rgba(163,76,243,0.12);\n              color:var(--accent-purple);text-decoration:none;font-weight:700;background:#fff}\n    /* small screens */\n    @media (max-width:520px){\n      .top,.main-box,.cta,.footer{padding-left:16px;padding-right:16px}\n      .cta-btn{width:100%;display:block}\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <div class=\"card\" role=\"article\" aria-label=\"Onsite final reminder\">\n      <!-- Top -->\n      <div class=\"top\">\n        <div class=\"title\">Hi {{ $json.Name }},</div>\n        <div class=\"lead\">Final reminder — quick note on how Onsite can save you ₹5–10 lakh per project.</div>\n      </div>\n\n      <!-- Boxed main content -->\n      <div class=\"main-box\" role=\"region\" aria-label=\"Main content\">\n        <p>Most teams waste margins without realizing it. Onsite stops profit leaks early by joining site operations, material approvals and budgets in one place.</p>\n\n        <div class=\"fix-list\" aria-label=\"Onsite fixes\">\n          <p>Onsite fixes this with:</p>\n          <ul>\n            <li>Live, geo-fenced attendance and DPR updates</li>\n            <li>Automated GRNs, POs & approval workflows</li>\n            <li>Activity-wise budget control & instant alerts</li>\n          </ul>\n        </div>\n      </div>\n\n      <!-- CTA highly visible -->\n      <div class=\"cta\">\n        <a class=\"cta-btn\" href=\"https://calendly.com/onsiteteams/deliver-projects-within-budget-on-time\" target=\"_blank\" rel=\"noopener\">\n          Book Final Call — 15 mins\n        </a>\n      </div>\n\n      <!-- Footer - sign left, site button below signature -->\n      <div class=\"footer\">\n        <div class=\"sign-left\">\n          <div style=\"font-size:14px;color:var(--muted)\">Best Regards,</div>\n          <div class=\"name\">Taniya — Product Expert</div>\n          <div style=\"margin-top:8px;color:var(--muted);font-size:13px\">OnsiteTeams</div>\n        </div>\n\n        <div style=\"text-align:right\">\n          <!-- OnsiteTeams button moved down and styled -->\n          <a class=\"site-link\" href=\"https://onsiteteams.com\" target=\"_blank\" rel=\"noopener\">OnsiteTeams.com</a>\n        </div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[304,688],"id":"11c53c3b-032f-4c99-8b65-e43d6068fafd","name":"3rd","webhookId":"151287d2-99a0-4a7d-bbec-1b72e9942e17"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ssg0Q73hu6ALbQMrYhGae40Ex1qStkAmIXoG4rjSO6o","mode":"list","cachedResultName":"Scrapped Construction Data  Base","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ssg0Q73hu6ALbQMrYhGae40Ex1qStkAmIXoG4rjSO6o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":138923742,"mode":"list","cachedResultName":"UAE Linkedin","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ssg0Q73hu6ALbQMrYhGae40Ex1qStkAmIXoG4rjSO6o/edit#gid=138923742"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Get Email').item.json.Email }}","Email New Status":"2nd"},"matchingColumns":["Email"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Status","displayName":"Email Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Link","displayName":"LinkedIn Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Is Likely To Engage","displayName":"Is Likely To Engage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead City","displayName":"Lead City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead State","displayName":"Lead State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead Country","displayName":"Lead Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Employee Count","displayName":"Employee Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Departments","displayName":"Departments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Subdepartments","displayName":"Subdepartments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Functions","displayName":"Functions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Website Full","displayName":"Company Website Full","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Website Short","displayName":"Company Website Short","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Blog Link","displayName":"Company Blog Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Twitter Link","displayName":"Company Twitter Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Facebook Link","displayName":"Company Facebook Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company LinkedIn Link","displayName":"Company LinkedIn Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Phone Number","displayName":"Company Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email New Status","displayName":"Email New Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[496,16],"id":"3fe862e7-5cec-4e72-8789-f78a36bbffd2","name":"Update to 2nd","onError":"continueRegularOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ssg0Q73hu6ALbQMrYhGae40Ex1qStkAmIXoG4rjSO6o","mode":"list","cachedResultName":"Scrapped Construction Data  Base","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ssg0Q73hu6ALbQMrYhGae40Ex1qStkAmIXoG4rjSO6o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":138923742,"mode":"list","cachedResultName":"UAE Linkedin","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ssg0Q73hu6ALbQMrYhGae40Ex1qStkAmIXoG4rjSO6o/edit#gid=138923742"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Get Email').item.json.Email }}","Email New Status":"3rd"},"matchingColumns":["Email"],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Title","displayName":"Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Headline","displayName":"Headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Seniority","displayName":"Seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Phone Number","displayName":"Company Phone Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sales Reps","displayName":"Sales Reps","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Remark","displayName":"Remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email New Status","displayName":"Email New Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Status","displayName":"Email Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LinkedIn Link","displayName":"LinkedIn Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Is Likely To Engage","displayName":"Is Likely To Engage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead City","displayName":"Lead City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead State","displayName":"Lead State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lead Country","displayName":"Lead Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Employee Count","displayName":"Employee Count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Departments","displayName":"Departments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Subdepartments","displayName":"Subdepartments","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Functions","displayName":"Functions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Website Full","displayName":"Company Website Full","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Website Short","displayName":"Company Website Short","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Blog Link","displayName":"Company Blog Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Twitter Link","displayName":"Company Twitter Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company Facebook Link","displayName":"Company Facebook Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company LinkedIn Link","displayName":"Company LinkedIn Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[528,368],"id":"70dc22f9-775a-47ab-84d3-1317ead5e49c","name":"Update to 3rd"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Bs2TXEsVlv4xxjZ-3k-DBYiTf6nw6ATUZ2GunQSIq3s","mode":"list","cachedResultName":"Onsite Ai Automation","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Bs2TXEsVlv4xxjZ-3k-DBYiTf6nw6ATUZ2GunQSIq3s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":138254803,"mode":"list","cachedResultName":"UAE Existing Leads","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Bs2TXEsVlv4xxjZ-3k-DBYiTf6nw6ATUZ2GunQSIq3s/edit#gid=138254803"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Get Email').item.json.Email }}","Email Status":"All 3 Sent"},"matchingColumns":["Email"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone","displayName":"Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Profession","displayName":"Profession","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Company","displayName":"Company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Team Size","displayName":"Team Size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"State","displayName":"State","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Lead Status","displayName":"Lead Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Deal Owner","displayName":"Deal Owner","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Remark","displayName":"Remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sales Stage","displayName":"Sales Stage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"User Date","displayName":"User Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lead Source Date","displayName":"lead Source Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Status","displayName":"Email Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[480,688],"id":"209e4a47-bb0b-417a-a3b7-e1d45b2734be","name":"Update to All done"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-16,352],"id":"19e39e35-f4ab-4047-8997-9e221423c551","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32,672],"id":"9d66fc76-0df6-4ee8-93f6-fc7c0efc2fc1","name":"Loop Over Items1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0],"id":"b8c23106-add1-4848-9c7b-8570c2314e53","name":"Loop Over Items2"},{"parameters":{"documentId":{"__rl":true,"value":"1ssg0Q73hu6ALbQMrYhGae40Ex1qStkAmIXoG4rjSO6o","mode":"list","cachedResultName":"Scrapped Construction Data  Base","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ssg0Q73hu6ALbQMrYhGae40Ex1qStkAmIXoG4rjSO6o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":138923742,"mode":"list","cachedResultName":"UAE Linkedin","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ssg0Q73hu6ALbQMrYhGae40Ex1qStkAmIXoG4rjSO6o/edit#gid=138923742"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-864,352],"id":"fb373510-780d-49b3-b8af-8c7f4836df96","name":"Get Email","credentials":{"googleSheetsOAuth2Api":{"id":"WbzVyGwbDVzvcV25","name":"Ai with Dhruv"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[736,368],"id":"84c18496-bedf-4e2d-ad0c-1dec44092ae4","name":"10-1","webhookId":"440815f0-5883-4ffa-af90-8ba864193f43"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[672,688],"id":"6d4c6cb2-bdbc-4b17-88b7-5610b7b8cd66","name":"10-2","webhookId":"48e609f6-7be4-417a-ba22-ea6629682a1d"}],"connections":{"10":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get Email","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"1st":{"main":[[{"node":"Update to 2nd","type":"main","index":0}]]},"2nd":{"main":[[{"node":"Update to 3rd","type":"main","index":0}]]},"3rd":{"main":[[{"node":"Update to All done","type":"main","index":0}]]},"Update to 2nd":{"main":[[{"node":"10","type":"main","index":0}]]},"Update to 3rd":{"main":[[{"node":"10-1","type":"main","index":0}]]},"Update to All done":{"main":[[{"node":"10-2","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"2nd","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"3rd","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"1st","type":"main","index":0}]]},"Get Email":{"main":[[{"node":"Limit","type":"main","index":0}]]},"10-1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"10-2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"613ca1dd-a6a4-45dd-ac3a-698cd1ce4408","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2025-10-01T17:31:13.925Z","createdAt":"2025-10-01T17:31:13.925Z","role":"workflow:owner","workflowId":"SQiFNuZdkxMnbqKC","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
