workflows/Weather_Report_with_AI-Powered_Email.json
{"updatedAt":"2025-12-27T16:52:30.445Z","createdAt":"2025-12-26T11:33:46.643Z","id":"DuJyAoHyedN9hlnE","name":"Weather Report with AI-Powered Email","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"cityName":"={{ $json.City }}"},"id":"f8e65976-625e-4a83-99ad-77dd865171d7","name":"Get Weather Data","type":"n8n-nodes-base.openWeatherMap","typeVersion":1,"position":[-128,-16],"credentials":{"openWeatherMapApi":{"id":"OIA0pPV6mxwS1r2C","name":"OpenWeatherMap account"}}},{"parameters":{"promptType":"define","text":"=Weather data for today {{ $now }}:\n\nLocation: {{ $json.name }}\nTemperature: {{ $json.main.temp }}°C (feels like {{ $json.main.feels_like }}°C)\nConditions: {{ $json.weather[0].description }}\nHumidity: {{ $json.main.humidity }}%\nWind Speed: {{ $json.wind.speed }} m/s\nPressure: {{ $json.main.pressure }} hPa\nVisibility: {{ $json.visibility }} meters\nSunrise: {{ new Date($json.sys.sunrise * 1000).toLocaleTimeString() }}\nSunset: {{ new Date($json.sys.sunset * 1000).toLocaleTimeString() }}","options":{"systemMessage":"=You are a concise weather assistant.\n\nYour job:\n- Read the provided weather data\n- Output a SHORT, STRUCTURED weather update\n- Keep it simple, friendly, and scannable\n- No long paragraphs\n- No extra explanation\n- No emojis overload (max 1)\n\nOutput format (STRICT — follow exactly):\n\nLocation: <City>\nTime: <Local time or Morning / Afternoon>\nTemperature: <temp>°C (Feels like <feels_like>°C)\nCondition: <main weather description>\nTip: <short practical advice>\nJoke: <one-line light joke related to weather>\n\nRules:\n- Max 5–6 lines total\n- Each line must be short\n- Joke must be clean and simple\n- Do NOT add greetings\n- Do NOT add sign-offs\n- Do NOT add subject lines\n- Plain text only (no HTML)\n"}},"id":"a42649ad-b72d-4005-8d90-b6bb2393d997","name":"Generate Weather Email","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[96,-16]},{"parameters":{"sendTo":"=aiwithdhruv@gmail.com","subject":"=Good Morning! Your Weather Report for {{ $('Get Weather Data').first().json.name }}","emailType":"text","message":"={{ $json.output }}","options":{"appendAttribution":false}},"id":"8e937a6c-e094-44f7-84c6-962702cb6446","name":"Send Weather Email","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-240,256],"webhookId":"7e94b330-6fe1-4200-ab4f-dced1d743ab3","credentials":{"gmailOAuth2":{"id":"gPGYzjuIbblOf3E1","name":"Ai with Dhruv"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"id":"0954878d-78a6-4926-875d-899f25773d48","name":"OpenAI GPT","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-48,-176],"credentials":{"openAiApi":{"id":"8IidOdkLmo0Xt32q","name":"OpenAi account"}}},{"parameters":{"formTitle":"Weather Details","formDescription":"Put Weather Details","formFields":{"values":[{"fieldName":"City","fieldLabel":"City"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.4,"position":[-384,-16],"id":"8188c131-83ec-406a-ae56-8538ea03c510","name":"On form submission","webhookId":"90d8e7fe-902c-4f83-8877-cd6e4817d2f5"},{"parameters":{"chatId":"637313836","text":"={{ $('Generate Weather Email').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[16,256],"id":"e048a2f9-1aa7-4067-a6f0-069ab8137c4b","name":"Send a text message","webhookId":"dfe58ad4-fd78-4078-9cdf-420974b7c1d6","credentials":{"telegramApi":{"id":"W6XV6RQORTB3eBDg","name":"Agent Dhruv"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[224,256],"id":"5caf57dc-c267-4a05-bc42-530a62177d10","name":"No Operation, do nothing"}],"connections":{"Get Weather Data":{"main":[[{"node":"Generate Weather Email","type":"main","index":0}]]},"Generate Weather Email":{"main":[[{"node":"Send Weather Email","type":"main","index":0}]]},"OpenAI GPT":{"ai_languageModel":[[{"node":"Generate Weather Email","type":"ai_languageModel","index":0}]]},"On form submission":{"main":[[{"node":"Get Weather Data","type":"main","index":0}]]},"Send Weather Email":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9811ffab-ff8d-4cd4-9880-1ebe1675e6d4","activeVersionId":null,"versionCounter":8,"triggerCount":0,"shared":[{"updatedAt":"2025-12-26T11:33:46.650Z","createdAt":"2025-12-26T11:33:46.650Z","role":"workflow:owner","workflowId":"DuJyAoHyedN9hlnE","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
