workflows/Webhook_Test_with_Euri.json
{"updatedAt":"2025-12-07T16:21:49.000Z","createdAt":"2025-12-07T12:47:45.384Z","id":"R7CsVjwGAosANlDp","name":"Webhook Test with Euri","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.euron.one/api/v1/euri/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.Key.replace(/\\n/g, \" \") }}\"\n    }\n  ],\n  \"model\": \"gemini-2.5-pro\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-304,-112],"id":"a2870b8e-6e16-44e5-8897-54107d98c2d1","name":"Euri Text","credentials":{"httpBearerAuth":{"id":"8ZkhkWsck6v2KCTU","name":"Euri"}}},{"parameters":{"jsCode":"// extract correct content from LLM response\nlet text = $json.choices[0].message.content || \"\";\n\n// clean formatting\ntext = text.replace(/\\n+/g, \" \");       // remove extra new lines\ntext = text.replace(/\\*\\*/g, \"\");       // remove **bold**\ntext = text.replace(/[\"{}]/g, \"\");       // remove brackets/quotes\ntext = text.replace(/\\s+/g, \" \");        // normalize spaces\n\nreturn {\n  json: {\n    response: text.trim()\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-112],"id":"3506c0dc-4ab1-428d-8b85-cc892c6facc9","name":"Structure Output"},{"parameters":{"httpMethod":"POST","path":"1e1baece-d5b6-42da-bc95-8340bae025cf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-528,-112],"id":"bb83897a-861d-40cf-8c9c-666c2cecda40","name":"Webhook","webhookId":"1e1baece-d5b6-42da-bc95-8340bae025cf"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[80,-112],"id":"ecbab1d4-dbc5-432c-a831-16a61da780b6","name":"Respond to Webhook"}],"connections":{"Euri Text":{"main":[[{"node":"Structure Output","type":"main","index":0}]]},"Structure Output":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Euri Text","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f810d6db-0858-4817-832e-d9b163acda32","activeVersionId":"f810d6db-0858-4817-832e-d9b163acda32","versionCounter":38,"triggerCount":1,"shared":[{"updatedAt":"2025-12-07T12:47:45.400Z","createdAt":"2025-12-07T12:47:45.400Z","role":"workflow:owner","workflowId":"R7CsVjwGAosANlDp","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-07T16:21:49.661Z","createdAt":"2025-12-07T16:21:49.661Z","versionId":"f810d6db-0858-4817-832e-d9b163acda32","workflowId":"R7CsVjwGAosANlDp","nodes":[{"parameters":{"method":"POST","url":"https://api.euron.one/api/v1/euri/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.Key.replace(/\\n/g, \" \") }}\"\n    }\n  ],\n  \"model\": \"gemini-2.5-pro\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-304,-112],"id":"a2870b8e-6e16-44e5-8897-54107d98c2d1","name":"Euri Text","credentials":{"httpBearerAuth":{"id":"8ZkhkWsck6v2KCTU","name":"Euri"}}},{"parameters":{"jsCode":"// extract correct content from LLM response\nlet text = $json.choices[0].message.content || \"\";\n\n// clean formatting\ntext = text.replace(/\\n+/g, \" \");       // remove extra new lines\ntext = text.replace(/\\*\\*/g, \"\");       // remove **bold**\ntext = text.replace(/[\"{}]/g, \"\");       // remove brackets/quotes\ntext = text.replace(/\\s+/g, \" \");        // normalize spaces\n\nreturn {\n  json: {\n    response: text.trim()\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-112],"id":"3506c0dc-4ab1-428d-8b85-cc892c6facc9","name":"Structure Output"},{"parameters":{"httpMethod":"POST","path":"1e1baece-d5b6-42da-bc95-8340bae025cf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-528,-112],"id":"bb83897a-861d-40cf-8c9c-666c2cecda40","name":"Webhook","webhookId":"1e1baece-d5b6-42da-bc95-8340bae025cf"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[80,-112],"id":"ecbab1d4-dbc5-432c-a831-16a61da780b6","name":"Respond to Webhook"}],"connections":{"Euri Text":{"main":[[{"node":"Structure Output","type":"main","index":0}]]},"Structure Output":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Euri Text","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]}},"authors":"Dhruv Tomar","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2025-12-07T16:21:49.000Z","id":4,"workflowId":"R7CsVjwGAosANlDp","versionId":"f810d6db-0858-4817-832e-d9b163acda32","event":"activated","userId":null}]}}
