workflows/Whatsapp_AI_Agent_20.json
{"updatedAt":"2025-10-01T16:48:09.000Z","createdAt":"2025-10-01T16:48:09.038Z","id":"VZGFaEbNHxuL8ghf","name":"Whatsapp AI Agent 2.0","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-528,432],"id":"66fad79b-afed-441d-80c3-8ddcb07ce7d8","name":"WhatsApp Trigger","webhookId":"d3978cae-2aca-4553-8ac7-ab89068deabc"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[944,448],"id":"ae3e0916-34b1-44d3-a58a-4f151f7d5a8e","name":"Simple Memory"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b64446-f1ea-4622-990c-22f3999a8269","leftValue":"={{ $json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"202af928-a324-411a-bf15-68a349e7bf9e","leftValue":"={{ $json.messages[0].image }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.messages[0].text.body }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"08fd0c80-307e-4f45-b1de-35192ee4ec5e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-336,432],"id":"2daa3c3f-2784-4ad9-81ba-cf0a769b6135","name":"Check Input Type"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[0,272],"id":"9b5aca4a-1578-4bb4-af6f-35d6fb4a76c3","name":"Get Image URL","webhookId":"280bd5de-32d7-4d8f-93d2-e91e3b0bc161"},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,272],"id":"a02ceba5-2697-4239-b1cb-f7d0247d8122","name":"Download Image"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"=Describe the image in detail.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[320,272],"id":"49aa0ee1-4a09-413a-86dc-29ffec593ae6","name":"Analyze Image"},{"parameters":{"assignments":{"assignments":[{"id":"67552183-de2e-494a-878e-c2948e8cb6bb","name":"text","value":"=# The user provided the following image and text.\n\n## IMAGE CONTENT:\n{{ $json.content }}\n\n## USER MESSAGE:\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe the image\" }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,272],"id":"b909c03a-9e94-4757-94c7-e58872132816","name":"Image + Text Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"c05a7fbf-309a-407e-9fee-7e0b03f4a5c8","name":"text","value":"={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,512],"id":"e6bf7576-4628-460a-b579-36725c19eb98","name":"Text Only Prompt"},{"parameters":{"resource":"media","operation":"mediaUrlGet","mediaGetId":"={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[0,0],"id":"5b7c3dd0-d263-48b4-97cd-d23ca7f97645","name":"Get Audio URL","webhookId":"87caa300-7204-47b5-959a-94f4a8fbf8cf"},{"parameters":{"url":"={{ $json.url }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,0],"id":"9646861f-cd2a-40d8-96a9-669676a3fae3","name":"Download Audio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[320,0],"id":"c3177f6f-bda6-4ff1-9d08-44a0a8fec005","name":"Transcribe Audio"},{"parameters":{"assignments":{"assignments":[{"id":"219577d5-b028-48fc-90be-980f4171ab68","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,0],"id":"973b8dc9-3f66-4eb2-8528-f7c3d443d749","name":"Audio Prompt"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b9d1d759-f585-4791-a743-b9d72951e77c","leftValue":"={{ $('WhatsApp Trigger').item.json.messages[0].audio }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1184,208],"id":"25863d5f-5b82-4c24-8657-65f9398317ec","name":"If"},{"parameters":{"resource":"audio","input":"={{ $('AI Agent').item.json.output }}","voice":"shimmer","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1424,192],"id":"6cc20d3c-4f52-479b-be62-9caadeaace8c","name":"Generate Audio"},{"parameters":{"operation":"send","phoneNumberId":"662396106948639","recipientPhoneNumber":"={{ $('Check Input Type').item.json.contacts[0].wa_id }}","messageType":"audio","mediaPath":"useMedian8n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1824,192],"id":"42662a20-451c-43bd-a671-3019500f4e31","name":"Respond with Audio","webhookId":"d18b2c98-84e4-43cf-a532-0c47d5161684"},{"parameters":{"operation":"send","phoneNumberId":"662396106948639","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1584,384],"id":"9f09ff15-6b9a-49c1-b323-99914f2b0385","name":"Respond with Text","webhookId":"23834751-5066-48ba-8e19-549680df2b27"},{"parameters":{"jsCode":"// Loop over input items and change the MIME type of binary data\nfor (const item of $input.all()) {\n  // Check if the item has binary data\n  if (item.binary) {\n    // Find the binary property name (assuming there's at least one)\n    const binaryPropertyNames = Object.keys(item.binary);\n    \n    for (const propName of binaryPropertyNames) {\n      // If the MIME type is 'audio/mp3', change it to 'audio/mpeg'\n      if (item.binary[propName].mimeType === 'audio/mp3') {\n        item.binary[propName].mimeType = 'audio/mpeg';\n      }\n    }\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,192],"id":"7cc1c752-4399-4171-a9c1-9dcf0829827e","name":"Fix Mime Type"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[768,448],"id":"7a059733-933e-4437-a571-ab5253d0b271","name":"OpenAI Chat Model"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[832,208],"id":"6f282fc2-45b9-4a8a-ac2a-a70906a32eab","name":"AI Agent"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Check Input Type","type":"main","index":0}]]},"Check Input Type":{"main":[[{"node":"Get Audio URL","type":"main","index":0}],[{"node":"Get Image URL","type":"main","index":0}],[{"node":"Text Only Prompt","type":"main","index":0}]]},"Get Image URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Analyze Image","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"Image + Text Prompt","type":"main","index":0}]]},"Get Audio URL":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Audio Prompt","type":"main","index":0}]]},"If":{"main":[[{"node":"Generate Audio","type":"main","index":0}],[{"node":"Respond with Text","type":"main","index":0}]]},"Generate Audio":{"main":[[{"node":"Fix Mime Type","type":"main","index":0}]]},"Fix Mime Type":{"main":[[{"node":"Respond with Audio","type":"main","index":0}]]},"Text Only Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Image + Text Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Audio Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"eb8acde3-cc19-494b-bb0f-947f646ce791","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2025-10-01T16:48:09.042Z","createdAt":"2025-10-01T16:48:09.042Z","role":"workflow:owner","workflowId":"VZGFaEbNHxuL8ghf","projectId":"DT8YjHwLZsQjJqVc","project":{"updatedAt":"2025-09-30T14:49:00.207Z","createdAt":"2025-09-30T14:45:13.837Z","id":"DT8YjHwLZsQjJqVc","name":"Dhruv Tomar <dhruv70081@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectRelations":[{"updatedAt":"2025-09-30T14:45:13.837Z","createdAt":"2025-09-30T14:45:13.837Z","userId":"eeb2630f-4760-4254-9eb8-71cf49a24999","projectId":"DT8YjHwLZsQjJqVc","user":{"updatedAt":"2026-01-31T18:30:04.000Z","createdAt":"2025-09-30T14:45:13.204Z","id":"eeb2630f-4760-4254-9eb8-71cf49a24999","email":"dhruv70081@gmail.com","firstName":"Dhruv","lastName":"Tomar","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-09-30T14:49:20.090Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"education","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"qbWjLjqmTXha48b0","userActivatedAt":1759559314268,"npsSurvey":{"responded":true,"lastShownAt":1762350067664},"dismissedCallouts":{"aiAgentStarterCallout":true,"ragStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-31","isPending":false}}]}}],"tags":[],"activeVersion":null}
